<tr>
  <td><%= md('`id`') %></td>
  <td><%= md('Unique identifier for this input field. Should match the `for` property on the corresponding label.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`checked`') %></td>
  <td><%= md('Sets the state to "checked" by default.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`required`') %></td>
  <td><%= md('Adding this attribute allows basic HTML form validation on this field.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`hide_text`') %></td>
  <td><%= md('This will visually hide the text but will remain accessible for assistive technologies.') %></td>
  <td><%= md('Boolean') %></td>
  <td><%= md('`nil`') %></td>
</tr>
