<tr>
  <td><%= md("`img`") %></td>
  <td><%= md("Sets the `src` attribute for the component.") %></td>
  <td><%= md("String") %></td>
  <td><%= md("null") %></td>
</tr>
<tr>
  <td><%= md("`message`") %></td>
  <td><%= md("Sets the message text for the component.") %></td>
  <td><%= md("String") %></td>
  <td><%= md("null") %></td>
</tr>
<tr>
  <td><%= md("`title`") %></td>
  <td><%= md("Sets the title for the component.") %></td>
  <td><%= md("String") %></td>
  <td><%= md("null") %></td>
</tr>
<tr>
  <td><%= md("`title_tag`") %></td>
  <td><%= md("Sets the heading tag (`h1` - `h6`) for the component's title tag") %></td>
  <td><%= md("String") %></td>
  <td><%= md("null") %></td>
</tr>
