<%= sage_component SageFrame, {
  align: "start-spread", 
  background: SageTokens::COLOR_PALETTE[:WHITE],
  border: "default",
  border_radius: "md",
  padding: "md",
  width: "fill",
} do %>
  <%= sage_layout SageFrame, {
    direction: "horizontal",
    align: "center-spread"
  } do %>
    <h4 class="<%= SageClassnames::TYPE::HEADING_5 %>">
      Details
    </h4>
    <%= sage_component SageButton, {
      attributes: {
        # TODO: Dev to map this to system download flow
        "href": "#TODO-dev-download-flow-url",
      },
      icon: { name: "download", style: "only" },
      raised: false,
      style: "secondary",
      value: "Export",
    } %>
  <% end %>
  <%= sage_table_for payout_data, responsive: true do |t| %>
    <% t.column :date do |c| %>
      <%= c[:date] %>
    <% end %>
    <% t.column :type do |c| %>
      <%= c[:type].capitalize %>
    <% end %>
    <% t.column :amount, align: "right" do |c| %>
      <%= c[:amount] %>
    <% end %>
    <% t.column :fee, align: "right" do |c| %>
      <span data-js-tooltip="Standard fee: (2.9% + $0.30)">
        <%= c[:fee] %>
      </span>
    <% end %>
    <% t.column :net, align: "right" do |c| %>
      <span class="<%= payout_details_table_get_amount_ui_style(c[:type]) %>">
        <%= c[:net] %>
      </span>
    <% end %>
    <% t.column :options, align: "right", label: "" do |c| %>
      <%= sage_component SageDropdown, {
        align: "right",
        items: [
          {
            value: "View details",
            attributes: { href: "#TODO-dev-action-url" },
          }
        ],
      } do %>
        <% content_for :sage_dropdown_trigger, flush: true do %>
          <%= sage_component SageButton, {
            value: "Options",
            style: "secondary",
            subtle: true,
            icon: { name: "dot-menu-horizontal", style: "only" },
          } %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

