<%= sage_layout SageFrame, {
  direction: "horizontal",
  border: "default",
  border_radius: "md",
  gap: "sm",
  padding: "sm",
  width: "hug",
} do %>
  <%# TODO: Need to add interactive video thumbnail of some sort with play button %>
  <%= sage_layout SageFrame, {
    background: "#f5bc60",
    border_radius: "sm",
    html_attributes: { "data-js-modaltrigger": "modal-payouts-video" },
    padding: "xs",
    width: "144px",
  } do %>
    [video thumbnail]
  <% end %>
  <%= sage_layout SageFrame, { gap: "none" } do %>
    <p class="<%= "#{SageClassnames::TYPE::BODY_XSMALL} #{SageClassnames::TYPE_COLORS::CHARCOAL_100}" %>">
      SHOW ME HOW
    </p>
    <p class="<%= "#{SageClassnames::TYPE::HEADING_5}" %>">
      All about payments
    </p>
    <p class="<%= "#{SageClassnames::TYPE::BODY_SMALL} #{SageClassnames::TYPE_COLORS::CHARCOAL_100}" %>">
      1:30
    </p>
  <% end %>
<% end %>

<%= render "mocks/kp_onboarding_payouts/payouts/modal_payouts_video" %>
