<%= sage_component SagePanel, {} do %>
  <h3 class="<%= "#{SageClassnames::TYPE::HEADING_5}" %>">
    Estimated future payouts
  </h3>

  <%# TODO: Dev to wire this to setup logic %>
  <%#
    TODO: Alert with no actions has extra space at the end.
    https://kajabi.atlassian.net/browse/SAGE-541  
  %>
  <%= sage_component SageAlert, {
    desc: "Your estimated payouts will appear after few cycles.",
    color: "info",
    icon_name: "sage-icon-warning",
  } %>

  <%# TODO: Dev to wire this to setup logic %>
  <%# sage_layout SageFrame, {
    background: SageTokens::COLOR_PALETTE[:GREY_200],
    direction: "horizontal",
    gap: "none",
    border_radius: "md",
    padding: "sm",
  } do %>
    <!-- TODO: Dev remove comment tags when wiring with logic.
      <h4 class="<%= "#{SageClassnames::TYPE::HEADING_6}" %>">
        Not seeing any estimated payouts?
      </h4>
      <p class="<%= "#{SageClassnames::TYPE::BODY_SMALL} #{SageClassnames::TYPE_COLORS::CHARCOAL_100}" %>">
        Your estimated payouts will appear here after a few cycles (needs copy pass).
      </p>
    -->
  <%# end %>

  <%= sage_layout SageFrame, { gap: "none" } do %>
    <%= sage_layout SageFrame, {
      align: "start-spread",
      direction: "horizontal",
      gap: "xs",
      width: "fill"
    } do %>
      <p class="<%= "#{SageClassnames::TYPE::BODY_SMALL} #{SageClassnames::TYPE_COLORS::CHARCOAL_100}" %>">
        Est. for <%= next_payout[:estimated_date] %>
      </p>
      <p>
        <span class="<%= "#{SageClassnames::TYPE::HEADING_6} #{SageClassnames::TYPE_COLORS::CHARCOAL_400}" %>">
          <%= next_payout[:amount] %>
        </span>
        <span class="<%= "#{SageClassnames::TYPE::BODY_SMALL} #{SageClassnames::TYPE_COLORS::CHARCOAL_100}" %>">
          <%= next_payout[:currency] %>*
        </span>
      </p>
    <% end %>

    <%= sage_component SagePanelDivider, {} %>

    <%= sage_layout SageFrame, {
      align: "start-spread",
      direction: "horizontal",
      gap: "xs",
      width: "fill",
    } do %>
      <p class="<%= "#{SageClassnames::TYPE::BODY_SMALL} #{SageClassnames::TYPE_COLORS::CHARCOAL_100}" %>">
        Lifetime payouts
      </p>
      <p>
        <span class="<%= "#{SageClassnames::TYPE::HEADING_6} #{SageClassnames::TYPE_COLORS::CHARCOAL_400}" %>">
          <%= lifetime_payouts[:amount] %>
        </span>
        <span class="<%= "#{SageClassnames::TYPE::BODY_SMALL} #{SageClassnames::TYPE_COLORS::CHARCOAL_100}" %>">
          <%= lifetime_payouts[:currency] %>
        </span>
      </p>
    <% end %>
  <% end %>

  <p class="<%= "#{SageClassnames::TYPE::BODY_XSMALL} #{SageClassnames::TYPE_COLORS::GREY_500}" %>">
    <%# TODO: Dev replace placeholder footnote here %>
    * Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
  </p>
<% end %>
