<%= sage_layout SageFrame, {
  border: "default",
  border_radius: "md",
  padding: "md",
  align: "start-spread",
  background: SageTokens::COLOR_PALETTE[:WHITE],
} do %>
  <%= sage_layout SageFrame, {
    direction: "horizontal",
  } do %>
    <%= sage_layout SageFrame, {
      direction: "horizontal",
      tag: "p",
      css_classes: SageClassnames::TYPE::BODY_SMALL,
      width: "flex",
      gap: "2xs",
    } do %>
      <%# TODO: Dev to wire live data in here %>
      Display 1–25 of 502 payouts
      <span class="<%= "#{SageClassnames::TYPE::BODY_SMALL_SEMI}" %>">
        all-time
      </span>
    <% end %>
    <%= sage_component SageButton, {
      attributes: {
        "data-js-modaltrigger": "modal-export-payout-records",
      },
      icon: { name: "download", style: "only" },
      raised: false,
      style: "secondary",
      value: "Export",
    } %>
    <%# TODO: Dev to use desired form setup here %>
    <form action="#TODO-form-action-url" method="get">
      <%= sage_component SageDropdown, { align: "right", wrap_footer: true } do %>
        <% content_for :sage_dropdown_trigger, flush: true do %>
          <%= sage_component SageButton, {
            icon: { name: "caret-down", style: "right" },
            raised: false,
            style: "secondary",
            value: "Filter",
          } %>
        <% end %>
        <% content_for :sage_dropdown_custom_panel_content do %>
          <%= sage_layout SageFrame, {
            align: "center-spread",
            padding: "sm",
            gap: "sm",
          } do %>
            <p class="<%= "#{SageClassnames::TYPE::BODY_SMALL} #{SageClassnames::TYPE_COLORS::CHARCOAL_200}" %>">
              STATUS
            </p>
            <%= sage_layout SageFrame, { gap: "none" } do %>
              <% payouts_filter_status_options.each do | status | %>
                <%= sage_component SageCheckbox, {
                  id: "all-payouts-filter-status-#{status[:name]}",
                  name: "all-payouts-filter-status",
                  value: status[:name],
                  label_text: status[:name].capitalize,
                  checked: status[:selected],
                } %>
              <% end %>
            <% end %>

            <p class="<%= "#{SageClassnames::TYPE::BODY_SMALL} #{SageClassnames::TYPE_COLORS::CHARCOAL_200}" %>">
              IN THE LAST
            </p>
            <%= sage_component SageFormSelect, {
              id: "all-payouts-filter-timeframe",
              name: "",
              standalone: true,
              select_options: [
                {
                  text: "All-time",
                  value: "all",
                },
                # TODO: Dev to add other desired options here
              ],
            } %>
          <% end %>
          <%= sage_component SagePanelDivider, {} %>
          <%= sage_layout SageFrame, {
            align: "center-right",
            direction: "horizontal",
            padding: "sm",
          } do %>
            <%= sage_component SageButton, {
              value: "Apply",
              style: "primary",
              attributes: { type: "submit" },
            } %>
          <% end %>
        <% end %>
      <% end %>
    </form>
    <%= sage_component SageDropdown, {
      align: "right",
      items: [
        {
          value: "Date",
          attributes: { href: "#TODO-dev-payouts-sortby-date-url" },
        },
        {
          value: "Amount",
          attributes: { href: "#TODO-dev-payouts-sortby-amount-url" },
        },
      ],
    } do %>
      <% content_for :sage_dropdown_trigger, flush: true do %>
        <%= sage_component SageButton, {
          icon: { name: "caret-down", style: "right" },
          raised: false,
          style: "secondary",
          value: "Sort by",
        } %>
      <% end %>
    <% end %>
  <% end %>
  <%= sage_table_for payouts_all_data, responsive: true do |t| %>
    <% t.column :amount do |c| %>
      <p class="<%= SageClassnames::TYPE_ALIGN_RIGHT %>">
        <span class="<%= payouts_table_get_amount_ui_style(c[:status]) %>">
          <%= c[:amount] %>
        </span>
        <span class="<%= "#{SageClassnames::TYPE::BODY_XSMALL} #{SageClassnames::TYPE_COLORS::CHARCOAL_200}" %>">
          <%= c[:currency] %>
        </span>
      </p>
    <% end %>
    <% t.column :status, label: "" do |c| %>
      <%= sage_component SageLabel, payouts_get_activity_status_ui_configs(c[:status]) %>
    <% end %>
    <% t.column :bank do |c| %>
      <%= c[:account][:name] %>
      <%= c[:account][:ending_digits] %>
    <% end %>
    <% t.column :date, align: "right" do |c| %>
      <%= c[:date] %>
    <% end %>
  <% end %>
  <%= sage_component SagePagination, {
    # TODO: Dev to replace this with table collection for accurate pagination
    items: Kaminari.paginate_array(Array.new(50, 1)).page(1).per(10),
    collection_name: "Payout",
    window: 2,
    page_count_prefix: "Displaying",
  } %>
<% end %>

<%= render "mocks/kp_onboarding_payouts/payouts/modal_export_payout_records" %>
