<%= sage_component SageModal, { id: "modal-payout-schedule" } do %>
  <%= sage_component SageModalContent, {
    spacing: "card",
    title: "Payout schedule",
  } do %>
    <% content_for :sage_header_aside do %>
      <%= sage_component SageButton, {
        attributes: {
          "data-js-modal": true,
        },
        icon: { name: "remove", style: "only" },
        style: "secondary",
        subtle: true,
        value: "Close",
      } %>
    <% end %>

    <p class="<%= "#{SageClassnames::TYPE::BODY} #{SageClassnames::TYPE_COLORS::CHARCOAL_200}" %>">
      Set how often you&rsquo;d like to transfer your balance from Kajabi to your bank account.
    </p>

    <%= sage_layout SageFrame, {
      align: "center-left",
      direction: "horizontal",
      gap: "xs",
    } do %>
      <%# TODO: Form fields margins within Frame need attention %>
      <%# TODO: Form selects dropdown arrows overlap with long content? %>
      <%= sage_component SageRadio, {
        id: "payout-schedule-auto",
        name: "payout-schedule",
        value: "auto",
        label_text: "Automatic every:",
      } %>

      <%= sage_component SageFormSelect, {
        id: "payout-schedule-auto-time-base",
        name: "",
        standalone: true,
        select_options: [
          {
            text: "Daily",
            value: "daily",
          },
          {
            text: "Weekly",
            value: "weekly",
          },
          {
            text: "Monthly",
            value: "monthly",
          },
        ],
      } %>

      <%# TODO: Dev to add js logic that hides/reveals items
        based on initial dropdown selection\
      %>

      <span>
        on
      </span>

      <%= sage_component SageFormSelect, {
        id: "payout-schedule-auto-monthly-day",
        name: "",
        select_options: payouts_month_day_options
      } %>

      <%= sage_component SageFormSelect, {
        id: "payout-schedule-auto-weekly-day",
        name: "",
        select_options: payouts_week_day_options,
      } %>
    <% end %>

    <%= sage_component SageRadio, {
      id: "payout-schedule-manual",
      name: "payout-schedule",
      value: "manual",
      label_text: "Manual payouts",
    } %>

    <%= sage_component SageProperty, {
      value: "Transferring to your Wells Fargo Bank, N.A. account",
      icon: "ban", # TODO: Need "temple" icon
    } %>

    <% content_for :sage_footer do %>
      <%= sage_component SageButton, {
        attributes: { "data-js-modal": true },
        style: "secondary",
        raised: false,
        value: "Cancel",
      } %>
      <%= sage_component SageButton, {
        # TODO: Dev need to map to desired action
        attributes: { "data-js-modal": true },
        style: "primary",
        value: "Save",
        # disabled: true,
      } %>
    <% end %>
  <% end %>
<% end %>
