<%# TODO: Dev this should be sent to the application's modal container with content_for... %>
<%= sage_component SageModal, { id: "modal-payouts-bank-config-confirm" } do %>
  <%= sage_component SageModalContent, {} do %>
    <%= sage_layout SageFrame, { gap: "md", align: "center" } do %>
      <h3 class="<%= "#{SageClassnames::TYPE::HEADING_3}" %>">
        [bank name] has been linked!
      </h3>
      <%= render "mocks/kp_onboarding_payouts/shared/illustration_celebrate" %>
      <p class="<%= "#{SageClassnames::TYPE::BODY} #{SageClassnames::TYPE_ALIGN_CENTER} #{SageClassnames::TYPE_COLORS::CHARCOAL_200}" %>">
        Your bank account has been linked and you&rsquo;re ready to start selling offers through Kajabi Payments.
      </p>
      <%= sage_component SageButton, {
        attributes: { "data-js-modal": true },
        style: "primary",
        value: "Got it, thanks!",
      } %>
    <% end %>
  <% end %>
<% end %>
