<%# TODO: Dev this should be sent to the application's modal container with content_for... %>
<%= sage_component SageModal, { id: "modal-payouts-edit-bank-acct" } do %>
  <%= sage_component SageModalContent, {
    spacing: "card",
    title: "Edit bank account",
  } do %>
    <% content_for :sage_header_aside do %>
      <%= sage_component SageButton, {
        attributes: {
          "data-js-modal": true,
        },
        icon: { name: "remove", style: "only" },
        style: "secondary",
        subtle: true,
        value: "Close",
      } %>
    <% end %>

    <p class="<%= "#{SageClassnames::TYPE::BODY}" %>">
      Link a checking account to receive your payments. You can add or change your bank account at any time.
    </p>

    <%= sage_layout SageFrame, {
      align: "stretch-spread",
      gap: "sm",
      width: "fill"
    } do %>
      <%#
        TODO: Need to remove bottom margin on inputs within Frame
        https://kajabi.atlassian.net/browse/SAGE-542
      %>
      <%= sage_component SageFormInput, {
        label_text: "Routing number",
        id: "payout-edit-bank-acct-routing-number",
        name: "payout-edit-bank-acct-routing-number",
      } %>
      <%= sage_component SageFormInput, {
        label_text: "Account number",
        id: "payout-edit-bank-acct-acct-number",
        name: "payout-edit-bank-acct-acct-number",
      } %>
    <% end %>

    <%= render "mocks/kp_onboarding_payouts/shared/check_explanation" %>

    <% content_for :sage_footer do %>
      <%= sage_component SageButton, {
        attributes: { "data-js-modal": true },
        style: "secondary",
        raised: false,
        value: "Cancel",
      } %>
      <%= sage_component SageButton, {
        # TODO: Dev need to map to desired action
        attributes: { "data-js-modal": true },
        style: "primary",
        value: "Update",
        # disabled: true,
      } %>
    <% end %>
  <% end %>
<% end %>
