<%= sage_component SageModal, { id: "modal-export-payout-records" } do %>
  <%= sage_component SageModalContent, {
    spacing: "card",
    title: "Export payout records",
    subtitle: "", 
  } do %>
    <% content_for :sage_header_aside do %>
      <%= sage_component SageButton, {
        attributes: {
          "data-js-modal": true,
        },
        icon: { name: "remove", style: "only" },
        style: "secondary",
        subtle: true,
        value: "Close",
      } %>
    <% end %>

    <p class="<%= "#{SageClassnames::TYPE::BODY} #{SageClassnames::TYPE_COLORS::CHARCOAL_200}" %>">
      <%# TODO: Dev to update copy here %>
      Text to explain exporting payout information.
    </p>

    <%= sage_component SageFormSelect, {
      id: "payout-schedule-auto-time-base",
      name: "",
      standalone: true,
      select_options: [
        {
          text: "Last 30 days",
          value: "days-last-30",
        },
        # TODO: Dev to add other options here...
      ],
    } %>

    <% content_for :sage_footer do %>
      <%= sage_component SageButton, {
        attributes: { "data-js-modal": true },
        style: "secondary",
        raised: false,
        value: "Cancel",
      } %>
      <%= sage_component SageButton, {
        # TODO: Dev need to map to desired action
        attributes: { "data-js-modal": true },
        style: "primary",
        value: "Export",
      } %>
    <% end %>
  <% end %>
<% end %>
