<%# TODO: Dev this should be sent to the application's modal container with content_for... %>
<%= sage_component SageModal, { id: "modal-payouts-video" } do %>
  <%#
    TODO: add gap settings on modal content?
    https://kajabi.atlassian.net/browse/SAGE-545
  %>
  <%= sage_component SageModalContent, {} do %>
    <%= sage_layout SageFrame, { gap: "md" } do %>
      <%= sage_layout SageFrame, {
        background: "#f5bc60",
        border_radius: "md",
        padding: "md", 
        width: "fill",
      } do %>
        <%#
          TODO: Need to add video player cover image/thumbnail with large play button overlay
          https://kajabi.atlassian.net/browse/SAGE-540
        %>
        [video player]
      <% end %>
      <%= sage_layout SageFrame, { gap: "xs", width: "400px" } do %>
        <h3 class="<%= "#{SageClassnames::TYPE::HEADING_4}" %>">
          All about payouts
        </h3>
        <p class="<%= "#{SageClassnames::TYPE::BODY_XSMALL} #{SageClassnames::TYPE_COLORS::CHARCOAL_400}" %>">
          Offers are a powerful way to bundle and sell your products.
          In this short video we&rsquo;ll cover all the basics.
        </p>
      <% end %>
      <%= sage_layout SageFrame, {
        align: "center-spread",
        direction: "horizontal",
        gap: "xs",
        width: "fill",
      } do %>
        <%= sage_component SageButton, {
          # TODO: Dev needs to wire in the bank setup process here before going to this confirm modal.
          attributes: { "data-js-modal": true },
          style: "primary",
          value: "Link bank account",
        } %>
        <%= sage_component SageButton, {
          attributes: {
            href: "#TODO-dev-offers-learn-more-url",
          },
          style: "primary",
          subtle: true,
          value: "Learn more",
        } %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
