<%# TODO: Dev this should be sent to the application's modal container with content_for... %>
<%
# TODO: Dev to set this logic up based on form input/js
show_confirmation = false
%>
<%= sage_component SageModal, { id: "modal-payouts-add-funds" } do %>
  <%= sage_component SageModalContent, {
    spacing: "card",
    title: "Add to your balance",
  } do %>
    <% content_for :sage_header_aside do %>
      <%= sage_component SageButton, {
        attributes: {
          "data-js-modal": true,
        },
        icon: { name: "remove", style: "only" },
        style: "secondary",
        subtle: true,
        value: "Close",
      } %>
    <% end %>

    <% if show_confirmation %> 
      <%= sage_layout SageFrame, { direction: "horizontal", width: "fill", align: "center-left" } do %>
        <%= sage_layout SageFrame, { direction: "horizontal", gap: "2xs", align: "center-left", width: "hug" } do %>
          <%= sage_component SageIcon, { icon: "ban", size: "lg" } %>
          <%= sage_component SageFormSelect, {
            id: "payouts-add-funds-transfer-method",
            name: "",
            select_options: [
              {
                value: "wire",
                text: "Wire transfer (1-5 days)",
              },
              {
                value: "ach",
                text: "ACH transfer (3-7 days)",
              }
            ],
          } %>
        <% end %>
        <%= sage_component SageIcon, { icon: "arrow-right", size: "lg" } %>
        
        <%= sage_layout SageFrame, {
          gap: "xs",
          direction: "horizontal",
          align: "center-left"
        } do %>
          <%= sage_component SageIcon, { icon: "kajabi-filled", card_color: "primary" } %>
          <%= sage_layout SageFrame, { gap: "none", tag: "p" } do %>
            <b class="<%= "#{SageClassnames::TYPE::BODY_SMALL_BOLD}" %>">
              Kajabi Balance
            </b>
            <span class="<%= "#{SageClassnames::TYPE::BODY_XSMALL} #{SageClassnames::TYPE_COLORS::CHARCOAL_200}" %>">
              <%= "#{current_balance[:amount]} #{current_balance[:currency]}" %>
            </span>
          <% end %>
        <% end %>
      <% end %>

      <p class="<%= "#{SageClassnames::TYPE::BODY}" %>">
        <%# TODO: Dev to wire in transfer info here %>
        You&rsquo;ll be transferring [amount] from your [bank name] account
      </p>

      <% content_for :sage_footer do %>
        <%= sage_component SageButton, {
          attributes: {
            "data-js-modal": true,
            "data-js-modaltrigger": "modal-payouts-add-funds",
          },
          style: "secondary",
          raised: false,
          value: "Back",
        } %>
        <%= sage_component SageButton, {
          # TODO: Dev need to map to desired action
          attributes: { "data-js-modal": true },
          style: "primary",
          value: "Save",
          # disabled: true,
        } %>
      <% end %>
    <% else %>
      <p class="<%= "#{SageClassnames::TYPE::BODY}" %>">
        You may need to set aside funds for refunds and chargebacks to avoid negative balances.
      </p>

      <%= sage_component SageFormInput, {
        label_text: "Amount",
        id: "payout-add-funds-amount",
        name: "payout-add-funds-amount",
        input_type: "number",
        min: "0",
        prefix: "$"
      } %>

      <% content_for :sage_footer do %>
        <%= sage_component SageButton, {
          attributes: { "data-js-modal": true },
          style: "secondary",
          raised: false,
          value: "Cancel",
        } %>
        <%= sage_component SageButton, {
          # TODO: Dev need to map to desired action
          attributes: {
            "data-js-modal": true,
            "data-js-modaltrigger": "modal-payouts-add-funds-confirm"
          },
          style: "primary",
          value: "Next",
          # disabled: true,
        } %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
