<%= sage_component SageListItem, {} do %>
  <%= sage_component SageFrame, {
    gap: "sm",
    direction: "horizontal",
    align: "center-left",
  } do %>
    <%#
      TODO: Need `payout` icon in Sage
      https://kajabi.atlassian.net/browse/SAGE-544
    %>
    <%= sage_component SageIcon, payouts_get_activity_type_ui_configs(data[:type]) %>
    <%= sage_component SageFrame, { gap: "none", width: "flex" } do %>
      <p class="<%= "#{SageClassnames::TYPE::BODY_MED} #{SageClassnames::TYPE_COLORS::CHARCOAL_200}" %>">
        <%= data[:bank] %>
        <%= sage_component SageLabel, payouts_get_activity_status_ui_configs(data[:status]) %>
      </p>
      <p class="<%= "#{SageClassnames::TYPE::BODY_XSMALL} #{SageClassnames::TYPE_COLORS::GREY_500}" %>">
        <%= data[:date] %>
      </p>
    <% end %>
    <p>
      <span class="<%= payouts_get_amount_ui_style(data[:type]) %>">
        <%= data[:amount] %>
      </span>
      <span class="<%= "#{SageClassnames::TYPE::BODY_SMALL} #{SageClassnames::TYPE_COLORS::CHARCOAL_200}" %>">
        <%= data[:currency] %>
      </span>
    </p>
  <% end %>
<% end %>
