<%# TODO: Dev to wire these alerts to account setup logic %>
<%# sage_component SageAlert, {
  desc: "Funds will be paid to your bank after your 14 day security period.",
  color: "info",
  icon_name: "sage-icon-flag",
  dismissable: true,
  secondary_actions: [{
    value: "Learn more",
    attributes: { "href": "#TODO-dev-learn-more-security-period-url" },
  }],
  small: true,
} %>
<%# sage_component SageAlert, {
  desc: "You need to link a bank account to withdraw from your balance.",
  color: "info",
  icon_name: "sage-icon-flag",
  dismissable: true,
  secondary_actions: [{
    value: "Get started",
    attributes: { "href": "#TODO-dev-start-acct-setup-url" },
  }],
  small: true,
} %>

<%= sage_component SagePanel, { gap: "sm" } do %>
  <%= sage_component SageFrame, { gap: "none" } do %>
    <h3 class="<%= "#{SageClassnames::TYPE::HEADING_5}" %>">
      Recent activity
    </h3>
    <p class="<%= "#{SageClassnames::TYPE::BODY_SMALL} #{SageClassnames::TYPE_COLORS::CHARCOAL_400}" %>">
      <%= overall_status %>
    </p>
  <% end %>
  <% if activity_data && activity_data.length > 0 %>
    <%= sage_component SageList, {} do %>
      <% activity_data.each do | item | %>
        <%= render "mocks/kp_onboarding_payouts/payouts/payout_activity_item", data: item %>
      <% end %>
    <% end %>
    <div>
      <%= sage_component SageButton, {
        attributes: { href: "#TODO-dev-all-activity-url" },
        style: "primary",
        subtle: true,
        value: "View all",
      } %>
    </div>
  <% end %>
<% end %>
