<%
dropdown_configs = {
  icon: { style: "right", name: "caret-down" },
  items: [
    {
      selected: true,
      value: "Edit",
      icon: "pen",
      attributes: { "href": "#" },
    },
    {
      value: "Disabled link w/ tooltip",
      icon: "pen",
      modifiers: ["disabled"],
      attributes: {
        "href": "https://kajabi.com",
        "data-js-tooltip": "Tooltip",
        "data-js-tooltip-position": "right",
      }
    },
    {
      value: "New",
      icon: "add",
      style: "primary",
      attributes: { "href": "#" },
    }, {
      value: "Share Element",
      icon: "url",
      modifiers: ["border-before"],
      attributes: { "href": "#" },
    }, {
      value: "Take A Dangerous Action",
      icon: "remove-circle",
      style: "danger",
      attributes: { "href": "#" },
    }, {
      value: "Disabled w/ Tooltip",
      icon: "users",
      attributes: {
        "data-js-tooltip": "Tooltip",
        "data-js-tooltip-position": "right"
        },
      modifiers: ["disabled"]
    }
  ],
  trigger_type: "select",
}
%>

<h3>Toolbar with supported items</h3>
<%= md("
  Toolbars currently support secondary buttons, checkboxes, dropdowns, search, and plain text.
  Each of these can also be placed inside a nested `SageToolbarGroup` to merge items with borders.
", use_sage_type: true) %>
<%= sage_component SageToolbar, {} do %>
  <%= sage_component SageSearch, {
    id: "search-2",
    placeholder: "Search Products",
    value: nil,
    contained: true,
    label_text: "Search"
  } %>

  <%= sage_component SageButton, {
    value: "Edit",
    style: "secondary",
    icon: {
      name: "pen",
      style: "only",
    },
  } %>

  <%= sage_component SageCheckbox, {
    name: "checkbox-1",
    id: "checkbox-1",
    label_text: "Checked",
    value: "Edit",
  } %>

  <%= sage_component SageDropdown, dropdown_configs do %>
    <%= sage_component SageButton, {
      css_classes: "sage-dropdown__trigger-selected-value",
      icon: { style: "right", name: "caret-down" },
      style: "secondary",
      value: "",
    } %>
    <label class="sage-dropdown__trigger-label">Add an Element</label>
  <% end %>

  <p>Plain text</p>

  <%= sage_component SageToolbarGroup, {} do %>
    <%= sage_component SageSearch, {
      id: "search-2",
      placeholder: "Search Products",
      value: nil,
      contained: true,
      label_text: "Search",
    } %>
    <%= sage_component SageDropdown, dropdown_configs do %>
      <%= sage_component SageButton, {
        css_classes: "sage-dropdown__trigger-selected-value",
        icon: { style: "right", name: "caret-down" },
        style: "secondary",
        value: "",
      } %>
      <label class="sage-dropdown__trigger-label">Add an Element</label>
    <% end %>

    <%= sage_component SageButton, {
      value: "Edit",
      style: "secondary",
      icon: {
        name: "pen",
        style: "only",
      },
    } %>

    <%= sage_component SageButton, {
      value: "Remove",
      style: "secondary",
      icon: {
        name: "trash",
        style: "only",
      },
    } %>
  <% end %>
<% end %>
