<%= sage_component SageCardBlock, {} do %>
  <%= sage_component SageLabel, {
    color: "draft",
    value: "Standalone Popover"
  } %>
<% end %>

<%= sage_component SagePopover, {
  title: "Page Title 1",
  icon: "question-circle",
  trigger_value: "Open Menu",
  trigger_icon_only: true,
  link: {
    href: "#",
    name: "Learn more about a thing",
  }
} do %>
  <p>This is a block of content.</p>
  <p>This is a block of content.</p>
  <p>This is a block of content.</p>
  <p>This is a block of content.</p>
<% end %>

<%= sage_component SageCardBlock, {} do %>
  <%= sage_component SageLabel, {
    color: "draft",
    value: "Another Standalone Popover"
  } %>
<% end %>

<%= sage_component SagePopover, {
  title: "Page Title 2",
  icon: "dot-menu-horizontal",
  trigger_icon_only: true,
  trigger_value: "Open Menu",
  link: {
    href: "#",
    name: "Learn more",
  }
} do %>
  <div class="t-sage-body-small sage-spacer-bottom-xs t-sage--color-charcoal">
    <p>This is a block of content.</p>
    <p>This is a block of content.</p>
    <p>This is a block of content.</p>
    <p>This is a block of content.</p>
  </div>
<% end %>

<%= sage_component SageCardBlock, {} do %>
  <%= sage_component SageLabel, {
    color: "draft",
    value: "Standalone Popover with Customized Content Panel"
  } %>
<% end %>

<%= sage_component SagePopover, {
  custom_content_class: "u-popover-customized",
  icon: "question-circle",
  trigger_value: "Open Menu",
  trigger_icon_only: true,
} do %>
  <p>I can put whatever content I want in here and use the cusotm class as a hook to style it like a good 'ol BEM mixin!</p>
<% end %>

<%= sage_component SageCardBlock, {} do %>
  <%= sage_component SageLabel, {
    color: "draft",
    value: "Popover w/ Full Size Trigger"
  } %>
<% end %>

<%= sage_component SagePopover, {
  icon: "send-message",
  trigger_icon_only: false,
  trigger_value: "Send Test Email",
  popover_position: "bottom",
} do %>
  <form>
    <div class="sage-input">
      <input type="email" id="form__email1" class="sage-input__field" name="form__email1" placeholder="Email Address" required>
      <label for="form__email1" class="sage-input__label">Email Address</label>
    </div>
    <div class="sage-btn-group sage-btn-group--align-end">
      <button type="submit" class="sage-btn sage-btn--primary">
        <span class="sage-btn__truncate-text">Send</span>
      </button>
    </div>
  </form>
<% end %>

<%= sage_component SageCardBlock, {} do %>
  <%= sage_component SageLabel, {
    color: "draft",
    value: "Popover Positioning"
  } %>
<% end %>

<div class="sage-card__row">

  <%= sage_component SagePopover, {
    title: "Popover Top",
    icon: "arrow-up",
    trigger_icon_only: false,
    trigger_value: "Top",
    popover_position: "top",
    link: {
      href: "#",
      name: "Learn more",
    }
  } do %>
    <div class="t-sage-body-small sage-spacer-bottom-xs t-sage--color-charcoal">
      <p>This is a block of content.</p>
      <p>This is a block of content.</p>
      <p>This is a block of content.</p>
      <p>This is a block of content.</p>
    </div>
  <% end %>

  <%= sage_component SagePopover, {
    title: "Popover Right",
    icon: "arrow-right",
    trigger_icon_only: false,
    trigger_value: "Right",
    popover_position: "right",
    link: {
      href: "#",
      name: "Learn more",
    }
  } do %>
    <div class="t-sage-body-small sage-spacer-bottom-xs t-sage--color-charcoal">
      <p>This is a block of content.</p>
      <p>This is a block of content.</p>
      <p>This is a block of content.</p>
      <p>This is a block of content.</p>
    </div>
  <% end %>

  <%= sage_component SagePopover, {
    title: "Popover Bottom",
    icon: "arrow-down",
    trigger_icon_only: false,
    trigger_value: "Bottom",
    popover_position: "bottom",
    link: {
      href: "#",
      name: "Learn more",
    }
  } do %>
    <div class="t-sage-body-small sage-spacer-bottom-xs t-sage--color-charcoal">
      <p>This is a block of content.</p>
      <p>This is a block of content.</p>
      <p>This is a block of content.</p>
      <p>This is a block of content.</p>
    </div>
  <% end %>

  <%= sage_component SagePopover, {
    title: "Popover Left",
    icon: "arrow-left",
    trigger_icon_only: false,
    trigger_value: "Left",
    popover_position: "left",
    link: {
      href: "#",
      name: "Learn more",
    }
  } do %>
    <div class="t-sage-body-small sage-spacer-bottom-xs t-sage--color-charcoal">
      <p>This is a block of content.</p>
      <p>This is a block of content.</p>
      <p>This is a block of content.</p>
      <p>This is a block of content.</p>
    </div>
  <% end %>

</div>
