<%= sage_component SageFormSection, {
  title: "Payments",
  subtitle: "Your customers can pay with their preferred credit or debit card when they visit your checkout."
} do %>
  <%= sage_layout SageFrame, { direction: "horizontal" } do %>
    <%= sage_component SageIcon, {
      icon: "kajabi-filled",
      color: "white",
      card_color: "primary",
    } %>
    <%= sage_layout SageFrame, { width: "flex", gap: "sm" } do %>
      <%= sage_layout SageFrame, {
        align: "center-spread",
        direction: "horizontal",
        width: "fill",
      } do %>
        <%= sage_layout SageFrame, {
          gap: "xs",
          width: "flex",
        } do %>
          <h4 class="<%= "#{SageClassnames::TYPE::HEADING_5}" %>">
            Kajabi Payments
          </h4>
          <p class="<%= "#{SageClassnames::TYPE::BODY}" %>">
            Accept credit cards, manage payments, and get paid – right in Kajabi.
          </p>
        <% end %>
        <%= sage_component SageButton, {
          style: "primary",
          value: "View details",
          attributes: { href: "#TODO-dev-kp-details-url" },
          subtle: true,
        } %>
      <% end %>

      <%= sage_component SagePanelDivider, {} %>

      <%= sage_layout SageFrame, {
        align: "center-spread",
        direction: "horizontal",
        width: "fill",
      } do %>
        <p class="<%= "#{SageClassnames::TYPE::BODY_SEMI}" %>">
          Terms and conditions
        </p>
        <%= sage_component SageButton, {
          style: "primary",
          value: "View",
          attributes: { href: "#TODO-dev-terms-url" },
          subtle: true,
        } %>
      <% end %>

      <%= sage_layout SageFrame, {
        align: "center-spread",
        direction: "horizontal",
        width: "fill",
      } do %>
        <p class="<%= "#{SageClassnames::TYPE::BODY_SEMI}" %>">
          Bank details
        </p>
        <%= sage_component SageButton, {
          style: "primary",
          value: "Edit",
          attributes: { href: "#TODO-dev-edit-modal-action" },
          subtle: true,
        } %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
