<tr>
  <td><%= md('`id`') %></td>
  <td><%= md('Unique identifier for the search. Should match the `for` attribute on the corresponding label.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`value`') %></td>
  <td><%= md('The value of the search input.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`placeholder`') %></td>
  <td><%= md('Search null-state text.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`contained`') %></td>
  <td><%= md('Is in the context of a "search toolbar" area.') %></td>
  <td><%= md('Boolean') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`label_text`') %></td>
  <td><%= md('The value of the search label.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
