<h3>Default Video Thumbnails</h3>
<%= sage_component SagePanel, {} do %>
  <%= sage_component SagePanelFigure, {} do %>
    <%= sage_component SageVideoThumbnail, {
      cta_attributes: {
        "data-js-modaltrigger": "cool-modal",
        href: "#",
      },
      image_url: "/assets/card-placeholder-hero-24ea70f1ef1e9da27f8f2901667eb03ac7aaab5b82e870c8808835e432ddd3ce.jpg"
    } %>
  <% end %>
  <p>By default, Panel figures are rendered using the image's native aspect ratio and scale accordingly.</p>
<% end %>

<%# Video player modal %>
<%= sage_component SageModal, { id: "cool-modal" } do %>
  <%= sage_component SageModalContent, {
      header_image: "card-placeholder-sm.png",
      title: "Example Modal"
    } do %>
      <% content_for :sage_header_aside do %>
        <%= sage_component SageButton, {
          style: "secondary",
          subtle: true,
          value: "Close Modal",
          icon: { name: "remove", style: "only" },
          attributes: { "data-js-modal": true }
        } %>
      <% end %>

      <p class='#{SageClassnames::TYPE::BODY}'>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

      <% content_for :sage_footer do %>
        <% content_for :sage_footer_aside do %>
          <%= sage_component SageButton, {
            style: "secondary",
            subtle: true,
            value: "Close Modal",
            attributes: { "data-js-modal": true }
          } %>
        <% end %>
        <%= sage_component SageButton, {
          style: "primary",
          icon: { name: "check", style: "left" },
          value: "Take An Action",
        } %>
      <% end %>
    <% end %>
<% end %>
