<tr>
  <td><%= md('`cta_attributes`') %></td>
  <td><%= md('Include this property in order to activate a "play button" action on the image. This property allows for adding attributes to the Hero CTA artwork.') %></td>
  <td><%= md('Hash') %></td>
  <td><%= md('') %></td>
</tr>
<tr>
  <td><%= md('`image_src`') %></td>
  <td><%= md('Thumbnail Image path.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
