<h2>Variants</h2>

<h3>Bar</h3>
<%= sage_component SageGridRow, {} do %>
  <%= sage_component SageGridCol, { size: 12, css_classes: "example__block--lg" } do %>
    <%= sage_component SageLoader, {
      type: "bar"
    } %>
  <% end %>
<% end %>

<%= sage_component SageDivider, {} %>

<h3>Spinner</h3>
<%= sage_component SageGridRow, {} do %>
  <%= sage_component SageGridCol, { size: 6, css_classes: "example__block--lg" } do %>
    <h2 class="<%= SageClassnames::TYPE::HEADING_6 %>">With text</h2>
    <%= sage_component SageLoader, {
      type: "spinner",
      text: true
    } %>
  <% end %>
  <%= sage_component SageGridCol, { size: 6, css_classes: "example__block--lg" } do %>
    <h2 class="<%= SageClassnames::TYPE::HEADING_6 %>">Without text</h2>
    <%= sage_component SageLoader, {
      type: "spinner"
    } %>
  <% end %>
<% end %>

<%= sage_component SageDivider, {} %>

<h3>Success</h3>
<%= sage_component SageGridRow, {} do %>
  <%= sage_component SageGridCol, { size: 6, css_classes: "example__block--lg" } do %>
    <h2 class="<%= SageClassnames::TYPE::HEADING_6 %>">With text</h2>
    <%= sage_component SageLoader, {
      type: "success",
      text: true
    } %>
  <% end %>
  <%= sage_component SageGridCol, { size: 6, css_classes: "example__block--lg" } do %>
    <h2 class="<%= SageClassnames::TYPE::HEADING_6 %>">Without text</h2>
    <%= sage_component SageLoader, {
      type: "success"
    } %>
  <% end %>
<% end %>
