<tr>
  <td><%= md('`data-loading`') %></td>
  <td><%= md('Determines visibility. Loader will not display/animate unless this value is set to `true`') %></td>
  <td><%= md('Boolean') %></td>
  <td><%= md('`false`') %></td>
</tr>
<tr>
  <td><%= md('`type`') %></td>
  <td><%= md('Determines which loader will be used. We currently support a type of `bar` and `spinner`') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
