<tr>
  <td><%= md('`data-loading`') %></td>
  <td><%= md('Determines visibility. Loader will not display/animate unless this value is set to `true`') %></td>
  <td><%= md('Boolean') %></td>
  <td><%= md('`false`') %></td>
</tr>
<tr>
  <td><%= md('`type`') %><%= sage_component SageBadge, { color: "published", value: "required" } %></td>
  <td><%= md('Determines which loader will be used. We currently support a type of `bar`, `spinner`, and `success`') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`text`') %></td>
  <td><%= md('Includes text that aligns with the image type.') %></td>
  <td><%= md('Boolean') %></td>
  <td><%= md('`nil`') %></td>
</tr>
