<tr>
  <td><%= md("`id`") %></td>
  <td><%= md("Unique identifier to use with associated button") %></td>
  <td><%= md("String") %></td>
  <td><%= md("`nil`") %></td>
</tr>
<tr>
  <td><%= md("`size`") %></td>
  <td><%= md("Additional sizing variations available for sidebar") %></td>
  <td><%= md("`md` or `lg`") %></td>
  <td><%= md("`nil`") %></td>
</tr>
