<%= sage_layout SageFrame, {
  align: "center-spread",
  background: "#fae2d4",
  border_radius: "lg",
  direction: "horizontal",
  padding: "md",
} do %>
  <%= sage_layout SageFrame, {} do %>
    <%= sage_layout SageFrame, { gap: "xs" } do %>
      <h3>Learn more about products</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Etiam faucibus massa vel sem ullamcorper tincidunt.
        Vestibulum pulvinar placerat elit, et rutrum ipsum elementum ac.
      </p>
    <% end %>
    <%= sage_component SageButtonGroup, { gap: :sm } do %>
      <%= sage_component SageButton, {
        value: "Do it!",
        style: "primary",
      } %>
      <%= sage_component SageButton, {
        value: "Cancel",
        style: "secondary",
        subtle: true,
      } %>
    <% end %>
  <% end %>
  <%= sage_layout SageFrame, { width: "104px" } do %>
    <%= image_tag "illustrations/puzzle-small.png", alt: "" %>
  <% end %>
<% end %>
