<%= sage_layout SageFrame, {
  align: "start-spread",
  border: "default",
  border_radius: "md",
  direction: "horizontal",
  padding: "sm",
  width: "360px",
} do %>
  <%= sage_layout SageFrame, { gap: "xs" } do %>
    <%= sage_layout SageFrame, { gap: "none" } do %>
      <h3 class="<%= "#{SageClassnames::TYPE::BODY_SMALL} #{SageClassnames::TYPE_COLORS::GREY_700}" %>">
        All payments
      </h3>
      <%= sage_layout SageFrame, {
        align: "baseline-left",
        direction: "horizontal",
        gap: "xs",
        tag: "p"
      } do %>
        <b class="<%= "#{SageClassnames::TYPE::HEADING_5}" %>">
          40
        </b>
        <span class="<%= "#{SageClassnames::TYPE::BODY_XSMALL} #{SageClassnames::TYPE_COLORS::GREY_600}" %>">
          successful payments
        </span>
      <% end %>
    <% end %>
    <%= sage_component SageButton, {
      value: "View all",
      icon: { style: "right", name: "arrow-right" },
      style: "primary",
      subtle: true,
    } %>
  <% end %>
  <%= sage_layout SageFrame, {
    align: "top-right",
    gap: "xs",
    width: "120px"
  } do %>
    <%= sage_component SageLabel, {
      color: "published",
      value: "33%",
      icon: "up-small",
    } %>
    <div>
      [chart]
    </div>
  <% end %>
<% end %>
