<tr>
  <td><%= md("`active`") %></td>
  <td><%= md("Enabling this property will return the JS early to not initialize any handlers.") %></td>
  <td><%= md("Boolean") %></td>
  <td><%= md("`nil`") %></td>
</tr>
<tr>
  <td><%= md("`disable_close`") %></td>
  <td><%= md("Enabling this property will return the JS early to not initialize any handlers.") %></td>
  <td><%= md("Boolean") %></td>
  <td><%= md("`nil`") %></td>
</tr>
<tr>
  <td><%= md("`id`") %></td>
  <td><%= md("Unique identifier for component. Should match the <code>data-js-modaltrigger</code> property on the corresponding button") %></td>
  <td><%= md("String") %></td>
  <td><%= md("`nil") %></td>
</tr>
<tr>
  <td><%= md("`large`") %></td>
  <td><%= md("Toggles whether to use the large variant of the modal by attaching <code>.sage-modal--large</code>") %></td>
  <td><%= md("Boolean") %></td>
  <td><%= md("`nil`") %></td>
</tr>
<tr>
  <td colspan="4">
    <strong>Modal Content</strong>
  </td>
</tr>
<tr>
  <td><%= md("`title`") %></td>
  <td><%= md("Populates the `sage-modal__header` with a heading containing the provided content") %></td>
  <td><%= md("String") %></td>
  <td><%= md("`nil`") %></td>
</tr>
<tr>
  <td><%= md("`spacing`") %></td>
  <td><%= md("Optionally enforces either a `card`- or `panel`-based spacing grid on the `sage-modal__content`.") %></td>
  <td><%= md("`panel` or `card`") %></td>
  <td><%= md("`nil`") %></td>
</tr>
<tr>
  <td><%= md("Section: `header_aside`") %></td>
  <td><%= md("Populates the `sage-modal__header-aside`.") %></td>
  <td><%= md("String") %></td>
  <td><%= md("`nil`") %></td>
</tr>
<tr>
  <td><%= md("Section: `footer`") %></td>
  <td><%= md("Populates the `sage-modal__footer`.") %></td>
  <td><%= md("String") %></td>
  <td><%= md("`nil`") %></td>
</tr>
<tr>
  <td><%= md("Section: `footer_aside`") %></td>
  <td><%= md("Populates the `sage-modal__footer-aside` for buttons or content set to the left of the panel footer.") %></td>
  <td><%= md("String") %></td>
  <td><%= md("`nil`") %></td>
</tr>
