<h2>Full-Bleed Images</h2>
<p>Full-bleed images within Heroes take up the entire vertical and horizontal space allocated at the start or end of the Hero component.</p>

<h3>Default - Small</h3>
<p>The default small Hero component takes up a portion of the viewport width.</p>

<%= sage_component SageHero, {
  title: "Learn with Kajabi in our live workshops",
  description: "Did you know we offer free workshops? Kajabi experts host live workshops every week on topics from marketing your products to building out your Kajabi account.",
  image: "hero-workshop-placeholder.jpg",
  alt_text: "Multi-layered illustration of UI elements and woman clasping her hands together in excitement",
  size: "small",
} do %>
  <% content_for :sage_hero_footer_actions do %>
    <%= sage_component SageButton, {
      value: "Learn more",
      style: "primary",
    } %>
  <% end %>
<% end %>

<%= sage_component SageDivider, {} %>

<h3>Default - Large</h3>
<p>The default large Hero component takes up the entire viewport width.</p>

<%= sage_component SageHero, {
  title: "Learn with Kajabi in our live workshops",
  description: "Did you know we offer free workshops? Kajabi experts host live workshops every week on topics from marketing your products to building out your Kajabi account.",
  image: "hero-workshop-placeholder.jpg",
  alt_text: "Multi-layered illustration of UI elements and woman clasping her hands together in excitement",
  size: "large",
} do %>
  <% content_for :sage_hero_footer_actions do %>
    <%= sage_component SageButton, {
      value: "Learn more",
      style: "primary",
    } %>
  <% end %>
<% end %>

<h3>Image has a trigger</h3>
<p>When the image has a trigger, the image is clickable and will trigger an action.</p>

<%= sage_component SageHero, {
  title: "Learn with Kajabi in our live workshops",
  description: "Did you know we offer free workshops? Kajabi experts host live workshops every week on topics from marketing your products to building out your Kajabi account.",
  image: "hero-workshop-placeholder.jpg",
  alt_text: "Multi-layered illustration of UI elements and woman clasping her hands together in excitement",
  size: "small",
  cta_attributes: {
    "data-js-modaltrigger": "cool-modal",
    href: "#",
  },
} do %>
  <% content_for :sage_hero_footer_actions do %>
    <%= sage_component SageButton, {
      value: "Learn more",
      style: "primary",
    } %>
  <% end %>
<% end %>

<%= sage_component SageDivider, {} %>

<h3>Borderless and custom background color</h3>
<p>When the Hero is set to borderless and has a custom background color, the Hero will have no border and the background color will be applied to the entire Hero.</p>

<%= sage_component SageHero, {
  title: "Learn with Kajabi in our live workshops",
  description: "Did you know we offer free workshops? Kajabi experts host live workshops every week on topics from marketing your products to building out your Kajabi account.",
  image: "hero-workshop-placeholder.jpg",
  alt_text: "Multi-layered illustration of UI elements and woman clasping her hands together in excitement",
  custom_background_color: "#e6f4fe",
  size: "small",
  borderless: true,
  cta_attributes: {
    "data-js-modaltrigger": "cool-modal",
    href: "#",
  },
} do %>
  <% content_for :sage_hero_footer_actions do %>
    <%= sage_component SageButton, {
      style: "primary",
      value: "Learn more",
    } %>
  <% end %>
<% end %>

<%= sage_component SageDivider, {} %>

<h2>Contained Images</h2>
<p>Contained images within a Hero component will have margins that push the image away from the sides of the Hero container.</p>

<h3>Default - Small</h3>

<%= sage_component SageHero, {
  title: "Introducing the Kajabi template store",
  description: "Did you know we offer free workshops? Kajabi experts host live workshops every week on topics from marketing your products to building out your Kajabi account.",
  image: "hero-contained-placeholder.png",
  alt_text: "Multi-layered illustration of UI elements and woman clasping her hands together in excitement",
  size: "small",
  contained: true,
} do %>
  <% content_for :sage_hero_footer_actions do %>
    <%= sage_component SageButton, {
      style: "primary",
      value: "Learn more",
    } %>
  <% end %>
<% end %>

<%= sage_component SageDivider, {} %>

<h3>Default - Large</h3>

<%= sage_component SageHero, {
  title: "Introducing the Kajabi template store",
  description: "Did you know we offer free workshops? Kajabi experts host live workshops every week on topics from marketing your products to building out your Kajabi account.",
  image: "hero-contained-placeholder.png",
  alt_text: "Multi-layered illustration of UI elements and woman clasping her hands together in excitement",
  size: "large",
  contained: true,
} do %>
  <% content_for :sage_hero_footer_actions do %>
    <%= sage_component SageButton, {
      style: "primary",
      value: "Learn more",
    } %>
  <% end %>
<% end %>

<%= sage_component SageDivider, {} %>

<h3>Image has a trigger</h3>

<%= sage_component SageHero, {
  title: "Introducing the Kajabi template store",
  description: "Did you know we offer free workshops? Kajabi experts host live workshops every week on topics from marketing your products to building out your Kajabi account.",
  image: "hero-contained-placeholder.png",
  alt_text: "Multi-layered illustration of UI elements and woman clasping her hands together in excitement",
  size: "small",
  contained: true,
  cta_attributes: {
    "data-js-modaltrigger": "cool-modal",
    href: "#",
  },
} do %>
  <% content_for :sage_hero_footer_actions do %>
    <%= sage_component SageButton, {
      style: "primary",
      value: "Learn more",
    } %>
  <% end %>
<% end %>

<%= sage_component SageDivider, {} %>

<h3>Borderless with custom background</h3>

<%= sage_component SageHero, {
  title: "Introducing the Kajabi template store",
  description: "Did you know we offer free workshops? Kajabi experts host live workshops every week on topics from marketing your products to building out your Kajabi account.",
  image: "hero-contained-placeholder.png",
  alt_text: "Multi-layered illustration of UI elements and woman clasping her hands together in excitement",
  borderless: true,
  custom_background_color: "#e6f4fe",
  size: "small",
  contained: true,
} do %>
  <% content_for :sage_hero_footer_actions do %>
    <%= sage_component SageButtonGroup, { gap: :md } do %>
        <%= sage_component SageButton, {
          value: "Learn more",
          style: "primary",
        } %>
      <%= sage_component SageButton, {
        value: "Dismiss",
        style: "primary",
        subtle: true,
        attributes: {
          "data-js-hero--dismiss": ""
        }
      } %>
    <% end %>
  <% end %>
<% end %>

<%= sage_component SageDivider, {} %>

<h2>Image start</h2>
<p>When the image is set to start, the image will be placed at the start of the Hero component.</p>

<h3>Default - Small</h3>

<%= sage_component SageHero, {
  title: "Learn with Kajabi in our live workshops",
  description: "Did you know we offer free workshops? Kajabi experts host live workshops every week on topics from marketing your products to building out your Kajabi account.",
  image: "hero-workshop-placeholder.jpg",
  alt_text: "Multi-layered illustration of UI elements and woman clasping her hands together in excitement",
  size: "small",
  image_start: true,
} do %>
  <% content_for :sage_hero_footer_actions do %>
    <%= sage_component SageButton, {
      value: "Learn more",
      style: "primary",
    } %>
  <% end %>
<% end %>

<%= sage_component SageDivider, {} %>

<h3>Default - Large</h3>

<%= sage_component SageHero, {
  title: "Learn with Kajabi in our live workshops",
  description: "Did you know we offer free workshops? Kajabi experts host live workshops every week on topics from marketing your products to building out your Kajabi account.",
  image: "hero-workshop-placeholder.jpg",
  alt_text: "Multi-layered illustration of UI elements and woman clasping her hands together in excitement",
  size: "large",
  image_start: true,
} do %>
  <% content_for :sage_hero_footer_actions do %>
    <%= sage_component SageButton, {
      value: "Learn more",
      style: "primary",
    } %>
  <% end %>
<% end %>

<%= sage_component SageDivider, {} %>

<h3>Contained - Small</h3>

<%= sage_component SageHero, {
  title: "Learn with Kajabi in our live workshops",
  description: "Did you know we offer free workshops? Kajabi experts host live workshops every week on topics from marketing your products to building out your Kajabi account.",
  image: "hero-contained-placeholder.png",
  alt_text: "Multi-layered illustration of UI elements and woman clasping her hands together in excitement",
  size: "small",
  image_start: true,
  contained: true,
} do %>
  <% content_for :sage_hero_footer_actions do %>
    <%= sage_component SageButton, {
      value: "Learn more",
      style: "primary",
    } %>
  <% end %>
<% end %>

<%= sage_component SageDivider, {} %>

<h3>Contained - Large</h3>

<%= sage_component SageHero, {
  title: "Learn with Kajabi in our live workshops",
  description: "Did you know we offer free workshops? Kajabi experts host live workshops every week on topics from marketing your products to building out your Kajabi account.",
  image: "hero-contained-placeholder.png",
  alt_text: "Multi-layered illustration of UI elements and woman clasping her hands together in excitement",
  size: "large",
  image_start: true,
  contained: true,
} do %>
  <% content_for :sage_hero_footer_actions do %>
    <%= sage_component SageButton, {
      value: "Learn more",
      style: "primary",
    } %>
  <% end %>
<% end %>

<%# This is the modal triggered from various examples in this documentation %>
<%= sage_component SageModal, { id: "cool-modal"} do %>
  <%= sage_component SageModalContent, {
    title: "Modal title",
  } do %>
    <% content_for :sage_header_aside do %>
      <%= sage_component SageButton, {
        style: "secondary",
        subtle: true,
        value: "Close Modal",
        icon: { name: "remove", style: "only" },
        attributes: { "data-js-modal": true }
      } %>
    <% end %>

    <p>Add a description of the content you're showing in the modal.</p>

    <% content_for :sage_footer do %>
      <%= sage_component SageButton, {
        style: "secondary",
        value: "Cancel",
      } %>
      <%= sage_component SageButton, {
        style: "primary",
        value: "Confirm",
      } %>
    <% end %>
  <% end %>
<% end %>