<tr>
  <td><%= md('`alt_text`') %></td>
  <td><%= md('Sets the (`alt`) text for the Hero\'s artwork image.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`button`') %></td>
  <td><%= md('Creates the toggle button for the component.') %></td>
  <td><%= md('Sage Component') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`cta_attributes`') %></td>
  <td><%= md('Allows for adding attributes to the Hero CTA artwork') %></td>
  <td><%= md('Array') %></td>
  <td><%= md('') %></td>
</tr>
<tr>
  <td><%= md('`description`') %></td>
  <td><%= md('Sets description text for the Hero') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`image`') %></td>
  <td><%= md('Image for the Hero.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`size`') %></td>
  <td><%= md('Size for the hero container.') %></td>
  <td><%= md('String: ["small", "large"]') %></td>
  <td><%= md('`large`') %></td>
</tr>
<tr>
  <td><%= md('`title`') %></td>
  <td><%= md('Sets the title for the component.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`h2`') %></td>
</tr>
<tr>
  <td><%= md('`title_tag`') %></td>
  <td><%= md('Sets the heading tag (`h1` - `h6`) for the Hero\'s title') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`h2`') %></td>
</tr>
