<tr>
  <td><%= md('`alt_text`') %></td>
  <td><%= md('Sets the (`alt`) text for the Hero\'s artwork image.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`borderless`') %></td>
  <td><%= md('Removes border from Hero.') %></td>
  <td><%= md('Boolean') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`button`') %></td>
  <td><%= md('Creates the toggle button for the component.') %></td>
  <td><%= md('Sage Component') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`cta_attributes`') %></td>
  <td><%= md('Include this property in order to activate a "play button" action on the image. This property allows for adding attributes to the Hero CTA artwork.') %></td>
  <td><%= md('Hash') %></td>
  <td><%= md('') %></td>
</tr>
<tr>
  <td><%= md('`contained`') %></td>
  <td><%= md('Adjusts layout to support images that are NOT full bleed.') %></td>
  <td><%= md('Boolean') %></td>
  <td><%= md('') %></td>
</tr>
<tr>
  <td><%= md('`custom_background_color`') %></td>
  <td><%= md('Sets a custom background color for Hero.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('') %></td>
</tr>
<tr>
  <td><%= md('`description`') %></td>
  <td><%= md('Sets description text for the Hero') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`image`') %></td>
  <td><%= md('Image for the Hero.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`size`') %></td>
  <td><%= md('Size for the hero container.') %></td>
  <td><%= md('String: ["small", "large"]') %></td>
  <td><%= md('`large`') %></td>
</tr>
<tr>
  <td><%= md('`image_start`') %></td>
  <td><%= md('Sets the horizontal placement of the image to start within the Hero.') %></td>
  <td><%= md('Boolean') %></td>
  <td><%= md('`false`') %></td>
</tr>
<tr>
  <td><%= md('`title`') %></td>
  <td><%= md('Sets the title for the component.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`h2`') %></td>
</tr>
<tr>
  <td><%= md('`title_tag`') %></td>
  <td><%= md('Sets the heading tag (`h1` - `h6`) for the Hero\'s title') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`h2`') %></td>
</tr>
<tr>
  <td colspan="2"><%= md('**Sections**') %></td>
</tr>
<tr>
  <td><%= md('`sage_hero_footer_actions`') %></td>
  <td><%= md('This area can hold buttons or other CTAs in the content area. ') %></td>
</tr>
