<div class="sage-radio<%= has_error ? " sage-radio--error" : "" %>">
  <input id="<%= id %>" type="radio" class="sage-radio__input" name="<%= name %>" value="<%= value %>"<%= checked ? " checked" : "" %><%= disabled ? " disabled" : "" %><%= required ? " required" : "" %>>
  <label for="<%= id %>" class="sage-radio__label"><%= label_text %></label>
</div>
