<tr>
  <td><%= md('`url`') %></td>
  <td><%= md('API URL for retrieving select options') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`label`') %></td>
  <td><%= md('Label for the input') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`component.id`') %></td>
</tr>
<tr>
  <td><%= md('`name`') %></td>
  <td><%= md('Input name') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`id`') %></td>
  <td><%= md('Input ID') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`has_error`') %></td>
  <td><%= md('Enabling this property adds the `.sage-select--error` class to the component.') %></td>
  <td><%= md('Boolean') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`message`') %></td>
  <td><%= md('Sets the message text for the component.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`placeholder`') %></td>
  <td><%= md('Displays placeholder text when the input is empty.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`component.label || component.id`') %></td>
</tr>
<tr>
  <td><%= md('`default_value`') %></td>
  <td><%= md('Default value for the input') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`default_text`') %></td>
  <td><%= md('Default text for the input') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`paginate`') %></td>
  <td><%= md('Allows input to paginate results per 25 items') %></td>
  <td><%= md('Boolean') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`search`') %></td>
  <td><%= md('Displays a search bar for users to search through results') %></td>
  <td><%= md('Boolean') %></td>
  <td><%= md('`false`') %></td>
</tr>
<tr>
  <td><%= md('`clear`') %></td>
  <td><%= md('Displays an "x" button for users to clear the current value.') %></td>
  <td><%= md('Boolean') %></td>
  <td><%= md('`false`') %></td>
</tr>
<tr>
  <td><%= md('`required`') %></td>
  <td><%= md('Makes input selection required') %></td>
  <td><%= md('Boolean') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`theme`') %></td>
  <td><%= md('Choose from legacy UI or Sage') %></td>
  <td><%= md('string') %></td>
  <td><%= md('`sage`') %></td>
</tr>
