<tr>
  <td><%= md('`dismiss_attributes`') %></td>
  <td><%= md('Provides button attributes to wire up functionality to the close button.') %></td>
  <td><%= md('Hash') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`show_dismiss`') %></td>
  <td><%= md('Determines whether the close button renders or not.') %></td>
  <td><%= md('Boolean') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`value`') %><%= sage_component SageLabel, { color: "published", value: "required" } %></td>
  <td><%= md('Provides a label for the tag.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
