<tr>
  <td><%= md('`id`') %></td>
  <td><%= md('Unique identifier for this component.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`subtitle`') %></td>
  <td><%= md('Sets the subtitle text for the component.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`title`') %></td>
  <td><%= md('Sets the title for the component.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`title_tag`') %></td>
  <td><%= md('Sets the heading tag (`h1` - `h6`) for the Form Section\'s header tag.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`h5`') %></td>
</tr>
