<tr>
  <td><%= md('`menu_button`') %></td>
  <td><%= md('Enables menu button to be displayed. (below medium breakpoint)') %></td>
  <td><%= md('`Boolean`') %></td>
  <td><%= md('null') %></td>
</tr>
<tr>
  <td colspan="2"><%= md('**Sections**') %></td>
  <td colspan="2"><%= md('**`Element`**') %></td>
</tr>
<tr>
  <td><%= md('`sage_assistant_actions`') %></td>
  <td><%= md('This area holds link to the sage gem .') %></td>
  <td colspan="2"><%= md('`link_to`(s)') %></td>
</tr>
