<tr>
  <td><%= md('`bulk_action_items`') %></td>
  <td><%= md('The list of items to populate in the bulk actions dropdown.') %></td>
  <td>
    <%= md('```
Array<{
  attributes: Hash,
  value: String,
}>
    ') %>
  </td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`bulk_action_items`') %></td>
  <td><%= md("The list of items to populate in the bulk actions dropdown.") %></td>
  <td><%= md('Array: See structure for Dropdown items') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`items`') %></td>
  <td><%= md('Maps records to create page link items') %></td>
  <td><%= md('Object') %></td>
  <td><%= md('`false`') %></td>
</tr>
<tr>
  <td><%= md('`item_count_label`') %></td>
  <td><%= md("A caption for the bulk actions checkbox.") %></td>
  <td><%= md('String') %></td>
  <td><%= md('Select all') %></td>
</tr>
<tr>
  <td><%= md('`show_bulk_actions`') %></td>
  <td>
    <%= md('
      Whether or not to render the bulk actions checkmark and dropdown.
      If set to `true`, the `bulk_action_items`
      should also be provided to populate the dropdown.
    ') %>
  </td>
  <td><%= md('Boolean') %></td>
  <td><%= md('`false`') %></td>
</tr>
<tr>
  <td><%= md('`show_checkboxes`') %></td>
  <td><%= md('When enabled, shows the checkbox and allows for selection of the adjacent list.') %></td>
  <td><%= md('Boolean') %></td>
  <td><%= md('`true`') %></td>
</tr>
<tr>
  <td><%= md('`show_expand_collapse`') %></td>
  <td>
    <%= md('
      Whether or not to show the "expand"/"collapse" button toggle.
      If set to `true` the "expand" button will appear by default
      unless `start_expanded` is set to `true` as well.
    ') %>
  </td>
  <td><%= md('Boolean') %></td>
  <td><%= md('`false`') %></td>
</tr>
<tr>
  <td><%= md('`show_pagination`') %></td>
  <td><%= md('TBD') %>
  </td>
  <td><%= md('Boolean') %></td>
  <td><%= md('`false`') %></td>
</tr>
<tr>
  <td><%= md('`show_sort`') %></td>
  <td>
    <%= md('
      Whether or not to render the sorting dropdown.
    ') %>
  </td>
  <td><%= md('Boolean') %></td>
  <td><%= md('`false`') %></td>
</tr>
<tr>
  <td><%= md('`start_expanded`') %></td>
  <td>
    <%= md('
      Whether or not the controls should start as expanded or collapsed.
      This merely affects which of the two buttons appears by default
      and should be syncronized with the actual target list.
    ') %>
  </td>
  <td><%= md('Boolean') %></td>
  <td><%= md('`false`') %></td>
</tr>
<tr>
  <td><%= md('`target`') %></td>
  <td><%= md("The HTML ID for the list this panel controls will target with any events.") %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
