<tr>
  <td><%= md('`title`') %></td>
  <td>Title text to be displayed</td>
  <td><%= md('`String`') %></td>
  <td><%= md('`null`') %></td>
</tr>
<tr>
  <td><%= md('`text`') %></td>
  <td>Text description to be displayed</td>
  <td><%= md('`String`') %></td>
  <td><%= md('`null`') %></td>
</tr>
<tr>
  <td><%= md('`graphic`') %></td>
  <td>Graphic to be displayed</td>
  <td><%= md('`String`') %></td>
  <td><%= md('`null`') %></td>
</tr>
<tr>
  <td><%= md('`reversed`') %></td>
  <td>Allows content and graphic ordering to be reversed</td>
  <td><%= md('`Boolean`') %></td>
  <td><%= md('`false`') %></td>
</tr>
<tr>
  <td><%= md('`center-vertical`') %></td>
  <td>Centers the null view vertically on page</td>
  <td><%= md('`Boolean`') %></td>
  <td><%= md('`false`') %></td>
</tr>
