<tr>
  <td><%= md('`title`') %></td>
  <td><%= md('Title text to be displayed.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`text`') %></td>
  <td><%= md('Smaller descriptive text to be displayed.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`graphic`') %></td>
  <td><%= md('Graphic to be displayed') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`reversed`') %></td>
   <td><%= md('Allows content and graphic ordering to be reversed') %></td>
  <td><%= md('Boolean') %></td>
  <td><%= md('`false`') %></td>
</tr>
<tr>
  <td><%= md('`center-vertical`') %></td>
  <td><%= md('Centers the null view vertically on page') %></td>
  <td><%= md('Boolean') %></td>
  <td><%= md('`false`') %></td>
</tr>
