<h3 class="t-sage-heading-6">Menu Button</h3>
<%= sage_component SageDropdown, {
  items: [{
    value: "Edit",
    icon: "pen",
    attributes: { "href": "#" },
  },
  {
    value: "Disabled link w/ tooltip",
    icon: "pen",
    modifiers: ["disabled"],
    attributes: {
      "href": "https://kajabi.com",
      "data-js-tooltip": "Tooltip",
      "data-js-tooltip-position": "right",
    }
  },
  {
    value: "New",
    icon: "add",
    style: "primary",
    attributes: { "href": "#" },
   }, {
    value: "Share Element",
    icon: "url",
    modifiers: ["border-before"],
    attributes: { "href": "#" },
   }, {
    value: "Take A Dangerous Action",
    icon: "remove-circle",
    style: "danger",
    attributes: { "href": "#" },
  }, {
    value: "Disabled w/ Tooltip",
    icon: "users",
    attributes: {
      "data-js-tooltip": "Tooltip",
      "data-js-tooltip-position": "right"
      },
    modifiers: ["disabled"]
  }
  ]
} do %>
  <%= sage_component SageButton, {
    style: "primary",
    value: "Add An Element"
  } %>
<% end %>

<h3 class="t-sage-heading-6">Dropdown menu with Headings</h3>
<%= sage_component SageDropdown, {
  contained: true,
  items: [{
    value: "Offers",
    is_heading: true,
  }, {
    value: "Grant offer",
  }, {
    value: "Revoke offer",
  }, {
    value: "Emails",
    is_heading: true,
  }, {
    value: "Subscribe to Email Sequence",
  }, {
    value: "Unsubscribe from Email Sequence",
  }, {
    value: "Events",
    is_heading: true,
  }, {
    value: "Register to Event",
  }, {
    value: "Deregister from Event",
  }, {
    value: "Tags",
    is_heading: true,
  }, {
    value: "Add tag",
  }, {
    value: "Remove tag",
  }, {
    value: "Export",
    icon: "upload",
    modifiers: ["border-before"]
  }, {
    value: "Unsubscribe",
    icon: "remove-circle",
  }, {
    modifiers: ["border-before"],
    icon: "trash",
    style: "danger",
    value: "Delete",
  }]
} do %>
  <%= sage_component SageButton, {
    style: "secondary",
    value: "Bulk Actions"
  } %>
<% end %>

<h3 class="t-sage-heading-6">SageLabel Button, with SageLabel Values, and aligned right</h3>
<p>Note: The wrapping div with inline styles is for <i>preview-purposes only</i>. </p>
<div style="display: flex; flex-direction: row-reverse;">
  <%= sage_component SageDropdown, {
    align: "right",
    panel_size: "small",
    items: [{
      value: sage_component(SageLabel, { color: "published", value: "Publish" }),
      attributes: {},
    }, {
      value: sage_component(SageLabel, { color: "info", value: "Drip" }),
      attributes: { "href": "#" },
    }, {
      value: sage_component(SageLabel, { color: "draft", value: "Draft" }),
      attributes: { "href": "#" },
    }, {
      value: "Delete Category",
      icon: "trash",
      style: "danger",
      attributes: {
        "href": "#",
        "data-test": "test method"
      },
    }]
  } do %>
    <%= sage_component SageLabel, {
      color: "info",
      interactive_type: :dropdown,
      value: "Drip",
      icon: "draft"
    } %>
  <% end %>
</div>

<h3 class="t-sage-heading-6">Select</h3>
<p>Note: This pattern is used with the SageReact implementation, please consult UXD before using this as SageRails.</p>
<%= sage_component SageDropdown, {
  search: true,
  trigger_type: "select",
  items: [{
    value: "-- None --"
  }, {
    selected: true,
    value: "Option 1",
   }, {
    value: "Option 2",
   }, {
    value: "Option 3",
  }, {
    value: "Muted",
    style: "muted"
  }, {
    value: "Disabled",
    modifiers: ["disabled"]
  },
  {
    value: "Disabled w/ tooltip",
    modifiers: ["disabled"],
    attributes: {
      "data-js-tooltip": "Tooltip",
      "data-js-tooltip-position": "left"
    },
  }],
  contained: true
} do %>
  <%= sage_component SageButton, {
    style: "secondary",
    value: "",
    css_classes: "sage-dropdown__trigger-selected-value",
    icon: { style: "right", name: "caret-down" }
  } %>
  <label class="sage-dropdown__trigger-label">Add an Element</label>
<% end %>

<h3 class="t-sage-heading-6">Form Field</h3>
<p>Note: This pattern is used with the SageReact implementation, please consult UXD before using this as SageRails.</p>
<%= sage_component SageDropdown, {
  search: true,
  trigger_type: "select-labeled",
  align: "right",
  items: [{
    value: "-- None --"
  }, {
    value: "Option 1",
   }, {
    value: "Option 2",
   }, {
    value: "Option 3",
  }, {
    value: "Muted",
    style: "muted"
  }],
  contained: true
} do %>
  <%= sage_component SageButton, {
    style: "secondary",
    value: "",
    css_classes: "sage-dropdown__trigger-selected-value",
    icon: { style: "right", name: "caret-down" }
  } %>
  <label class="sage-dropdown__trigger-label">Add an Element</label>
<% end %>

<h3 class="t-sage-heading-6">Dropdown Field with full-width Custom Content and Footer</h3>
<%= sage_component SageDropdown, {
  search: true,
  trigger_type: "select",
  contained: true,
  full_width_panel: true,
  wrap_footer: true
} do %>
  <% content_for :sage_dropdown_custom_panel_content do %>
    <ul class="sage-dropdown__menu sage-dropdown__menu--fixed-height">
      <% 9.times do |i| %>
        <li class="sage-dropdown__item">
          <label for="checkbox-multi-item-<%= i + 1 %>" class="sage-dropdown__item-control sage-dropdown-item-control--group">
            <%= sage_component SageCheckbox, {
              id:"checkbox-multi-item-#{i + 1}",
              css_classes: "sage-dropdown__item-checkbox",
              checked: false,
              disabled: false,
              has_error: false,
              partial_selection: false,
              standalone: true
            } %>
            <span class="sage-dropdown__item-label">Product <%= i + 1 %></span>
          </label>
        </li>
      <% end %>
    </ul>
  <% end %>
  <% content_for :sage_dropdown_custom_panel_footer do %>
    <%= sage_component SageButtonGroup, { gap: :xs, align: "end" } do %>
      <%= sage_component SageButton, {
        value: "Clear selections",
        style: "secondary",
        small: true
      } %>
      <%= sage_component SageButton, {
        value: "Add to Offer",
        style: "primary",
        small: true
      } %>
    <% end %>
  <% end %>
  <%= sage_component SageButton, {
    style: "secondary",
    value: "",
    css_classes: "sage-dropdown__trigger-selected-value",
    icon: { style: "right", name: "caret-down" }
  } %>
  <label class="sage-dropdown__trigger-label">Select Product(s)</label>
<% end %>

<h3 class="t-sage-heading-6">Dropdown Menu Button with Custom Content</h3>
<%= sage_component SageDropdown, {
} do %>
  <%= sage_component SageButton, {
    style: "primary",
    value: "Dropdown Trigger"
  } %>
  <% content_for :sage_dropdown_custom_panel_content do %>
    <%= sage_component SagePanel, {} do %>
      <%= sage_component SagePanelStack, {} do %>
        <p>We can put whatever content we want in here and use the custom class as a hook to style it like a good ol BEM mixin!</p>
        <h4>Dropdown Exit</h4>
        <p class="sage-spacer-bottom-sm">The <code>data-sage-dropdown-exit</code> attribute can be used on elements that need be able to close the custom panel.<p>
        <%= sage_component SageButton, {
          style: "primary",
          value: "Click me to exit",
          attributes: {
            "data-sage-dropdown-exit": true,
          },
        } %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
