<tr>
  <td><%= md('`align`') %></td>
  <td><%= md('Aligns a button to the "right" rather than its default position.') %></td>
  <td><%= md('String: [ nil | "right" ]') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`contained`') %></td>
  <td><%= md('This uses the `--contained` modifier to add additional styling to the component.') %></td>
  <td><%= md('Boolean') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`customized`') %></td>
  <td><%= md('This uses the `--customized` modifier to add additional styling to the component.') %></td>
  <td><%= md('Boolean') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`custom_modifier`') %></td>
  <td><%= md('When set, updates styles associated with the component.') %></td>
  <td><%= md('`"actions"`, `"sort"`') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`dropdown_custom_panel_content`') %></td>
  <td><%= md('Enables placement of custom content within the dropdown menu body, overriding the default list display.') %></td>
  <td><%= md('`n/a`') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`dropdown_custom_panel_footer`') %></td>
  <td><%= md('Enables placement of custom content within the dropdown menu footer.') %></td>
  <td><%= md('`n/a`') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`full_width_panel`') %></td>
  <td><%= md('Extends the dropdown panel to span the full width of the input. This setting will be overridden if `align` is also specified.') %></td>
  <td><%= md('Boolean') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`id`') %></td>
  <td><%= md('Unique identifier for this component.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`items`') %></td>
  <td><%= md('
    An array of items to be the dropdown items.
  ') %></td>
  <td><%= md('```
Array<{
  attributes: String,
  css_classes: String,
  icon: String,
  is_heading: Boolean,
  modifiers: [
    "disabled" | "border-before" | "border-after" | nil,
  ],
  selected: Boolean,
  style: "primary" | "danger" | "muted",
  value: String,
}>
```
(see corresponding properties above)') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`panel_size`') %></td>
  <td><%= md('This component uses the `--small` modifier to change the default
    minimum width of the dropdown menu.') %></td>
  <td><%= md('`"small"`') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`search`') %></td>
  <td><%= md('When true, adds a search component to the dropdown.') %></td>
  <td><%= md('Boolean') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`trigger_type`') %></td>
  <td><%= md('When set, provides additional styling for the component.') %></td>
  <td><%= md('`"select"`, `"select-labeled"`') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`data-sage-dropdown-exit`') %></td>
  <td><%= md('This `data-attribute` can be used within custom dropdown panels to allow elements to close the dropdown panel.') %></td>
</tr>
<tr>
  <td colspan="2"><%= md('**Sections**') %></td>
  <td colspan="2"><%= md('**`Element`**') %></td>
</tr>
<tr>
  <td><%= md('`sage_dropdown_custom_panel_content`') %></td>
  <td><%= md('This area holds custom panel content and replaces the default content layout. The cta buttons for this resides within `sage_dropdown_custom_panel_footer`.') %></td>
  <td colspan="2"><%= md('`ul.sage-dropdown__menu.sage-dropdown__menu--fixed-height`') %></td>
</tr>
<tr>
  <td><%= md('`sage_dropdown_custom_panel_footer`') %></td>
  <td><%= md('This area holds the dropdown menu for this component. The items that are referenced  reside within `sage_dropdown_custom_panel_content`.') %></td>
  <td colspan="2"><%= md('`SageButtonGroup`') %></td>
</tr>
