<fieldset class="sage-type">
  <h3 class="t-sage-heading-6">Input group with button displayed on focus</h3>

  <%= sage_component SageInputGroup, {
    group_id: "input-group-search-example",
    has_button: true,
    has_hint: false,
    group_button_icon: "sage-btn--icon-left-search",
    group_button_text: "Search",
    group_button_text_hidden: true,
    group_button_tooltip: true,
    group_button_tooltip_text: "Search",
    group_button_tooltip_position: "top",
    group_button_tooltip_size: "",
    group_button_type: "text",
  } do %>
    <%= sage_component SageFormInput, {
      id: "input-group-search-field",
      input_type: "search",
      label_text: "Search",
      placeholder: "Search",
      required: true,
      disabled: false,
      has_error: false,
      message_text: "",
      has_placeholder: false
    } %>
  <% end %>
  <h3 class="t-sage-heading-6">Input group with button disabled</h3>

  <%= sage_component SageInputGroup, {
    group_id: "input-group-save-example",
    disabled: true,
    has_button: true,
    has_hint: false,
    group_button_type: "text",
    group_button_icon: "",
    group_button_text: "Save",
    group_button_text_hidden: false,
    group_button_tooltip: true,
    group_button_tooltip_text: "Save",
    group_button_tooltip_position: "top",
    group_button_tooltip_size: ""
  } do %>
    <%= sage_component SageFormInput, {
      id: "input-group-save-field",
      max: "100",
      input_type: "number",
      input_mode: "numeric",
      label_text: "Percentage",
      placeholder: "Percentage",
      required: false,
      disabled: true,
      has_error: false,
      message_text: "",
      has_placeholder: false
    } %>
  <% end %>

  <h3 class="t-sage-heading-6">Input group with password reveal toggle and helper</h3>

  <%= sage_component SageInputGroup, {
    group_id: "input-group-pw-example",
    has_button: true,
    has_hint: true,
    group_button_type: "password",
    group_button_display_on_focus: true,
    group_button_icon: "sage-btn--icon-left-preview-on",
    group_button_text: "Toggle password visibility",
    group_button_text_hidden: true,
    group_button_tooltip: true,
    group_button_tooltip_text: "Toggle password visibility",
    group_button_tooltip_position: "top",
    group_button_tooltip_size: "small"
    } do %>
    <%= sage_component SageFormInput, {
      id: "input-group-pw-example",
      input_type: "password",
      label_text: "Password",
      placeholder: "Password",
      required: true,
      disabled: false,
      has_error: false,
      message_text: "",
      has_placeholder: false
    } %>
  <% end %>
</fieldset>
