<tr>
  <td><%= md('`disabled`') %></td>
  <td><%= md('Add class `.sage-input-group--disabled` and disables the associated button. The input must be disabled on its own.') %></td>
  <td><%= md('Boolean') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`group_button_display_on_focus`') %></td>
  <td><%= md('If set to `true`, the button will be shown only when the input field has focus. When combined with a `group_button_type` using `password`, the button will shown if the password field has been toggled as visible.') %></td>
  <td><%= md('Boolean') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`group_button_icon`') %></td>
  <td><%= md('Accepts classname of icon using the button icon syntax, ex. `sage-btn--icon-left-gear`.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`group_button_text`') %></td>
  <td><%= md('Text label for the button. Recommended use for screen readers only (see `group_button_text_hidden` below). Ideal maximum length is 6-8 characters.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`group_button_text_hidden`') %></td>
  <td><%= md('(Recommended) Visually hides button text from view, displaying only to assistive technology users, such as screen reader devices.') %></td>
  <td><%= md('Boolean') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`group_button_tooltip`') %></td>
  <td><%= md('When set to `true`, this will display the available `group_button_tooltip_text`.') %></td>
  <td><%= md('Boolean') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`group_button_tooltip_text`') %></td>
  <td><%= md('Sets the text for the `tooltip`.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`group_button_type`') %></td>
  <td><%= md('This can be any allowed value from the list of types specified for the <a href="#element-form_input" rel="nofollow">input element</a>.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`group_id`') %></td>
  <td><%= md('Unique identifier for this component.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`has_button`') %></td>
  <td><%= md('When set to `true`, displays a button next to the text input.') %></td>
  <td><%= md('Boolean') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`has_hint`') %></td>
  <td><%= md('When set to `true`, the `SageInputHelper` is visible upon field interaction.') %></td>
  <td><%= md('Boolean') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`group_button_type`') %></td>
  <td><%= md('This can be any allowed value from the list of types specified for the <a href=\"#element-form_input\" rel=\"nofollow\">input element</a>.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`has_button`') %></td>
  <td><%= md('When set to `true`, displays a button next to the text input.') %></td>
  <td><%= md('Boolean') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`has_hint`') %></td>
  <td><%= md('When set to `true`, the `SageInputHelper` is visible upon field interaction.') %></td>
  <td><%= md('Boolean') %></td>
  <td><%= md('`nil`') %></td>
</tr>
