
<h3 class="t-sage-heading-6">Default with Data</h3>
<%= sage_component SageStatBox, {
  change: { 
    type: "positive", 
    value: "30%", 
  },
  data: "1,342",
  has_data: true,
  
  link: {
    href: "#",
    value: "View More",
  },
  timeframe: "in last 30 days",
  title: "Completed",
} %>

<h3 class="t-sage-heading-6">Default with Legend Dot - Sage Color</h3>
<%= sage_component SageStatBox, {
  change: { 
    type: "positive", 
    value: "30%", 
  },
  data: "1,342",
  has_data: true,
  legend_dot_color: "purple",
  link: {
    href: "#",
    value: "View More",
  },
  timeframe: "in last 30 days",
  title: "Completed",
} %>

<h3 class="t-sage-heading-6">Default with Legend Dot - Custom Color</h3>
<%= sage_component SageStatBox, {
  change: { 
    type: "positive", 
    value: "30%", 
  },
  data: "1,342",
  has_data: true,
  legend_dot_custom_color: "#4fc9c5",
  link: {
    href: "#",
    value: "View More",
  },
  timeframe: "in last 30 days",
  title: "Completed",
} %>

<h3 class="t-sage-heading-6">Default with Data - Raised</h3>
<%= sage_component SageStatBox, {
  change: { 
    type: "positive", 
    value: "30%", 
  },
  data: "1,342",
  has_data: true,
  link: {
    href: "#",
    value: "View More",
  },
  raised: true,
  timeframe: "in last 30 days",
  title: "Completed",
} %>

<h3 class="t-sage-heading-6">Simple with Image</h3>
<%= sage_component SageStatBox, {
  data: "No insights to show",
  has_data: false,
  image: {
    src: "card-placeholder-sm.png"
  },
  title: "Completed",
} %>

<h3 class="t-sage-heading-6">Null View</h3>
<%= sage_component SageStatBox, {
  data: "No insights to show",
  has_data: false,
  title: "Completed",
} %>