<tr>
  <td><%= md('`change`') %></td>
  <td><%= md('Optional. Sets the `type` and `value` properties for the label.') %></td>
  <td><%= md('```
  {
    type: "positive, negative, neutral",
    value: String
  }
  ```') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`custom_label`') %></td>
  <td><%= md('Optional. Custom label or content.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`data`') %></td>
  <td><%= md('Required. Numeric data displayed.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`has_data`') %></td>
  <td><%= md('Optional. Boolean that determines styling for `data`.') %></td>
  <td><%= md('Bool') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`link`') %></td>
  <td><%= md('Optional. Sets the `href` and `value` properties for a given link.') %></td>
  <td><%= md('```
  {
    href: String,
    value: String
  }
  ```') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`raised`') %></td>
  <td><%= md('Optional. Sets "raised panel" styling.') %></td>
  <td><%= md('Boolean') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`popover`') %></td>
  <td><%= md('Optional. Slot for popover or custom content.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`timeframe`') %></td>
  <td><%= md('Optional. Timeframe for data.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`title`') %></td>
  <td><%= md('Required. Text displayed as the title.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>