<tr>
  <td><%= md('`custom_label`') %></td>
  <td><%= md('Optional custom label or content.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`change`') %></td>
  <td><%= md('Sets the `type` and `value` properties for the label.') %></td>
  <td><%= md('```
  {
    type: "up, down, neutral",
    value: String
  }
  ```') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`data`') %></td>
  <td><%= md('Numeric data displayed.') %></td>
  <td><%= md('Integer') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`link`') %></td>
  <td><%= md('Sets the `href` and `value` properties for the link.') %></td>
  <td><%= md('```
  {
    href: String,
    value: String
  }
  ```') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`timeframe`') %></td>
  <td><%= md('Optional timeframe for data.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`title`') %></td>
  <td><%= md('Text displayed as the title.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`popover`') %></td>
  <td><%= md('Optional slot for popover or custom content.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>