<tr>
  <td><%= md('`active`') %></td>
  <td><%= md('Toggles `--active` modifier to visually indicate whether this tab is active/selected.') %></td>
  <td><%= md('Boolean') %></td>
  <td><%= md('`false`') %></td>
</tr>
<tr>
  <td><%= md('`text`') %></td>
  <td><%= md('Sets the content of the text.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`target`') %></td>
  <td><%= md('Provides the `id` for the corresponding Tab Pane that this tab will activate.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
