<%= sage_component SagePanelBlock, {} do %>
  <%= sage_component SageCardRow, { grid_template: "et", gap: "xs" } do %>
    <p class="<%= "#{SageClassnames::TYPE::HEADING_2} #{SageClassnames::TYPE_COLORS::CHARCOAL_500}" %>">
      <%= value %>
    </p>
    <%= sage_component(SageLabel, change) if change %>
  <% end %>
  <p class="<%= "#{SageClassnames::TYPE::BODY_XSMALL} #{SageClassnames::TYPE_COLORS::CHARCOAL_100}" %>">
    <%= subtext %>
  </p>
<% end %>
