<!-- Docs Only Label -->
<%= sage_component SageCardBlock, {} do %><%= sage_component SageLabel, {color: "draft",value: "Default Lists"} %><% end %>
<!-- Docs Only Label End -->

<%= sage_component SageLists, {
} do %>
  <ul>
    <li>Lorem ipsum</li>
    <li>Dolor sit amet
    <ul>
      <li>Lorem ipsum</li>
      <li>Dolor sit amet</li>
        <ul>
          <li>Lorem ipsum</li>
          <li>Dolor sit amet</li>
        </ul>
      </li>
      <li>Consectetur adipiscing elit</li>
    </ul>
    </li>
    <li>Consectetur adipiscing elit</li>
  </ul>
<% end %>
<%= sage_component SageLists, {
} do %>
  <ol>
    <li>Lorem ipsum</li>
    <li>Dolor sit amet
      <ol>
        <li>Lorem ipsum</li>
        <li>Dolor sit amet</li>
        <ol>
          <li>Lorem ipsum</li>
          <li>Dolor sit amet</li>
        </ol>
        </li>
        <li>Consectetur adipiscing elit</li>
      </ol>
    </li>
    <li>Consectetur adipiscing elit</li>
  </ol>
<% end %>

<!-- Docs Only Note -->
<%= sage_component SageAlert, {
  color: "info",
  title: "Note:",
  desc: "Lists in Sage get simple default styling.",
  icon_name: "sage-icon-info-circle",
} %>
<!-- Docs Only Note End -->

<!-- Docs Only Label -->
<%= sage_component SageCardBlock, {} do %><%= sage_component SageLabel, {color: "draft",value: "Unstyled List"} %><% end %>
<!-- Docs Only Label End -->

<%= sage_component SageLists, {
} do %>
  <ol class="sage-list">
    <li>
      <%= sage_component SageSwitch, {
        type: "radio",
        id: "switch-0a",
        name: "group-1",
        value: "option-1",
        label_text: "It matters a whole lot.",
        message: ""
      } %>
    </li>
    <li>
      <%= sage_component SageSwitch, {
        type: "radio",
        id: "switch-1a",
        name: "group-1",
        value: "option-2",
        label_text: "It matters somewhat.",
        message: ""
      } %>
    </li>
    <li>
      <%= sage_component SageSwitch, {
        type: "radio",
        id: "switch-2a",
        name: "group-1",
        value: "option-3",
        label_text: "It does not matter one bit at all.",
        message: ""
      } %>
    </li>
    <li>
      <%= sage_component SageSwitch, {
        type: "radio",
        id: "switch-3a",
        name: "group-1",
        value: "option-4",
        label_text: "Undecided.",
        message: ""
      } %>
    </li>
  </ol>
<% end %>

<!-- Docs Only Note -->
<%= sage_component SageAlert, {
  color: "info",
  title: "Note:",
  desc: "Add 'sage-list' to create an unstyled list such as for complex elements:",
  icon_name: "sage-icon-info-circle",
} %>
<!-- Docs Only Note End -->

<!-- Docs Only Label -->
<%= sage_component SageCardBlock, {} do %><%= sage_component SageLabel, {color: "draft",value: "Inline List"} %><% end %>
<!-- Docs Only Label End -->

<%= sage_component SageLists, {
} do %>
  <ul class="sage-list sage-list--inline">
    <li>
      <%= sage_component SageSwitch, {
        type: "radio",
        id: "switch-0b",
        name: "group-2",
        value: "option-1",
        label_text: "It matters a whole lot.",
        message: ""
      } %>
    </li>
    <li>
      <%= sage_component SageSwitch, {
        type: "radio",
        id: "switch-1b",
        name: "group-2",
        value: "option-2",
        label_text: "It matters somewhat.",
        message: ""
      } %>
    </li>
    <li>
      <%= sage_component SageSwitch, {
        type: "radio",
        id: "switch-2b",
        name: "group-2",
        value: "option-3",
        label_text: "It does not matter one bit at all.",
        message: ""
      } %>
    </li>
    <li>
      <%= sage_component SageSwitch, {
        type: "radio",
        id: "switch-3b",
        name: "group-2",
        value: "option-4",
        label_text: "Undecided.",
        message: ""
      } %>
    </li>
  </ul>
<% end %>

<!-- Docs Only Note -->
<%= sage_component SageAlert, {
  color: "info",
  title: "Note:",
  desc: "Inline lists will wrap by default so this works best with items that have an intrinsically limited smaller width that affords space for other elements to a point.",
  icon_name: "sage-icon-info-circle",
} %>
<!-- Docs Only Note End -->

<!-- Docs Only Label -->
<%= sage_component SageCardBlock, {} do %><%= sage_component SageLabel, {color: "draft",value: "Non-wrapping Inline List"} %><% end %>
<!-- Docs Only Label End -->

<%= sage_component SageLists, {
} do %>
  <ul class="sage-list sage-list--inline-fit">
    <li>
      <%= sage_component SageProperty, { icon: "tag", value: "Lorem ipsum" } %>
    </li>
    <li>
      <%= sage_component SageProperty, { icon: "tag", value: "Lorem ipsum" } %>
    </li>
    <li>
      <%= sage_component SageProperty, { icon: "tag", value: "Lorem ipsum" } %>
    </li>
    <li>
      <%= sage_component SageProperty, { icon: "tag", value: "Lorem ipsum" } %>
    </li>
  </ul>
<% end %>

<!-- Docs Only Note -->
<%= sage_component SageAlert, {
  color: "info",
  title: "Note:",
  desc: "Non-wrapping list will stay packed on one line until 768px at which point it will wrap. This may be most relevant for inline lists for which wrapping is undesirable but has clear limitations inside restricted containers.",
  icon_name: "sage-icon-info-circle",
} %>
<!-- Docs Only Note End -->
