<tr>
  <td><%= md("`Inline`") %></td>
  <td><%= md("Inline lists will wrap by default.") %></td>
  <td><%= md("Boolean") %></td>
  <td><%= md("false") %></td>
</tr>
<tr>
  <td><%= md("`Non-wrapping`") %></td>
  <td><%= md("Indicates whether or not to wrap the items in the list. Only relevant when <code>inline</code> is true and when viewport is larger than 768px.") %></td>
  <td><%= md("Boolean") %></td>
  <td><%= md("false") %></td>
</tr>
<tr>
  <td><%= md("`Compact`") %></td>
  <td><%= md("Indicates whether items are spaced out (false) or compacted together (true). Only relevant when `inline` is true.") %></td>
  <td><%= md("Boolean") %></td>
  <td><%= md("false") %></td>
</tr>
<tr>
  <td colspan="4">
    <%= md("Note that these three booleans are set up with stacked modifiers:") %>
    <ul>
      <li><%= md("Default -- `sage-list`") %></li>
      <li><%= md("Inline, wrapping, spaced -- `sage-list--inline`") %></li>
      <li><%= md("Inline, wrapping, compact -- `sage-list--inline-compact`") %></li>
      <li><%= md("Inline, non-wrapping, spaced -- `sage-list--inline-fit`") %></li>
      <li><%= md("Inline, non-wrapping, compact -- `sage-list--inline-fit-compact`") %></li>
    </ul>
  </td>
</tr>
