<tr>
  <td><%= md('`show_close`') %></td>
  <td><%= md('Toggles whether or not to show the default Close button including built-in dismiss functionality.') %></td>
  <td><%= md('Boolean') %></td>
  <td><%= md('`true`') %></td>
</tr>
<tr>
  <td><%= md('`title`') %></td>
  <td><%= md('Sets a title to use for the drawer.
  Note that the `drawer_header` slot can be used instead to provide custom content for the header area if desired.
  ') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td colspan="4">
    <strong>Events</strong>
  </td>
</tr>
<tr>
  <td colspan="4">
    <em>This component implements the `SageModal` behind the scenes so all events from `SageModal` are in play here too.</em>
  </td>
</tr>
<tr>
  <td colspan="2"><%= md('**Sections**') %></td>
  <td colspan="2"><%= md('**`Element`**') %></td>
</tr>
<tr>
  <td><%= md('`sage_drawer_header`') %></td>
  <td><%= md('Provide custom content for the header instead of a simple title.') %></td>
  <td><%= md('HTML') %></td>
</tr>
