<tr>
  <td><%= md("`name`") %></td>
  <td><%= md("The name of the icon to display.") %></td>
  <td><%= md("String") %></td>
  <td><%= md("null") %></td>
</tr>
<tr>
  <td><%= md("`value`") %></td>
  <td><%= md("The hidden text value of the conponent.") %></td>
  <td><%= md("String") %></td>
  <td><%= md("null") %></td>
</tr>
