<%
people_data = [
  {
    initials: 'AF',
    name: 'Albert Flores',
    email: 'albertflores@example.com',
    price: '$420.00 USD',
    amount: '1',
    labels: ["green", "house"],
    status: 'published'
  },
  {
    initials: 'EP',
    name: 'Eleanor Pena',
    email: 'e_pena@example.com',
    price: '$420.00 USD',
    amount: '1',
    labels: ["red"],
    status: 'draft'
  },
  {
    initials: 'LJ',
    name: 'Lily Jones',
    email: 'lilyjones@example.com',
    price: '$420.00 USD',
    amount: '1',
    labels: ["house"],
    status: 'warning'
  },
  {
    initials: 'KM',
    name: 'Kathryn Murphy',
    email: 'katmurphy@example.com',
    price: '$420.00 USD',
    amount: '1',
    labels: ["red", "house"],
    status: 'locked'
  },
  {
    initials: 'DR',
    name: 'Darelene Robertson',
    email: 'd_robertson@example.com',
    price: '$420.00 USD',
    amount: '1',
    labels: [],
    status: 'danger'
  },
  {
    initials: 'RE',
    name: 'Ralph Edwards',
    email: 'ralphedwards@example.com',
    price: '$420.00 USD',
    amount: '1',
    labels: [],
    status: 'draft'
  },
  {
    initials: 'JW',
    name: 'Jenny Wilson',
    email: 'jennywilson@example.com',
    price: '$420.00 USD',
    amount: '1',
    labels: [],
    status: 'published'
  }
]

sample_table = {
  headers: [
    "Title",
    "Products",
    "Price",
    "Qty sold",
    "Net revenue",
    "Status"
  ],
  rows: [
    {
      value_1: "Quam non nunc eu imperdiet",
      value_2: "2",
      value_3: "$328.00",
      value_4: "0",
      value_5: "0",
      value_6: sage_component(SageBadge, {
        color: "draft",
        value: "Draft",
      })
    },
    {
      value_1: "Cursus purus sed at quisque",
      value_2: "3",
      value_3: "$490.00",
      value_4: "453",
      value_5: "$275.43",
      value_6: sage_component(SageBadge, {
        color: "published",
        value: "Published",
      })
    },
    {
      value_1: "Sit quis a enim venenatis elit ac",
      value_2: "4",
      value_3: "$219.00",
      value_4: "536",
      value_5: "$739.65",
      value_6: sage_component(SageBadge, {
        color: "published",
        value: "Published",
      })
    }
  ]
}

table_dropdown_menu_items = [
  {
    attributes: { "href": "#" },
    icon: "pen",
    value: "Edit",
  },
  {
    attributes: {
      "href": "https://kajabi.com",
      "data-js-tooltip": "Tooltip",
      "data-js-tooltip-position": "right",
    },
    icon: "pen",
    modifiers: ["disabled"],
    value: "Disabled link w/ tooltip",
  },
  {
    attributes: { "href": "#" },
    icon: "add",
    style: "primary",
    value: "New",
  },
  {
    attributes: { "href": "#" },
    icon: "url",
    modifiers: ["border-before"],
    value: "Share Element",
  },
  {
    attributes: { "href": "#" },
    icon: "remove-circle",
    style: "danger",
    value: "Take A Dangerous Action",
  },
  {
    attributes: {
      "data-js-tooltip": "Tooltip",
      "data-js-tooltip-position": "right",
    },
    icon: "users",
    modifiers: ["disabled"],
    value: "Disabled w/ Tooltip",
  }
]
%>

<%= sage_component SageTable, {
  caption: %(
    Basic table
  ),
  has_menu_options: true,
  headers: [
    "Name",
    "Email",
    "Revenue",
    "Status"
  ],
  # responsive_stack: true,
  rows: [
    [
      %(
        #{link_to "Frank Dux", "#", class: "sage-table-cell__link"}
      ),
      "fd@email.com",
      "$275.43",
      %(
        #{sage_component(SageButton, {
          value: "Icon only",
          small: true,
          style: "secondary",
          subtle: true,
          icon: {
            style: "only",
            name: "dot-menu-horizontal"
          },
          small: true
        })})
    ],
    [
      %(
        #{link_to "Stinkmeaner", "#", class: "sage-table-cell__link"}
      ),
      "st@email.com",
      "$775.43",
      %(
        #{sage_component(SageButton, {
          value: "Icon only",
          small: true,
          style: "secondary",
          subtle: true,
          icon: {
            style: "only",
            name: "dot-menu-horizontal"
          },
          small: true
        })})
    ],
    [
      %(
        #{link_to "Huey Freeman", "#", class: "sage-table-cell__link"}
      ),
      "hf@email.com",
      "$1275.43",
      %(
        #{sage_component(SageButton, {
          value: "Icon only",
          small: true,
          style: "secondary",
          subtle: true,
          icon: {
            style: "only",
            name: "dot-menu-horizontal"
          },
          small: true
        })})
    ],
  ]
} %>

<h3 class="t-sage-heading-6">Responsive "stacked" table with checkbox selection</h3>
<%= sage_component SageTable, {
  caption: %(
    Set `responsive_stack` to enable the mobile "stacked" layout
  ),
  caption_side: "bottom",
  has_leading_input: true,
  has_menu_options: true,
  headers: [
    "",
    "Name",
    "Email",
    "Marketing Status",
    "Added date",
    "Last activity",
    ""
  ],
  responsive_stack: true,
  rows: [
    [
      %(
        #{sage_component(SageCheckbox, {
          id:"c331",
          label_text: "Select row",
          checked: false,
          disabled: false,
          has_error: false,
          partial_selection: true,
          standalone: true
        })}),
      %(
        #{link_to "Frank Dux", "#", class: "sage-table-cell__link"}
      ),
      "fd@email.com",
      %(
        #{sage_component(SageBadge, {
          color: "locked",
          value: "Subscribed",
        })}
      ),
      "August 21, 2019",
      "November 21, 2019",
      %(
        #{sage_component(SageButton, {
          value: "Icon only",
          small: true,
          style: "secondary",
          subtle: true,
          icon: {
            style: "only",
            name: "dot-menu-horizontal"
          },
          small: true
        })})
    ],
    [
      %(
        #{sage_component(SageCheckbox, {
          id:"c332",
          label_text: "Select row",
          checked: false,
          disabled: false,
          has_error: false,
          partial_selection: true,
          standalone: true
        })}),
      %(
        #{link_to "Stinkmeaner", "#", class: "sage-table-cell__link"}
      ),
      "st@email.com",
      %(
        #{sage_component(SageBadge, {
          color: "locked",
          value: "Subscribed",
        })}
      ),
      "December 18, 2019",
      "February 16, 2021",
      %(
        #{sage_component(SageButton, {
          value: "Icon only",
          small: true,
          style: "secondary",
          subtle: true,
          icon: {
            style: "only",
            name: "dot-menu-horizontal"
          },
          small: true
        })})
    ],
    [
      %(
        #{sage_component(SageCheckbox, {
          id:"c333",
          label_text: "Select row",
          checked: false,
          disabled: false,
          has_error: false,
          partial_selection: true,
          standalone: true
        })}),
      %(
        #{link_to "Huey Freeman", "#", class: "sage-table-cell__link"}
      ),
      "hf@email.com",
      %(
        #{sage_component(SageBadge, {
          color: "draft",
          value: "Not subscribed",
        })}
      ),
      "July 22, 2020",
      "September 16, 2020",
      %(
        #{sage_component(SageButton, {
          value: "Icon only",
          small: true,
          style: "secondary",
          subtle: true,
          icon: {
            style: "only",
            name: "dot-menu-horizontal"
          },
          small: true
        })})
    ],
  ],
} %>

<h3 class="t-sage-heading-6">Responsive table with borders</h3>
<%= sage_component SageTable, {
  has_borders: true,
  headers: sample_table[:headers],
  rows: sample_table[:rows],
  caption: "Responsive tables require the use of two parent containers",
  caption_side: "top",
} %>

<h3 class="t-sage-heading-6">Table with highlighted rows and block cells</h3>
<%= sage_component SageTable, {
  caption: %(
    Block cells can be used with anchor tags to link the entire cell, or <code>&lt;div&gt;</code> and <code>&lt;span&gt;</code> elements for content
  ),
  headers: [
    "Mattis",
    "Justo Inceptos"
  ],
  selectable: true,
  responsive: false,
  rows: [
    [
      %(
        <a href="#" class="sage-table-cell__block sage-table-cell__link">
          <div class="sage-table-cell__heading">
            <p class="sage-table-cell__title">First item</p>
            <span class="sage-table-cell__label sage-label sage-label--success">Accepted</span>

          </div>
          <div class="sage-table-cell__body">
            Maecenas sed diam eget risus varius blandit sit amet non
          </div>
        </a>
      ),
      %(<a href="#" class="sage-table-cell__link">Porta Ipsum</a>)
    ],
    [
      %(
        <a href="#" class="sage-table-cell__block sage-table-cell__link">
          <div class="sage-table-cell__heading">
            <p class="sage-table-cell__title">Second item</p>
            <span class="sage-table-cell__label sage-label sage-label--warning">On hold</span>
          </div>
          <div class="sage-table-cell__body">
            Pellentesque ornare sem lacinia quam venenatis vestibulum
          </div>
        </a>
      ),
      %(<a href="#" class="sage-table-cell__link">Dapibus Vulputate</a>)
    ]
  ]
} %>

<h3 class="t-sage-heading-6">Table with selectively truncated cells</h3>
<p>Individual cells should be assigned the <code>.sage-table-cell--truncate</code> class. Not suggested for use with long strings of <em>important</em> text: use the responsive (scrolling) table instead.</p>
<%= sage_component SageTable, {
  headers: [
    "Malesuada",
    "Amet Cras",
    "Consectetur",
  ],
  rows: [
    [
      %(<span class="sage-table-cell__label sage-label sage-label--danger">Warning</span>),
      "$20,323.30 USD",
      {
        value: "Sed posuere consectetur",
        html_attributes: {
          class: "sage-table-cell--truncate"
        }
      }
    ],
    [
      %(<span class="sage-table-cell__label sage-label sage-label--draft">Draft</span>),
      "$1,101,444.31 USD",
      {
        value: "Curabitur blandit tempus",
        html_attributes: {
          class: "sage-table-cell--truncate"
        }
      }
    ]
  ]
} %>

<h3 class="t-sage-heading-6">Hiding and showing cell content</h3>
<p>Individual cells can make use of the <a class="sage-link" href="<%= pages_patterns_path(:grid) %>">Sage Grid</a> classes for responsive display of content. Refer to the <a class="sage-link" href="<%= pages_patterns_path(:grid) %>#grid-responsive-show-hide">Grid documentation</a> for more details.</p>
<p>Remember to apply the same classes equally to <strong>all related vertical columns</strong>, or the structure of the table will be misaligned.</p>
<%= sage_component SageTable, {
  headers: [
    "Malesuada",
    "Amet Cras",
    { html_attributes: { class: "sage-col--sm-hide" }, value: %(Hidden &lt; <code>sm</code> breakpoint) },
    { html_attributes: { class: "sage-col--lg-hide" }, value: %(Hidden &lt; <code>lg</code> breakpoint) },
  ],
  selectable: true,
  rows: [
    [
      "Donec sed odio dui",
      %(<span class="sage-table-cell__label sage-label sage-label--draft">Draft</span>),
      { html_attributes: { class: "sage-col--sm-hide" }, value: "Lorem Tristique" },
      { html_attributes: { class: "sage-col--lg-hide" }, value: "Cras justo odio, dapibus ac facilisis" },
    ],
    [
      "Nulla non metus",
      %(<span class="sage-table-cell__label sage-label sage-label--success">Complete</span>),
      { html_attributes: { class: "sage-col--sm-hide" }, value: "Euismod Dapibus" },
      { html_attributes: { class: "sage-col--lg-hide" }, value: "Curabitur blandit tempus" },
    ]
  ]
} %>

<h3>Using `sage_table_for`</h3>
<%= md("
As an alternative to directly calling the SageTable component, a helper variation is available that allows for formatting table columns in a more compositional fashion.

This involves calling `sage_table_for` with a collection, and then using `t.column ... do |c|` blocks to provide templates for each column of data. See the \"Properties\" tab for documentation of the available parameters.

**NOTE:** This is an MVP implementation based on a helper written earlier for `kajabi-products` and may not be fully aligned with SageTable. It is safe to use, but should be tracked against future updates.
") %>

<%= sage_table_for people_data,
    selectable: true,
    sortable: true,
    responsive: true,
    responsive_stack: true,
    caption: "Caption positioned above using `caption_side`".html_safe, caption_side: "top" do |t| %>
  <% t.column :initials, label: "", data_type: "checkbox" do |c| %>
    <%= sage_component SageCheckbox, {
      label_text: 'Select row',
      standalone: true,
      id: "table-row-#{c[:initials]}",
      attributes: {
        # NOTE: Wire up selection logic as needed using `onchange` event handlers
        # onchange: "console.log('toggled #{c[:name]}');"
      }
    } %>
  <% end %>

  <% t.column :initials, label: "", data_type: "avatar" do |c| %>
    <%= sage_component SageAvatar, {
      initials: c[:initials],
      color: SageTokens::COLORS[rand(7)],
    } %>
  <% end %>

  <% t.column :name, label: "Name", strong: true, truncate: true do |c| %>
    <span data-js-tooltip="<%= c[:name] %>">
      <%= c[:name] %>
    </span>
  <% end %>

  <% t.column :email, label: "Email", truncate: true do |c| %>
    <span data-js-tooltip="<%= c[:email] %>">
      <%= c[:email] %>
    </span>
  <% end %>

  <% t.column :price, label: "Price", hide: { md: true } do |c| %>
    <%= c[:price] %>
  <% end %>

  <% t.column :amount, label: "Amount", hide: { md: true } do |c| %>
    <%= c[:amount] %>
  <% end %>

  <% t.column :labels, label: "Labels", hide: { sm: true } do |c| %>
    <% c[:labels].each do |label| %>
      <%= sage_component SageBadge, {
        value: label,
        color: "info",
      } %>
    <% end %>
  <% end %>

  <% t.column :status, label: "Status", hide: { sm: true } do |c| %>
    <%= sage_component SageBadge, {
      value: c[:status].titlecase,
      color: c[:status],
      } %>
  <% end %>

  <% t.column :actions, label: "Actions" do |c| %>
    <%= sage_component SageButtonGroup, { gap: :xs } do %>
      <%= sage_component SageButton, {
        subtle: true,
        value: 'Edit',
        icon: { name: 'pen', style: 'only' },
        style: 'primary',
        attributes: {
          href: "?edit=#edit",
          "data-js-tooltip": "Edit",
        }
      } %>
      <%= sage_component SageButton, {
        subtle: true,
        value: 'Delete',
        icon: { name: 'trash', style: 'only' },
        style: 'danger',
        attributes: {
          href: "?remove=#delete",
          "data-js-tooltip": "Delete",
        }
      } %>
    <% end %>
  <% end %>
<% end %>
