<tr>
  <td><%= md('Block cells') %></td>
  <td><%= md('`.sage-table-cell__block` creates vertical block layouts within table cells. These layouts can include `.sage-table-cell__heading` and `.sage-table-cell__body` content areas.') %></td>
  <td><%= md('String:') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`caption`') %></td>
  <td><%= md('Sets the caption for the component.') %></td>
  <td><%= md('Boolean') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`condensed`') %></td>
  <td><%= md('`.sage-table--condensed` decreased vertical padding between items in the component.') %></td>
  <td><%= md('Boolean') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`headers`') %></td>
  <td><%= md('An array of strings that will serves as the headers for the table.') %></td>
  <td><%= md('Array') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`reset-above`') %></td>
  <td><%= md('`.sage-table--reset-above` resets the top margin of the component.') %></td>
  <td><%= md('Boolean') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`reset-below`') %></td>
  <td><%= md('`.sage-table--reset-below` resets the bottom margin of the component.') %></td>
  <td><%= md('Boolean') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`responsive`') %></td>
  <td><%= md('Allows the table to scroll horizontally without breaking its parent container. Requires the use of two containing elements: the parent with class `.sage-table-wrapper`, and a child with class `.sage-table-wrapper__overflow`.') %></td>
  <td><%= md('Boolean') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`rows`') %></td>
  <td><%= md('Array of items to populate the table. These items are key/value pairs.') %></td>
  <td><%= md('Array') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`selectable`') %></td>
  <td><%= md('`.sage-table--selectable` adds a background color when a user hovers over rows.') %></td>
  <td><%= md('String:') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`striped`') %></td>
  <td><%= md('`.sage-table--striped` adds a background color to odd-numbered rows.') %></td>
  <td><%= md('Boolean') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('Truncated cells') %></td>
  <td><%= md('`.sage-table-cell--truncate` on individual cells truncates their content at smaller viewport sizes, displaying ellipses (&hellip;) in place of overflowing content. Take care not to use this with important pieces of information that should be displayed to users at all times.') %></td>
  <td><%= md('String:') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td colspan="4">
    <%= md('**Alternate:** `sage_table_for`') %>
  </td>
</tr>
<tr>
  <td><%= md('`collection`') %></td>
  <td><%= md('A collection from which the table data will be formatted.') %></td>
  <td><%= md('Array of Objects') %></td>
  <td><%= md('Required') %></td>
</tr>
<tr>
  <td><%= md('`options`') %></td>
  <td><%= md('
  A set of options that match the following options from SageTable above:

  - `reset_above`
  - `reset_below`
  - `responsive`
  - `sortable`
  - `striped`  
') %></td>
  <td><%= md('See properties above') %></td>
  <td><%= md('Varies') %></td>
</tr>
<tr>
  <td colspan="4">
    <%= md('**Alternate column formatter:** `t.column`') %>
  </td>
</tr>
<tr>
  <td><%= md('`attribute`') %></td>
  <td><%= md('
  An alias/identifier for the column/attribute. While this does not have to align to a property from the collection itself,
  if `sortable` is on, those that do align with collection property will result in a sortable link being rendered.
') %></td>
  <td><%= md('Symbol') %></td>
  <td><%= md('Required') %></td>
</tr>
<tr>
  <td><%= md('`options`') %></td>
  <td><%= md('
  A set of options for the columns including:

  - `label <string>` -- Content for the header of the column.
  - `style <hash>` -- style attributes to render on cells.
  - `class_name <string>` -- CSS class name to render on body cells (not on header cell).
  - `data_type <"checkbox" | "avatar">` -- A data type from among the existing presets that will result in a sage cell format class applied to apply some default styling for that data type.
  - `truncate <boolean>` -- Whether or not to truncate the cell if its content does not fit (rather than wrap).
  - `align <"right" | nil>` -- Alignment direction for cells (body and header)
  - `header_class <string>` -- CSS class name to render on header cells.
') %></td>
  <td><%= md('Hash') %></td>
  <td><%= md('`nil`') %></td>
</tr>
