<tr>
  <td><%= md("`menu_button`") %></td>
  <td><%= md("Enables menu button to be displayed. (below medium breakpoint)") %></td>
  <td><%= md("`Boolean`") %></td>
  <td><%= md("null") %></td>
</tr>
<tr>
  <td><%= md("`data-js-target-type`") %></td>
  <td><%= md("Must be set to \"sidebar\" to enable sidebar toggle functionality for the menu button.") %></td>
  <td><%= md("`String`") %></td>
  <td><%= md("empty") %></td>
</tr>
<tr>
  <td><%= md("`data-js-btn-target`") %></td>
  <td><%= md("Specifies ID of sidebar for menu button to toggle. Note that any use of \"example\" in the name will disable this button.") %></td>
  <td><%= md("`String`") %></td>
  <td><%= md("empty") %></td>
</tr>
