<tr>
  <td><%= md("`logo`") %></td>
  <td><%= md("Provides settings for the logo to appear in the assistant.") %></td>
  <td><%= md('```
{
  path: String,
  method: nil | "pack"
}
```') %></td>
  <td><%= md("`nil`") %></td>
</tr>
<tr>
  <td><%= md("`menu_button`") %></td>
  <td><%= md("Enables menu button to be displayed. (below medium breakpoint)") %></td>
  <td><%= md("`Boolean`") %></td>
  <td><%= md("null") %></td>
</tr>
