
<tr>
  <td><%= md('`color`') %></td>
  <td><%= md('Provide a color from within the Sage color system.') %></td>
  <td><%= md('One of the system colors: `primary`, `grey`, `charcoal`, etc.') %></td>
  <td><%= md('`primary`') %></td>
</tr>
<tr>
  <td><%= md('`custom_color`') %></td>
  <td><%= md('Provide a custom css color value (hex, rgb, rgba, etc.) for the highlight instead of a system color.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`position`') %></td>
  <td><%= md('The highlight can be applied to any of the four sides of the card.') %></td>
  <td><%= md('One of the following: `top`, `right`, `bottom`, or `left`.') %></td>
  <td><%= md('`left`') %></td>
</tr>
<tr>
  <td><%= md('`value`') %></td>
  <td><%= md('Sets the value to be used for `aria-label` if provided. Otherwise `aria-hidden` is set to `true`.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
