<tr>
  <td><%= md('`label`') %></td>
  <td><%= md('Provide an accessible label for the dot. Without this set, the element will instead be set to `aria-hidden="true".') %></td>
  <td><%= md('`String`') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`color`') %></td>
  <td><%= md('Provide either a Sage color name or a custom Hex color value. Use `SageTokens::COLOR_PALETTE` for hex values from the full Sage color palette.') %></td>
  <td><%= md("Hex color string or `#{SageTokens::COLORS.inspect()}`") %></td>
  <td><%= md('`"sage"`') %></td>
</tr>
