<tr>
  <td><%= md('`color`') %></td>
  <td><%= md('
    Sets the color for the label.
  ') %></td>
  <td><%= md('`"danger"`, `"draft"`, `"info"`, `"locked"`, `"published"`, `"success"`, or `"warning"`') %></td>
  <td><%= md('Required') %></td>
</tr>
<tr>
  <td><%= md('`container_attributes`') %></td>
  <td><%= md('Additional attributes to provide bindings or actions to the label container.') %></td>
  <td><%= md('Hash') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`custom_icon_color`') %></td>
  <td><%= md('
    Sets a custom color for the icon.
  ') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`icon`') %></td>
  <td><%= md('
    Specifies an icon to display with the value.
    Note that if the `interactive_type` is set to `:dropdown`
    then a small down caret icon is automatically displayed
    to the right of the value in addition to any icon provided here.
  ') %></td>
  <td><%= md('See Icon options') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`interactive_type`') %></td>
  <td><%= md('Modifies the appearance of the label from the default to add an inner `<button>`.') %></td>
  <td><%= md('`:dropdown`,  `:default` or `secondary_button`') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`secondary_button`') %></td>
  <td><%= md('
    Specifies the form of an optional secondary button.
    If a string is passed it is treated as HTML content.
    If `true` is passed then a `LabelSecondaryButton` is rendered with default configurations.
    If a hash is passed it is treated as configurations for the prepackaged `LabelSecondaryButton` (see below).
  ') %></td>
  <td><%= md('String, `true`, or has with configurations for `LabelSecondaryButton` (see below)') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`style`') %></td>
  <td><%= md('Modifies the appearance of the label from the default to a more subtle style or a bolder style.') %></td>
  <td><%= md('`"subtle"` or `"bold"`') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`value`') %></td>
  <td><%= md('The text to use as the label\'s content') %></td>
  <td><%= md('String') %></td>
  <td><%= md('Required') %></td>
</tr>
<tr>
  <td colspan="4"><strong>LabelSecondaryButton</strong></td>
</tr>
<tr>
  <td><%= md('`attributes`') %></td>
  <td><%= md('Additional attributes such as to provide `data-` bindings or actions to the button.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`"Remove"`') %></td>
</tr>
<tr>
  <td><%= md('`icon`') %></td>
  <td><%= md('
    Incidates which icon to use for the button.
    Default value is based on the common use of a "remove" button with Label values.
  ') %></td>
  <td><%= md('See Icon options') %></td>
  <td><%= md('`"remove"`') %></td>
</tr>
<tr>
  <td><%= md('`value`') %></td>
  <td><%= md('
    Incidates which accessible label to use for this button.
    Note that this will render as an `icon-only` button,
    so this label should accurately reflect the purpose of this button for accessibility.
    Default value is based on the common use of a "remove" button with Label values.
  ') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`"Remove"`') %></td>
</tr>

<tr>
  <td colspan="4"><%= md('**Label Group**') %></td>
</tr>
<tr>
  <td><%= md('`align`') %></td>
  <td><%= md('Adjusts the alignment of the labels within.') %></td>
  <td><%= md('[`"center"` | `"end"` | `"space-between"`]') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`gap`') %></td>
  <td><%= md('Adjusts the size of the gap between labels. `xs` is the default gap size.') %></td>
  <td><%= md('[`:sm` | `:md` | `:lg`]') %></td>
  <td><%= md('`nil`') %></td>
</tr>