<tr>
  <td><%= md('`semibold`') %></td>
  <td><%= md('Whether or not the whole block should be set at the Semibold weight, since a number of implementations use this.') %></td>
  <td><%= md('Boolean') %></td>
  <td><%= md('`false`') %></td>
</tr>
<tr>
  <td><%= md('`value`') %></td>
  <td><%= md('Sets the text for the component.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
