<h3>Single item</h3>
<%= sage_component SageDescription, {
  items: [
    {
      title: "Name",
      data: "John Doe",
    }
  ]
} %>

<h3>Multiple items</h3>
<%= sage_component SageDescription, {
  items: [
    {
      title: "Name",
      data: "John Doe",
    },
    {
      title: "Very Long Title",
      data: "John Doe",
    },
    {
      title: "Name",
      data: "John Doe",
    },
    {
      title: "Name",
      data: "John Doe",
    }
  ],
} %>

<h3>Mulitple Items - Inline</h3>
<%= sage_component SageDescription, {
  items: [
    {
      title: "Name",
      data: "John Doe",
    },
    {
      title: "Name",
      data: "John Doe",
    },
    {
      title: "Name",
      data: "John Doe",
    },
    {
      title: "Name",
      data: "#{image_tag("card-placeholder-sm.png", height: 16, width: 24)} John Doe".html_safe,
    }
  ],
} %>

<h3>Mulitple Items - Stacked</h3>
<%= sage_component SageDescription, {
  layout: "stacked",
  items: [
    {
      title: "Name",
      data: "John Doe",
    },
    {
      title: "Name",
      data: "John Doe",
    },
    {
      title: "Name",
      data: "John Doe",
    },
    {
      title: "Name",
      data: "#{image_tag("card-placeholder-sm.png", height: 16, width: 24)} John Doe".html_safe,
    }
  ],
} %>

<h3>Action Button</h3>
<%= sage_component SageDescription, {
  primary_action: {
    value: "Button",
  },
  items: [
    {
      title: "Name",
      data: "John Doe",
    }
  ]
} %>

<h3>Action Button - Icon Only</h3>
<%= sage_component SageDescription, {
  title_width: "100px",
  primary_action: {
    value: "Button",
    icon_only: true,
  },
  items: [
    {
      title: "Name",
      data: "John Doe",
    }
  ]
} %>