<h3>Single item</h3>
<%= sage_component SageDescription, {
  items: [
    {
      title: "Name",
      data: "John Doe",
    }
  ]
} %>

<h3>Multiple items</h3>
<%= sage_component SageDescription, {
  items: [
    {
      title: "Name",
      data: "John Doe",
    },
    {
      title: "Very Long Title",
      data: "John Doe",
    },
    {
      title: "Name",
      data: "John Doe",
    },
    {
      title: "Name",
      data: "John Doe",
    }
  ],
} %>

<h3>Mulitple Items - Stacked</h3>
<%= sage_component SageDescription, {
  primary_action: {
    value: "Button",
  },
  layout: "stacked",
  items: [
    {
      title: "Name",
      data: "John Doe",
      primary_action: {
        value: "Button"
      }
    },
    {
      title: "Name",
      data: "John Doe",
      primary_action: {
        value: "Button",
        icon_only: true
      }
    },
    {
      title: "Name",
      data: "John Doe",
    },
    {
      title: "Name",
      data: "John Doe",
    }
  ],
} %>

<h3>Multiple Items - Custom Title and Action Widths</h3>
<%= sage_component SageDescription, {
  action_width: "128px",
  title_width: "128px",
  items: [
    {
      title: "Very Long Title",
      data: "John Doe",
      primary_action: {
        value: "Button",
      }
    },
    {
      title: "Name",
      data: "John Doe",
    },
    {
      title: "Name",
      data: "John Doe",
    },
    {
      title: "Name",
      data: "John Doe",
    }
  ]
} %>

<h3>Action Button</h3>
<%= sage_component SageDescription, {
  primary_action: {
    value: "Button",
  },
  items: [
    {
      title: "Name",
      data: "John Doe",
      primary_action: {
        value: "Button"
      }
    }
  ]
} %>

<h3>Action Button - Icon Only</h3>
<%= sage_component SageDescription, {
  items: [
    {
      title: "Name",
      data: "John Doe",
      primary_action: {
        value: "Button",
        icon_only: true
      }
    },
    {
      title: "Name",
      data: "John Doe",
      primary_action: {
        value: "Button",
        icon_only: true
      }
    },
    {
      title: "Name",
      data: "John Doe",
    },
    {
      title: "Name",
      data: "John Doe",
    }
  ]
} %>