<tr>
  <td><%= md('`action_width`') %></td>
  <td><%= md('Provide a custom width for the `action` column when at least one item has an action configured.') %></td>
  <td><%= md('`String`') %></td>
  <td><%= md('`16px` via CSS') %></td>
</tr>
<tr>
  <td><%= md('`id`') %></td>
  <td><%= md('A unique `id` attribute to be applied to the root `dl` element for this description or description set.') %></td>
  <td><%= md('`String`') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`items`') %></td>
  <td><%= md('
    An array of items to create a set of `title`: `description` pairs with an optional action button.
   ') %></td>
  <td><%= md('```
Array<{
  data: String,
  title: String,
  action: Hash
}>
```') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`layout`') %></td>
  <td><%= md('Determines the layout of items.') %></td>
  <td><%= md('[`"inline"` | `"stacked"`]') %></td>
  <td><%= md('`inline`') %></td>
</tr>
<tr>
  <td><%= md('`title_width`') %></td>
  <td><%= md('Provide a custom width for the `title` column.') %></td>
  <td><%= md('`String`') %></td>
  <td><%= md('`50%` minus the icon width via CSS') %></td>
</tr>
<tr>
  <td colspan="4"><%= md('**Action**') %></td>
</tr>
<tr>
  <td><%= md('`attributes`') %></td>
  <td><%= md('Button attributes that can be applied as a hash.') %></td>
  <td><%= md('`Hash`') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`icon_only`') %></td>
  <td><%= md('Sets whether or not the action should show only the icon or also the `value`.
  This is `true` by default but is automatically changed to `false` if a `value` is provided.
  It can still be independently set to either show the default `value`
  or to hide a custom `value` that is provided only for accessibility purposes.') %></td>
  <td><%= md('`Boolean`') %></td>
  <td><%= md('`true`') %></td>
</tr>
<tr>
  <td><%= md('`value`') %></td>
  <td><%= md('The optional value of the action button text.
  By default a value of `View more` is set behind the scenes for accessibility of the action but visually hidden unless `icon_only` is set to `false`.') %></td>
  <td><%= md('`String`') %></td>
  <td><%= md('`"View more"`') %></td>
</tr>
