<tr>
  <td><%= md('`id`') %></td>
  <td><%= md('A unique `id` attribute to be applied to the root `dl` element for this description or description set.') %></td>
  <td><%= md('`String`') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`inline_spread`') %></td>
  <td><%= md('If `true` the title/data pairs will render in line with each other and spread apart, with the `title` left-aligned and the `data` right-aligned.') %></td>
  <td><%= md('`Boolean`') %></td>
  <td><%= md('`false`') %></td>
</tr>
<tr>
  <td><%= md('`items`') %></td>
  <td><%= md('
    An array of items to create a set of `title`: `description` pairs.
  ') %></td>
  <td><%= md('```
Array<{
  data: String,
  title: String,
  link: String
}>
```
(see corresponding properties above)') %></td>
  <td><%= md('`nil`') %></td>
</tr>