<tr>
  <td><%= md('`id`') %></td>
  <td><%= md('A unique `id` attribute to be applied to the root `dl` element for this description or description set.') %></td>
  <td><%= md('`String`') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`items`') %></td>
  <td><%= md('
    An array of items to create a set of `title`: `description` pairs.
   ') %></td>
  <td><%= md('```
Array<{
  data: String,
  title: String,
  action: Hash
}>
```') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`layout`') %></td>
  <td><%= md('Determines the layout of items.') %></td>
  <td><%= md('[`"inline"` | `"stacked"`]') %></td>
  <td><%= md('`inline`') %></td>
</tr>
