<%
long_description = "Description with longer text to cause wrapping and make the top alignment appear more necessary."
%>
<!-- Docs Only Label -->
<%= sage_component SageCardBlock, {} do %><%= sage_component SageLabel, {color: "draft",value: "Single Line (radio type)"} %><% end %>
<!-- Docs Only Label End -->

<%= sage_component SageChoice, {
    target: "example",
    text: "Option 1",
    type: "radio",
    active: true
  }
%>

<!-- Docs Only Label -->
<%= sage_component SageCardBlock, {} do %><%= sage_component SageLabel, {color: "draft",value: "With Radio"} %><% end %>
<!-- Docs Only Label End -->

<%= sage_component SageChoice, {
    target: "example",
    text: "Option 1a",
    type: "radio",
    active: false,
    radio_configs: {
      id: 'cr-1a',
      name: 'cr-1',
      value: 'option-a',
    }
  }
%>

<!-- Docs Only Label -->
<%= sage_component SageCardBlock, {} do %><%= sage_component SageLabel, {color: "draft",value: "Multi-Line  (radio type)"} %><% end %>
<!-- Docs Only Label End -->

<%= sage_component SageChoice, {
    target: "example",
    text: "Option 1",
    subtext: "Description of Option 1",
    type: "radio",
  }
%>

<!-- Docs Only Label -->
<%= sage_component SageCardBlock, {} do %><%= sage_component SageLabel, {color: "draft",value: "Arrow Variation"} %><% end %>
<!-- Docs Only Label End -->

<%= sage_component SageChoice, {
    attributes: {
      href: "//example.com"
    },
    text: "Option 1",
    type: "arrow",
  }
%>

<!-- Docs Only Label -->
<%= sage_component SageCardBlock, {} do %><%= sage_component SageLabel, {color: "draft",value: "Icon Variation"} %><% end %>
<!-- Docs Only Label End -->

<%= sage_component SageChoice, {
    target: "example",
    text: "Option 1",
    type: "icon",
    icon: "video-on"
  }
%>

<!-- Docs Only Label -->
<%= sage_component SageCardBlock, {} do %><%= sage_component SageLabel, {color: "draft",value: "Graphic Variation (with link text)"} %><% end %>
<!-- Docs Only Label End -->

<%= sage_component SageChoice, {
    target: "example",
    text: "Calendly",
    type: "graphic",
    graphic: image_tag("card-placeholder-sm.png", alt: ""),
    link_text: "Sign in",
    attributes: {
      href: "http://example.com",
    },
  }
%>

<!-- Docs Only Label -->
<%= sage_component SageCardBlock, {} do %><%= sage_component SageLabel, {color: "draft",value: "Rich text/Customized"} %><% end %>
<!-- Docs Only Label End -->

<%= sage_component SageChoice, {
  target: "example",
  attributes: {
    href: "http://example.com",
  },
} do %>
  <%= sage_component SageAvatar, { initials: 'PS' } %>
  <%= sage_component SageCardBlock, {} do %>
    <h4>Custom heading</h4>
    <p>Custom content here...</p>
  <% end %>
<% end %>

<!-- Docs Only Note -->
<%= sage_component SageAlert, {
  color: "info",
  title: "Note:",
  desc: "Choice cards can also be opened up for custom content to be composed within.",
  icon_name: "sage-icon-info-circle",
} %>
<!-- Docs Only Note End -->

<!-- Docs Only Label -->
<%= sage_component SageCardBlock, {} do %><%= sage_component SageLabel, {color: "draft",value: "Icon alignment"} %><% end %>
<!-- Docs Only Label End -->

<%= sage_component SageChoice, {
    target: "example",
    text: "Option 1",
    subtext: long_description,
    type: "radio",
    vertical_align_icon: "start",
  }
%>
<%= sage_component SageChoice, {
    target: "example",
    text: "Option 1",
    subtext: long_description,
    type: "icon",
    icon: "video-on",
    vertical_align_icon: "start",
  }
%>

<!-- Docs Only Note -->
<%= sage_component SageAlert, {
  color: "info",
  title: "Note:",
  desc: "While by default all icon types will align in the center of the choice card, they can be adjusted to align at the 'start' or top of the card.",
  icon_name: "sage-icon-info-circle",
} %>
<!-- Docs Only Note End -->
