<h5>Standard cards</h5>
<div class="sage-row">
  <div class="sage-col--md-6">
    <%= render "examples/objects/card/markup",
      title: "Card w/ Image",
      text: "Diam in auctor sit quam laoreet imperdiet aliquam. Habitant nunc lacus semper lacus, nec a, sit enim.",
      action_text: "Action Button",
      action_style: "primary",
      has_img: true,
      img_path: "docs/card/card-placeholder-lg.png",
      img_alt: "Alternative text for image"
    %>
  </div>
  <div class="sage-col--md-6">
    <%= render "examples/objects/card/markup",
      title: "Card w/ Image",
      text: "Diam in auctor sit quam laoreet imperdiet aliquam. Habitant nunc lacus semper lacus, nec a, sit enim.",
      action_text: "Action Button",
      action_style: "tertiary",
      icon_style: "right-caret-right",
      has_img: true,
      img_path: "docs/card/card-placeholder-lg.png",
      img_alt: "Alternative text for image"
    %>
  </div>
</div>

<h5>Compact cards</h5>
<div class="sage-row">
  <div class="sage-col--md-12">
    <%= render "examples/objects/card/markup",
      is_compact: true,
      title: "Compact Card w/ Image",
      text: "Diam in auctor sit quam laoreet imperdiet aliquam. Habitant nunc lacus semper lacus, nec a, sit enim.",
      action_text: "Action Button",
      action_style: "primary",
      has_img: true,
      img_path: "docs/card/card-placeholder-sm.png",
      img_alt: "Alternative text for image"
    %>
    <%= render "examples/objects/card/markup",
      is_compact: true,
      title: "Compact Card w/ Image",
      text: "Diam in auctor sit quam laoreet imperdiet aliquam. Habitant nunc lacus semper lacus, nec a, sit enim.",
      action_text: "Action Button",
      action_style: "tertiary",
      icon_style: "right-caret-right",
       has_img: true,
      img_path: "docs/card/card-placeholder-sm.png",
      img_alt: "Alternative text for image"
    %>
  </div>
</div>

<h5>Spaced cards</h5>
<div class="sage-row">
  <div class="sage-col--md-6">
    <%= render "examples/objects/card/markup",
      is_spaced: true,
      title: "Spaced Card w/ Image",
      text: "Diam in auctor sit quam laoreet imperdiet aliquam. Habitant nunc lacus semper lacus, nec a, sit enim.",
      action_text: "Action Button",
      action_style: "primary",
      has_img: true,
      img_path: "docs/card/card-placeholder-lg.png",
      img_alt: "Alternative text for image"
    %>
  </div>
  <div class="sage-col--md-6">
    <%= render "examples/objects/card/markup",
      is_spaced: true,
      title: "Spaced Card w/ Image",
      text: "Diam in auctor sit quam laoreet imperdiet aliquam. Habitant nunc lacus semper lacus, nec a, sit enim.",
      action_text: "Action Button",
      action_style: "tertiary",
      icon_style: "right-caret-right",
       has_img: true,
      img_path: "docs/card/card-placeholder-lg.png",
      img_alt: "Alternative text for image"
    %>
  </div>
</div>

<h5>Spaced Compact cards</h5>
<div class="sage-row">
  <div class="sage-col--md-12">
    <%= render "examples/objects/card/markup",
      is_compact: true,
      is_spaced: true,
      title: "Spaced & Compact w/ Image",
      text: "Diam in auctor sit quam laoreet imperdiet aliquam. Habitant nunc lacus semper lacus, nec a, sit enim.",
      action_text: "Action Button",
      action_style: "primary",
      has_img: true,
      img_path: "docs/card/card-placeholder-sm.png",
      img_alt: "Alternative text for image"
    %>
    <%= render "examples/objects/card/markup",
      is_compact: true,
      is_spaced: true,
      title: "Spaced & Compact w/ Image",
      text: "Diam in auctor sit quam laoreet imperdiet aliquam. Habitant nunc lacus semper lacus, nec a, sit enim.",
      action_text: "Action Button",
      action_style: "tertiary",
      icon_style: "right-caret-right",
      has_img: true,
      img_path: "docs/card/card-placeholder-sm.png",
      img_alt: "Alternative text for image"
    %>
  </div>
</div>

<h5>Cards with no Image</h5>
<div class="sage-row">
  <div class="sage-col--md-6">
    <%= render "examples/objects/card/markup",
      title: "Card w/ No Image",
      text: "Diam in auctor sit quam laoreet imperdiet aliquam. Habitant nunc lacus semper lacus, nec a, sit enim.",
      action_text: "Action Button",
      action_style: "primary"
    %>
  </div>
  <div class="sage-col--md-6">
    <%= render "examples/objects/card/markup",
      title: "Card w/ No Image",
      text: "Diam in auctor sit quam laoreet imperdiet aliquam. Habitant nunc lacus semper lacus, nec a, sit enim.",
      action_text: "Action Button",
      action_style: "tertiary",
      icon_style: "right-caret-right"
    %>
  </div>
</div>
