<tr>
  <td><%= md('`clear_bottom_padding`') %></td>
  <td>Erases padding on bottom of the Card for tighter alignment of child items.</td>
  <td>Boolean</td>
  <td><%= md('`false`') %></td>
</tr>
<tr>
  <td><%= md('`clear_top_padding`') %></td>
  <td>Erases padding on top of the Card for tighter alignment of child items.</td>
  <td>Boolean</td>
  <td><%= md('`false`') %></code></td>
</tr>
<tr>
  <td><%= md('`border_dashed`') %></td>
  <td>Uses our Sage dashed border styles</td>
  <td>Boolean</td>
  <td><%= md('`false`') %></td>
</tr>
<tr>
  <td colspan="4"><strong>Card List</strong></td>
</tr>
<tr>
  <td><%= md('`block_spacing`') %></td>
  <td>Adjusts the default spacing settings on top and bottom of items inside the list</td>
  <td><%= md('Optionally: `"sm"`') %></td>
  <td><%= md('--') %></td>
</tr>
