<tr>
  <td><%= md('Block cells') %></td>
  <td><%= md('`.sage-table-cell__block` creates vertical block layouts within table cells. These layouts can include `.sage-table-cell__heading` and `.sage-table-cell__body` content areas.') %></td>
  <td><%= md('String:') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`caption`') %></td>
  <td><%= md('Sets the caption for the component.') %></td>
  <td><%= md('Boolean') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`condensed`') %></td>
  <td><%= md('`.sage-table--condensed` decreased vertical padding between items in the component.') %></td>
  <td><%= md('Boolean') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`headers`') %></td>
  <td><%= md('An array of strings that will serves as the headers for the table.') %></td>
  <td><%= md('Array') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`reset-above`') %></td>
  <td><%= md('`.sage-table--reset-above` resets the top margin of the component.') %></td>
  <td><%= md('Boolean') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`reset-below`') %></td>
  <td><%= md('`.sage-table--reset-below` resets the bottom margin of the component.') %></td>
  <td><%= md('Boolean') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`responsive`') %></td>
  <td><%= md('Allows the table to scroll horizontally without breaking its parent container. Requires the use of two containing elements: the parent with class `.sage-table-wrapper`, and a child with class `.sage-table-wrapper__overflow`.') %></td>
  <td><%= md('Boolean') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`rows`') %></td>
  <td><%= md('Array of items to populate the table. These items are key/value pairs.') %></td>
  <td><%= md('Array') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`selectable`') %></td>
  <td><%= md('`.sage-table--selectable` adds a background color when a user hovers over rows.') %></td>
  <td><%= md('String:') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`striped`') %></td>
  <td><%= md('`.sage-table--striped` adds a background color to odd-numbered rows.') %></td>
  <td><%= md('Boolean') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('Truncated cells') %></td>
  <td><%= md('`.sage-table-cell--truncate` on individual cells truncates their content at smaller viewport sizes, displaying ellipses (&hellip;) in place of overflowing content. Take care not to use this with important pieces of information that should be displayed to users at all times.') %></td>
  <td><%= md('String:') %></td>
  <td><%= md('`nil`') %></td>
</tr>
