<tr>
  <td><%= md('`has_error`') %></td>
  <td><%= md('Enabling this property adds the `.sage-input--error` class to the component.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`message`') %></td>
  <td><%= md('Sets the message text for the component.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`multiple`') %></td>
  <td><%= md('Allows multiple options to be selected from the list.') %></td>
  <td><%= md('Boolean') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`name`') %></td>
  <td><%= md('Unique identifier for this component.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`select_options`') %></td>
  <td><%= md('An array of items that will serve as the `<select>`\'s `<option>`s') %></td>
  <td><%= md('Array') %></td>
  <td><%= md('`nil`') %></td>
</tr>
