<tr>
  <td colspan="4"><strong>Content Slots</strong></td>
</tr>
<tr>
  <td><%= md('`:sage_topbar_content_left`') %></td>
  <td><%= md('
  Slot into which breadcrumbs or other content can be placed.
	Only visible on desktop.
  Additional styling may be needed in such customized contexts.
  ') %></td>
  <td></td>
  <td></td>
</tr>
<tr>
  <td><%= md('`:sage_topbar_content_left_mobile`') %></td>
  <td><%= md('
  Slot into which a menu button or other content can be placed.
	Only visible on mobile devices.
  Additional styling may be needed in such customized contexts.
  ') %></td>
  <td></td>
  <td></td>
</tr>
<tr>
  <td><%= md('`:sage_topbar_content_right`') %></td>
  <td><%= md('
  Slot into which an avatar and search may be placed.
	Visible on all viewports.
  Additional styling may be needed in such customized contexts.
  ') %></td>
  <td></td>
  <td></td>
</tr>