<div class="docs-hero" style="background-image: url(<%= image_url "hero.jpg" %>);">
  <%= sage_component SageContainer, { size: "md", css_classes: "sage-type" } do %>
    <header class="sage-header">
      <%= render "application/nav" %>
    </header>
    <%= sage_component SageGridRow, {} do %>
      <%= sage_component SageGridCol, { breakpoint: "md", size: "4" } do %>
        <%= image_tag "sage_icon.png", style: "max-width:70px;height:auto", loading: "lazy" %>
          <h1 class="docs-hero__title">Building with Sage</h1>
          <p>Our system is our source of truth, providing everything you need to build the best experiences for all Kajabi entrepreneurs.</p>
        <%= sage_component SageButtonGroup, { gap: :sm, spacer: { top: :lg } } do %>
          <%= sage_component SageButton, {
            value: "Get Started",
            attributes: {
              href: pages_component_path(sorted_sage_components.first[:title]),
              title: "Get Started"
            },
            style: "primary",
          } %>
          <%= sage_component SageButton, {
            value: "View Github Repo",
            attributes: {
              href: "https://github.com/Kajabi/sage-lib",
              title: "View Github Repo",
              target: "_blank"
            },
            subtle: true,
            icon: {
              style: "right",
              name: "launch"
            },
            style: "secondary",
          } %>
        <% end %>
      <% end %>
      <%= sage_component SageGridCol, { breakpoint: "md", size: "8" } do %>
        <%= image_tag "sage_ui.png", class: "docs-hero__img", loading: "lazy", alt: "An example of a Sage component and its HTML markup" %>
      <% end %>
    <% end %>
  <% end %>
</div>
