<div class="docs-section">
  <%= sage_component SageContainer, { size: "md" } do %>
    <h2 class="docs-section__title t-sage-heading-1">Our Design System</h2>
    <%= sage_component SageGridRow, {} do %> 
      <%= sage_component SageGridCol, { breakpoint: "md", size: "4" } do %> 
        <%= sage_component SagePanel, { spacer: { bottom: :lg } } do %>
          <%= sage_component SagePanelStack, {} do %>
            <i class="sage-icon-form-3xl t-sage--color-sage"></i>
            <h3 class="t-sage-heading-3">Foundations</h3>
            <p class="t-sage-body">Principles that reflect our design philosophy and inspire our team to shape great experiences for Knowledge Commerce businesses of any scale.</p>
            <%= sage_component SageButton, {
              value: "Explore Foundations",
              attributes: {
                href: pages_foundation_path(:design_principles),
                title: "Explore Foundations"
              },
              subtle: true,
              icon: {
                style: "right",
                name: "arrow-right"
              },
              style: "primary",
            } %>
          <% end %>
        <% end %>
      <% end %>
      <%= sage_component SageGridCol, { breakpoint: "md", size: "4" } do %> 
        <%= sage_component SagePanel, { spacer: { bottom: :lg } } do %>
          <%= sage_component SagePanelStack, {} do %>
            <i class="sage-icon-pen-3xl t-sage--color-sage"></i>
            <h3 class="t-sage-heading-3">Content</h3>
            <p class="t-sage-body">Our content standards will help you understand how to think strategically about the language in your products and apps.</p>
            <%= sage_component SageButton, {
              value: "Content Guides",
              attributes: {
                href: pages_content_path(:voice_tone),
                title: "Content Guides"
              },
              subtle: true,
              icon: {
                style: "right",
                name: "arrow-right"
              },
              style: "primary",
            } %>
          <% end %>
        <% end %>
      <% end %>
      <%= sage_component SageGridCol, { breakpoint: "md", size: "4" } do %> 
        <%= sage_component SagePanel, { spacer: { bottom: :lg } } do %>
          <%= sage_component SagePanelStack, {} do %>
            <i class="sage-icon-customize-3xl t-sage--color-sage"></i>
            <h3 class="t-sage-heading-3">Design</h3>
            <p class="t-sage-body">Design tokens are the visual design atoms of the design system—specifically, they are named entities that store visual design attributes.</p>
            <%= sage_component SageButton, {
              value: "Style Tokens",
              attributes: {
                href: pages_design_path(:token),
                title: "Browse Style Tokens"
              },
              subtle: true,
              icon: {
                style: "right",
                name: "arrow-right"
              },
              style: "primary",
            } %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
    <%= sage_component SageGridRow, {} do %> 
      <%= sage_component SageGridCol, { breakpoint: "md", size: "4" } do %> 
        <%= sage_component SagePanel, { spacer: { bottom: :lg } } do %>
          <%= sage_component SagePanelStack, {} do %>
            <i class="sage-icon-stack-3xl t-sage--color-sage"></i>
            <h3 class="t-sage-heading-3">Layout</h3>
            <p class="t-sage-body">Patterns that allow us to position our content in various formats and locations without needing to change the content.</p>
            <%= sage_component SageButton, {
              value: "Layout Patterns",
              attributes: {
                href: pages_layout_path(:container),
                title: "Layout Patterns"
              },
              subtle: true,
              icon: {
                style: "right",
                name: "arrow-right"
              },
              style: "primary",
            } %>
          <% end %>
        <% end %>
      <% end %>
      <%= sage_component SageGridCol, { breakpoint: "md", size: "4" } do %> 
        <%= sage_component SagePanel, { spacer: { bottom: :lg } } do %>
          <%= sage_component SagePanelStack, {} do %>
            <i class="sage-icon-folder-3xl t-sage--color-sage"></i>
            <h3 class="t-sage-heading-3">Elements</h3>
            <p class="t-sage-body">Elements are the basic building blocks. Applied to web interfaces, elements are our HTML tags, such as a form label, an input or a button.</p>
            <%= sage_component SageButton, {
              value: "Browse Elements",
              attributes: {
                href: pages_element_path(sorted_sage_elements.first[:title]),
                title: "Browse Elements"
              },
              subtle: true,
              icon: {
                style: "right",
                name: "arrow-right"
              },
              style: "primary",
            } %>
          <% end %>
        <% end %>
      <% end %>
      <%= sage_component SageGridCol, { breakpoint: "md", size: "4" } do %> 
        <%= sage_component SagePanel, { spacer: { bottom: :lg } } do %>
          <%= sage_component SagePanelStack, {} do %>
            <i class="sage-icon-folder-group-3xl t-sage--color-sage"></i>
            <h3 class="t-sage-heading-3">Objects</h3>
            <p class="t-sage-body">Objects are groups of elements bonded together. These Objects take on their own properties and serve as the backbone of our design systems.</p>
            <%= sage_component SageButton, {
              value: "Browse Objects",
              attributes: {
                href: pages_object_path(sorted_sage_objects.first[:title]),
                title: "Browse Objects"
              },
              subtle: true,
              icon: {
                style: "right",
                name: "arrow-right"
              },
              style: "primary",
            } %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>