<div class="docs-hero">
  <%= image_tag "hero-background.svg", class: "docs-hero__background", alt: "", loading: "lazy" %>
  <%= sage_component SageContainer, { size: "xl", css_classes: "docs-hero__content sage-type" } do %>
    <header class="sage-header">
      <%= render "application/nav" %>
    </header>
    <%= sage_component SageGridRow, {} do %>
      <%= sage_component SageGridCol, { breakpoint: "md", size: "7" } do %>
        <%= image_tag "sage_icon.png", size: "70", alt: "" %>
          <h1 class="docs-hero__title">Building with Sage</h1>
          <p class="t-sage-body">Our system is our source of truth, providing everything you need to build the best experiences for all Kajabi entrepreneurs.</p>
        <%= sage_component SageButtonGroup, { gap: :sm, spacer: { top: :lg } } do %>
          <%= sage_component SageButton, {
            value: "Get Started",
            attributes: {
              href: pages_component_path(sorted_sage_components.first[:title]),
              title: "Get Started"
            },
            style: "accent",
          } %>
          <%= sage_component SageButton, {
            value: "View GitHub Repo",
            attributes: {
              href: "https://github.com/Kajabi/sage-lib",
              title: "View GitHub Repo",
              target: "_blank",
              rel: "noopener"
            },
            subtle: true,
            icon: {
              style: "right",
              name: "launch"
            },
            style: "secondary",
          } %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
