<div class="docs-section">
  <%= sage_component SageContainer, { size: "xl" } do %>
    <h2 class="docs-section__title t-sage-heading-1">Our Design System</h2>
    <%= sage_component SageGridRow, {} do %>
      <%= sage_component SageGridCol, { breakpoint: "md", size: "4", spacer: { bottom: :lg } } do %>
        <%= sage_component SagePanel, {} do %>
          <%= sage_component SagePanelStack, {} do %>
            <%= sage_component SageIcon, {
              icon: "customize",
              size: "3xl",
              color: "sage",
              spacer: {
                "bottom": "md"
              }
            } %>
            <h3 class="t-sage-heading-3">Foundations</h3>
            <p class="t-sage-body">Our system starts with some core visual elements: Type, Color, and Icons.
              We also prescribe common practices for aspects of the system.</p>
            <%= sage_component SageButton, {
              value: "Explore Foundations",
              attributes: {
                href: pages_foundation_path(:design_principles),
                title: "Explore Foundations"
              },
              subtle: true,
              icon: {
                style: "right",
                name: "arrow-right"
              },
              style: "primary",
            } %>
          <% end %>
        <% end %>
      <% end %>
      <%= sage_component SageGridCol, { breakpoint: "md", size: "8", spacer: { bottom: :lg } } do %>
        <%= sage_component SagePanel, {} do %>
          <%= sage_component SagePanelStack, {} do %>
            <%= sage_component SageIcon, {
              icon: "product",
              size: "3xl",
              color: "sage",
              spacer: {
                "bottom": "md"
              }
            } %>
            <h3 class="t-sage-heading-3">Components</h3>
            <p class="t-sage-body">Components are the backbone of our design system. In order to be most usable, our components are written in both Rails and React form.<br> Code examples, property options, and best practices can all be discovered here.  Links to Figma design documentation can also be found in this section.</p>
            <%= sage_component SageButtonGroup, { gap: :md } do %>
              <%= sage_component SageButton, {
                value: "Browse Components",
                attributes: {
                  href: pages_component_path(sorted_sage_components.first[:title]),
                  title: "Browse Components"
                },
                subtle: true,
                icon: {
                  style: "right",
                  name: "arrow-right"
                },
                style: "primary",
              } %>
              <%= sage_component SageButton, {
                value: "Component Status Guide",
                attributes: {
                  href: pages_status_path,
                  title: "Component Status Guide"
                },
                subtle: true,
                icon: {
                  style: "right",
                  name: "arrow-right"
                },
                style: "primary",
              } %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
      <%= sage_component SageGridCol, { breakpoint: "md", size: "4", spacer: { bottom: :lg }} do %>
        <%= sage_component SagePanel, {} do %>
          <%= sage_component SagePanelStack, {} do %>
            <%= sage_component SageIcon, {
              icon: "stack",
              size: "3xl",
              color: "sage",
              spacer: {
                "bottom": "md"
              }
            } %>
            <h3 class="t-sage-heading-3">Patterns</h3>
            <p class="t-sage-body">Patterns that allow us to position our content in various formats and locations without needing to change the content.</p>
            <%= sage_component SageButton, {
              value: "Layout Patterns",
              attributes: {
                href: pages_patterns_path(:panels_cards),
                title: "Layout Patterns"
              },
              subtle: true,
              icon: {
                style: "right",
                name: "arrow-right"
              },
              style: "primary",
            } %>
          <% end %>
        <% end %>
      <% end %>
      <%= sage_component SageGridCol, { breakpoint: "md", size: "4", spacer: { bottom: :lg }} do %>
        <%= sage_component SagePanel, {} do %>
          <%= sage_component SagePanelStack, {} do %>
            <%= sage_component SageIcon, {
              icon: "select",
              size: "3xl",
              color: "sage",
              spacer: {
                "bottom": "md"
              }
            } %>
            <h3 class="t-sage-heading-3">Interactions</h3>
            <p class="t-sage-body">A guided list of common interactive experiences that the system supports to answer key presentational JS needs.</p>
            <%= sage_component SageButton, {
              value: "Coming Soon...",
              attributes: {
                href: "#",
                title: "Coming Soon..."
              },
              subtle: true,
              icon: {
                style: "right",
                name: "arrow-right"
              },
              style: "primary",
            } %>
          <% end %>
        <% end %>
      <% end %>
      <%= sage_component SageGridCol, { breakpoint: "md", size: "4", spacer: { bottom: :lg }} do %>
        <%= sage_component SagePanel, {} do %>
          <%= sage_component SagePanelStack, {} do %>
            <%= sage_component SageIcon, {
              icon: "code",
              size: "3xl",
              color: "sage",
              spacer: {
                "bottom": "md"
              }
            } %>
            <h3 class="t-sage-heading-3">Helpers</h3>
            <p class="t-sage-body">Helpers that are designed to give the system the flexibility it requires for developers to use at scale.</p>
            <%= sage_component SageButton, {
              value: "Browse Helpers",
              attributes: {
                href: pages_helpers_path(:spacing),
                title: "Browse Helpers"
              },
              subtle: true,
              icon: {
                style: "right",
                name: "arrow-right"
              },
              style: "primary",
            } %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
