<div class="docs-nav">
  <%= sage_component SageButtonGroup, { gap: :sm } do %>
    <%= sage_component SageButton, {
      value: "Home",
      attributes: {
        href: "/",
        title: "Home"
      },
      subtle: true,
      icon: {
        style: "left",
        name: "home"
      },
    } %>
    <%= sage_component SageButton, {
      value: "Foundations",
      attributes: {
        href: pages_foundation_path(:design_principles),
        title: "Foundations"
      },
      subtle: true,
      icon: {
        style: "left",
        name: "form"
      },
    } %>
    <%= sage_component SageButton, {
      value: "Components",
      attributes: {
        href: pages_component_path(sorted_sage_components.first[:title]),
        title: "Components"
      },
      subtle: true,
      icon: {
        style: "left",
        name: "folder"
      },
    } %>
    <%= sage_component SageButton, {
      value: "Layout Tools",
      attributes: {
        href: pages_layout_path(sage_layouts_sorted.first[:title]),
        title: "Layout Tools"
      },
      subtle: true,
      icon: {
        style: "left",
        name: "stack"
      },
    } %>
    <!-- COMING SOON
    <%= sage_component SageButton, {
      value: "Interactions",
      attributes: {
        href: pages_interactions_path(:container),
        title: "JS Interactions"
      },
      subtle: true,
      icon: {
        style: "left",
        name: "select"
      },
    } %>-->
    <%= sage_component SageButton, {
      value: "Helpers",
      attributes: {
        href: pages_helpers_path(:spacing),
        title: "Style Helpers"
      },
      subtle: true,
      icon: {
        style: "left",
        name: "code"
      },
    } %>
  <% end %>
</div>
