<div class="docs-nav">
  <%= sage_component SageButtonGroup, { gap: :sm } do %>
    <%= sage_component SageButton, {
      value: "Home",
      attributes: {
        href: "/",
        title: "Home"
      },
      subtle: true,
      icon: {
        style: "left",
        name: "home"
      },
      style: "secondary",
    } %>
    <%= sage_component SageButton, {
      value: "Foundations",
      attributes: {
        href: pages_foundation_path(:design_principles),
        title: "Foundations"
      },
      subtle: true,
      icon: {
        style: "left",
        name: "form"
      },
      style: "secondary",
    } %>
    <%= sage_component SageButton, {
      value: "Content",
      attributes: {
        href: pages_content_path(:voice_tone),
        title: "Content Guides"
      },
      subtle: true,
      icon: {
        style: "left",
        name: "pen"
      },
      style: "secondary",
    } %>
    <%= sage_component SageButton, {
      value: "Design",
      attributes: {
        href: pages_design_path(:color),
        title: "Design Core"
      },
      subtle: true,
      icon: {
        style: "left",
        name: "customize"
      },
      style: "secondary",
    } %>
    <%= sage_component SageButton, {
      value: "Layout",
      attributes: {
        href: pages_layout_path(:container),
        title: "Layout Patterns"
      },
      subtle: true,
      icon: {
        style: "left",
        name: "stack"
      },
      style: "secondary",
    } %>
    <%= sage_component SageButton, {
      value: "Components",
      attributes: {
        href: pages_component_path(sorted_sage_components.first[:title]),
        title: "Components"
      },
      subtle: true,
      icon: {
        style: "left",
        name: "folder"
      },
      style: "secondary",
    } %>
  <% end %>
</div>
