<tr id="<%= item[:title] %>">
  <td><%= item[:title] %></td>
  <td>
    <span class="status-key__icon status-key__icon--<%= item[:scss] %>" data-js-tooltip="<%= item[:scss] %>" data-js-tooltip-position="top">
      <span class="visually-hidden"><%= item[:scss] %></span>
    </span>
  </td>
  <td>
    <span class="status-key__icon status-key__icon--<%= item[:a11y] %>" data-js-tooltip="<%= item[:a11y] %>" data-js-tooltip-position="top">
      <span class="visually-hidden"><%= item[:a11y] %></span>
    </span>
  </td>
  <td>
    <span class="status-key__icon status-key__icon--<%= item[:docs] %>" data-js-tooltip="<%= item[:docs] %>" data-js-tooltip-position="top">
      <span class="visually-hidden"><%= item[:docs] %></span>
    </span>
  </td>
  <td>
    <span class="status-key__icon status-key__icon--<%= item[:rails] %>" data-js-tooltip="<%= item[:rails] %>" data-js-tooltip-position="top">
      <span class="visually-hidden"><%= item[:rails] %></span>
    </span>
  </td>
  <td>
    <span class="status-key__icon status-key__icon--<%= item[:react] %>" data-js-tooltip="<%= item[:react] %>" data-js-tooltip-position="top">
      <span class="visually-hidden"><%= item[:react] %></span>
    </span>
  </td>
</tr>
