<tr>
  <td><%= md('`align_arrow_right`') %></td>
  <td><%= md("Adds the `sage-expandable-card--align-arrow-right` class to the block level `sage-expandable-card`. Aligns the arrow to the far right of the container.") %></td>
  <td><%= md('Boolean') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`expanded`') %></td>
  <td><%= md("Adds the `sage-expandable-card--expanded` class to the block level `sage-expandable-card` and allows you to load the expandable card body expanded") %></td>
  <td><%= md('Boolean') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`body_bordered`') %></td>
  <td><%= md('Adds border and background to body.') %></td>
  <td><%= md('Boolean') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`sage_type`') %></td>
  <td><%= md("Adds the `sage-type` HTML class on the body in order to ease content formatting within it.") %></td>
  <td><%= md('Boolean') %></td>
  <td><%= md('`false`') %></td>
</tr>
<tr>
  <td><%= md('`trigger_label`') %></td>
  <td><%= md('Sets the text for the trigger button.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
