<tr>
  <td><%= md('`resource_name`') %></td>
  <td><%= md('Sets the value for the `data-js-sortable` attribute.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td colspan="4"><%= md('**Sortable Row**') %></td>
</tr>
<tr>
  <td><%= md('`card`') %></td>
  <td><%= md('Determines styling associated with SortableItem.') %></td>
  <td><%= md('Boolean') %></td>
  <td><%= md('`false`') %></td>
</tr>
<tr>
  <td><%= md('`grid_template`') %></td>
  <td><%= md('Sets the grid template to be used in the row of the component. See the [Grid Templates](http://sage-design-system.kajabi.com/pages/layout/grid_templates) to decide which pattern.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`id`') %></td>
  <td><%= md('The unique identifier for this component.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`url_update`') %></td>
  <td><%= md('Used in conjunction with JS to update the index or the sorted item.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
