<% 
demo_configs = [
  {
    heading: "Primary (regular and disabled)",
    label: "Primary",
    style: "primary",
  },
  {
    heading: "Secondary (regular and disabled)",
    label: "Secondary",
    style: "secondary",
  },
  {
    heading: "Danger (regular and disabled)",
    label: "Danger",
    style: "danger",
  }
]
%>
<% demo_configs.each do | config | %>
  <%= sage_component SageCardBlock, {} do %>
    <%= sage_component SageLabel, {
      color: "draft",
      value: config[:heading],
    } %>
  <% end %>

  <% [false, true].each do | disabled | %>
    <%= sage_component SageButtonGroup, { gap: :sm, spacer: { bottom: :sm }} do %>
      <!-- Primary button -->
      <%= sage_component SageButton, {
        value: "Button",
        style: config[:style],
        disabled: disabled
      } %>

      <!-- Primary button (link) -->
      <%= sage_component SageButton, {
        value: "Link",
        style: config[:style],
        attributes: {
          href: "#element-button"
        },
        disabled: disabled
      } %>

      <!-- Primary button (icon-left) -->
      <%= sage_component SageButton, {
        value: "Left icon",
        style: config[:style],
        icon: {
          style: "left",
          name: "menu"
        },
        disabled: disabled
      } %>

      <!-- Primary button (icon-right) -->
      <%= sage_component SageButton, {
        value: "Right icon",
        style: config[:style],
        icon: {
          style: "right",
          name: "menu"
        },
        disabled: disabled
      } %>

      <!-- Primary button (icon-only) -->
      <%= sage_component SageButton, {
        value: "Icon only",
        style: config[:style],
        icon: {
          style: "only",
          name: "menu"
        },
        disabled: disabled
      } %>
    <% end %>
  <% end %>
<% end %>

<% demo_configs.each do | config | %>
  <%= sage_component SageCardBlock, {} do %>
    <%= sage_component SageLabel, {
      color: "draft",
      value: "Subtle #{config[:heading]}",
    } %>
  <% end %>

  <% [false, true].each do | size | %>
    <%= sage_component SageButtonGroup, { gap: :sm, spacer: { bottom: :sm }} do %>
      <!-- Primary button -->
      <%= sage_component SageButton, {
        value: "Button",
        style: config[:style],
        subtle: true,
        small: size
      } %>

      <!-- Primary button (link) -->
      <%= sage_component SageButton, {
        value: "Link",
        style: config[:style],
        attributes: {
          href: "#element-button"
        },
        subtle: true,
        small: size
      } %>

      <!-- Primary button (icon-left) -->
      <%= sage_component SageButton, {
        value: "Left icon",
        style: config[:style],
        icon: {
          style: "left",
          name: "gear"
        },
        subtle: true,
        small: size
      } %>

      <!-- Primary button (icon-right) -->
      <%= sage_component SageButton, {
        value: "Right icon",
        style: config[:style],
        icon: {
          style: "right",
          name: "gear"
        },
        subtle: true,
        small: size
      } %>

      <!-- Primary button (icon-only) -->
      <%= sage_component SageButton, {
        value: "Icon only",
        style: config[:style],
        icon: {
          style: "only",
          name: "gear"
        },
        subtle: true,
        small: size
      } %>
    <% end %>
  <% end %>
<% end %>

<%= sage_component SageCardBlock, {} do %>
  <%= sage_component SageLabel, {
    color: "draft",
    value: "Button group: Align End",
  } %>
<% end %>
<%= sage_component SageButtonGroup, { gap: :md, align: "end" } do %>
  <%= sage_component SageButton, {
    value: "Cancel",
    style: "secondary",
  } %>
  <%= sage_component SageButton, {
    value: "Save",
    style: "primary",
  } %>
<% end %>


<%= sage_component SageCardBlock, {} do %>
  <%= sage_component SageLabel, {
    color: "draft",
    value: "Shadow Treatment",
  } %>
<% end %>
<p>
  Regular buttons allow for a "raised" shadow treatement to be toggled on or off.
  This is on by default for "Primary" button styles and can be toggled off with "no_shadow".
  For the other styles it is off by default but can be toggled on with "raised".  
</p>
<%= sage_component SageButtonGroup, { gap: :md, spacer: { bottom: :md } } do %>
  <%= sage_component SageButton, {
    value: "Raised (default)",
    style: "primary",
  } %>
  <%= sage_component SageButton, {
    value: "No shadow",
    style: "primary",
    no_shadow: true,
  } %>
<% end %>
<%= sage_component SageButtonGroup, { gap: :md, spacer: { bottom: :md } } do %>
  <%= sage_component SageButton, {
    value: "No shadow (default)",
    style: "secondary",
  } %>
  <%= sage_component SageButton, {
    value: "Raised",
    style: "secondary",
    raised: true,
  } %>
<% end %>
<%= sage_component SageButtonGroup, { gap: :md } do %>
  <%= sage_component SageButton, {
    value: "No shadow (default)",
    style: "danger",
  } %>
  <%= sage_component SageButton, {
    value: "Raised",
    style: "danger",
    raised: true,
  } %>
<% end %>
