<h3 class="t-sage-heading-6">Primary</h3>

<!-- Primary button -->
<%= render "examples/elements/button/markup",
  align_end: false,
  color: "primary",
  icon_class: "",
  icon_only: false,
  is_disabled: false,
  is_link_btn: false,
  link_url: "",
  size: "",
  text: "Button"
%>

<!-- Primary button (link) -->
<%= render "examples/elements/button/markup",
  align_end: false,
  color: "primary",
  icon_class: "",
  icon_only: false,
  is_disabled: false,
  is_link_btn: true,
  link_url: "#element-button",
  size: "",
  text: "Link"
%>

<!-- Primary button (icon-left) -->
<%= render "examples/elements/button/markup",
  align_end: false,
  color: "primary",
  icon_class: "sage-btn--icon-left-menu",
  icon_only: false,
  is_disabled: false,
  is_link_btn: true,
  link_url: "#",
  size: "",
  text: "Link (icon-left)"
%>

<!-- Primary button (icon-right) -->
<%= render "examples/elements/button/markup",
  align_end: false,
  color: "primary",
  icon_class: "sage-btn--icon-right-add",
  icon_only: false,
  is_disabled: false,
  is_link_btn: false,
  link_url: "",
  size: "",
  text: "Button (icon-right)"
%>


<h3 class="t-sage-heading-6">Primary (disabled)</h3>

<!-- Primary button (disabled) -->
<%= render "examples/elements/button/markup",
  align_end: false,
  color: "primary",
  icon_class: "",
  icon_only: false,
  is_disabled: true,
  is_link_btn: false,
  link_url: "",
  size: "",
  text: "Button"
%>

<!-- Primary button link (disabled) -->
<%= render "examples/elements/button/markup",
  align_end: false,
  color: "primary",
  icon_class: "",
  icon_only: false,
  is_disabled: true,
  is_link_btn: true,
  link_url: "#",
  size: "",
  text: "Button Link"
%>

<!-- Primary button (icon-left, disabled) -->
<%= render "examples/elements/button/markup",
  align_end: false,
  color: "primary",
  icon_class: "sage-btn--icon-left-users",
  icon_only: false,
  is_disabled: true,
  is_link_btn: false,
  link_url: "",
  size: "",
  text: "Button (icon-left)"
%>

<!-- Primary button (icon-right, disabled) -->
<%= render "examples/elements/button/markup",
  align_end: false,
  color: "primary",
  icon_class: "sage-btn--icon-right-launch",
  icon_only: false,
  is_disabled: true,
  is_link_btn: true,
  link_url: "#",
  size: "",
  text: "Link (icon-right)"
%>


<h3 class="t-sage-heading-6">Secondary</h3>

<!-- Secondary button -->
<%= render "examples/elements/button/markup",
  align_end: false,
  color: "secondary",
  icon_class: "",
  icon_only: false,
  is_disabled: false,
  is_link_btn: false,
  link_url: "",
  size: "",
  text: "Button"
%>

<!-- Secondary button (link) -->
<%= render "examples/elements/button/markup",
  align_end: false,
  color: "secondary",
  icon_class: "",
  icon_only: false,
  is_disabled: false,
  is_link_btn: true,
  link_url: "#",
  size: "",
  text: "Link"
%>

<!-- Secondary button (icon-left) -->
<%= render "examples/elements/button/markup",
  align_end: false,
  color: "secondary",
  icon_class: "sage-btn--icon-left-gear",
  icon_only: false,
  is_disabled: false,
  is_link_btn: false,
  link_url: "",
  size: "",
  text: "Button (icon-left)"
%>

<!-- Secondary button (icon-right) -->
<%= render "examples/elements/button/markup",
  align_end: false,
  color: "secondary",
  icon_class: "sage-btn--icon-right-search",
  icon_only: false,
  is_disabled: false,
  is_link_btn: true,
  link_url: "#",
  size: "",
  text: "Link (icon-right)"
%>


<h3 class="t-sage-heading-6">Secondary (disabled)</h3>

<!-- Secondary button (disabled) -->
<%= render "examples/elements/button/markup",
  align_end: false,
  color: "secondary",
  icon_class: "",
  icon_only: false,
  is_disabled: true,
  is_link_btn: false,
  link_url: "",
  size: "",
  text: "Button"
%>

<!-- Secondary button link (disabled) -->
<%= render "examples/elements/button/markup",
  align_end: false,
  color: "secondary",
  icon_class: "",
  icon_only: false,
  is_disabled: true,
  is_link_btn: true,
  link_url: "#",
  size: "",
  text: "Link"
%>

<!-- Secondary button (icon-left, disabled) -->
<%= render "examples/elements/button/markup",
  align_end: false,
  color: "secondary",
  icon_class: "sage-btn--icon-left-send-message",
  icon_only: false,
  is_disabled: true,
  is_link_btn: true,
  link_url: "#",
  size: "",
  text: "Link (icon-left)"
%>

<!-- Secondary button (icon-right, disabled) -->
<%= render "examples/elements/button/markup",
  align_end: false,
  color: "secondary",
  icon_class: "sage-btn--icon-right-arrow-right",
  icon_only: false,
  is_disabled: true,
  is_link_btn: true,
  link_url: "#",
  size: "",
  text: "Button (icon-right)"
%>


<h3 class="t-sage-heading-6">Tertiary</h3>

<!-- Tertiary button -->
<%= render "examples/elements/button/markup",
  align_end: false,
  color: "tertiary",
  icon_class: "",
  icon_only: false,
  is_disabled: false,
  is_link_btn: false,
  link_url: "",
  size: "",
  text: "Button"
%>

<!-- Tertiary button (link) -->
<%= render "examples/elements/button/markup",
  align_end: false,
  color: "tertiary",
  icon_class: "",
  icon_only: false,
  is_disabled: false,
  is_link_btn: true,
  link_url: "#",
  size: "",
  text: "Link"
%>

<!-- Tertiary button (icon-left) -->
<%= render "examples/elements/button/markup",
  align_end: false,
  color: "tertiary",
  icon_class: "sage-btn--icon-left-3-dot-menu",
  icon_only: false,
  is_disabled: false,
  is_link_btn: false,
  link_url: "",
  size: "",
  text: "Button (icon-left)"
%>

<!-- Tertiary button (icon-right) -->
<%= render "examples/elements/button/markup",
  align_end: false,
  color: "tertiary",
  icon_class: "sage-btn--icon-right-microphone",
  icon_only: false,
  is_disabled: false,
  is_link_btn: false,
  link_url: "",
  size: "",
  text: "Button (icon-right)"
%>


<h3 class="t-sage-heading-6">Tertiary (disabled)</h3>

<!-- Tertiary button disabled -->
<%= render "examples/elements/button/markup",
  align_end: false,
  color: "tertiary",
  icon_class: "",
  icon_only: false,
  is_disabled: true,
  is_link_btn: false,
  link_url: "",
  size: "",
  text: "Button"
%>

<!-- Tertiary button link (disabled) -->
<%= render "examples/elements/button/markup",
  align_end: false,
  color: "tertiary",
  icon_class: "",
  icon_only: false,
  is_disabled: true,
  is_link_btn: true,
  link_url: "#",
  size: "",
  text: "Link"
%>

<!-- Tertiary button (icon-left, disabled) -->
<%= render "examples/elements/button/markup",
  align_end: false,
  color: "tertiary",
  icon_class: "sage-btn--icon-left-comment",
  icon_only: false,
  is_disabled: true,
  is_link_btn: true,
  link_url: "#",
  size: "",
  text: "Link (icon-left)"
%>

<!-- Tertiary button (icon-right, disabled) -->
<%= render "examples/elements/button/markup",
  align_end: false,
  color: "tertiary",
  icon_class: "sage-btn--icon-right-preview-off",
  icon_only: false,
  is_disabled: true,
  is_link_btn: true,
  link_url: "#",
  size: "",
  text: "Link (icon-right)"
%>


<h3 class="t-sage-heading-6">Danger</h3>

<!-- Danger button -->
<%= render "examples/elements/button/markup",
  align_end: false,
  color: "danger",
  icon_class: "",
  icon_only: false,
  is_disabled: false,
  is_link_btn: false,
  link_url: "",
  size: "",
  text: "Button"
%>

<!-- Danger button (link) -->
<%= render "examples/elements/button/markup",
  align_end: false,
  color: "danger",
  icon_class: "",
  icon_only: false,
  is_disabled: false,
  is_link_btn: true,
  link_url: "#",
  size: "",
  text: "Link"
%>

<!-- Danger button (icon-left) -->
<%= render "examples/elements/button/markup",
  align_end: false,
  color: "danger",
  icon_class: "sage-btn--icon-left-microphone",
  icon_only: false,
  is_disabled: false,
  is_link_btn: false,
  link_url: "",
  size: "",
  text: "Button (icon-left)"
%>

<!-- Danger button (icon-right) -->
<%= render "examples/elements/button/markup",
  align_end: false,
  color: "danger",
  icon_class: "sage-btn--icon-right-enlarge",
  icon_only: false,
  is_disabled: false,
  is_link_btn: false,
  link_url: "",
  size: "",
  text: "Button (icon-right)"
%>



<h3 class="t-sage-heading-6">Danger (disabled)</h3>

<!-- Danger button (disabled) -->
<%= render "examples/elements/button/markup",
  align_end: false,
  color: "danger",
  icon_class: "",
  icon_only: false,
  is_disabled: true,
  is_link_btn: false,
  link_url: "",
  size: "",
  text: "Button"
%>

<!-- Danger button link (disabled) -->
<%= render "examples/elements/button/markup",
  align_end: false,
  color: "danger",
  icon_class: "",
  icon_only: false,
  is_disabled: true,
  is_link_btn: true,
  link_url: "#",
  size: "",
  text: "Link"
%>

<!-- Danger button link (icon-left, disabled) -->
<%= render "examples/elements/button/markup",
  align_end: false,
  color: "danger",
  icon_class: "sage-btn--icon-left-tag",
  icon_only: false,
  is_disabled: true,
  is_link_btn: true,
  link_url: "#",
  size: "",
  text: "Link (icon-left)"
%>



<h3 class="t-sage-heading-6">Flex Align End</h3>

<!-- Primary button (icon-right) -->
<%= render "examples/elements/button/markup",
  align_end: true,
  color: "primary",
  icon_class: "sage-btn--icon-right-add",
  icon_only: false,
  is_disabled: false,
  is_link_btn: false,
  link_url: "",
  size: "",
  text: "Add A Model"
%>

<!-- Primary button (icon-right) -->
<%= render "examples/elements/button/markup",
  align_end: true,
  color: "tertiary",
  icon_class: "",
  icon_only: false,
  is_disabled: false,
  is_link_btn: false,
  link_url: "",
  size: "",
  text: "Cancel"
%>



<h3 class="t-sage-heading-6">Small</h3>

<!-- Primary small -->
<%= render "examples/elements/button/markup",
  align_end: false,
  color: "primary",
  icon_class: "",
  icon_only: false,
  is_disabled: false,
  is_link_btn: false,
  link_url: "",
  size: "small",
  text: "Primary small"
%>

<!-- Secondary small -->
<%= render "examples/elements/button/markup",
  align_end: false,
  color: "secondary",
  icon_class: "sage-btn--icon-left-lock",
  icon_only: false,
  is_disabled: false,
  is_link_btn: true,
  link_url: "#",
  size: "small",
  text: "Secondary small link"
%>

<!-- Tertiary small -->
<%= render "examples/elements/button/markup",
  align_end: false,
  color: "tertiary",
  icon_class: "",
  icon_only: false,
  is_disabled: false,
  is_link_btn: false,
  link_url: "",
  size: "small",
  text: "Tertiary small"
%>



<h3 class="t-sage-heading-6">Tiny Button (Limited use)</h3>

<button class="sage-btn sage-btn--tertiary sage-btn--icon-left-tag sage-btn--tiny">
  <span class="sage-label sage-label--draft">#hastag</span>
</button>
<button class="sage-btn sage-btn--tertiary sage-btn--icon-right-copy sage-btn--tiny">
  <span class="sage-label sage-label--draft">3.1459</span>
</button>



<h3 class="t-sage-heading-6">Icon Button</h3>

<strong class="t-sage-body-small-med">Regular</strong>
<!-- Primary button (icon-right) -->
<%= render "examples/elements/button/markup",
  align_end: false,
  color: "primary",
  icon_class: "sage-btn--icon-only-add",
  icon_only: true,
  is_disabled: false,
  is_link_btn: false,
  link_url: "",
  size: "",
  text: "Name Of Action"
%>

<!-- Primary button (icon-right) -->
<%= render "examples/elements/button/markup",
  align_end: false,
  color: "secondary",
  icon_class: "sage-btn--icon-only-send-message",
  icon_only: true,
  is_disabled: false,
  is_link_btn: false,
  link_url: "",
  size: "",
  text: "Name Of Action"
%>

<!-- Primary button (icon-right) -->
<%= render "examples/elements/button/markup",
  align_end: false,
  color: "tertiary",
  icon_class: "sage-btn--icon-only-pen",
  icon_only: true,
  is_disabled: false,
  is_link_btn: false,
  link_url: "",
  size: "",
  text: "Name Of Action"
%>

<!-- Primary button (icon-right) -->
<%= render "examples/elements/button/markup",
  align_end: false,
  color: "danger",
  icon_class: "sage-btn--icon-only-remove",
  icon_only: true,
  is_disabled: false,
  is_link_btn: true,
  link_url: "",
  size: "",
  text: "Name Of Action"
%>


<strong class="t-sage-body-small-med">Small</strong>
<!-- Primary button (icon-right) -->
<%= render "examples/elements/button/markup",
  align_end: false,
  color: "primary",
  icon_class: "sage-btn--icon-only-add",
  icon_only: true,
  is_disabled: false,
  is_link_btn: false,
  link_url: "",
  size: "small",
  text: "Name Of Action"
%>

<!-- Primary button (icon-right) -->
<%= render "examples/elements/button/markup",
  align_end: false,
  color: "secondary",
  icon_class: "sage-btn--icon-only-send-message",
  icon_only: true,
  is_disabled: false,
  is_link_btn: false,
  link_url: "",
  size: "small",
  text: "Name Of Action"
%>

<!-- Primary button (icon-right) -->
<%= render "examples/elements/button/markup",
  align_end: false,
  color: "tertiary",
  icon_class: "sage-btn--icon-only-pen",
  icon_only: true,
  is_disabled: false,
  is_link_btn: false,
  link_url: "",
  size: "small",
  text: "Name Of Action"
%>

<!-- Primary button (icon-right) -->
<%= render "examples/elements/button/markup",
  align_end: false,
  color: "danger",
  icon_class: "sage-btn--icon-only-remove",
  icon_only: true,
  is_disabled: false,
  is_link_btn: true,
  link_url: "",
  size: "small",
  text: "Name Of Action"
%>


<strong class="t-sage-body-small-med">Tiny</strong>
<!-- Primary button (icon-right) -->
<%= render "examples/elements/button/markup",
  align_end: false,
  color: "primary",
  icon_class: "sage-btn--icon-only-add",
  icon_only: true,
  is_disabled: false,
  is_link_btn: false,
  link_url: "",
  size: "tiny",
  text: "Name Of Action"
%>

<!-- Primary button (icon-right) -->
<%= render "examples/elements/button/markup",
  align_end: false,
  color: "secondary",
  icon_class: "sage-btn--icon-only-send-message",
  icon_only: true,
  is_disabled: false,
  is_link_btn: false,
  link_url: "",
  size: "tiny",
  text: "Name Of Action"
%>

<!-- Primary button (icon-right) -->
<%= render "examples/elements/button/markup",
  align_end: false,
  color: "tertiary",
  icon_class: "sage-btn--icon-only-pen",
  icon_only: true,
  is_disabled: false,
  is_link_btn: false,
  link_url: "",
  size: "tiny",
  text: "Name Of Action"
%>

<!-- Primary button (icon-right) -->
<%= render "examples/elements/button/markup",
  align_end: false,
  color: "danger",
  icon_class: "sage-btn--icon-only-remove",
  icon_only: true,
  is_disabled: false,
  is_link_btn: true,
  link_url: "",
  size: "tiny",
  text: "Name Of Action"
%>