<div class="
  sage-input-group sage-input-group--<%= component.input_type -%> 
  <% if component.disabled %>sage-input-group--disabled<% end %>
  <%= component.generated_css_classes %>" 
  role="group" 
  aria-labelledby="<%= component.group_id %>"
  <%= component.generated_html_attributes.html_safe %>
>
  <%= component.content %>
  <%- if component.has_button -%>
    <%- component.group_buttons.each do |button| -%>
      <button class="sage-input-group__button sage-btn<% if button[:display_on_focus] %> sage-input-group__toggle<% end %> <%= button[:icon] if button[:icon].present? %>"
        <% if component.input_type == "password" %> data-js-mask="password"<% end %>
        <% if button[:tooltip] %>
        data-tooltip="<%= button[:tooltip_text] %>" data-position="<% button[:tooltip_position] %>"<% if button[:tooltip_size] != "" %> data-tooltip-size="<%= button[:tooltip_size] %>"<% end %>
        <% end %>
        <% if component.disabled %>disabled<% end %>>
        <%- if button[:text_hidden] -%><span class="visually-hidden"><% end %><%= button[:text] %><%- if button[:text_hidden] -%></span><% end %>
      </button>
    <%- end -%>
  <%- end -%>
</div>
