<tr>
  <td><%= md('`image`') %></td>
  <td><%= md('Sets the image `src` for the component.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`summary_text`') %></td>
  <td><%= md("Sets the text in the summary secion of the component.") %></td>
  <td><%= md('String') %></td>
  <td><%= md('`""`') %></td>
</tr>
