<% is_progressbar = defined?(is_progressbar) && is_progressbar %>
<div>
  <div class="sage-tabs<%= defined?(stacked) ? " sage-tabs--layout-stacked" : " sage-tabs--layout-default" %><%= " sage-tabs--progressbar" if is_progressbar %>" data-js-tabs="<%= id %>" role="tablist">
    <% options.each do |option| %>
      <% if defined?(style) && style === "choice" %>
      <%= render "examples/elements/choice/markup", target: "#{id}-#{option[:id]}", text: option[:text], subtext: option[:subtext] %>
      <% else %>
      <%= render "examples/elements/tab/markup", target: "#{id}-#{option[:id]}", text: option[:text] %>
      <% end %>
    <% end %>
  </div>

  <% options.each do |option| %>
    <div class="sage-tabs-pane" id="<%= "#{id}-#{option[:id]}" %>" data-js-tabs-pane="<%= "#{id}-#{option[:id]}" %>" role="tabpanel"><%= option[:content] || "" %></div>
  <% end %>
</div>
