<tr>
  <td><%= md('`name`') %></td>
  <td><%= md('Name of contact that initiated transaction.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`name_href`') %></td>
  <td><%= md('Optional link that gets applied to name') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`name_tag`') %></td>
  <td><%= md('Sets the heading tag (h1 - h6) for the `name`') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`h4`') %></td>
</tr>
<tr>
  <td><%= md('`amount`') %></td>
  <td><%= md('Amount of the transaction.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`amount_color`') %></td>
  <td><%= md('Color that can be applied to the transaction amount.') %></td>
  <td><%= md('`"red"`, `"sage"`') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`label_color`') %></td>
  <td><%= md('Color of transaction label.') %></td>
  <td><%= md('`"published"`, `"draft"`, `"danger"`, `"info"`, `"warning"`, `"locked"`') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`label_text`') %></td>
  <td><%= md('Text displayed in label.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`related_property`') %></td>
  <td><%= md('Text displayed in bottom left property area.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`related_property_href`') %></td>
  <td><%= md('Optional link that gets applied to related_property.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`transaction_state`') %></td>
  <td><%= md('Text that displays the state of transaction in top right corner') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`transaction_state_color`') %></td>
  <td><%= md('Color that can be applied to the transaction_state.') %></td>
  <td><%= md('`"info"`, `"red"`') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`transacton_time`') %></td>
  <td><%= md('Time that transaction occured.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
