<header
  class="sage-panel__header <%= component.generated_css_classes %>"
  <%= component.generated_html_attributes.html_safe %>
>
  <% if component.title %>
    <h1 class="sage-panel__title">
      <%= component.title %>
    </h1>
  <% end %>
  <%= component.content %>
  <% if component.subtext.present? or content_for? :sage_panel_header_subtext %>
    <div class="sage-panel__subtext">
      <%= component.subtext if component.subtext.present? %>
      <%= content_for :sage_panel_header_subtext if content_for? :sage_panel_header_subtext %>
    </div>
  <% end %>
</header>
