<div
  aria-controls="options_menu"
  class="
    sage-dropdown__trigger
    <%= "sage-dropdown__trigger--#{component.type}" if component.type.present? %>
    <%= "sage-dropdown__trigger--custom-width" if component.width.present? %>
    <%= component.generated_css_classes %>
  "
  <% if component.width.present? %>
    style="--sage-dropdown-trigger-width: <%= component.width %>"
  <% end %>
  <%= component.generated_html_attributes %>
>
  <% if component.type.present? && component.type == "select" %>
    <%= sage_component SageButton, {
      style: "secondary",
      raised: false,
      value: component.value.present? ? component.value : "",
      css_classes: "sage-dropdown__trigger-selected-value",
      icon: { style: "right", name: "enlarge" }
    } %>
    <label class="sage-dropdown__trigger-label">
      <%= component.label %>
    </label>
  <% elsif component.content.present? %>
    <%= component.content %>
  <% end %>
</div>
