<li class="sage-feature-toggle">
  <h3 class="sage-feature-toggle__title"><%= component.title %></h3>
  <div class="sage-feature-toggle__content">
    <p><%= component.description %></p>
    <%= sage_component SageButton, {
      value: component.link_text,
      style: "primary",
      subtle: true,
      icon: { name: "launch", style: "right" },
      css_classes: "sage-feature-toggle__content-button"
    } %>
  </div>
  <div class="sage-feature-toggle__aside">
    <%= sage_component SageSwitch, { 
      type: "checkbox",
      id: "sage-switch-1",
      hide_text: true,
      label_text: component.title,
      message: "",
      name: "sage-switch-1",
      value: "switch-1-value",
    } %>
  </div>
  <a class="sage-feature-toggle__img">
    <img src=<%= component.image %> alt=""/>
  </a>
</li>
