<section
  class="
    sage-sortable__item
    <%= "sage-sortable__item--card" if component.card %>
  "
  data-js-sortable-update-url="<%= component.url_update %>"
  <%= "id=#{component.id}" if component.id %>
>
  <div class="sage-sortable__item-content">
    <h1 class="sage-sortable__item-title"><%= component.title %></h1>
    <h2 class="sage-sortable__item-subtitle"><%= component.subtitle %></h2>
  </div>
  <div class="sage-sortable__item-actions">
    <%= component.content %>
  </div>
</section>
