<%
disable_background = component.disable_background.present? ? component.disable_background : true
disable_background_blur = component.disable_background_blur.present? ? component.disable_background_blur : false
disable_background_dismiss = component.disable_background_dismiss.present? ? component.disable_background_dismiss : true
show_close = component.show_close.present? ? component.show_close : true
styles = component.html_attributes[:style].present? ? styles : ""

if component.size
  styles += " --sage-drawer-size: #{component.size};"
end

if component.expanded_size
  styles += " --sage-drawer-expanded-size: #{component.expanded_size};"
end

html_attributes = component.html_attributes.present? ? html_attributes.merge!({ style: styles }) : { style: styles }
%>
<%= sage_component SageModal, {
  active: component.active,
  animate: { direction: "left" },
  css_classes: "
    sage-drawer
    #{"sage-drawer--expanded" if component.expanded}
    #{component.generated_css_classes}
  ",
  disable_background: disable_background,
  disable_background_blur: component.disable_background_blur,
  disable_background_dismiss: disable_background_dismiss,
  id: component.id,
  html_attributes: html_attributes,
} do %>
  <%= sage_component SageModalContent, { spacing: "panel", title: component.title } do %>
    <% if content_for?(:sage_drawer_header) %>
      <% content_for :sage_modal_custom_header do %>
        <div class="sage-drawer__header">
          <%= content_for :sage_drawer_header %>
        </div>
      <% end %>
    <% end %>

    <% if component.show_close %>
      <% content_for :sage_header_aside do %>
        <%= sage_component SageButton, {
          attributes: { "data-js-modal": true },
          css_classes: "sage-drawer__close",
          icon: { style: "only", name: "remove" },
          style: "secondary",
          subtle: true,
          value: "Close Drawer",
        } %>
      <% end %>
    <% end %>

    <%= component.content %>
  <% end %>
<% end %>
