<div
  class="sage-panel__row
    <%= "sage-panel__row--vertical-align-#{component.vertical_align}" if component.vertical_align %>
    <%= "sage-grid-template-#{component.grid_template}" %>
    <%= component.generated_css_classes %>
  "
  <%= component.generated_html_attributes %>
>
  <%= component.content %>
</div>
