<% if component.standalone %>
  <input
    id="<%= component.id %>"
    type="radio"
    class="
      sage-radio
      sage-radio--standalone
      <%= component.has_error ? "sage-radio--error" : "" %>
      <%= component.generated_css_classes %>
    "
    name="<%= component.name %>"
    value="<%= component.value %>"
    <% component.attributes.each do |key, value| %>
      <%= "#{key}=\"#{value}\"".html_safe %>
    <% end if component.attributes&.is_a?(Hash) %>
    <%= "checked" if component.checked %>
    <%= "disabled" if component.disabled %>
    <%= "required" if component.required %>
    aria-label="<%= component.label_text %>"
    <%= component.generated_html_attributes.html_safe %>
  />
<% else %>
  <div class="
      sage-radio
      <%= component.has_border ? "sage-radio--has-border" : "" %>
      <%= component.has_error ? "sage-radio--error" : "" %>
    "
    <%= component.generated_html_attributes.html_safe %>
  >
    <input
      id="<%= component.id %>"
      type="radio"
      class="sage-radio__input"
      name="<%= component.name %>"
      value="<%= component.value %>"
      <% component.attributes.each do |key, value| %>
        <%= "#{key}=\"#{value}\"".html_safe %>
      <% end if component.attributes&.is_a?(Hash) %>
      <%= "checked" if component.checked %>
      <%= "disabled" if component.disabled %>
      <%= "required" if component.required %>
    >
    <label for="<%= component.id %>" class="sage-radio__label">
      <%= component.label_text %>
    </label>
    <% if component.message.present? %>
      <div class="sage-radio__message"><%= component.message %></div>
    <% end %>
    <% if component.caption.present? %>
      <div class="sage-radio__caption"><%= component.caption %></div>
    <% end %>
  </div>
<% end %>
