<%
# ensure default is to treat titles with all caps; `allcaps_titles` must be set to false to change this
%>
<dl
  <%= component.id ? "id=#{component.id}" : "" %>
  class="
    sage-description
    <%= "sage-description--stacked" if component.layout == "stacked" %>
    <%= component.generated_css_classes %>
  "
  <% if component.action_width || component.title_width %>
    style="
      --sage-description-action-width: <%= component.action_width if component.action_width %>;
      --sage-description-title-width: <%= component.title_width if component.title_width %>
    "
  <% end %>
  <%= component.generated_html_attributes.html_safe %>
>
  <% component.items.each do | item | %>
    <div class="sage-description__term-group">
      <% if item[:title] %>
        <dt class="sage-description__title"><%= item[:title] %></dt>
      <% end %>
      <% if item[:data] %>
        <% if item[:link] %>
          <%= link_to item[:link] do %>
            <dd class="sage-description__data"><%= item[:data] %></dd>
          <% end %>
        <% else %>
          <dd class="sage-description__data"><%= item[:data] %></dd>
        <% end %>
      <% end %>
    </div>
    <% if component.primary_action %>
      <div class="sage-description__action-button">
        <%= sage_component SageButton, {
          value: component.primary_action[:value],
          style: "primary",
          subtle: true,
          icon: {
            name: "caret-right",
            style: component.primary_action[:icon_only] ? "only" : "right",
          },
          test_id: component.primary_action[:test_id],
          attributes: component.primary_action[:attributes],
        } %>
      </div>
    <% end %>
  <% end %>
  <%= component.content %>
</dl>
