<% is_interactive = component.is_interactive %>
<% label_content_tag = is_interactive ? "button" : "span" %>

<span
  class="
    sage-label
    <%= "sage-label--#{component.color}" if component.color %>
    <%= "sage-label--#{component.style}" if component.style %>
    <%= "sage-label--interactive" if is_interactive %>
    <%= "sage-label--icon-#{component.icon}" if component.icon %>
    <%= component.generated_css_classes %>
  "
>
  <<%= label_content_tag %>
    class="sage-label__value"
    <%= component.generated_html_attributes %>
  />
    <%= component.value.html_safe %>
  </<%= label_content_tag %>>

  <% if component.is_tag %>
    <%= sage_component SageButton, {
      value: "Close",
      subtle: true,
      small: true,
      style: "secondary",
      icon: { style: "only", name: "remove" }
    } %>
  <% end %>

  <% if component.is_status %>
    <span class="sage-label__decor-icon sage-label__decor-icon--caret-down"></span>
  <% end %>
</span>
