<% if component.card_color.present? %>
  <div class="sage-icon-background 
              <%= "sage-icon-background--#{component.card_color}" %>
              <%= "sage-icon-background--#{component.size}" if component.size.present? %>">
<% end %>
  <i class="
      sage-icon-<%= component.icon %><%= "-#{component.size}" if component.size.present? %>
      <%= component.css_classes %>
      <%= component.generated_css_classes %>
      <%= "t-sage--color-#{component.color}" if component.color.present? %>
    "
    <% if component.label.present? %>
      aria-label="<%= component.label %>"
    <% else %>
      aria-hidden=true
    <% end %>
    <%= component.generated_html_attributes.html_safe %>
  ></i>
<% if component.card_color.present? %>
  </div>
<% end %>

