<%
feature_toggle_title_tag = component.title_tag ? component.title_tag : "h3"
%>

<li class="sage-feature-toggle <%= "sage-feature-toggle--no-media" if component.image.blank? && component.icon.blank? %>">
  <<%= feature_toggle_title_tag %> class="sage-feature-toggle__title"><%= component.title %></<%= feature_toggle_title_tag %>>
  <div class="sage-feature-toggle__content">
    <p><%= component.description %></p>
    <div class="sage-feature-toggle__links">
      <% if component.links.present? %>
        <% component.links.each do | link | %>
          <% if link[:location].present? %>
            <%= sage_component SageButton, {
              value: link[:text],
              style: "primary",
              subtle: true,
              icon: { name: link[:icon], style: "right" },
              css_classes: "sage-feature-toggle__link-item",
              attributes: {
                href: (link[:location] if link[:location].present?),
                rel: ("noopener noreferrer" if link[:target].present? && link[:target] === "_blank"),
                target: (link[:target] if link[:target].present?),
              }.compact
            } %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
  <% if content_for?(:sage_feature_toggle_input) %>
    <div class="sage-feature-toggle__aside">
      <%= content_for :sage_feature_toggle_input %>
    </div>
  <% end %>
  <% if component.icon.present? or component.image.present? %>
    <div class="sage-feature-toggle__media">
      <% if component.icon.present? %>
        <%= sage_component SageIconCard, {
          attributes: (component.icon[:attributes] if component.icon[:attributes].present?),
          color: (component.icon[:color] if component.icon[:color].present?),
          icon: (component.icon[:icon] if component.icon[:icon].present?),
          label: (component.icon[:label] if component.icon[:label].present?),
          size: (component.icon[:size] if component.icon[:size].present?),
        }.compact %>
      <% elsif component.image.present? %>
        <img class="sage-feature-toggle__image" src=<%= component.image %> alt="<%= component.alt_text %>" <%= "aria-hidden=true" if component.alt_text.blank? %> />
      <% end %>
    </div>
  <% end %>
</li>
