<%
# ensure default is to treat titles with all caps; `allcaps_titles` must be set to false to change this
normalcase_titles = component.allcaps_titles == false ? true : false
%>
<dl
  <%= component.id ? "id=#{component.id}" : "" %>
  class="
    sage-description
    <%= "sage-description--inline-spread" if component.inline_spread.present? && component.inline_spread %>
    <%= "sage-description--normalcase-titles" if normalcase_titles %>
  "
>
  <% if component.items.present? %>
    <% component.items.each do | item | %>
      <div class="sage-description__term-group">
        <% if item[:title] %>
          <dt class="sage-description__title"><%= item[:title].html_safe %></dt>
        <% end %>
        <% if item[:data] %>
          <% if item[:link] %>
            <%= link_to item[:link] do %>
              <dd class="sage-description__data"><%= item[:data].html_safe %></dd>
            <% end %>
          <% else %>
            <dd class="sage-description__data"><%= item[:data].html_safe %></dd>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <% if component.title.present? %>
      <dt class="sage-description__title"><%= component.title.html_safe %></dt>
    <% end %>
    <% if component.data.present? %>
      <% if component.link.present? %>
        <%= link_to component.link do %>
          <dd class="sage-description__data"><%= component.data.html_safe %></dd>
        <% end %>
      <% else %>
        <dd class="sage-description__data"><%= component.data.html_safe %></dd>
      <% end %>
    <% end %>
  <% end %>
  <%= component.content %>
</dl>
