<%
trigger_configs = component.trigger.present? ? component.trigger : {}
%>
<div
  class="sage-dropdown
    <%= "sage-dropdown--allow-multiple" if component.allow_multiple %>
    <%= "sage-dropdown--anchor-left" if component.align == "left" %>
    <%= "sage-dropdown--anchor-right" if component.align == "right" %>
    <%= "sage-dropdown--anchor-center" if component.align == "center" %>
    <%= "sage-dropdown--contained" if component.contained %>
    <%= "sage-dropdown--customized" if component.customized %>
    <%= "sage-dropdown--full-width" if component.full_width_panel %>
    <%= "sage-dropdown--small" if component.panel_size == "small" %>
    <%= "sage-dropdown--#{component.custom_modifier}" if component.custom_modifier.present? %>
    <%= "sage-dropdown--#{component.panel_type}" if component.panel_type.present? %>
    <%= component.generated_css_classes %>
  "
  data-js-dropdown="<%= component.id %>"
  <%= component.generated_html_attributes.html_safe %>
>
  <div aria-hidden="true" class="sage-dropdown__screen"></div>

  <% if component.trigger.present? || content_for?(:sage_dropdown_trigger) %>
    <%= sage_component SageDropdownTrigger, component.trigger.present? ? component.trigger : {} do %>
      <%= content_for :sage_dropdown_trigger if content_for? :sage_dropdown_trigger %>
    <% end %>
  <% end %>

  <%# TODO: Deprecate use of `content` for the trigger.
  Use `trigger` or `sage_dropdown_trigger` instead,
  Then adjust so that `content` can instead be used for panel contents.
  %>
  <% if component.content.present? %>
    <%= sage_component SageDropdownTrigger, {} do %>
      <%= component.content %>
    <% end %>
  <% end %>

  <div
    class="
      sage-dropdown__panel
      <%= "sage-dropdown__panel--custom-width" if component.panel_width %>
    "
    <% if component.panel_width %>
      style="--custom-panel-width: <%= component.panel_width %>"
    <% end %>
  >
    <% if component.search %>
      <%= sage_component SageSearch, {
        placeholder: "Search",
        value: nil,
        html_attributes: {
          "aria-label": "options_search"
        }
      } %>
    <% end %>

    <% if content_for? :sage_dropdown_custom_panel_content %>
      <%= content_for :sage_dropdown_custom_panel_content %>
    <% elsif content_for? :sage_dropdown_items %>
      <ul class="sage-dropdown__menu" role="menu" aria-label="options_menu">
        <%= content_for :sage_dropdown_items %>
      </ul>
    <% elsif component.items.present? %>
      <ul class="sage-dropdown__menu" role="menu" aria-label="options_menu">
        <% component.items.each do |item| %>
          <%= sage_component SageDropdownItem, item %>
        <% end %>
      </ul>
    <% end %>

    <% if content_for? :sage_dropdown_custom_panel_footer %>
      <% if component.wrap_footer %>
        <div class="sage-dropdown__panel-footer">
          <%= content_for :sage_dropdown_custom_panel_footer %>
        </div>
      <% else %>
        <%= content_for :sage_dropdown_custom_panel_footer %>
      <% end %>
    <% end %>
  </div>
</div>
