<span
  class="
    sage-tag
    <%= "sage-tag--image" if component.image %>
    <%= component.generated_css_classes %>
  "
  <%= component.generated_html_attributes.html_safe %>
>
  <%= image_tag component.image, alt: "", class: "sage-tag__image", "role": "presentation" if component.image %>
  <span class="sage-tag__value"><%= component.value %></span>
  <% if component.show_dismiss %>
    <%= sage_component SageButton, {
      css_classes: "sage-tag__button",
      value: component.value,
      style: "primary",
      subtle: true,
      small: true,
      icon: { name: "remove", style: "only" },
      attributes: component.dismiss_attributes
    } %>
  <% end %>
</span>
