<li class="sage-feature-toggle">
  <h3 class="sage-feature-toggle__title"><%= component.title %></h3>
  <div class="sage-feature-toggle__content">
    <p><%= component.description %></p>
    <%= sage_component SageButton, {
      value: component.link_text,
      style: "primary",
      subtle: true,
      icon: { name: "launch", style: "right" },
      css_classes: "sage-feature-toggle__content-button",
      attributes: component.link_location && {
        href:  component.link_location
      }
    } %>
  </div>
  <% if content_for?(:sage_feature_toggle_input) %>
    <div class="sage-feature-toggle__aside">
      <%= content_for :sage_feature_toggle_input %>
    </div>
  <% end %>
  <a class="sage-feature-toggle__image-link">
    <img class="sage-feature-toggle__image" src=<%= component.image %> alt="<%= component.alt_text %>"/>
  </a>
</li>
