<%- if component.items.total_pages > 1 -%>
  <nav
    class="
      sage-pagination
      <% if component.hide_counter %>sage-pagination--no-counter<% end %>
      <%= component.generated_css_classes %>
    "
    role="pagination"
    aria-label="Pagination Navigation"
  >
    <% if !component.hide_counter %>
      <span class="sage-pagination__count"><%= component.page_count component.items %></span>
    <% end %>

    <ul class="sage-pagination__pages">
      <% if component.items.first_page? %>
      <li class="sage-pagination__item">
        <a href="#" class="sage-pagination__page sage-pagination__page--disabled">
          &larr;
          <% if component.show_arrows %>
            &larr;
          <% else %>
            <%= component.prev_text %>
          <% end %>
        </a>
      </li>
      <% else %>
        <li class="sage-pagination__item">
          <%= link_to_previous_page component.items, component.prev_text, class: "sage-pagination__page", params: component.additional_params %>
        </li>
      <% end -%>

      <% if !component.hide_pages %>
        <%= paginate component.items, outer_window: component.window, theme: "sage_theme" %>
      <% end %>

      <% if component.items.last_page? %>
      <li class="sage-pagination__item">
        <a href="#" class="sage-pagination__page sage-pagination__page--disabled">
          <% if component.show_arrows %>
            &rarr;
          <% else %>
            <%= component.next_text %>
          <% end %>
        </a>
      </li>
      <% else %>
      <li class="sage-pagination__item">
        <%= link_to_next_page component.items, component.next_text, class: "sage-pagination__page", params: component.additional_params %>
      </li>
      <% end -%>
    </ul>
  </nav>
<% else -%>
  <div
    class="
      sage-pagination
      <%= component.generated_css_classes %>
    "
  >
    <% unless component.hide_counter %>
      <span class="sage-pagination__count sage-pagination__count--solo">
        <%= component.page_count component.items %>
      </span>
    <% end %>
  </div>
<% end -%>
