<li
  class="
    sage-sortable__item
    <%= "sage-sortable__item--card" if component.card %>
    sage-sortable__item--custom
    <%= component.generated_css_classes %>
  "
  data-js-sortable-update-url="<%= component.url_update %>"
  <%= "id=#{component.id}" if component.id %>
  <%= component.generated_html_attributes.html_safe %>
>
  <% if component.grid_template.present? %>
    <%= sage_component SageCardRow, {
      grid_template: component.grid_template,
      gap: component.gap,
    } do %>
      <%= component.content %>
    <% end %>
  <% else %>
    <%= component.content %>
  <% end %>
</li>
