<li
  class="
    sage-sortable__item
    sage-sortable__item--custom
  "
  data-js-sortable-update-url="<%= component.url_update %>"
  <%= "id=#{component.id}" if component.id %>
  <%= component.generated_html_attributes.html_safe %>
>
  <%= sage_component SageCardRow, { grid_template: component.grid_template } do %>
    <%= component.content %>
  <% end %>
</li>
