<% if component.title.present? or content_for?(:sage_modal_custom_header) %>
  <header class="sage-modal__header <%= "sage-modal__header--has-header-actions" if content_for?(:sage_header_actions) %>">
    <div class="sage-modal__header-text">
      <%= sage_component SageCardRow, { grid_template: component.header_image.present? || component.header_icon.present? ? "ete" : "te" } do %>
        <% if component.header_image.present? %>
          <%= image_tag component.header_image, alt: "", "aria-hidden": true, class: "sage-modal__header-image" %>
        <% end %>

        <% if component.header_icon.present? %>
          <%= sage_component SageIcon, {
            icon: component.header_icon[:name],
            color: component.header_icon[:color],
            css_classes: "sage-modal__header-icon"
          } %>
        <% end %>

        <% if content_for?(:sage_modal_custom_header) %>
          <%= content_for :sage_modal_custom_header %>
        <% else %>
          <h1 class="t-sage-heading-4">
            <%= component.title %>
          </h1>
        <% end %>

        <% if content_for?(:sage_header_aside) %>
          <aside class="sage-modal__header-aside">
            <%= content_for :sage_header_aside %>
          </aside>
        <% end %>

        <% if content_for?(:sage_header_actions) %>
          <div class="sage-modal__header-actions">
            <%= content_for :sage_header_actions %>
          </div>
        <% end %>
      <% end %>

      <% if component.subheader %>
        <%= sage_component SageCardRow, { grid_template: "te" } do %>
          <h2 class="<%= "#{SageClassnames::TYPE::BODY} #{SageClassnames::TYPE_COLORS::GREY_800}" %>">
            <%= component.subheader %>
          </h2>

          <% if component.help_title %>
            <%= sage_component SagePopover, {
              title: component.help_title,
              icon: "question-circle",
              trigger_value: "Open Menu",
              trigger_icon_only: true,
              link: component.help_link,
            } do %>
              <%= component.help_content.html_safe %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>

      <% if content_for?(:sage_header_indicator) %>
        <%= content_for :sage_header_indicator %>
      <% end %>
    </div>

    <% if content_for?(:sage_header_progress_bar) %>
      <%= content_for :sage_header_progress_bar %>
    <% end %>
  </header>
<% else %>
  <% if content_for?(:sage_header_aside) %>
    <header class="sage-modal__header">
      <aside class="sage-modal__header-aside">
        <%= content_for :sage_header_aside %>
      </aside>
    </header>
  <% end %>
<% end %>

<div
  class="
    sage-modal__content
    <%= "sage-grid-gap-#{component.gap}" if component.gap %>
    <%= "sage-modal__content--spacing-#{component.spacing}" if component.spacing.present? %>
    <%= component.generated_css_classes %>"
  <%= component.generated_html_attributes.html_safe %>
>
  <%= component.content %>
</div>

<% if content_for?(:sage_footer) %>
  <footer class="sage-modal__footer">
    <% if content_for?(:sage_footer_aside) %>
      <aside class="sage-modal__footer-aside">
        <%= content_for :sage_footer_aside %>
      </aside>
    <% end %>
    <%= content_for :sage_footer %>
  </footer>
<% end %>
