<div
  class="sage-next-best-action
  <%= component.card_color ? "sage-next-best-action--#{component.card_color}" : "" %>
  <%= component.graphic[:onRight] ? "sage-next-best-action--graphic-on-right" : "" %>
  <%= component.generated_css_classes %>"
  <%= component.generated_html_attributes.html_safe %>
>
  <% if component.graphic[:element].present? %>
    <div class="sage-next-best-action__graphic">
      <%= component.graphic[:element].html_safe %>
    </div>
  <% end %>
  <div class="sage-next-best-action__text">
    <% if component.title %>
      <h3 class="sage-next-best-action__title"><%= component.title %></h3>
    <% end %>
    <% if component.desc %>
      <p class="sage-next-best-action__desc"><%= component.desc %></p>
    <% end %>
    <% if component.button %>
      <%= sage_component SageButton, {
        style: component.button[:style],
        value: component.button[:text],
      } %>
    <% end %>
  </div>
  <% if component.dismissable %>
    <%= sage_component SageButton, {
      value: "Close",
      icon: {
        style: "only",
        name: "remove"
      },
      subtle: true,
      small: true,
      css_classes: "sage-next-best-action__close"
    } %>
  <% end %>
</div>
