<%
  component_description = component.type === "success" ? "Success" : "Loading..."
  stroke_color = SageTokens::COLOR_PALETTE[:MERCURY_400]
%>

<div class="
    sage-loader
    sage-loader--<%= component.type %>
    <%= "sage-loader--fill" if component.fill %>
    <%= component.generated_css_classes %>
  "
  data-loading="true"
  aria-busy="true"
  aria-live="polite"
  <%= component.generated_html_attributes.html_safe %>
>
  <%# Spinner SVG %>
  <% if component.type === "spinner" %>
    <svg class="sage-loader__spinner" viewBox="0 0 200 200" fill="none" color="<%=stroke_color%>">
      <defs>
        <linearGradient id="sage-loader__spinner-secondHalf">
          <stop offset="0%" stop-opacity="0" stop-color="currentColor" />
          <stop offset="100%" stop-opacity="0.5" stop-color="currentColor" />
        </linearGradient>
        <linearGradient id="sage-loader__spinner-firstHalf">
          <stop offset="0%" stop-opacity="1" stop-color="currentColor" />
          <stop offset="100%" stop-opacity="0.5" stop-color="currentColor" />
        </linearGradient>
      </defs>
      <g>
        <path class="sage-loader__spinner-path sage-loader__spinner-secondHalf" d="M 4 100 A 96 96 0 0 1 196 100" />
        <path class="sage-loader__spinner-path sage-loader__spinner-firstHalf" d="M 196 100 A 96 96 0 0 1 4 100" />
        <path class="sage-loader__spinner-path sage-loader__spinner-highlight" d="M 4 100 A 96 96 0 0 1 4 98" />
      </g>
    </svg>
  <% end %>

  <%# Success/Complete SVG %>
  <% if component.type === "success" %>
    <svg class="sage-loader__success" width="48" height="48" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="24" cy="24" r="21" fill="#0072EF"/><path fill-rule="evenodd" clip-rule="evenodd" d="M34.707 17.293a1 1 0 0 1 0 1.414l-13 13a1 1 0 0 1-1.414 0l-7-7a1 1 0 0 1 1.414-1.414L21 29.586l12.293-12.293a1 1 0 0 1 1.414 0Z" fill="#fff"/></svg>
  <% end %>
  <% if component.text %>
    <p class="sage-loader__text <%= SageClassnames::TYPE::BODY_SMALL %>"><%= component_description %></p>
  <% else %>
    <span class="visually-hidden"><%= component_description %></span>
  <% end %>
</div>
