<div class="
    sage-textarea
    <%= " sage-form-field--error" if component.has_error %>
    <%= component.generated_css_classes %>
  "
  <%= component.generated_html_attributes.html_safe %>
>
  <%# <textarea declaration needs to be on a single line. The line breaks bleeding into the <textarea> as content causing unexpected placeholder behavior %>
  <textarea class="sage-textarea__field" id="<%= component.id %>"<%= " name=#{ component.name.present? ? component.name : component.id }" %> placeholder="<%= component.placeholder %>" <%= "disabled" if component.disabled -%>><%= component.content if component.content.present? %></textarea>
  <%- if component.label_text.present? -%><label for="<%= component.id %>" class="sage-textarea__label"><%= component.label_text -%></label><% end -%>
  <% if component.message_text.present? %>
    <div class="sage-textarea__info">
      <div class="sage-textarea__message">
        <% if component.has_error %>
          <pds-icon name="danger" class="<%= SageClassnames::SPACERS::XS_RIGHT %>"></pds-icon>
        <% end %>
        <%= component.message_text %>
      </div>
    </div>
  <% end %>
</div>
