<%
  # Temporary variables here until refactor for 'name' is complete; see https://kajabi.atlassian.net/browse/SAGE-214
  label = component.label || component.name;
  select_id = component.id.downcase if component.id;
%>

<div class="
  sage-select
  <%= "sage-form-field--error" if component.has_error %>
  <%= component.generated_css_classes %>"
  data-js-select="true"
  <%= component.generated_html_attributes.html_safe %>
>
  <select
    class="sage-select__field"
    name="<%= select_id %>"
    id="<%= select_id %>"
    <%= "disabled" if component.disabled %>
    <%= component.generated_component_attributes.html_safe %>
  >
    <% if component.select_options.present? %>
      <% component.select_options.each do |option| %>
        <% if option[:group_label] %>
          <optgroup
            label="<%= option[:group_label]%>"
            <%= option[:disabled] ? " disabled" : nil -%>
          >
            <% option[:group_options].each do |option| %>
              <option
                value="<%= option[:value] %>"
                <%= option[:selected] && !option[:disabled] ? " selected=true" : nil -%>
                <%= option[:disabled] ? " disabled" : nil -%>
              >
                <%= option[:text] %>
              </option>
            <% end %>
          </optgroup>
        <% else %>
          <option
            value="<%= option[:value] %>"
            <%= option[:selected] && !option[:disabled] ? " selected=true" : nil -%>
            <%= option[:disabled] ? " disabled" : nil -%>
          >
            <%= option[:text] %>
          </option>
        <% end %>
      <% end %>
    <% end %>
  </select>
  <label class="sage-select__label" for="<%= select_id %>"><%= label %></label>
  <i class="sage-select__arrow" aria-hidden="true"></i>
  <% if component.message.present? %>
    <div class="sage-select__info">
      <div class="sage-select__message"><%= component.message %></div>
    </div>
  <% end %>
</div>
