<%
# ensure default is to treat titles with all caps; `allcaps_titles` must be set to false to change this
%>
<dl
  <%= component.id ? "id=#{component.id}" : "" %>
  class="
    sage-description
    <%= "sage-description--stacked" if component.layout == "stacked" %>
    <%= component.generated_css_classes %>
  "
  <%= component.generated_html_attributes.html_safe %>
>
  <% component.items.each do | item | %>
    <div class="sage-description__term-group">
      <% if item[:title] %>
        <dt class="sage-description__title"><%= item[:title] %></dt>
      <% end %>
      <% if item[:data] %>
        <% if item[:link] %>
          <%= link_to item[:link] do %>
            <dd class="sage-description__data"><%= item[:data] %></dd>
          <% end %>
        <% else %>
          <dd class="sage-description__data"><%= item[:data] %></dd>
        <% end %>
      <% end %>
    </div>
  <% end %>
  <%= component.content %>
</dl>
