<%
lazy_load_initials = true

if component.lazy_load_initials == false
  lazy_load_initials = false
end

# Sets badge icon size based on Avatar size
badge_icon_size = 'xs';
avatar_size_as_integer = component.size.to_i;

case avatar_size_as_integer
  when 32..47 then badge_icon_size = "sm"
  when 48..63 then badge_icon_size = nil # should be update to md once -md classes supported
  when 64..79 then badge_icon_size = "lg"
  when 80..95 then badge_icon_size = "xl"
  when 96..111 then badge_icon_size = "2xl"
  when 112..127 then badge_icon_size = "3xl"
  when 128..140 then badge_icon_size = "4xl"
end

%>

<div
  class="
    sage-avatar
    <%= "sage-avatar--#{component.color}" if component.color %>
    <%= "sage-avatar--centered" if component.centered %>
    <%= "sage-avatar--custom-badge" if component.badge_backgroundColor || component.badge_foregroundColor || component.badge_icon %>
    <%= component.generated_css_classes %>
  "
  <%= component.generated_html_attributes.html_safe %>
  <% if component.size %>
    style="width: <%= component.size %>; height: <%= component.size %>;"
  <% end %>
>
  <% if component.badge %>
    <div class="
      sage-avatar__badge
      <%= "sage-avatar__badge--custom-bg" if component.badge_backgroundColor %>
      "
      <% if component.badge_backgroundColor.present? %>
        style="--badge-custom-bg-color: <%= component.badge_backgroundColor %>"
      <% end %>
    >
      <%= sage_component SageIcon, {
        icon: component.badge_icon ? component.badge_icon : "check-circle-filled",
        size: badge_icon_size,
        color: component.badge_foregroundColor ? component.badge_foregroundColor : "purple-600",
      } %>
    </div>
  <% end %>

  <% if !component.initials && !component.image %>
    <pds-icon name="user-filled" color="var(--pine-color-brand)" class="sage-avatar__graphic"></pds-icon>
  <% end %>

  <% if component.image %>
    <%
      image_id = nil
      if component.image[:id]
        image_id = component.image[:id]
      end
    %>
    <%= image_tag component.image[:src], alt: (component.image[:alt] || ""), class: "sage-avatar__image", id: image_id  %>
  <% end %>

  <% if component.initials %>
    <% if lazy_load_initials %>
      <svg class="sage-avatar__initials" viewBox="0 0 32 32">
        <text x="16" y="20"><%= component.initials %></text>
      </svg>
    <% end %>
  <% end %>
</div>
