<% badge_content_tag = component.interactive_type ? "button" : "span" %>

<span
  class="
    sage-badge
    <%= "sage-badge--#{component.color}" if component.color %>
    <%= "sage-badge--interactive" if component.interactive_type %>
    <%= "sage-badge--large" if component.large %>
    <%= component.generated_css_classes %>
  "
  <% component.container_attributes.each do |key, value| %>
    <%= "#{key}='#{value}'".html_safe %>
  <% end if component.container_attributes&.is_a?(Hash) %>
>
  <% if content_for? :sage_badge_dot %>
    <%= content_for :sage_badge_dot %>
  <% end %>
  <<%= badge_content_tag %>
    class="sage-badge__value"
    <%= "type=button" if component.interactive_type %>
    <%= component.generated_html_attributes.html_safe %>
  />
    <span class="sage-badge__value-text">
      <%= component.value.html_safe %>
    </span>
    <%= component.content %>
    <% if component.interactive_type %>
      <pds-icon name="down-small" size="12px" class="sage-badge__decor-icon sage-badge__decor-icon--down-small"></pds-icon>
    <% end %>
  </<%= badge_content_tag %>>
</span>

