<button 
  class="sage-btn sage-btn--primary <%= component.generated_css_classes %>" 
  data-js-tooltip="<%= component.text %>" 
  data-js-tooltip-position="<%= component.position %>" 
  <%= "data-js-tooltip-theme=#{component.theme}" if component.theme.present? -%>
  <%= "data-js-tooltip-size=#{component.size}" if component.size.present? -%>
  <%= component.generated_html_attributes.html_safe %>
>
  <%= component.position.capitalize %>
</button>
