<div 
  class="sage-expandable-card 
    <%= component.generated_css_classes %>
    <% if component.expanded.present? %>sage-expandable-card--expanded<% end %>
    <% if component.align_right %>sage-expandable-card--align-right<% end %>"
    <%= component.generated_html_attributes.html_safe %>
>
  <%= sage_component SageButton, {
    style: "primary",
    value: component.trigger_label,
    subtle: true,
    icon: { name: "caret-right", style: "left" },
    css_classes: "sage-expandable-card__trigger",
    attributes: {
      "data-js-accordion": "header",
      "aria-expanded": (component.expanded.present? ? true : false)
    },
  } %>
  <div class="
      <% if component.body_bordered.present? %>sage-expandable-card__body-bordered<% else %>sage-expandable-card__body<% end %>
      <%= "sage-type" if component.sage_type %>
    "
    data-js-accordion="body"
  >
    <%= component.content %>
  </div>
</div>
