<dialog
  class="sage-modal
    <%= "sage-modal--active" if component.active %>
    <%= "sage-modal--large" if component.large -%>
    <%= "sage-modal--no-blur" if component.disable_background_blur -%>
    <%= component.generated_css_classes %>
  "
  <%= "data-sage-animate" if component.animate.present? %>
  <%= "data-js-remote-url=#{component.remote_url}" if component.remote_url.present? %>
  <%- if component.animate.is_a?(Hash) -%>
    <%- component.animate.each do |key, value| -%>
      <%= "data-sage-animate-#{ key }=#{ value }" %>
    <%- end -%>
  <%- end -%>
  <%= "data-js-modal-disable-close" if component.disable_close %>
  <%= "data-js-modal-remove-content-on-close" if component.remove_content_on_close %>
  data-js-modal="<%= component.id %>"
  <%= component.generated_html_attributes.html_safe %>
>
  <section class="sage-modal__container" data-js-modal-container tabindex="-1">
    <% if component.content.present? %>
      <%= component.content %>
    <% else %>
      <%= sage_component SageModalContent, {} do %>
        <%= sage_component SageLoader, { type: "spinner" } %>
      <% end %>
    <% end %>
  </section>
</dialog>
