<%

button_attributes = {
  value: component.trigger_value,
  style: "secondary",
  css_classes: "sage-popover__button",
  subtle: true,
  attributes: {
    "aria-haspopup": true,
    "aria-controls": "sage-popover",
    "aria-expanded": false,
    "data-js-popover--trigger": ""
  },
}

if component.icon.present?
  icon = component.icon.is_a?(Hash) ? component.icon : {
    style: "left",
    name: component.icon
  }
  if component.trigger_icon_only
    icon[:style] = "only"
  end
  button_attributes[:icon] = icon
end

position = component.popover_position.present? ? component.popover_position : "right"
%>
<div 
  class="
    sage-popover
    <%= "sage-popover--#{position}" %>
    <%= component.generated_css_classes %>
  " 
  data-js-popover 
  <%= component.generated_html_attributes.html_safe %>
>
  <%= sage_component SageButton, button_attributes %>
  <div class="sage-popover__overlay" data-js-popover--overlay></div>
  <div class="sage-popover__panel">
    <% if component.title.present? %>
      <div class="sage-popover__title">
        <%= component.title %>
      </div>
    <% end %>
    <div class="
        sage-popover__content
        <%= "sage-popover__content--custom #{component.custom_content_class}" if component.custom_content_class.present? %>
      "
    >
      <%= component.content %>
    </div>
    <% if component.link %>
      <div class="sage-popover__actions">
        <%= sage_component SageButton, {
          value: component.link[:name],
          style: "primary",
          subtle: true,
          icon: {
            style: "right",
            name: "launch"
          },
          attributes: {
            href: component.link[:href],
            target: "_blank",
            rel: "noreferrer noopener"
          }
        } %>
      </div>
    <% end %>
  </div>
</div>
