<div class="sage-sidebar <%= component.size ? "sage-sidebar--#{component.size}" : "" %>" id="<%= component.id %>" data-js-sidebar="<%= component.id %>">
  <div class="sage-sidebar__body">
    <%= component.content %>
  </div>
  <% if content_for? :sidebar_footer %>
      <div class="sage-sidebar__footer">
        <%= content_for :sidebar_footer %>
      </div>
    <% end %>
</div>
