<span class="
    sage-copy-text 
    <%= "sage-copy-text--semibold" if component.semibold.present? && component.semibold %>
    <%= component.css_classes %>
    <%= component.generated_css_classes %>
  " 
  <%= component.generated_html_attributes.html_safe %>>
  <%= component.value.html_safe %>
</span>
