<% feature_toggle_title_tag = component.title_tag ? component.title_tag : "h3" %>

<li class="sage-feature-toggle">
  <<%= feature_toggle_title_tag %> class="sage-feature-toggle__title"><%= component.title %></<%= feature_toggle_title_tag %>>
  <div class="sage-feature-toggle__content">
    <p><%= component.description %></p>
    <div class="sage-feature-toggle__links">
      <% if component.links.present? %>
        <% component.links.each do | link | %>
          <% if link[:location].present? %>
            <%= sage_component SageButton, {
              value: link[:text],
              style: "primary",
              subtle: true,
              icon: { name: link[:icon], style: "right" },
              css_classes: "sage-feature-toggle__content-button",
              attributes: link[:location].present? && {
                href: link[:location]
              }
            } %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
  <% if content_for?(:sage_feature_toggle_input) %>
    <div class="sage-feature-toggle__aside">
      <%= content_for :sage_feature_toggle_input %>
    </div>
  <% end %>
  <div class="sage-feature-toggle__image-link" >
    <img class="sage-feature-toggle__image" src=<%= component.image %> alt="<%= component.alt_text %>" <%= "aria-hidden=true" if component.alt_text.blank? %> />
  </div>
</li>
