<%- if component.items.total_pages > 1 -%>
  <nav
    class="
      sage-pagination
      <% if component.hide_counter %>sage-pagination--no-counter<% end %>
      <%= "sage-pagination--align-#{component.align}" if component.align.present? %>
      <%= component.css_classes %>
      <%= component.generated_css_classes %>
    "
    role="pagination"
    aria-label="Pagination Navigation"
    <%= component.generated_html_attributes.html_safe %>
  >
    <% if !component.hide_counter %>
      <span class="sage-pagination__count">
        <% if component.page_count_prefix %><span class="sage-pagination__count-prefix"><%= component.page_count_prefix %></span><% end %>
        <%= component.page_count component.items %>
        <% if component.page_count_suffix %><span class="sage-pagination__count-suffix"><%= component.page_count_suffix %></span><% end %>
      </span>
    <% end %>

    <ul class="sage-pagination__pages">
      <% prev_text = %(<span class="sage-pagination__page-text">Back</span>).html_safe %>
      <% next_text = %(<span class="sage-pagination__page-text">Next</span>).html_safe %>
      <% if component.items.first_page? %>
      <li class="sage-pagination__item">
        <a href="#" class="sage-pagination__page sage-pagination__page--disabled">
          <%= prev_text %>
        </a>
      </li>
      <% else %>
        <li class="sage-pagination__item">
          <%= link_to_previous_page component.items, prev_text, class: "sage-pagination__page", params: component.additional_params %>
        </li>
      <% end -%>

      <% if !component.hide_pages %>
        <%= paginate component.items, outer_window: component.window, theme: "sage_theme" %>
      <% end %>

      <% if component.items.last_page? %>
      <li class="sage-pagination__item">
        <a href="#" class="sage-pagination__page sage-pagination__page--disabled">
          <%= next_text %>
        </a>
      </li>
      <% else %>
      <li class="sage-pagination__item">
        <%= link_to_next_page component.items, next_text, class: "sage-pagination__page", params: component.additional_params %>
      </li>
      <% end -%>
    </ul>
  </nav>
<% else -%>
  <div
    class="
      sage-pagination
      <%= component.generated_css_classes %>
    "
    <%= component.generated_html_attributes.html_safe %>
  >
    <% unless component.hide_counter %>
      <span class="sage-pagination__count sage-pagination__count--solo">
        <%= component.page_count component.items %>
      </span>
    <% end %>
  </div>
<% end -%>
