<%
  html_tag = component.title_tag ? component.title_tag : "h2"
  size = component.size

  image_options = {
    alt: component.alt_text,
    class: "sage-hero__artwork-image"
  }.merge((component.alt_text.blank? ? { "aria-hidden": true } : {}))

  artwork = %(
    <span class="sage-hero__artwork-image-container">
      #{image_tag(component.image, image_options)}
    </span>
  ).html_safe if component.image.present?
%>

<article
  class="
    sage-hero
    sage-hero--<%= size %>
    <%= "sage-hero--borderless" if component.borderless %>
    <%= "sage-hero--contained" if component.contained %>
    <%= "sage-hero--custom-background-color" if component.custom_background_color %>
    <%= "sage-hero--image-start" if component.image_start %>
    <%= component.generated_css_classes %>
  "
  data-js-hero
  <% if component.custom_background_color %>
    style="--custom-background-color: <%= component.custom_background_color %>"
  <% end %>
  <%= component.generated_html_attributes.html_safe %>
>
  <<%= html_tag %> class="sage-hero__title"><%= component.title %></<%= html_tag %>>
  <div class="sage-hero__body">
    <p class="<%= "#{SageClassnames::SPACERS::MD_BOTTOM}" %>">
      <%= component.description %>
    </p>

    <% if component.button %>
      <%= component.button.html_safe %>
    <% end %>

    <% if content_for? :sage_hero_footer_actions %>
      <%= content_for :sage_hero_footer_actions %>
    <% end %>
  </div>

  <% if component.cta_attributes.present? && artwork.present? %>
    <a
      <% component.cta_attributes.each do |key, value| %>
        <%= "#{key}='#{value}'".html_safe %>
      <% end if component.cta_attributes&.is_a?(Hash) %>
      class="sage-hero__artwork sage-hero__artwork--cta"
    >
      <%= artwork %>
    </a>
  <% else %>
    <% if artwork.present? %>
      <div class="sage-hero__artwork">
        <%= artwork %>
      </div>
    <% end %>
  <% end %>

</article>
