<div 
  class="sage-drawer
  <%= component.generated_css_classes %>
">
  <%= sage_component SageModal, {
    id: "test-drawer",
    remove_content_on_close: true,
    disable_background_blur: true,
    animate: {
      direction: "left"
    },
  } do %>

    <%= sage_component SageModalContent, {
      title: component.title, 
    } do %>
      <% content_for :sage_header_aside do %>
        <%= sage_component SageButton, {
          style: "secondary",
          subtle: true,
          value: "Close Modal",
          icon: { name: "remove", style: "only" },
          attributes: { "data-js-modal": true }
        } %>
      <% end %>
      <% if content_for?(:sage_drawer_content) %>
        <%= content_for :sage_drawer_content %>
      <% end %>
    <% end %>
  <% end %>
</div>
