<div class="sage-transaction-card">
  <div class="sage-transaction-card__header">
    <%= sage_component SageLabel, {
      color: component.label_color,
      value: component.label_text,
    } %>
    <% if component.dropdown_options.present? %>
      <%= sage_component SageDropdown, {
        align: "right",
        items: component.dropdown_options
      } do %>
        <%= sage_component SageButton, {
          style: "secondary",
          icon: { name: "dot-menu-horizontal", style: "only" },
          value: "Options",
          align: "end",
          subtle: true,
        } %>
      <% end %>
    <% end %>
  </div>
  <div class="sage-transaction-card__body">
    <h4 class="sage-transaction-card__name"><%= component.name %></h4>
    <div class="sage-transaction-card__amount<%= " sage-transaction-card__amount--#{component.amount_color}" if component.amount_color.present? %>"><%= component.amount %></div>
  </div>
  <div class="sage-transaction-card__footer">
    <%= sage_component SageProperty, { icon: "tag", value: component.product_name } %>
    <%= sage_component SageProperty, { value: component.transaction_time } %>
  </div>
</div>
