<%
# TEMP: provide fallbacks in order to avoid breaking change in `products`
logo = {
  path: "nav_logo_white.png",
  method: nil,
}
if component.branding[:logo].present?
  logo = component.branding[:logo]
end

menu_button = true
if component.menu_button_controls.present?
  menu_button = component.menu_button
end

menu_button_controls = "sage-sidebar-menu"
if component.menu_button_controls.present?
  menu_button_controls = component.menu_button_controls
end
%>
<header class="sage-header">
  <% if menu_button %>
    <button
      class="sage-menubutton"
      aria-expanded="false"
      aria-controls="<%= menu_button_controls %>"
      data-js-btn-target="<%= menu_button_controls %>"
      data-js-target-type="sidebar"
    >
      <span class="sage-menubutton__bar"></span>
      <span class="sage-menubutton__bar"></span>
      <span class="sage-menubutton__bar"></span>
      <span class="visually-hidden">Toggle main menu</span>
    </button>
  <% end %>
  <div class="sage-header__branding">
    <% if logo[:method] == "pack" %>
      <%= image_pack_tag(logo[:path], class: "sage-header__branding-image")%>
    <% else %>
      <%= image_tag logo[:path], class: "sage-header__branding-image" %>
    <% end %>
    <h1 class="sage-header__branding-text <%= "visually-hidden" if component.branding[:hide_text].present? %>">
      <%= component.branding[:text] %></h1>
    </h1>
  </div>
  <div class="sage-header__body <%= "sage-header__body--center" if component.center_body %>">
    <%= component.content %>
  </div>
  <% if content_for?(:sage_header_actions) %>
    <div class="sage-header__actions">
      <%= content_for :sage_header_actions if content_for?(:sage_header_actions) %>
    </div>
  <% end %>
</header>
