<% if component.type == 'secondary' %>
  <% icon_name = 'info-circle-filled' %>
<% elsif component.type == 'warning' %>
  <% icon_name = 'info-circle-filled' %>
<% elsif component.type == 'danger' %>
  <% icon_name = 'warning-filled' %>
<% else %>
  <% icon_name = 'info-circle-filled' %>
<% end %>

<% if component.banner_context.present? %>
  <div class="
    sage-banner-wrapper
    <%= "sage-banner-wrapper--context-#{component.banner_context}" if component.banner_context.present? %>
    <%= component.generated_css_classes %>
  ">
<% end %>

<div
  class="
    sage-banner
    <%= "sage-banner--#{component.type}" if component.type.present? %>
    <%= "sage-banner--active" if component.active.present? && component.active %>
  "
  <%= "id=#{component.id}" if component.id.present? %>
  <%= "aria-hidden=true" if !component.active %>
  <%= component.generated_html_attributes.html_safe %>
>
  <% if component.type.present? || "default" %>
    <pds-icon name="<%= icon_name %>" size="16px" class="sage-banner__icon"></pds-icon>
  <% end %>
  <% if component.text.present? %>
    <p class="sage-banner__text">
      <%= component.text %>
    </p>
  <% end %>

  <% if component.link.present? %>
    <%= sage_component SageButton, {
      value: component.link[:name],
      subtle: true,
      css_classes: "sage-banner__link",
      attributes: component.link[:attributes]
    } %>
  <% end %>

  <%= component.content if component.content.present? %>

  <% if component.dismissable %>
    <%= sage_component SageButton, {
      value: "Dismiss",
      subtle: true,
      icon: {
        name: "remove",
        style: "only"
      },
      attributes: {
        "data-js-toggle-banner": "SELF",
      },
      css_classes: "sage-banner__close",
    } %>
  <% end %>
</div>

<% if component.banner_context.present? %>
  </div>
<% end %>
