<%
tag = "button"
if component.attributes.nil? || component.attributes&.keys&.include?(:href) || component.attributes&.keys&.include?("href")
  tag = "a"
end
%>
<li class="
    sage-dropdown__item
    <%= "sage-dropdown__item--heading" if component.is_heading %>
    <% component.modifiers&.each do |item_modifier| %>
      <%= "sage-dropdown__item--#{item_modifier}" if item_modifier %>
    <% end %>
    <%= component.generated_css_classes %>
  "
  role="none"
  <%= "aria-selected=true" if component.selected %>
  <%= component.generated_html_attributes.html_safe %>
>
  <% if component.is_heading %>
    <% if component.content.present? %>
      <%= component.content %>
    <% else %>
      <%= component.value.html_safe %>
    <% end %>
  <% else %>
    <<%= tag %>
      class="
        sage-dropdown__item-control
        <%= "sage-dropdown__item-control--custom" if component.content.present? %>
        <%= "sage-dropdown__item-control--#{component.style}" if component.style %>
        <%= "sage-dropdown__item-control--icon-#{component.icon}" if component.icon %>
      "
      <%= 'type=button' if tag == "button" %>
      role="menuitem"
      tabindex="0"
      <% component.attributes.each do |key, value| %>
        <%= key %>="<%= value %>"
      <% end if component.attributes&.is_a?(Hash) %>
    >
      <% if component.icon.present? %>
        <pds-icon class="<%= "sage-dropdown__item-control--icon-#{component.icon}"%> <%= SageClassnames::SPACERS::XS_RIGHT %>" name="<%= component.icon %>"></pds-icon>
      <% end %>
      <% if component.content.present? %>
        <%= component.content %>
      <% else %>
        <%= component.value.html_safe %>
      <% end %>
    </<%= tag %>>
  <% end %>
</li>
