<%
show_secondary_toolbar = component.show_pagination or component.show_sort or component.show_expand_collapse
show_default_controls = component.show_bulk_actions or show_secondary_toolbar
bulk_action_items = component.bulk_action_items.present? ? component.bulk_action_items : []
sort_items = component.sort_items.present? ? component.sort_items : []
item_count_text = component.item_count_label.present? ? item_count_label : "Select all"
%>
<div class="sage-panel-controls" data-js-panel-controls="<%= component.target %>">
  <% if content_for? :sage_panel_controls_tabs %>
    <div class="sage-panel-controls__tabs">
      <%= content_for :sage_panel_controls_tabs %>
    </div>
  <% end %>

  <% if content_for? :sage_panel_controls_toolbar %>
    <div class="sage-panel-controls__toolbar">
      <%= content_for :sage_panel_controls_toolbar %>
    </div>
  <% end %>

  <% if show_default_controls %>
    <div class="sage-panel-controls__default-controls">
      <% if component.show_bulk_actions %>
        <div class="sage-panel-controls__bulk-actions">
          <%= sage_component SageCheckbox, { 
            id:"panel-controls-bulk-checkbox-#{component.target}",
            label_text: item_count_text,
            checked: false,
            css_classes: "sage-panel-controls__bulk-actions-checkbox",
            disabled: false,
            has_error: false,
            partial_selection: false,
          } %>
          <%= sage_component SageDropdown, {
            trigger_type: "select",
            align: "right",
            css_classes: "sage-panel-controls__bulk-actions-dropdown",
            customized: true,
            custom_modifier: "actions",
            items: bulk_action_items,
          } do %>
            <%= sage_component SageButton, {
              style: "secondary",
              value: "",
              css_classes: "sage-dropdown__trigger-selected-value",
              icon: { style: "right", name: "caret-down" }
            } %>
            <label class="sage-dropdown__trigger-label">Actions</label>
          <% end %>
        </div>

      <% elsif component.item_count_label.present? %>
        <p class="sage-panel-controls__item-count-label">
          <%= item_count_text %>
        </p>
      <% end %>

      <% if show_secondary_toolbar %>
        <div class="sage-panel-controls__toolbar">
          <% if component.show_pagination %>
            <div class="sage-panel-controls__pagination">
              <%= sage_component SageButton, {
                css_classes: "sage-panel-controls__pagination-prev",
                value: "Previous page",
                style: "secondary",
                icon: { name: "arrow-left", style: "only" }
              } %>
              <%= sage_component SageButton, {
                css_classes: "sage-panel-controls__pagination-next",
                value: "Next page",
                style: "secondary",
                icon: { name: "arrow-right", style: "only" }
              } %>
            </div>
          <% end %>

          <% if component.show_sort %>
            <%= sage_component SageDropdown, {
              trigger_type: "select",
              align: "right",
              css_classes: "sage-panel-controls__sorts",
              customized: true,
              custom_modifier: "sort",
              items: sort_items
            } do %>
              <%= sage_component SageButton, {
                style: "secondary",
                value: "",
                css_classes: "sage-dropdown__trigger-selected-value",
                icon: { style: "right", name: "caret-down" }
              } %>
              <label class="sage-dropdown__trigger-label">Sort</label>
            <% end %>
          <% end %>

          <% if component.show_expand_collapse %>
            <div class="
                sage-panel-controls__toolbar-btn-group
                sage-panel-controls__toolbar-btn-group--expand-collapse
              "
              data-js-expand-collapse-status="<%= component.start_expanded ? "collapse" : "expand" %>"
            >
              <%= sage_component SageButton, {
                value: "Expand",
                style: "secondary",
                icon: { name: "list-details", style: "only" },
                css_classes: "sage-panel-controls__expand-btn"
              } %>
              <%= sage_component SageButton, {
                value: "Collapse",
                style: "secondary",
                icon: { name: "list-stack", style: "only" },
                css_classes: "sage-panel-controls__collapse-btn"
              } %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
