<% is_primary_button = !component.primary_action&.has_key?(:url) %>
<% is_secondary_button = !component.secondary_action&.has_key?(:url) %>

<div
  class="
    sage-alert<%= component.color ? "
    sage-alert--#{component.color}" : ""%>
    <%= component.generated_css_classes %>
  "
  <%= component.generated_html_attributes.html_safe %>
>
  <i class="sage-alert__icon <%= component.icon_name %>" aria-hidden="true"></i>
  <div class="sage-alert__copy">
    <% if component.title %>
      <h3 class="sage-alert__title">
        <%= component.title %>
        <% if component.title_addon %>
          <span class="sage-alert__title--add-on"><%= component.title_addon %></span>
        <% end %>
      </h3>
    <% end %>
    <% if component.desc %>
      <p class="sage-alert__desc"><%= component.desc %></p>
    <% end %>
    <div class="sage-alert__actions">
      <% if component.primary_action %>
        <% if is_primary_button %>
          <%= sage_component SageButton, {
            value: component.primary_action[:value],
            style: "secondary",
            raised: false,
            css_classes: "sage-alert__primary-action",
          } %>
        <% else %>
          <%= sage_component SageButton, {
            value: component.primary_action[:value],
            style: "secondary",
            raised: false,
            css_classes: "sage-alert__primary-action",
            attributes: {
              href: component.primary_action[:url]
            },
          } %>
        <% end %>
      <% end %>
      <% if component.secondary_action %>
        <% if is_secondary_button %>
          <%= sage_component SageButton, {
            value: component.secondary_action[:value],
            style: "secondary",
            subtle: true,
            css_classes: "sage-alert__secondary-action",
          } %>
        <% else %>
        <%= link_to component.secondary_action[:value], component.secondary_action[:url] %>
        <% end %>
      <% end %>
      <% if content_for? :sage_alert_actions %>
        <%= content_for :sage_alert_actions %>
      <% end %>
    </div>
  </div>
  <% if component.dismissable %>
    <%= sage_component SageButton, {
      value: "Close",
      icon: {
        style: "only",
        name: "remove"
      },
      subtle: true,
      small: true,
      css_classes: "sage-alert__close"
    } %>
    <% end %>
</div>
