<div
  class="
    sage-next-best-action<%= component.card_color ? "
    sage-next-best-action--#{component.card_color}" : "" %>
    <%= component.generated_css_classes %>
  "
  <%= component.generated_html_attributes.html_safe %>
>
  <% if component.title %>
    <h3 class="sage-next-best-action__title"><%= component.title %></h3>
  <% end %>
  <% if component.desc %>
    <p class="sage-next-best-action__desc"><%= component.desc %></p>
  <% end %>
  <% if component.button_text %>
    <%= sage_component SageButton, {
      style: component.button_style,
      value: component.button_text,
    } %>
  <% end %>
  <%= @content %>
</div>
