<section class="sage-page-heading <%= component.generated_css_classes %>">
  <% if content_for? :sage_breadcrumbs %>
    <div class="sage-page-heading__crumbs">
      <%= content_for :sage_breadcrumbs %>
    </div>
  <% end %>
  <h1 class="sage-page-heading__title"><%= component.title %><% if component.help_link.present? %> <a href="<%= component.help_link[:url] %>" class="sage-link--no-launch sage-link--help-icon-only" target="_blank" referrer="no-referrer"><span class="visually-hidden"><%= component.help_link[:label] %></span></a><% end %></h1>
  <% if content_for? :sage_page_heading_intro %>
    <div class="sage-page-heading__intro">
      <%= content_for :sage_page_heading_intro %>
    </div>
  <% end %>
  <% if content_for? :sage_page_heading_actions %>
    <div class="sage-page-heading__actions">
      <%= content_for :sage_page_heading_actions %>
    </div>
  <% end %>
  <% if content_for? :sage_page_heading_toolbar %>
    <div class="sage-page-heading__toolbar">
      <%= content_for :sage_page_heading_toolbar %>
    </div>
  <% end %>
  <% if component.secondary_text.present? %>
    <div class="sage-page-heading__secondary">
      <p><%= component.secondary_text %></p>
    </div>
  <% end %>
</section>
