<form
  role="search"
  class=" sage-search
    <%= "sage-search--contained" if component.contained %>
    <%= component.generated_css_classes %>
  "
  data-js-search

  <%= component.generated_html_attributes.html_safe %>
>

  <label for="<%= component.id %>" class="sage-search__label<%= " visually-hidden" if component.hide_label %>">
    <%= component.label_text %>
  </label>
  <div class="sage-search__field-wrapper">
    <pds-icon name="search-small" class="<%= SageClassnames::SPACERS::SM_LEFT %>" color="<%= SageTokens::COLOR_PALETTE[:CHARCOAL_200] %>"></pds-icon>
    <input
      id="<%= component.id %>"
      class="sage-search__input"
      <%# Prevents the default Kajabi-Products Search.js from binding to this input %>
      data-kjb-disable-search
      type="search"
      <%= "disabled" if component.disabled %>
      placeholder="<%= component.placeholder.present? ? component.placeholder : "Search" %>"
      value="<%= component.value %>"
    >
    <%= sage_component SageButton, {
      value: "Clear Search",
      style: "secondary",
      css_classes: "sage-search__reset-button",
      subtle: true,
      attributes: {
        "data-js-search-clear": ""
      },
      icon: {
        style: "only",
        name: "remove"
      }
    } %>
  </div>

</form>
