<%
  # see `docs/lib/sage_rails/app/helpers/sage_table_helper.rb` for CSS class output logic
  is_responsive = true
  if component&.responsive == false
    is_responsive = false
  end
%>
<div class="<%= sage_table_wrapper_classes(component, is_responsive) %>"
  <%= component.generated_css_classes %>
>
  <% if is_responsive %>
    <div class="sage-table-wrapper__overflow">
  <% end %>

  <table
    class="<%= sage_table_classes(component) %>"
    data-js-table
    <%= component.generated_html_attributes.html_safe %>
  >
    <% if component.caption.present? %>
      <caption class="<%= sage_table_caption_classes(component) %>">
        <%= component.caption.html_safe %>
      </caption>
    <% end %>
    <% if component.headers.present? %>
      <thead>
        <tr>
          <% component.headers.each do | header | %>
            <% table_header_element = header.to_s.strip.empty? ? "td" : "th" %>
            <<%= table_header_element %>
              class="
                sage-table__header
                <%= "sage-table__header--#{header[:data_type]}" if header&.is_a?(Hash) && header[:data_type].present? %>
              "
              <% header[:html_attributes].each do | key, value | %>
                <%= "#{key}=#{value}" %>
              <% end if header&.is_a?(Hash) && header[:html_attributes].present? %>
            >
              <%= header&.is_a?(Hash) ? header[:value].html_safe : header.html_safe %>
            </<%= table_header_element %>>
          <% end %>
        </tr>
      </thead>
    <% end %>
    <tbody>
      <% if component.rows.present? %>
        <% component.rows.each do | row | %>
          <tr class="<%= sage_table_row_classes(component) %>">
            <% if row.is_a? Array %>
              <% row.each do | cell | %>
                <td class="<%= sage_table_cell_classes(component) %>"
                  <% cell[:html_attributes].each do | key, value | %>
                    <%= "#{key}=#{value}" %>
                  <% end if cell&.is_a?(Hash) && cell[:html_attributes].present? %>
                >
                  <%= cell&.is_a?(Hash) ? cell[:value].html_safe : cell.html_safe %>
                </td>
              <% end %>
            <% elsif row.is_a? Object or row.is_a? Hash %>
              <% row.each do | key, value | %>
                <td class="<%= sage_table_cell_classes(component) %>"
                  data-cell-key="<%= key %>"
                  <% value[:html_attributes].each do | k, v | %>
                    <%= "#{k}=#{v}" %>
                  <% end if value&.is_a?(Hash) && value[:html_attributes].present? %>
                >
                  <%= value&.is_a?(Hash) ? value[:value].html_safe : value.html_safe %>
                </td>
              <% end %>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

  <% if is_responsive %>
    </div>
  <% end %>
</div>
