<div
  class="
    sage-alert
    <%= "sage-alert--#{component.color}" if component.color %>
    <%= "sage-alert--dismissable" if component.dismissable %>
    <%= "sage-alert--small" if component.small %>
    <%= "sage-alert--actions" if component.primary_action or component.secondary_actions or content_for? :sage_alert_actions  %>
    <%= "sage-alert--no-actions" unless component.primary_action || component.secondary_actions || content_for?(:sage_alert_actions) %>
    <%= component.generated_css_classes %>
  "
  data-js-alert="true"
  <%= component.generated_html_attributes.html_safe %>
>
  <% if component.icon_name %>
    <pds-icon name="<%= component.icon_name %>" class="sage-alert__icon"></pds-icon>
  <% end %>
  <div class="sage-alert__copy">
    <% if component.title %>
      <h3 class="sage-alert__title">
        <%= component.title %>
        <% if component.title_addon %>
          <span class="sage-alert__title--add-on"><%= component.title_addon %></span>
        <% end %>
      </h3>
    <% end %>
    <% if component.desc %>
      <p class="sage-alert__desc"><%= component.desc %></p>
    <% end %>
  </div>
  <% if component.primary_action or component.secondary_actions or content_for? :sage_alert_actions %>
    <div class="sage-alert__actions">
      <% if component.primary_action %>
        <%= sage_component SageButton, {
          value: component.primary_action[:value],
          test_id: component.primary_action[:test_id],
          style: "primary",
          css_classes: "sage-alert__primary-action",
          attributes: component.primary_action[:attributes]
        } %>
      <% end %>
      <% if component.secondary_actions %>
        <% component.secondary_actions.each do | secondary_action | %>
          <%= sage_component SageLink, {
            label: secondary_action[:value],
            show_label: true,
            style: "secondary",
            remove_underline: true,
            url: secondary_action[:url],
          } %>
        <% end %>
      <% end %>
      <% if content_for? :sage_alert_actions %>
        <%= content_for :sage_alert_actions %>
      <% end %>
    </div>
  <% end %>
  <% if component.dismissable %>
    <div class="sage-alert__close">
      <%= sage_component SageButton, {
        value: "Close",
        icon: {
          style: "only",
          name: "remove"
        },
        subtle: true,
        style: "primary",
        css_classes: "sage-alert__close-btn"
      } %>
    </div>
  <% end %>
</div>
