<%
color = component.color || "default"
icon = component.icon_name || "sage-icon-info-circle-filled"
icon["sage-icon-"] = "" # removes the `sage-icon-` prefix from provided icon
icon_color = "charcoal-200"
case color
  when "info"
    icon_color = "primary-300"
    icon = "info-circle-filled"
  when "published"
    icon_color = "sage-300"
    icon = "check-circle-filled"
  when "success"
    icon_color = "sage-300"
    icon = "check-circle-filled"
  when "warning"
    icon_color = "yellow-400"
    icon = "warning-filled"
  when "approaching"
    icon_color = "yellow-400"
    icon = "warning-filled"
  when "reached"
    icon_color = "orange-400"
    icon = "warning-filled"
  when "exceeded"
    icon_color = "red-300"
    icon = "danger-filled"
  when "danger"
    icon_color = "red-300"
    icon = "danger-filled"
  else
    icon_color = "charcoal-200"
    icon = "info-circle-filled"
end
%>
<div
  class="
    sage-alert
    <%= "sage-alert--#{color}" %>
    <%= "sage-alert--small" if component.small %>
    <%= "sage-alert--dismissable" if component.dismissable %>
    <%= component.generated_css_classes %>
  "
  data-js-alert="true"
  <%= component.generated_html_attributes.html_safe %>
>
  <%= sage_component SageIcon, {
    css_classes: "sage-alert__icon",
    icon: icon,
    color: icon_color,
  } %>
  <div class="sage-alert__copy">
    <% if component.title %>
      <h3 class="sage-alert__title">
        <%= component.title %>
        <% if component.title_addon %>
          <span class="sage-alert__title--add-on"><%= component.title_addon %></span>
        <% end %>
      </h3>
    <% end %>
    <% if component.desc %>
      <p class="sage-alert__desc"><%= component.desc %></p>
    <% end %>
  </div>
  <% if component.primary_action or component.secondary_actions or content_for? :sage_alert_actions %>
    <div class="sage-alert__actions">
      <% if component.primary_action %>
        <%= sage_component SageButton, {
          value: component.primary_action[:value],
          test_id: component.primary_action[:test_id],
          style: "primary",
          attributes: component.primary_action[:attributes]
        } %>
      <% end %>
      <% if component.secondary_actions %>
        <% component.secondary_actions.each do | secondary_action | %>
          <%= sage_component SageLink, {
            label: secondary_action[:value],
            show_label: true,
            style: "secondary",
            remove_underline: true,
            url: secondary_action[:url],
            html_attributes: secondary_action[:html_attributes] || {},
          } %>
        <% end %>
      <% end %>
      <% if content_for? :sage_alert_actions %>
        <%= content_for :sage_alert_actions %>
      <% end %>
    </div>
  <% end %>
  <% if component.dismissable %>
    <div class="sage-alert__close">
      <%= sage_component SageButton, {
        value: "Close",
        icon: {
          style: "only",
          name: "remove"
        },
        subtle: true,
        style: "primary",
        css_classes: "sage-alert__close-btn"
      } %>
    </div>
  <% end %>
</div>
