<nav
  class="sage-nav <%= component.generated_css_classes %>"
  <% if component.aria_label.present? %>
    aria-label="<%= component.aria_label %>"
  <% end %>
  <%= component.generated_html_attributes.html_safe %>
>
  <% if component.items.present? and component.items.length() > 0 %>
    <ul class="sage-nav__list">
      <% component.items.each do | item | %>
        <li>
          <%= sage_component(SageNavLink, item) %>
        </li>
      <% end %>
    </ul>
  <% end %>
  <%= component.content %>
</nav>
