<% if component.borderless %>
  <%= sage_component SageButton, {
    css_classes: "sage-copy-btn sage-copy-btn--borderless #{ component.generated_css_classes }",
    icon: { name: "copy", style: "right" },
    subtle: true,
    style: "secondary",
    value: component.value,
    attributes: {
      "data-js-copy-button": component.value.html_safe
    }
  } %>
<% else %>
  <button
    class="sage-copy-btn <%= "sage-copy-btn--fill-container" if component.fill_container %> <%= component.generated_css_classes %>"
    data-js-copy-button="<%= component.value.html_safe %>"
    type="button"
    <%= component.generated_html_attributes.html_safe %>
  >
    <pds-icon name="copy" class="<%= SageClassnames::SPACERS::SM_LEFT %>"></pds-icon>
    <%= sage_component SageCopyText, { value: component.value, semibold: component.semibold.present? && component.semibold } %>
  </button>
<% end %>
