<% if component.card_color.present? %>
  <div class="sage-icon-background 
    <%= "sage-icon-background--#{component.card_color}" %>
    <%= "sage-icon-background--#{component.size}" if component.size.present? %>
    <%= "sage-icon-background--circular" if component.circular %>
  "
  style="
    --background-height: <%= component.background_height if component.background_height %>
    --background-width: <%= component.background_width if component.background_width %>
  ">
<% end %>
  <i class="
      <%= "sage-icon-#{component.icon}" %><%= "-#{component.size}" if component.size.present? %>
      <%= "sage-icon--adjacent-type-#{component.adjacent_type}" if component.adjacent_type %>
      <%= "t-sage--color-#{component.color}" if component.color.present? %>
      <%= component.generated_css_classes %>
    "
    <% if component.label.present? %>
      aria-label="<%= component.label %>"
    <% else %>
      aria-hidden=true
    <% end %>
    <%= component.generated_html_attributes.html_safe %>
  ></i>
<% if component.card_color.present? %>
  </div>
<% end %>

