<%
# TEMP: provide fallbacks in order to avoid breaking change in `products`
logo = {
  path: "nav_logo_white.png",
  method: nil,
}
if component.logo.present?
  logo = component.logo
end

menu_button = true
if component.menu_button.present?
  menu_button = component.menu_button
end

menu_button_controls = "sage-sidebar-menu"
if component.menu_button_controls.present?
  menu_button_controls = component.menu_button_controls
end
%>
<div class="sage-assistant" <%= component.generated_html_attributes.html_safe %>>
  <% if menu_button %>
    <button class="sage-menubutton" aria-expanded="false" aria-controls="<%= menu_button_controls %>" data-js-btn-target="<%= menu_button_controls %>" data-js-target-type="sidebar">
      <span class="sage-menubutton__bar"></span><span class="sage-menubutton__bar"></span><span class="sage-menubutton__bar"></span>
      <span class="visually-hidden">Toggle main menu</span>
    </button>
  <% end %>
  <% if logo[:method] == "pack" %>
    <%= image_pack_tag(logo[:path], class: "sage-assistant__branding")%>
  <% else %>
    <%= image_tag logo[:path], class: "sage-assistant__branding" %>
  <% end %>
  <div class="sage-assistant__body"><%= component.content %></div>
  <div class="sage-assistant__actions">
    <% if content_for?(:sage_assistant_actions) %>
      <%= content_for :sage_assistant_actions %>
    <% end %>
    <% if content_for?(:super_admin_actions) %>
      <div id="super-admin-actions" class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Extra Actions <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <%= yield :super_admin_actions %>
        </ul>
      </div>
    <% end -%>
    <%= yield :action_buttons %>
  </div>
</div>
