<li
  class="
    sage-sortable__item
    <%= "sage-sortable__item--card" if component.card %>
    <%= component.generated_css_classes %>
  "
  data-js-sortable-update-url="<%= component.url_update %>"
  <%= "id=#{component.id}" if component.id %>
  <%= component.generated_html_attributes.html_safe %>
>
  <pds-icon name="handle-2-vertical" color="<%= SageTokens::COLOR_PALETTE[:CHARCOAL_200] %>"></pds-icon>
  <% if component.image.present? %>
    <div class="sage-sortable__item-image">
      <%= image_tag component.image, alt: "Cover for #{component.title}" %>
    </div>
  <% end %>
  <div class="sage-sortable__item-content">
    <h1 class="sage-sortable__item-title"><%= component.title %></h1>
    <% if component.subtitle.present? %>
      <h2 class="sage-sortable__item-subtitle"><%= component.subtitle %></h2>
    <% end %>
  </div>
  <div class="sage-sortable__item-actions">
    <%= component.content %>
  </div>
</li>
