<div
  class="
    sage-property
    <%= component.generated_css_classes %>
  "
  <%= component.generated_html_attributes.html_safe %>
>
  <pds-icon name="<%= component.icon %>" class="sage-property__icon sage-icon-<%= component.icon %>"></pds-icon>
  <span class="sage-property__value">
    <%= component.value %>
  </span>
</div>
