<div class="sage-input-group sage-input-group--<%= component.input_type -%> <% if component.disabled %>sage-input-group--disabled<% end %>" role="group" aria-labelledby="<%= component.group_id %>">
  <%= component.content %>
  <%- if component.has_hint -%>
    <%= sage_component SageInputHelper,
      helper_id: "",
      helper_target: "input-group-pw-example",
      description: "Your password must meet the following criteria:",
      hints: [
        {
          id: "pw-hint-characters",
          type_detect: "characters",
          text: "At least eight characters"
        },
        {
          id: "pw-hint-numbers",
          type_detect: "numbers",
          text: "Has one or more numbers"
        },
        {
          id: "pw-hint-symbols",
          type_detect: "symbols",
          text: "Includes at least one symbol ($@!#%)"
        }
      ]
    %>
  <%- end -%>
  <%- if component.has_button -%>
    <%- component.group_buttons.each do |button| -%>
      <button class="sage-input-group__button sage-btn<% if button[:display_on_focus] %> sage-input-group__toggle<% end %> <%= button[:icon] if button[:icon].present? %>"
        <% if component.input_type == "password" %> data-js-mask="password"<% end %>
        <% if button[:tooltip] %>
        data-tooltip="<%= button[:tooltip_text] %>" data-position="<% button[:tooltip_position] %>"<% if button[:tooltip_size] != "" %> data-tooltip-size="<%= button[:tooltip_size] %>"<% end %>
        <% end %>
        <% if component.disabled %>disabled<% end %>>
        <%- if button[:text_hidden] -%><span class="visually-hidden"><% end %><%= button[:text] %><%- if button[:text_hidden] -%></span><% end %>
      </button>
    <%- end -%>
  <%- end -%>
</div>
