<%
variant = component.scope.present? ? component.scope : false
title_tag = variant == "compact" ? "h2" : "h1"
if component.title_tag.present?
  title_tag = component.title_tag
end
%>
<section
  class="
    sage-empty-state
    <%= "sage-empty-state--#{variant}" if variant %>
    <%= "sage-empty-state--center" if component.center_vertical %>
    <%= component.generated_css_classes %>
  "
  <%= component.generated_html_attributes.html_safe %>
>
  <% if component.graphic.present? %>
    <div class="sage-empty-state__graphic">
      <%= component.graphic.html_safe %>
    </div>
  <% end %>

  <%= sage_component SageIcon, {
    icon: component.icon,
    size: variant == 'compact' ? 'xl' : '3xl',
    css_classes: "sage-empty-state__icon"
  } if component.icon %>

  <div class="sage-empty-state__content">
    <% if component.title.present? %>
      <<%= title_tag %> class="sage-empty-state__title">
        <%= component.title %>
      </<%= title_tag %>>
    <% end %>

    <% if component.text.present? %>
      <p class="sage-empty-state__text">
        <%= component.text %>
      </p>
    <% end %>

    <% if content_for? :sage_empty_state_text %>
      <div class="sage-empty-state__text">
        <%= content_for :sage_empty_state_text %>
      </div>
    <% end %>

    <% if content_for? :sage_empty_state_actions %>
      <div class="sage-empty-state__actions">
        <%= content_for :sage_empty_state_actions %>
      </div>
    <% end %>

    <% if content_for? :sage_empty_state_video %>
      <div class="sage-empty-state__video">
        <%= content_for :sage_empty_state_video %>
      </div>
    <% end %>

		<% if !content_for? :sage_empty_state_text and !content_for? :sage_empty_state_actions %>
      <div class="sage-empty-state__custom-content">
        <%= component.content %>
      </div>
    <% end %>
  </div>
</section>
