<%
  isSuccessful = component.type === "success" ? "Success" : "Loading"
%>

<div class="
    sage-loader
    sage-loader--<%= component.type %>
    <%= "sage-loader--fill" if component.fill %>
    <%= component.generated_css_classes %>
  "
  data-loading="true"
  aria-busy="true"
  aria-live="polite"
  <%= component.generated_html_attributes.html_safe %>
> 
  <%# Spinner SVG %>
  <% if component.type === "spinner" %>
    <svg class="sage-loader__spinner" viewBox="25 25 50 50" >
      <circle class="sage-loader__spinner-path" cx="50" cy="50" r="20" fill="none" stroke="0072EF" stroke-width="4" />
    </svg>
  <% end %>

  <%# Success/Complete SVG %>
  <% if component.type === "success" %>
    <svg class="sage-loader__success" viewBox="25 25 50 50" >
      <circle class="sage-loader__success-path" cx="50" cy="50" r="20" fill="none" stroke="0072EF" stroke-width="4" />
      <path class="sage-loader__success-check" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" d="M22.7071 1.29291C23.0976 1.68344 23.0976 2.3166 22.7071 2.70713L9.7071 15.7071C9.31658 16.0977 8.68341 16.0977 8.29289 15.7071L1.29289 8.70713C0.902365 8.3166 0.902365 7.68344 1.29289 7.29291C1.68341 6.90239 2.31658 6.90239 2.7071 7.29291L9 13.5858L21.2929 1.29291C21.6834 0.902388 22.3166 0.902388 22.7071 1.29291Z" stroke-width="2" />
    </svg>
  <% end %>
  <span class="visually-hidden"><%= isSuccessful %></span>
</div>


