<section
  class="
    sage-empty-state
    <%= "sage-empty-state--compact" if component.compact %>
    <%= component.css_classes %>
    <%= component.generated_css_classes %>
  "
  <%= component.generated_html_attributes.html_safe %>
>
  <% if component.graphic.present? %>
    <div class="sage-empty-state__graphic">
      <%= component.graphic.html_safe %>
    </div>
  <% end %>
  <%= "<i class='sage-empty-state__icon sage-icon-#{component.icon}-3xl'></i>".html_safe if component.icon %>
  <%= "<h2 class='sage-empty-state__title'>#{component.title}</h2>".html_safe if component.title %>
  <%= "<p class='sage-empty-state__text'>#{component.text}</p>".html_safe if component.text %>
  <%= component.content %>
</section>
