<nav
  <%= "data-js-tabs=\"#{component.id}\"" if !component.navigational %>
  class="sage-tabs
    <%= component.stacked.present? ? "sage-tabs--layout-stacked" : "sage-tabs--layout-default" %>
    <%= "sage-tabs--progressbar" if component.progressbar.present? && component.progressbar == true %>
    <%= "sage-tabs--align-items-center" if component.align_items_center.present? && component.align_items_center == true %>
  "
  role="tablist"
>
  <% component.items.each do |item| %>
    <% if component.style.present? && component.style === "choice" %>
      <%= sage_component SageChoice,
        target: item[:target],
        text: item[:text],
        subtext: item[:subtext],
        active: item[:active],
        type: item[:type],
        icon: item[:icon],
        attributes: item[:attributes]
      %>
    <% else %>
      <%= sage_component SageTab,
        target: item[:target],
        text: item[:text],
        active: item[:active],
        attributes: item[:attributes]
      %>
    <% end %>
  <% end %>
</nav>
