<% is_loading = !component.href %>
<% link_tag = is_loading ? "div" : "a" %>
<li class="
  sage-catalog-item
  <%= "sage-catalog-item--loading" if is_loading %>
  <%= "sage-catalog-item--img" if component.image.present? %>
  <%= "sage-catalog-item--icon" if component.icon.present? %>
  <%= component.generated_css_classes %>
  "
  <%= component.generated_html_attributes.html_safe %>
>
  <strong class="sage-catalog-item__title">
    <% if is_loading %>
      <div class="t-sage-heading-6 t-sage--truncate">
        <%= component.title %>
      </div>
    <% else %>
      <%= sage_component SageLink, {
        css_classes: SageClassnames::TYPE::HEADING_6,
        label: component.title,
        remove_underline: true,
        truncate: true,
        url: component.href,
      } %>
    <% end %>
  </strong>
  <% if component.content.present? %>
    <div class="sage-catalog-item__content">
      <%= component.content %>
    </div>
  <% end %>
  <% if content_for? :sage_aside %>
    <div class="sage-catalog-item__aside">
      <%= content_for :sage_aside %>
    </div>
  <% end %>
  <% if component.image.present? %>
    <%# Uses tabindex="-1" because there are two links to the same location in this component (component.title also links to the href) %>
    <<%= link_tag %> class="sage-catalog-item__img" href="<%= component.href %>" tabindex="-1" title="Go to: <%= component.title %>">
      <%= image_tag component.image, alt: "Cover image for: #{component.title}" %>
    </<%= link_tag %>>
  <% end %>
  <% if component.icon.present? %>
    <div class="sage-catalog-item__icon">
      <pds-icon name="<%= component.icon %>" class="<%= component.icon %>" size="24px"></pds-icon>
    </div>
  <% end %>
</li>
