<div
  class="
    sage-dropdown
    <%= "sage-dropdown--anchor-right" if component.align == "right" %>
  "
  data-js-dropdown="<%= component.id %>"
>
  <div
    class="
      sage-dropdown__trigger
      <%= "sage-dropdown__trigger--#{component.trigger_type}" if component.trigger_type %>
    "
  >
    <%= component.content %>
  </div>
  <nav class="sage-dropdown__panel">
    <ul class="sage-dropdown__menu" role="menu" aria-label="Participant options">
      <% component.items.each do |item| %>
        <li class="sage-dropdown__item" role="none">
          <a
            <% item[:attributes].each do |key, value| %>
              <%= "#{key}=#{value}"%>
            <% end if item[:attributes]&.is_a?(Hash) %>
            role="menuitem"
            tabindex="0"
            class="
              sage-dropdown__item-control
              <%= "sage-dropdown__item-control--icon-#{item[:icon]}" if item[:icon] %>
            "
          >
            <%= item[:name] %>
          </a>
        </li>
      <% end %>
    </ul>
  </nav>
</div>
