<section
  class="sage-page-heading
    <%= "sage-page-heading--no-secondary-text" if component.secondary_text.blank? %>
    <%= "sage-page-heading--has-image" if content_for? :sage_page_heading_image %>
    <%= component.generated_css_classes %>"
  <%= component.generated_html_attributes.html_safe %>
>
  <% if content_for? :sage_breadcrumbs %>
    <div class="sage-page-heading__crumbs">
      <%= content_for :sage_breadcrumbs %>
    </div>
  <% end %>
  <% if content_for? :sage_page_heading_intro %>
    <div class="sage-page-heading__intro">
      <%= content_for :sage_page_heading_intro %>
    </div>
  <% end %>
  <div class="sage-page-heading__title-wrapper">
    <h1 class="sage-page-heading__title">
      <%= component.title_html.present? ? component.title_html.html_safe : component.title %>
    </h1>
    <% if component.help_link.present? && component.help_html.blank? %>
      <a href="<%= component.help_link[:href] %>"
        class="sage-link--no-launch sage-link--remove-underline sage-link--secondary"
        target="_blank"
        rel="noopener"
      >
        <pds-icon name="question-circle"></pds-icon>
        <span class="visually-hidden">
          <%= component.help_link[:name] %>
        </span>
      </a>
    <% end %>
    <% if component.help_title.present? && component.help_link.present? && component.help_html.present? %>
      <%= sage_component SagePopover, {
        title: component.help_title,
        icon: "question-circle",
        trigger_value: "Open Menu",
        trigger_icon_only: true,
        link: component.help_link,
      } do %>
        <%= component.help_html.html_safe %>
      <% end %>
    <% end %>
  </div>
  <% if content_for? :sage_page_heading_image %>
    <div class="sage-page-heading__image">
      <%= content_for :sage_page_heading_image %>
    </div>
  <% end %>
  <% if content_for? :sage_page_heading_actions %>
    <div class="sage-page-heading__actions">
      <div class="sage-page-heading__actions-inner">
        <%= content_for :sage_page_heading_actions %>
      </div>
    </div>
  <% end %>
  <% if content_for? :sage_page_heading_toolbar %>
    <div class="sage-page-heading__toolbar">
      <%= content_for :sage_page_heading_toolbar %>
    </div>
  <% end %>
  <% if component.secondary_text.present? %>
    <div class="sage-page-heading__secondary">
      <p><%= component.secondary_text %></p>
    </div>
  <% end %>
</section>
