<% show_close = component.show_close.present? ? component.show_close : true %>
<%= sage_component SageModal, {
  id: "cool-modal",
  fullscreen: true,
  css_classes: "sage-creation-wizard"
} do %>
  <%= sage_component SageModalContent, {
    title: "Example Modal",
    css_classes: "sage-creation-wizard__modal-content"
  } do %>
    <% if component.show_close %>
      <% content_for :sage_header_aside do %>
        <%= sage_component SageButton, {
          style: "secondary",
          subtle: true,
          value: "Close Modal",
          icon: { name: "remove", style: "only" },
          attributes: { "data-js-modal": true }
        } %>
      <% end %>
    <% end %>

    <% content_for :sage_header_indicator do %>
      <%# sage_component SageIndicator, {
        current_item: 2,
        label: "Page",
        num_items: 5,
        show_text: true
      } %>
    <% end %>

    <%= sage_component(SageGridCol, {
      breakpoint: "lg",
      size: "5",
      css_classes: "sage-creation-wizard__form"
    }) do %>
      <% if content_for? :sage_creation_wizard_body %>
        <div class="sage-creation-wizard__form-content">
          <%= content_for :sage_creation_wizard_body %>
        </div>
      <% end %>

      <% if content_for? :sage_creation_wizard_body_actions %>
        <%= sage_component SageButtonGroup, {
          gap: :md,
          css_classes: "sage-creation-wizard__form-actions"
        } do %>
          <%= content_for :sage_creation_wizard_body_actions %>
        <% end %>
      <% end %>
    <% end %>
    <%= sage_component(SageGridCol, {
      breakpoint: "lg",
      size: "7",
      css_classes: "sage-creation-wizard__live-preview"
    }) do %>
      <% if content_for? :sage_creation_wizard_feature %>
        <%= content_for :sage_creation_wizard_feature %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
