<div class="sage-transaction-card <%= component.generated_css_classes %>" <%= component.generated_html_attributes.html_safe %>>
  <div class="sage-transaction-card__header">
    <%= sage_component SageLabel, {
      color: component.label_color,
      value: component.label_text,
    } %>
    <% if component.state.present? %>
      <div class="sage-transaction-card__state<%= " sage-transaction-card__state--#{component.state_color}" if component.state_color.present? %>"><%= component.state %></div>
    <% end %>
  </div>
  <div class="sage-transaction-card__body">
    <h4 class="sage-transaction-card__name">
      <% if component.name_href.present? %>
        <a class="sage-transaction-card__name-link" href="<%= component.name_href %>"><%= component.name %></a>
      <% else %>
        <%= component.name %>
      <% end %>
    </h4>
    <div class="sage-transaction-card__amount<%= " sage-transaction-card__amount--#{component.amount_color}" if component.amount_color.present? %>"><%= component.amount %></div>
  </div>
  <div class="sage-transaction-card__footer">
  <% if component.offer_href.present? %>
    <a class="sage-transaction-card__offer-link" href="<%= component.offer_href %>">
      <%= sage_component SageProperty, { icon: "tag", value: component.offer } %>
    </a>
  <% else %>
    <%= sage_component SageProperty, { icon: "tag", value: component.offer } %>
  <% end %>
    <%= sage_component SageProperty, { value: component.transaction_time } %>
  </div>
</div>
