<% is_button = !component.attributes&.has_key?(:href) %>
<% html_tag = is_button ? "button" : "a" %>
<% merged_attributes = (is_button ? { :type => "button" } : {}).merge((component.attributes || {})) %>

<<%= html_tag %>
  <% merged_attributes.each do |key, value| %>
    <%= "#{key}=\"#{value}\"".html_safe %>
  <% end if merged_attributes&.is_a?(Hash) %>
  <%= "aria-disabled=true disabled" if component.disabled %>
  class="
    sage-btn
    <%= "sage-btn--disclosure" if component.disclosure %>
    <%= "sage-btn--full-width" if component.full_width %>
    <%= "sage-btn--subtle" if component.subtle %>
    <%= "sage-btn--small" if component.small %>
    <%= "sage-btn--#{component.style}" if component.style %>
    <%= "sage-btn--align-end" if (component.align == "end") %>
    <%= "sage-btn--icon-#{component.icon[:style]}-#{component.icon[:name]}" if component.icon %>

    <%= component.generated_css_classes %>
  "
  <% if component.spinner_on_submit.present? %>
    data-js-sage-spinner-on-submit="<%= component.spinner_on_submit %>"
  <% end %>
  <%= component.generated_html_attributes.html_safe %>
>
  <% if component.icon&.dig(:style) == "only" %>
    <span class="visually-hidden">
      <%= component.value.html_safe %>
    </span>
    <pds-icon name="<%= component.icon[:name] %>"></pds-icon>
    <% if component.disclosure %>
      <pds-icon
        name="caret-down"
        class="sage-spacer-left-xs">
      </pds-icon>
    <% end %>
  <% else %>
    <% if component.value %>
      <% if component.icon&.dig(:name) %>
        <pds-icon
          name="<%= component.icon[:name]%>"
          class="<%= component.icon[:style] == "right" ? 'sage-spacer-left-xs' : 'sage-spacer-right-xs' %>">
        </pds-icon>
      <% end %>
      <span class="sage-btn__truncate-text">
        <%# if the component.value is an empty string, add a `&nbsp;` to prevent height collapse %>
        <%= (component.value.strip.empty? ? "&nbsp;" : component.value).html_safe %>
      </span>
    <% elsif component.content %>
      <span class="sage-btn__custom-content <%= component.custom_content_class if component.custom_content_class.present? %>">
        <%= component.content %>
      </span>
    <% end %>
    <% if component.disclosure %>
      <pds-icon
        name="caret-down"
        class="sage-spacer-left-xs">
      </pds-icon>
    <% end %>
  <% end %>
</<%= html_tag %>>
