<% if component.title.present? %>
  <header class="sage-modal__header">
    <% if component.header_image.present? %>
      <img class="sage-modal__header-image" src=<%= component.header_image %> alt="" aria-hidden="true"/>
    <% end %>
    <h1 class="t-sage-heading-4">
      <%= component.title %>
    </h1>
    <% if content_for?(:sage_header_aside) %>
      <aside class="sage-modal__header-aside">
        <%= content_for :sage_header_aside %>
      </aside>
    <% end %>
  </header>
<% else %>
  <% if content_for?(:sage_header_aside) %>
    <header class="sage-modal__header">
      <aside class="sage-modal__header-aside">
        <%= content_for :sage_header_aside %>
      </aside>
    </header>
  <% end %>
<% end %>

<div 
  class="
    sage-modal__content 
    <%= "sage-modal__content--spacing-#{component.spacing}" if component.spacing.present? %>
    <%= component.generated_css_classes %>"
  <%= component.generated_html_attributes.html_safe %>
>
  <%= component.content %>
</div>

<% if content_for?(:sage_footer) %>
  <footer class="sage-modal__footer">
    <% if content_for?(:sage_footer_aside) %>
      <aside class="sage-modal__footer-aside">
        <%= content_for :sage_footer_aside %>
      </aside>
    <% end %>
    <%= content_for :sage_footer %>
  </footer>
<% end %>
