<% upload_card_classes = ['sage-upload-card']
  upload_card_classes << 'sage-upload-card--selected' if component.file_selected.present?
  upload_card_classes << 'sage-upload-card--error' if component.has_error.present?
  upload_card_classes << component.generated_css_classes
%>
<div
  class="<%= upload_card_classes.join(" ") %>"
  <%= component.generated_html_attributes.html_safe %>
>
  <div class="sage-upload-card__dropzone">
    <input class="sage-upload-card__input" accept=".csv" multiple="multiple" type="file" autocomplete="off" />
    <% if component.file_selected.present? %>
      <%= sage_component SageIconCard, {
        color: "draft",
        css_classes: "sage-upload-card__preview",
        icon: "image",
        label: "Upload graphic",
        size: "2xl",
      } %>
      <div class="sage-upload-card__body">
        <p class="sage-upload-card__text"><%= component.accepted_files[0][:name] %></p>
        <%= sage_component SageButton, {
          style: "secondary",
          value: component.selection_label
        } %>
        <p class="sage-upload-card__subtext"><%= component.selection_subtext %></p>
      </div>
    <% else %>
      <div class="sage-upload-card__body">
        <i class="sage-upload-card__icon sage-icon-image-2xl" aria-label="Upload graphic"></i>
        <%= sage_component SageButton, {
          style: "secondary",
          value: component.selection_label
        } %>
        <p class="sage-upload-card__subtext"><%= component.selection_subtext %></p>
      </div>
    <% end %>
  </div>
  <% if component.errors.present? %>
    <div class="sage-upload-card__errors">
      <% component.errors.each do | error | %>
        <p><%= error[:text] %></p>
      <% end %>
    </div>
  <% end %>
</div>
