<div class="sage-alert<%= component.color ? " sage-alert--#{component.color}" : ""%><% if component.raised %> sage-alert--raised<% end %>">
  <i class="sage-alert__icon <%= component.icon_name %>" aria-hidden="true"></i>
  <div class="sage-alert__copy">
    <% if component.title %>
      <h3 class="sage-alert__title"><%= component.title %></h3>
    <% end %>
    <% if component.desc %>
      <p class="sage-alert__desc"><%= component.desc %></p>
    <% end %>
    <% if content_for? :sage_alert_actions %>
      <div class="sage-alert__actions">
        <%= content_for :sage_alert_actions %>
      </div>
    <% end %>
  </div>
  <% if component.dismissable %>
      <button type="button" class="sage-alert__close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <% end %>
</div>
