<nav
  class="
    sage-pagination
    <% if component.hide_counter %>sage-pagination--no-counter<% end %>
    <%= "sage-pagination--align-#{component.align}" if component.align.present? %>
    <%= component.generated_css_classes %>
  "
  role="pagination"
  aria-label="Pagination Navigation"
  <%= component.generated_html_attributes.html_safe %>
>
  <% if !component.hide_counter %>
    <span class="sage-pagination__count <%= "sage-pagination__count--solo" if component.items.total_pages == 1 %>">
      <% if component.page_count_prefix %><span class="sage-pagination__count-prefix"><%= component.page_count_prefix %></span><% end %>
      <%= component.page_count component.items %>
      <% if component.page_count_suffix %><span class="sage-pagination__count-suffix"><%= component.page_count_suffix %></span><% end %>
    </span>
  <% end %>

  <ul class="sage-pagination__pages">
    <% if component.items.first_page? %>
      <li class="sage-pagination__item">
        <a href="#" class="sage-pagination__page sage-pagination__page--disabled">
          <%= component.pagination_text("Back") %>
        </a>
      </li>
    <% else %>
      <li class="sage-pagination__item">
        <%= link_to_previous_page component.items, component.pagination_text("Back"), class: "sage-pagination__page", params: component.additional_params %>
      </li>
    <% end -%>

    <% unless component.hide_pages %>
      <%- if component.items.total_pages > 1 -%>
        <%= paginate component.items, outer_window: component.window || 1, theme: "sage_theme" %>
      <% elsif component.items.total_pages == 1 %>
        <li class="sage-pagination__item">
          <span class="sage-pagination__page sage-pagination__page--current" aria-current="true">
            <%= component.pagination_text("1") %>
          </span>
        </li>
      <% end %>
    <% end %>

    <% if component.items.last_page? %>
      <li class="sage-pagination__item">
        <a href="#" class="sage-pagination__page sage-pagination__page--disabled">
          <%= component.pagination_text("Next") %>
        </a>
      </li>
    <% else %>
      <li class="sage-pagination__item">
        <%= link_to_next_page component.items, component.pagination_text("Next"), class: "sage-pagination__page", params: component.additional_params %>
      </li>
    <% end -%>
  </ul>
</nav>
