<dl
  <%= component.id ? "id=#{component.id}" : "" %>
  class="
    sage-description
    <%= "sage-description--stacked" if component.layout == "stacked" %>
    <%= component.generated_css_classes %>
  "
  <% if component.title_width || component.action_width %>
    style="
      <%= "--sage-description-action-width: #{component.action_width};" if component.action_width %>
      <%= "--sage-description-title-width: #{component.title_width};" if component.title_width %>
    "
  <% end %>
  <%= component.generated_html_attributes.html_safe %>
>
  <% component.items.each do | item | %>
    <div class="sage-description__term-group">
      <% if item[:title] %>
        <dt class="sage-description__title"><%= item[:title] %></dt>
      <% end %>
      <% if item[:data] %>
        <dd class="sage-description__data"><%= item[:data] %></dd>
      <% end %>
      <% if item[:action] %>
        <div class="sage-description__action-button">
          <%= sage_component SageButton, {
            value: item[:action][:value],
            style: "primary",
            subtle: true,
            icon: {
              name: "caret-right",
              style: item[:action][:icon_only] ? "only" : "right",
            },
            test_id: item[:action][:test_id],
            attributes: item[:action][:attributes],
          } %>
        </div>
      <% end %>
    </div>
  <% end %>
  <%= component.content %>
</dl>
