<article
  class="sage-stat-box
  <%= "sage-stat-box--raised" if component.raised %>
  <%= "sage-stat-box--with-img" if component.image %>
  <%= "sage-stat-box--with-icon" if component.icon %>
  <%= component.generated_css_classes %>"
  <%= component.generated_html_attributes.html_safe %>
>
  <% if component.image.present? %>
    <div class="sage-stat-box__img">
      <%= image_tag component.image[:src], alt: component.image[:alt].present? ? component.image[:alt] : '' %>
    </div>
  <% end %>
  <% if component.icon.present? %>
    <div class="sage-stat-box__icon">
      <%= sage_component SageIcon, {
        icon: component.icon[:name],
        card_color: component.icon[:card_color],
        color: component.icon[:color]
      } %>
    </div>
  <% end %>
  <header class="sage-stat-box__header">
    <h2
      class="
        sage-stat-box__title
        <%= "sage-stat-box__title--legend-#{component.legend_dot_color}" if component.legend_dot_color %>
        <%= "sage-stat-box__title--legend-custom" if component.legend_dot_custom_color %>
      "
      <% if component.legend_dot_custom_color.present? %>
        style="--legend-color: <%= component.legend_dot_custom_color %>"
      <% end %>
    >
      <%= component.title %>
    </h2>
    <% if content_for? :sage_stat_box_popover %>
      <%= content_for :sage_stat_box_popover %>
    <% end %>
  </header>
  <div class="sage-stat-box__body sage-grid-template-te">
    <p class="sage-stat-box__data
    <%= "sage-stat-box__data--no-data" if !component.has_data %>">
      <%= component.data %>
      <% if component.timeframe.present? %>
        <span class="sage-stat-box__timeframe"><%= component.timeframe %></span>
      <% end %>
    </p>
    <% if content_for? :sage_stat_box_custom_label %>
      <div class="sage-stat-box__custom-label">
        <%= content_for :sage_stat_box_custom_label %>
      </div>
    <% end %>
  </div>
  <% if content_for? :sage_stat_box_custom_actions %>
    <footer class="sage-stat-box__footer">
      <%= content_for :sage_stat_box_custom_actions %>
    </footer>
  <% end %>
</article>
