<%
# Set an undefined custom height or width equal to the value that is defined
bg_height = component.background_height ? component.background_height : component.background_width;
bg_width = component.background_width ? component.background_width : component.background_height;

if component.circular
  bg_width = bg_height
end

%>
<% if component.card_color.present? || component.card_css_classes.present? %>
  <div class="sage-icon-background
    <%= "sage-icon-background--#{component.card_color}" %>
    <%= "sage-icon-background--#{component.size}" if component.size.present? %>
    <%= "sage-icon-background--custom-size" if component.background_height || component.background_width %>
    <%= "sage-icon-background--circular" if component.circular %>
    <%= component.generated_card_css_classes %>
  "
    <% if component.background_height || component.background_width %>
      style="
        --sage-icon-background-height: <%= bg_height %>;
        --sage-icon-background-width: <%= bg_width %>;
      "
    <% end %>
  >
<% end %>
  <pds-icon
    name="<%= "#{component.icon}"%>"
    class="
      <%= "t-sage--color-#{component.color}" if component.color.present? %>
      <%= "sage-icon-#{component.icon}" %><%= "-#{component.size}" if component.size.present? %>
      <%= "sage-icon--adjacent-type-#{component.adjacent_type}" if component.adjacent_type %>
      <%= component.generated_css_classes %>
    "
    size="<%= "#{component.size}" if component.size.present? %>"
    <%= component.generated_html_attributes.html_safe %>
    ></pds-icon>
<% if component.card_color.present? %>
  </div>
<% end %>

