<%
id = "sage-sidebar-menu"
if component.id.present?
  id = component.id
end
%>
<div class="sage-sidebar <%= component.size ? "sage-sidebar--#{component.size}" : "" %>" id="<%= id %>" data-js-sidebar="<%= id %>">
  <div class="sage-sidebar__body">
    <%= component.content %>
  </div>
  <% if content_for? :sidebar_footer %>
    <div class="sage-sidebar__footer">
      <%= content_for :sidebar_footer %>
    </div>
  <% end %>
</div>
