<div
  class="
    sage-status-icon
    <%= "sage-status-icon--#{component.icon}" %>
    <%= component.css_classes %>
    <%= component.generated_css_classes %>
  "
  data-js-tooltip="<%= component.value %>"
  <%= component.generated_html_attributes.html_safe %>
>
  <span class="visually-hidden">
    <%= component.value %>
  </span>
</div>
