<% feature_toggle_title_tag = component.title_tag ? component.title_tag : "h3" %>

<li class="sage-feature-toggle">
  <<%= feature_toggle_title_tag %> class="sage-feature-toggle__title"><%= component.title %></<%= feature_toggle_title_tag %>>
  <div class="sage-feature-toggle__content">
    <p><%= component.description %></p>
    <%= sage_component SageButton, {
      value: component.link_text,
      style: "primary",
      subtle: true,
      icon: { name: "launch", style: "right" },
      css_classes: "sage-feature-toggle__content-button",
      attributes: component.link_location && {
        href:  component.link_location
      }
    } %>
  </div>
  <% if content_for?(:sage_feature_toggle_input) %>
    <div class="sage-feature-toggle__aside">
      <%= content_for :sage_feature_toggle_input %>
    </div>
  <% end %>
  <div class="sage-feature-toggle__image-link" >
    <img class="sage-feature-toggle__image" src=<%= component.image %> alt="<%= component.alt_text %>" <%= "aria-hidden=true" if component.alt_text.blank? %> />
  </div>
</li>
