<%
  html_tag = component.title_tag ? component.title_tag : "h2"
  size = component.hero_size || "large"
%>

<article class="sage-hero sage-hero--<%= size %> <%= component.generated_css_classes %>" data-js-hero <%= component.generated_html_attributes.html_safe %>>
  <div class="sage-hero__container">
    <div class="sage-hero__header">
      <% if content_for? :sage_hero_branding %>
        <div class="sage-hero__branding">
          <%= content_for :sage_hero_branding %>
        </div>
      <% end %>
      <<%= html_tag %> class="sage-hero__title"><%= component.title %></<%= html_tag %>>
    </div>
    <div class="sage-hero__body">
      <% if content_for? :sage_hero_description %>
        <div class="sage-hero__description">
          <%= content_for :sage_hero_description %>
        </div>
      <% end %>

      <% if content_for? :sage_hero_footer_actions %>
        <div class="sage-hero__footer-actions">
          <%= sage_component SageButtonGroup, { gap: :md } do %>
            <%= content_for :sage_hero_footer_actions %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <a
    <% component.cta_attributes.each do |key, value| %>
      <%= "#{key}='#{value}'".html_safe %>
    <% end if component.cta_attributes&.is_a?(Hash) %>
    class="sage-hero__artwork"
  >
    <span class="sage-hero__artwork-image-container">
      <% image_options = {
        alt: component.image[:alt],
        class: "sage-hero__artwork-image"
      }.merge((component.image[:alt].blank? ? { "aria-hidden": true } : {})) %>
      <%= image_tag component.image[:src], image_options %>
    </span>
  </a>
</article>
