<%
lazy_load_initials = true

if component.lazy_load_initials == false
  lazy_load_initials = false
end

# Sets badge icon size based on Avatar size
badge_icon_size = 'sm';
avatar_size_as_integer = component.size.to_i;

case avatar_size_as_integer
  when 32..44 then badge_icon_size = "sm"
  when 48..60 then badge_icon_size = "md"
  when 64..76 then badge_icon_size = "lg"
  when 80..92 then badge_icon_size = "xl"
  when 96..108 then badge_icon_size = "2xl"
  when 112..124 then badge_icon_size = "3xl"
  when 128..140 then badge_icon_size = "4xl"
end

%>

<div
  class="
    sage-avatar
    <%= "sage-avatar--#{component.color}" if component.color %>
    <%= "sage-avatar--centered" if component.centered %>
    <%= component.generated_css_classes %>
  "
  <%= component.generated_html_attributes.html_safe %>
  <% if component.size %>
    style="width: <%= component.size %>; height: <%= component.size %>;"
  <% end %>
>
  <% if component.badge %>
    <div class="sage-avatar__badge">
      <%= sage_component SageIcon, {
        icon: "check-circle-filled",
        size: badge_icon_size,
        color: "primary-300",
      } %>
    </div>
  <% end %>

  <% if component.image %>
    <%= image_tag component.image[:src], alt: (component.image[:alt] || ""), class: "sage-avatar__image" %>
  <% end %>

  <% if lazy_load_initials %>
    <svg class="sage-avatar__initials" viewBox="0 0 32 32">
      <text x="16" y="20"><%= component.initials %></text>
    </svg>
  <% end %>
</div>
