<div class="
    sage-loader
    sage-loader--<%= component.type %>
    <%= "sage-loader--fill" if component.fill %>
    <%= component.css_classes %>
    <%= component.generated_css_classes %>
  "
  data-loading="true"
  aria-busy="true"
  aria-live="polite"
  <%= component.generated_html_attributes.html_safe %>
> 
  <%# Spinner SVG %>
  <% if component.type === "spinner" %>
    <svg class="sage-loader__spinner" viewBox="25 25 50 50" >
      <circle class="sage-loader__spinner-path" cx="50" cy="50" r="20" fill="none" stroke="0072EF" stroke-width="4" />
    </svg>
  <% end %>
  <span class="visually-hidden">Loading...</span>
</div>


