<h3 class="<%= SageClassnames::TYPE::HEADING_6 %>">Default</h3>
<%= sage_component SageFormSelect, {
  name: "Characters",
  id: "characters",
  select_options: [
    {
      text: "-- Please Select a Character --",
      value: "",
    },
    {
      text: "(None Specified)",
      value: "",
    },
    {
      text: "Mario",
      value: "mario",
    },
    {
      text: "Luigi",
      value: "luigi",
    },
    {
      text: "Princess Peach",
      value: "princess-peach",
    },
    {
      text: "Daisy",
      value: "daisy",
    },
    {
      text: "Toad",
      value: "toad",
    },
  ],
  message: "This is a message"
} %>

<h3 class="<%= SageClassnames::TYPE::HEADING_6 %>">Error state with message and disabled option</h3>
<%= sage_component SageFormSelect, {
  name: "Pets",
  has_error: true,
  select_options: [
    {
      text: "-- Please Select a Pet --",
      value: "",
    },
    {
      text: "(None Specified)",
      value: "",
      selected: true
    },
    {
      text: "Dog",
      value: "dog",
    },
    {
      text: "Cat",
      value: "cat",
    },
    {
      text: "Hamster",
      value: "hamster",
    },
    {
      text: "Parrot",
      value: "parrot",
    },
    {
      text: "Spider",
      value: "spider",
      disabled: true
    },
    {
      text: "Goldfish",
      value: "goldfish",
    },
  ],
  message: "This is a message"
} %>

<h3 class="<%= SageClassnames::TYPE::HEADING_6 %>">Disabled (with pre-selected option)</h3>
<%= sage_component SageFormSelect, {
  name: "Sports",
  disabled: true,
  select_options: [
    {
      text: "Basketball",
      value: "basketball"
    },
    {
      text: "Football",
      value: "football"
    },
    {
      text: "Lacrosse",
      value: "lacrosse"
    },
    {
      text: "Baseball",
      value: "baseball",
      selected: true
    },
    {
      text: "Blitzball",
      value: "blitzball"
    },
  ]
} %>

<h3 class="<%= SageClassnames::TYPE::HEADING_6 %>">Optgroup use</h3>
<%= sage_component SageFormSelect, {
  name: "Sports!",
  select_options: [
    {
      text: "Bowling",
      value: "bowling",
    },
    {
      group_label: "Hand Sports",
      group_options: [
        {
          text: "Football",
          value: "football",
        },
        {
          text: "Basketball",
          value: "basketball",
        },
      ],
    },
    {
      text: "Nascar",
      value: "nascar",
      selected: true,
    },
    {
      group_label: "Foot Sports",
      group_options: [
        {
          text: "Soccer",
          value: "soccer",
        },
      ],
    },
  ]
} %>

<p><strong>Note:</strong> For a fully styled dropdown selector, see the Dropdown component.</p>
