<tr>
  <td><%= md('`disabled`') %></td>
  <td><%= md('Enabling this property adds the `disabled` attribute to the component. `disabled` inputs are not submitted in forms.') %></td>
  <td><%= md('Boolean') %></td>
  <td><%= md('`false`') %></td>
</tr>
<tr>
  <td><%= md('`has_error`') %></td>
  <td><%= md('Enabling this property styles the select in the default danger color theme.') %></td>
  <td><%= md('Boolean') %></td>
  <td><%= md('`false`') %></td>
</tr>
<tr>
  <td><%= md('`message`') %></td>
  <td><%= md('Displays the message text for the component.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`name`') %></td>
  <td><%= md('Unique identifier for this component.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`select_options`') %></td>
  <td><%= md('An array of items that will serve as the `<select>`\'s `<option>`s and `<optgroup>`s.') %></td>
  <td><%= md('```
Array<{
  text: String,
  value: String (optional),
  disabled: Boolean (false),
  selected: Boolean (false),
  group_label: String,
  group_options: Array<{
    text: String,
    value: String (optional),
    disabled: Boolean (false),
    selected: Boolean (false),
    group_label: String (optional),
    group_options: Array (optional),
  }>,
}>
  ```') %></td>
  <td><%= md('`nil`') %></td>
</tr>
