<!-- Docs Only Label -->
<%= sage_component SageCardBlock, {} do %><%= sage_component SageLabel, {color: "draft",value: "As a Panel list"} %><% end %>
<!-- Docs Only Label End -->

<%= sage_component SagePanelList, {} do %>
  <%= sage_component SageSortable, { resource_name: "link" } do %>

    <% 3.times do %>
      <%= sage_component SageSortableItem, {
        title: "Tristique Elit Bibendum Etiam Cursus",
        subtitle: "Label Text",
        url_update: "update/endpoint",
        id: "id"
      } do %>
        <%= sage_component SageStatusIcon, {
          icon: "lock",
          value: "Authenticated Only"
        } %>
        <%= sage_component SageButton, {
          attributes: {
            "data-js-tooltip": "Preview"
          },
          style: "secondary",
          subtle: true,
          icon: { name: "preview-on", style: "only" },
          value: "Preview"
        } %>
        <%= sage_component SageButton, {
          attributes: {
            "data-js-tooltip": "Edit",
          },
          style: "secondary",
          subtle: true,
          icon: { name: "pen", style: "only" },
          value: "Edit"
        } %>
      <% end %>
    <% end %>

    <%= sage_component_section :empty do %>
      <%= sage_component SageEmptyState, {
        title: "Empty State Title",
        text: "Empty state text",
      } %>
    <% end %>
  <% end %>
<% end %>

<!-- Docs Only Label -->
<%= sage_component SageCardBlock, {} do %><%= sage_component SageLabel, {color: "draft",value: "As cards with no subtitles"} %><% end %>
<!-- Docs Only Label End -->

<%= sage_component SageSortable, { resource_name: "link" } do %>
  <% 3.times do %>
    <%= sage_component SageSortableItem, {
      title: "Fringilla Ullamcorper Dolor Adipiscing Ultricies",
      url_update: "update/endpoint",
      id: "id",
      card: true
    } do %>
      <%= sage_component SageStatusIcon, {
        icon: "lock",
        value: "Authenticated Only",
      } %>
      <%= sage_component SageButton, {
        attributes: {
          "data-js-tooltip": "Preview"
        },
        style: "secondary",
        subtle: true,
        icon: { name: "preview-on", style: "only" },
        value: "Preview"
      } %>
      <%= sage_component SageButton, {
        attributes: {
          "data-js-tooltip": "Edit",
        },
        style: "secondary",
        subtle: true,
        icon: { name: "pen", style: "only" },
        value: "Edit"
      } %>
    <% end %>
  <% end %>

  <%= sage_component_section :empty do %>
    <%= sage_component SageEmptyState, {
      title: "Empty State Title",
      text: "Empty state text",
    } %>
  <% end %>
<% end %>

<!-- Docs Only Label -->
<%= sage_component SageCardBlock, {} do %><%= sage_component SageLabel, {color: "draft",value: "As cards with images and without subtitles"} %><% end %>
<!-- Docs Only Label End -->

<%= sage_component SageSortable, { resource_name: "link" } do %>
  <% 3.times do %>
    <%= sage_component SageSortableItem, {
      title: "Fringilla Ullamcorper Dolor Adipiscing Ultricies",
      url_update: "update/endpoint",
      image: "/assets/card-placeholder-sm.png",
      id: "id",
      card: true
    } do %>
      <%= sage_component SageButton, {
        attributes: {
          "data-js-tooltip": "Preview"
        },
        style: "secondary",
        subtle: true,
        icon: { name: "preview-on", style: "only" },
        value: "Preview"
      } %>
    <% end %>
  <% end %>

  <%= sage_component_section :empty do %>
    <%= sage_component SageEmptyState, {
      title: "Empty State Title",
      text: "Empty state text",
    } %>
  <% end %>
<% end %>

<!-- Docs Only Note -->
<%= sage_component SageAlert, {
  color: "info",
  title: "Note:",
  desc: "`SageSortableItemCustom` should be used when you want to create a layout within the Sortable Item that follows any pattern using specified dot and dash pattern denoted in the Sage Grid Templates docs. At its simpliest form, `SageSortableItemCustom` is `SageSortableItem` as cards with no image or subtitles, but any combination Sage Grid Template.",
  icon_name: "sage-icon-info-circle",
} do %>
  <% content_for :sage_alert_actions do %>
    <%= link_to "Sage Grid Templates", "http://sage-design-system.kajabi.com/pages/layout/grid_templates" %>
  <% end %>
<% end %>
<!-- Docs Only Note End -->

<!-- Docs Only Label -->
<%= sage_component SageCardBlock, {} do %><%= sage_component SageLabel, {color: "draft",value: "Using a custom grid template : 'te'"} %><% end %>
<!-- Docs Only Label End -->

<%= sage_component SageSortable, { resource_name: "link" } do %>
  <% 3.times do %>
    <%= sage_component SageSortableItemCustom, {
      grid_template: "te",
      id: "id",
      url_update: "update/endpoint",
    } do %>
      <a href="#">Field 1</a>
      <%= sage_component SageDropdown, {
        align: "right",
        items: [
          {
            value: "Edit",
            icon: "pen",
            attributes: {},
          },
          {
            value: "Preview",
            icon: "preview-on",
            attributes: {},
          },
          {
            value: "Delete",
            style: "danger",
            border_before: true,
            modifiers: ["border-before"],
            icon: "trash",
            attributes: {},
          },
        ]
      } do %>
        <%= sage_component SageButton,  {
          style: "secondary",
          subtle: true,
          icon: { name: "dot-menu-horizontal", style: "only" },
          value: "edit",
        } %>
      <% end %>
    <% end %>
  <% end %>

  <%= sage_component_section :empty do %>
    <%= sage_component SageEmptyState, {
      title: "Empty State Title",
      text: "Empty state text",
    } %>
  <% end %>
<% end %>

<!-- Docs Only Label -->
<%= sage_component SageCardBlock, {} do %><%= sage_component SageLabel, {color: "draft",value: "Using a custom grid template : 'me'"} %><% end %>
<!-- Docs Only Label End -->

<%= sage_component SageSortable, {
  resource_name: "link" } do %>
  <% 3.times do %>
    <%= sage_component SageSortableItemCustom, {
      grid_template: "me",
      id: "id",
      url_update: "update/endpoint",
    } do %>
      <a href="#">Field 1</a>
      <span>Field 2</span>
      <%= sage_component SageDropdown, {
        align: "right",
        items: [
          {
            value: "Edit",
            icon: "pen",
            attributes: {},
          },
          {
            value: "Preview",
            icon: "preview-on",
            attributes: {},
          },
          {
            value: "Delete",
            style: "danger",
            border_before: true,
            modifiers: ["border-before"],
            icon: "trash",
            attributes: {},
          },
        ]
      } do %>
        <%= sage_component SageButton,  {
          style: "secondary",
          subtle: true,
          icon: { name: "dot-menu-horizontal", style: "only" },
          value: "edit",
        } %>
      <% end %>
    <% end %>
  <% end %>

  <%= sage_component_section :empty do %>
    <%= sage_component SageEmptyState, {
      title: "Empty State Title",
      text: "Empty state text",
    } %>
  <% end %>
<% end %>
