<tr>
  <td><%= md('`size`') %></td>
  <td><%= md("Sets the maximum size for the container. See the <a href=\"#{pages_interactions_path(:container)}\">Layout Containers</a> page.") %></td>
  <td><%= md("`\"#{SageTokens::CONTAINER_SIZES.join("\"`, `\"")}\"`") %></td>
  <td><%= md('`"full"`') %></td>
</tr>
<tr>
  <td><%= md('`tag`') %></td>
  <td><%= md("Sets the HTML tag for the container.") %></td>
  <td><%= md('String') %></td>
  <td><%= md('`div`') %></td>
</tr>
