<h3>Sample Avatars</h3>
<div class="sage-avatar-wrapper">
  <!-- Showing default -->
  <%= sage_component SageAvatar, { color: nil, initials: "JC" } %>

  <!-- Showing color variation -->
  <%= sage_component SageAvatar, { color: "purple", initials: "PS" } %>

  <!-- Showing one initial -->
  <%= sage_component SageAvatar, { color: "sage", initials: "Q" } %>

  <!-- Showing custom class -->
  <%= sage_component SageAvatar, { color: "orange", initials: "KJ", css_classes: "my-custom-class" } %>

  <!-- Showing profile image -->
  <%= sage_component SageAvatar, { img: "/assets/avatar/court.png", initials: "CM" } %>
</div>

<h3>Avatar centered + custom size</h3>
<%= sage_component SageAvatar, { color: nil, centered: true, initials: "JC", size: "128px" } %>

<h3>Avatar Groups</h3>
<div class="sage-avatar-wrapper">
  <%= sage_component SageAvatarGroup, {
    items: [
      { color: nil, initials: "JC" },
    ]
  } %>
  <%= sage_component SageAvatarGroup, {
    items: [
      { initials: "JC" },
      { color: "purple", initials: "PS" },
    ]
  } %>
  <%= sage_component SageAvatarGroup, {
    items: [
      { color: nil, initials: "JC" },
      { color: "purple", initials: "PS" },
      { color: "sage", initials: "Q" },
    ]
  } %>
  <%= sage_component SageAvatarGroup, {
    items: [
      { color: nil, initials: "JC" },
      { color: "purple", initials: "PS" },
      { color: "sage", initials: "Q" },
      { color: "orange", initials: "KJ" },
    ]
  } %>
</div>
