<h3>Sample Avatars</h3>
<div class="sage-avatar-wrapper">

  <!-- Showing default -->
  <%= sage_component SageAvatar, { color: nil, initials: "JC" } %>

  <!-- Showing color variation -->
  <%= sage_component SageAvatar, { color: "purple", initials: "PS" } %>

  <!-- Showing one initial -->
  <%= sage_component SageAvatar, { color: "sage", initials: "Q" } %>

  <!-- Showing custom class -->
  <%= sage_component SageAvatar, { color: "orange", initials: "KJ", css_classes: "my-custom-class" } %>

  <!-- Showing profile image -->
  <%= sage_component SageAvatar, {
    image: {
      alt: "Court's profile image",
      src: "avatar/court.png"
    }
  } %>
</div>

<h3>Avatar centered + custom size</h3>
<%= sage_component SageAvatar, { color: nil, centered: true, initials: "JC", size: "128px" } %>

<h3>Avatar Groups</h3>
<div class="sage-avatar-wrapper">
  <%= sage_component SageAvatarGroup, {
    items: [
      { color: nil, initials: "JC" },
    ]
  } %>
  <%= sage_component SageAvatarGroup, {
    items: [
      { initials: "JC" },
      { color: "purple", initials: "PS" },
    ]
  } %>
  <%= sage_component SageAvatarGroup, {
    items: [
      { color: nil, initials: "JC" },
      { color: "purple", initials: "PS" },
      { color: "sage", initials: "Q" },
    ]
  } %>
  <%= sage_component SageAvatarGroup, {
    items: [
      { color: nil, initials: "JC" },
      { color: "purple", initials: "PS" },
      { color: "sage", initials: "Q" },
      { color: "orange", initials: "KJ" },
    ]
  } %>
</div>

<!-- Showing default -->
<h3>Avatar With Badge</h3>
<div class="sage-avatar-wrapper">
  <%= sage_component SageAvatar, {
    badge: true,
    size: "32px",
    color: nil,
    initials: "JC"
  } %>
  <%= sage_component SageAvatar, {
    badge: true,
    size: "64px",
    color: nil,
    initials: "JC"
  } %>
  <%= sage_component SageAvatar, {
    badge: true,
    size: "96px",
    color: nil,
    initials: "JC"
  } %>
  <%= sage_component SageAvatar, {
    badge: true,
    size: "128px",
    color: nil,
    initials: "JC"
  } %>
</div>

<h3>Layering and lazy loading</h3>
<%= md('
By default, Avatars with both an `image` and `initials` provided will stack with the image on top of the initials.
The result is a lazy loading effect where initials appear immediately and an image will appear later on slower or delayed connetions.
If this effect is not desired when an `image` is used, then also set `lazy_load_initials: false`.

NOTE: This also allows for a fallback approach with image APIs such as Gravatar that return a default image when no user image is available.
In such cases a transparent PNG image can be provided as the default image so that when this default image is layered on top of the initials,
the initials are seen rather than a generic "anonymous user" image.
') %>

<p>Invalid Gravatar with blank fallback to initials:</p>
<%= sage_component SageAvatar, {
  initials: "PS",
  image: { src: "https://s.gravatar.com/avatar/000?default=blank" }
} %>

<p>Valid Gravatar with lazy loading:</p>
<%= sage_component SageAvatar, {
  initials: "PS",
  image: { src: "https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?" }
} %>

<p>Valid Gravatar with NO lazy loading:</p>
<%= sage_component SageAvatar, {
  initials: "PS",
  image: { src: "https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?" },
  lazy_load_initials: false
} %>

