<tr>
  <td><%= md('`items`') %><%= sage_component SageLabel, { color: "published", value: "required" } %></td>
  <td><%= md('An array of items to create a control list.') %></td>
  <td>
    <%= md('```
      Array<{
        bullet: String,
        bullet_type: String,
        body: String
      }>
    ') %>
  </td>
  <td><%= md('`nil`') %></td>
</tr>
