<tr>
  <td colspan="4">
    <%= md("**SageList** (container)") %>
  </td>
</tr>
<tr>
  <td><%= md('`items`') %></td>
  <td><%= md('Provide the set of items to render within the list.') %></td>
  <td><%= md('See schema for `SageListItem` below.') %></td>
  <td><%= md('`[]`') %></td>
</tr>
<tr>
  <td><%= md('`sortable_configs`') %></td>
  <td><%= md('
    Provide additional configurations according to those available for [SortableJS](https://github.com/SortableJS/Sortable#options).
    At this time, we only support properties that allow simple data types as values (string, boolean, number).
    In particular, use `handle: false` in order to make each item fully draggable (rather than just by the drag handle).
  ') %></td>
  <td><%= md('Hash') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`sortable_resource`') %></td>
  <td><%= md('Provide the resource name for a sortable list. Required only when `sortable` is activated for any child items') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`hide_first_border`') %></td>
  <td><%= md('Removes top border from first list item within a SageList') %></td>
  <td><%= md('Boolean') %></td>
  <td><%= md('`false`') %></td>
</tr>
<tr>
  <td colspan="4">
    <%= md("**SageListItem**") %>
  </td>
</tr>
<tr>
  <td><%= md('`id`') %></td>
  <td><%= md('Unique identifier for the list item.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`more_actions`') %></td>
  <td><%= md('Optional set of actions to appear in a dropdown at the end of the row.') %></td>
  <td><%= md('See schema for SageDropdown') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`sortable`') %></td>
  <td><%= md('Whether or not to show a sortable drag handle on this row.') %></td>
  <td><%= md('Boolean') %></td>
  <td><%= md('`false`') %></td>
</tr>
<tr>
  <td><%= md('`sortable_update_url`') %></td>
  <td><%= md('If `sortable` is `true` we attempt to call a URL when this sortable is dragged to a new position. Provide the desired URL here.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
