<h3>New Alerts</h3>
<%= sage_component SageAlert, {
  color: "approaching",
  title: "You've used 80% of available pages",
  title_addon: "(# of # used)",
  desc: "Upgrade your plan to access unlimited landing pages.",
  icon_name: "sage-icon-warning",
  dismissable: true,
  primary_action: {
    value: "Get unlimited pages",
  },
  secondary_action: {
    value: "Check usage",
  }
} %>

<%= sage_component SageAlert, {
  color: "reached",
  title: "You've reached your [feature_name] limit",
  desc: "Upgrade your plan to access more [feature_name].",
  icon_name: "sage-icon-flag",
  dismissable: true,
  primary_action: {
    value: "Primary",
    url: "#"
  },
  secondary_action: {
    value: "Secondary",
    url: "#"
  },
} do %>
  <% content_for :sage_alert_actions do %>
    <%= link_to "Check usage", "#" %>
  <% end %>
<% end %>

<%= sage_component SageAlert, {
  color: "exceeded",
  title: "You've exceeded your [feature_name] limit",
  desc: "To avoid any issues with your experience, upgrade your plan now.",
  icon_name: "sage-icon-danger",
  dismissable: true,
} do %>
  <% content_for :sage_alert_actions do %>
    <%= link_to "Check usage", "#" %>
  <% end %>
<% end %>

<h3>Dismissable Alert</h3>
<!-- Info -->
<%= sage_component SageAlert, {
  color: "info",
  title: "Our privacy policy has changed",
  desc: "Make sure you know how these changes affect you.",
  icon_name: "sage-icon-flag",
  dismissable: true,
  primary_action: {
    value: "Primary"
  },
} do %>
  <% content_for :sage_alert_actions do %>
    <%= link_to "Action Link", "#" %>
  <% end %>
<% end %>

<!-- Success -->
<%= sage_component SageAlert, {
  color: "published",
  title: "Account settings updated",
  desc: "Make sure you know how these changes affect you.",
  icon_name: "sage-icon-check-circle",
  dismissable: true,
  primary_action: {
    value: "Primary"
  },
} do %>
  <% content_for :sage_alert_actions do %>
    <%= link_to "Action Link", "#" %>
    <%= link_to "Action Link", "#" %>
  <% end %>
<% end %>

<!-- Warning -->
<%= sage_component SageAlert, {
  color: "warning",
  title: "Exceeded product amount limit",
  desc: "Make sure you know how these changes affect you.",
  icon_name: "sage-icon-warning",
  dismissable: true,
  primary_action: {
    value: "Primary"
  },
} do %>
  <% content_for :sage_alert_actions do %>
    <%= link_to "Action Link", "#" %>
    <%= link_to "Action Link", "#" %>
    <%= link_to "Action Link", "#" %>
  <% end %>
<% end %>

<!-- Danger -->
<%= sage_component SageAlert, {
  color: "danger",
  title: "App outage tonight at 12am",
  desc: "Make sure you know how these changes affect you.",
  icon_name: "sage-icon-danger",
  dismissable: true,
  primary_action: {
    value: "Primary"
  },
} do %>
  <% content_for :sage_alert_actions do %>
    <%= link_to "Action Link", "#" %>
    <%= link_to "Action Link", "#" %>
  <% end %>
<% end %>

<h3>Non-Dismissable Alert (no close button)</h3>
<!-- Info -->
<%= sage_component SageAlert, {
  color: "info",
  title: "Our privacy policy has changed",
  desc: "Make sure you know how these changes affect you.",
  icon_name: "sage-icon-info-circle",
  primary_action: {
    value: "Primary"
  },
} do %>
  <% content_for :sage_alert_actions do %>
    <%= link_to "Action Link", "#" %>
    <%= link_to "Action Link", "#" %>
  <% end %>
<% end %>

<!-- Success -->
<%= sage_component SageAlert, {
  color: "published",
  title: "Account settings updated",
  desc: "Make sure you know how these changes affect you.",
  icon_name: "sage-icon-check-circle",
  primary_action: {
    value: "Primary"
  },
} do %>
  <% content_for :sage_alert_actions do %>
    <%= link_to "Action Link", "#" %>
    <%= link_to "Action Link", "#" %>
  <% end %>
<% end %>

<!-- Warning -->
<%= sage_component SageAlert, {
  color: "warning",
  title: "Exceeded product amount limit",
  desc: "Make sure you know how these changes affect you.",
  icon_name: "sage-icon-warning",
  primary_action: {
    value: "Primary"
  },
} do %>
  <% content_for :sage_alert_actions do %>
    <%= link_to "Action Link", "#" %>
    <%= link_to "Action Link", "#" %>
  <% end %>
<% end %>

<!-- Danger -->
<%= sage_component SageAlert, {
  color: "danger",
  title: "App outage tonight at 12am",
  desc: "Make sure you know how these changes affect you.",
  icon_name: "sage-icon-danger",
  primary_action: {
    value: "Primary"
  },
} do %>
  <% content_for :sage_alert_actions do %>
    <%= link_to "Action Link", "#" %>
    <%= link_to "Action Link", "#" %>
  <% end %>
<% end %>

<h3>Small Alerts</h3>
<!-- Info -->
<%= sage_component SageAlert, {
  color: "info",
  desc: "Make sure you know how these changes affect you.",
  icon_name: "sage-icon-flag",
} %>

<!-- Success -->
<%= sage_component SageAlert, {
  color: "published",
  desc: "Make sure you know how these changes affect you.",
  icon_name: "sage-icon-check-circle",
} %>

<!-- Warning -->
<%= sage_component SageAlert, {
  color: "warning",
  desc: "Make sure you know how these changes affect you.",
  icon_name: "sage-icon-warning",
} %>

<!-- Danger -->
<%= sage_component SageAlert, {
  color: "danger",
  desc: "Make sure you know how these changes affect you.",
  icon_name: "sage-icon-danger",
} %>
