<h3>Dismissable Alert</h3>
<!-- Info -->
<%= sage_component SageAlert, {
  color: "info",
  title: "Our privacy policy has changed",
  title_addon: "(as of November 11, 2021)",
  desc: "Make sure you know how these changes affect you.",
  icon_name: "sage-icon-flag",
  dismissable: true,
  primary_action: {
    value: "Primary",
    test_id: "primary_action",
  },
  secondary_actions: [
    {
      value: "Button",
      test_id: "secondary_action",
    },
    {
      value: "Another button",
      test_id: "secondary_action_two",
    },
  ],
} do %>
  <% content_for :sage_alert_actions do %>
    <%= link_to "Check usage", "#" %>
  <% end %>
<% end %>

<!-- Success -->
<%= sage_component SageAlert, {
  color: "published",
  title: "Account settings updated",
  desc: "Make sure you know how these changes affect you.",
  icon_name: "sage-icon-check-circle",
  dismissable: true,
  primary_action: {
    value: "Primary - Link",
    attributes: {
      href: "#element-button"
    },
  },
  secondary_actions: [
    {
      value: "Secondary - Link",
      test_id: "secondary_action_three",
      attributes: {
        href: "#element-button"
      },
    },
  ],
} do %>
  <% content_for :sage_alert_actions do %>
    <%= link_to "Action Link", "#" %>
    <%= link_to "Action Link", "#" %>
  <% end %>
<% end %>

<!-- Warning -->
<%= sage_component SageAlert, {
  color: "warning",
  title: "Exceeded product amount limit",
  desc: "Make sure you know how these changes affect you.",
  icon_name: "sage-icon-warning",
  dismissable: true,
} do %>
  <% content_for :sage_alert_actions do %>
    <%= link_to "Action Link", "#" %>
    <%= link_to "Action Link", "#" %>
    <%= link_to "Action Link", "#" %>
  <% end %>
<% end %>

<!-- Danger -->
<%= sage_component SageAlert, {
  color: "danger",
  title: "App outage tonight at 12am",
  desc: "Make sure you know how these changes affect you.",
  icon_name: "sage-icon-danger",
  dismissable: true,
  primary_action: {
    value: "Primary"
  } 
} %>

<h3>Non-Dismissable Alert (no close button)</h3>
<!-- Info -->
<%= sage_component SageAlert, {
  color: "info",
  title: "Our privacy policy has changed",
  desc: "Make sure you know how these changes affect you.",
  icon_name: "sage-icon-info-circle",
  primary_action: {
    value: "Primary"
  },
} do %>
  <% content_for :sage_alert_actions do %>
    <%= link_to "Action Link", "#" %>
    <%= link_to "Action Link", "#" %>
  <% end %>
<% end %>

<!-- Success -->
<%= sage_component SageAlert, {
  color: "published",
  title: "Account settings updated",
  desc: "Make sure you know how these changes affect you.",
  icon_name: "sage-icon-check-circle",
  primary_action: {
    value: "Primary"
  },
} do %>
  <% content_for :sage_alert_actions do %>
    <%= link_to "Action Link", "#" %>
    <%= link_to "Action Link", "#" %>
  <% end %>
<% end %>

<!-- Warning -->
<%= sage_component SageAlert, {
  color: "warning",
  title: "Exceeded product amount limit",
  desc: "Make sure you know how these changes affect you.",
  icon_name: "sage-icon-warning",
  primary_action: {
    value: "Primary"
  },
} do %>
  <% content_for :sage_alert_actions do %>
    <%= link_to "Action Link", "#" %>
    <%= link_to "Action Link", "#" %>
  <% end %>
<% end %>

<!-- Danger -->
<%= sage_component SageAlert, {
  color: "danger",
  title: "App outage tonight at 12am",
  desc: "Make sure you know how these changes affect you.",
  icon_name: "sage-icon-danger",
  primary_action: {
    value: "Primary"
  },
} do %>
  <% content_for :sage_alert_actions do %>
    <%= link_to "Action Link", "#" %>
    <%= link_to "Action Link", "#" %>
  <% end %>
<% end %>

<h3>Small Alerts</h3>
<!-- Info -->
<%= sage_component SageAlert, {
  color: "info",
  desc: "Make sure you know how these changes affect you.",
  icon_name: "sage-icon-flag",
  small: true
} %>

<!-- Success -->
<%= sage_component SageAlert, {
  color: "published",
  desc: "Make sure you know how these changes affect you.",
  icon_name: "sage-icon-check-circle",
  small: true
} %>

<!-- Warning -->
<%= sage_component SageAlert, {
  color: "warning",
  desc: "Make sure you know how these changes affect you.",
  icon_name: "sage-icon-warning",
  small: true
} %>

<!-- Danger -->
<%= sage_component SageAlert, {
  color: "danger",
  desc: "Make sure you know how these changes affect you.",
  icon_name: "sage-icon-danger",
  small: true
} %>
