<h3>New Alerts</h3>
<h4>Approaching</h4>
<%= sage_component SageAlert, {
  color: "approaching",
  title: "You've used [percentage] of available [feature_name]",
  desc: "Upgrade your plan to access more [feature_name].",
  icon_name: "sage-icon-warning",
  dismissable: true
} do %>
  <% content_for :sage_alert_actions do %>
    <%= link_to "Check usage", "#" %>
  <% end %>
<% end %>

<h4>Reached</h4>
<%= sage_component SageAlert, {
  color: "reached",
  title: "You've reached your [feature_name] limit",
  desc: "Upgrade your plan to access more [feature_name].",
  icon_name: "sage-icon-flag",
  dismissable: true
} do %>
  <% content_for :sage_alert_actions do %>
    <%= link_to "Check usage", "#" %>
  <% end %>
<% end %>

<h4>Exceeded</h4>
<%= sage_component SageAlert, {
  color: "exceeded",
  title: "You've exceeded your [feature_name] limit",
  desc: "To avoid any issues with your experience, upgrade your plan now.",
  icon_name: "sage-icon-danger",
  dismissable: true
} do %>
  <% content_for :sage_alert_actions do %>
    <%= link_to "Check usage", "#" %>
  <% end %>
<% end %>

<h3>Dismissable Alert</h3>
<!-- Info -->
<%= sage_component SageAlert, {
  color: "info",
  title: "Our privacy policy has changed",
  desc: "Make sure you know how these changes affect you.",
  icon_name: "sage-icon-info-circle",
  dismissable: true
} do %>
  <% content_for :sage_alert_actions do %>
    <%= link_to "Action Link", "#" %>
  <% end %>
<% end %>

<!-- Success -->
<%= sage_component SageAlert, {
  color: "published",
  title: "Account settings updated",
  desc: "Make sure you know how these changes affect you.",
  icon_name: "sage-icon-check-circle",
  dismissable: true
} do %>
  <% content_for :sage_alert_actions do %>
    <%= link_to "Action Link", "#" %>
    <%= link_to "Action Link", "#" %>
  <% end %>
<% end %>

<!-- Warning -->
<%= sage_component SageAlert, {
  color: "warning",
  title: "Exceeded product amount limit",
  desc: "Make sure you know how these changes affect you.",
  icon_name: "sage-icon-warning",
  dismissable: true
} do %>
  <% content_for :sage_alert_actions do %>
    <%= link_to "Action Link", "#" %>
    <%= link_to "Action Link", "#" %>
    <%= link_to "Action Link", "#" %>
  <% end %>
<% end %>

<!-- Danger -->
<%= sage_component SageAlert, {
  color: "danger",
  title: "App outage tonight at 12am",
  desc: "Make sure you know how these changes affect you.",
  icon_name: "sage-icon-warning",
  dismissable: true
} do %>
  <% content_for :sage_alert_actions do %>
    <%= link_to "Action Link", "#" %>
    <%= link_to "Action Link", "#" %>
  <% end %>
<% end %>

<h3>Non-Dismissable Alert (no close button)</h3>
<!-- Info -->
<%= sage_component SageAlert, {
  color: "info",
  title: "Our privacy policy has changed",
  desc: "Make sure you know how these changes affect you.",
  icon_name: "sage-icon-info-circle"
} do %>
  <% content_for :sage_alert_actions do %>
    <%= link_to "Action Link", "#" %>
    <%= link_to "Action Link", "#" %>
  <% end %>
<% end %>

<!-- Success -->
<%= sage_component SageAlert, {
  color: "published",
  title: "Account settings updated",
  desc: "Make sure you know how these changes affect you.",
  icon_name: "sage-icon-check-circle"
} do %>
  <% content_for :sage_alert_actions do %>
    <%= link_to "Action Link", "#" %>
    <%= link_to "Action Link", "#" %>
  <% end %>
<% end %>

<!-- Warning -->
<%= sage_component SageAlert, {
  color: "warning",
  title: "Exceeded product amount limit",
  desc: "Make sure you know how these changes affect you.",
  icon_name: "sage-icon-warning"
} do %>
  <% content_for :sage_alert_actions do %>
    <%= link_to "Action Link", "#" %>
    <%= link_to "Action Link", "#" %>
  <% end %>
<% end %>

<!-- Danger -->
<%= sage_component SageAlert, {
  color: "danger",
  title: "App outage tonight at 12am",
  desc: "Make sure you know how these changes affect you.",
  icon_name: "sage-icon-warning"
} do %>
  <% content_for :sage_alert_actions do %>
    <%= link_to "Action Link", "#" %>
    <%= link_to "Action Link", "#" %>
  <% end %>
<% end %>
