<%
  sage_link = sage_component(SageLink, {
   url: "#",
    label: "Link",
    launch: false,
    help_link: false,
    show_label: true,
    style: "secondary"
  })
%>
<h3>Dismissable Alert</h3>
<!-- Default -->
<%= sage_component SageAlert, {
  spacer: { bottom: "2xs" },
  color: "default",
  title: "Our privacy policy has changed",
  title_addon: "(as of November 11, 2021)",
  desc: "Make sure you know how these changes affect you. Make sure you know how these changes affect you.",
  icon_name: "sage-icon-info-circle-filled",
  dismissable: true,
  primary_action: {
    value: "Primary",
    test_id: "primary_action",
  },
  secondary_actions: [
    {
      value: "Link",
      url: "#",
    },
    {
      value: "Another link",
      url: "#"
    },
  ],
} do %>
  <% content_for :sage_alert_actions do %>
    <%= sage_link %>
  <% end %>
<% end %>
<!-- Info -->
<%= sage_component SageAlert, {
  spacer: { bottom: "2xs" },
  color: "info",
  title: "Our privacy policy has changed",
  title_addon: "(as of November 11, 2021)",
  desc: "Make sure you know how these changes affect you. Make sure you know how these changes affect you.",
  icon_name: "sage-icon-info-circle-filled",
  dismissable: true,
  primary_action: {
    value: "Primary",
    test_id: "primary_action",
  },
  secondary_actions: [
    {
      value: "Link",
      url: "#"
    },
    {
      value: "Another link",
      url: "#"
    },
  ],
} do %>
  <% content_for :sage_alert_actions do %>
    <%= sage_link %>
  <% end %>
<% end %>

<!-- Success -->
<%= sage_component SageAlert, {
  spacer: { bottom: "2xs" },
  color: "published",
  title: "Account settings updated",
  desc: "Make sure you know how these changes affect you. Make sure you know how these changes affect you.",
  icon_name: "sage-icon-check-circle-filled",
  dismissable: true,
  primary_action: {
    value: "Primary - Link",
    attributes: {
      href: "#element-button"
    },
  },
  secondary_actions: [
    {
      value: "Secondary - Link",
      url: "#element-button"
    },
  ],
} do %>
  <% content_for :sage_alert_actions do %>
    <%= sage_link %>
    <%= sage_link %>
  <% end %>
<% end %>

<!-- Warning -->
<%= sage_component SageAlert, {
  spacer: { bottom: "2xs" },
  color: "warning",
  title: "Exceeded product amount limit",
  desc: "Make sure you know how these changes affect you. Make sure you know how these changes affect you.",
  icon_name: "sage-icon-warning-filled",
  dismissable: true,
  primary_action: {
    value: "Primary - Link",
    attributes: {
      href: "#element-button"
    },
  }, 
} do %>
  <% content_for :sage_alert_actions do %>
    <%= sage_link %>
    <%= sage_link %>
  <% end %>
<% end %>

<!-- Danger -->
<%= sage_component SageAlert, {
  spacer: { bottom: "2xs" },
  color: "danger",
  title: "App outage tonight at 12am",
  desc: "Make sure you know how these changes affect you. Make sure you know how these changes affect you.",
  icon_name: "sage-icon-danger-filled",
  dismissable: true,
  primary_action: {
    value: "Primary"
  }
} %>

<h3>Non-Dismissable Alert (no close button)</h3>

<!-- Default -->
<%= sage_component SageAlert, {
  spacer: { bottom: "2xs" },
  color: "default",
  title: "Our privacy policy has changed",
  desc: "Make sure you know how these changes affect you. Make sure you know how these changes affect you.",
  icon_name: "sage-icon-info-circle-filled",
  primary_action: {
    value: "Primary"
  },
} do %>
  <% content_for :sage_alert_actions do %>
    <%= sage_link %>
    <%= sage_link %>
  <% end %>
<% end %>

<!-- Info -->
<%= sage_component SageAlert, {
  spacer: { bottom: "2xs" },
  color: "info",
  title: "Our privacy policy has changed",
  desc: "Make sure you know how these changes affect you. Make sure you know how these changes affect you.",
  icon_name: "sage-icon-info-circle-filled",
  primary_action: {
    value: "Primary"
  },
} do %>
  <% content_for :sage_alert_actions do %>
    <%= sage_link %>
    <%= sage_link %>
  <% end %>
<% end %>

<!-- Success -->
<%= sage_component SageAlert, {
  spacer: { bottom: "2xs" },
  color: "published",
  title: "Account settings updated",
  desc: "Make sure you know how these changes affect you. Make sure you know how these changes affect you.",
  icon_name: "sage-icon-check-circle-filled",
  primary_action: {
    value: "Primary"
  },
} do %>
  <% content_for :sage_alert_actions do %>
    <%= sage_link %>
    <%= sage_link %>
  <% end %>
<% end %>

<!-- Warning -->
<%= sage_component SageAlert, {
  spacer: { bottom: "2xs" },
  color: "warning",
  title: "Exceeded product amount limit",
  desc: "Make sure you know how these changes affect you. Make sure you know how these changes affect you.",
  icon_name: "sage-icon-warning-filled",
  primary_action: {
    value: "Primary"
  },
} do %>
  <% content_for :sage_alert_actions do %>
    <%= sage_link %>
    <%= sage_link %>
  <% end %>
<% end %>

<!-- Danger -->
<%= sage_component SageAlert, {
  spacer: { bottom: "2xs" },
  color: "danger",
  title: "App outage tonight at 12am",
  desc: "Make sure you know how these changes affect you. Make sure you know how these changes affect you.",
  icon_name: "sage-icon-danger-filled",
  primary_action: {
    value: "Primary"
  },
} do %>
  <% content_for :sage_alert_actions do %>
    <%= sage_link %>
    <%= sage_link %>
  <% end %>
<% end %>

<h3>Small Alerts</h3>

<!-- Default -->
<%= sage_component SageAlert, {
  spacer: { bottom: :md },
  color: "default",
  desc: "Make sure you know how these changes affect you.",
  icon_name: "sage-icon-info-circle-filled",
  small: true,
  dismissable: true,
} do %>
  <% content_for :sage_alert_actions do %>
    <%= sage_link %>
  <% end %>
<% end %>

<!-- Info -->
<%= sage_component SageAlert, {
  spacer: { bottom: :md },
  color: "info",
  desc: "Make sure you know how these changes affect you.",
  icon_name: "sage-icon-info-circle-filled",
  small: true,
  dismissable: true,
} do %>
  <% content_for :sage_alert_actions do %>
    <%= sage_link %>
  <% end %>
<% end %>

<!-- Success -->
<%= sage_component SageAlert, {
  spacer: { bottom: :md },
  color: "published",
  desc: "Make sure you know how these changes affect you.",
  icon_name: "sage-icon-check-circle-filled",
  small: true,
  dismissable: true,
} %>

<!-- Warning -->
<%= sage_component SageAlert, {
  spacer: { bottom: :md },
  color: "warning",
  desc: "Make sure you know how these changes affect you.",
  icon_name: "sage-icon-warning-filled",
  small: true,
} do %>
  <% content_for :sage_alert_actions do %>
    <%= sage_link %>
  <% end %>
<% end %>

<!-- Danger -->
<%= sage_component SageAlert, {
  spacer: { bottom: :md },
  color: "danger",
  desc: "Make sure you know how these changes affect you.",
  icon_name: "sage-icon-danger-filled",
  small: true,
} %>

<%= md("
### Events

Alerts emit a custom event, `sage.alert.dismiss` when the dismiss button is clicked.
You can listen for this event as it bubbles and respond as you see fit.
", use_sage_type: true) %>

<script>
(function() {
  window.addEventListener("sage.alert.dismiss", function (evt) {
    console.log("local dismiss click", evt);
  });
})();
</script>
