<tr>
  <td><%= md('`color`') %></td>
  <td><%= md('Applies a color theme and a corresponding default icon.') %></td>
  <td><%= md('`"default"`, `"info"`, `"success"`, `"warning"`, `"danger"`, `"approaching"`, `"exceeded"`, `"reached"`') %></td>
  <td><%= md('`"default"`') %></td>
</tr>
<tr>
  <td><%= md('`desc`') %></td>
  <td><%= md('Description text to be displayed.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`dismissable`') %></td>
  <td><%= md('Adds close icon and functionality to allow alert to be closed.') %></td>
  <td><%= md('Boolean') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`icon_name`') %></td>
  <td><%= md('Icon defaults are provided. Icons can also be customized with this property.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('See Icons.') %></td>
</tr>
<tr>
  <td><%= md('`primary_action`') %></td>
  <td><%= md('Creates a primary action for the alert. See SageButton.') %></td>
  <td>
    <%= md('```
primary_action: {
  value: String,
  test_id: String,
  attributes: Hash,
}
```')
    %>
  </td>
  <td><%= md('`nil`') %></td>
</tr>
</tr>
<tr>
  <td><%= md('`secondary_actions`') %></td>
  <td><%= md('An array of optional secondary actions. See SageLink.') %></td>
  <td>
    <%= md('```
Array<{
  value: String,
  url: String,
}>
```')
    %>
  </td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`small`') %></td>
  <td><%= md('This property allows for a small variation of the Alert component. Per design specs, do not include a `title`, `title_addon`, or any actions.') %></td>
  <td><%= md('Boolean') %></td>
  <td><%= md('`false`') %></td>
</tr>
<tr>
  <td><%= md('`title`') %></td>
  <td><%= md('Title text to be displayed.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`title_addon`') %></td>
  <td><%= md('Allows text to be displayed along side the title, in body-small type spec.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td colspan="2"><%= md('**Sections**') %></td>
  <td colspan="2"><%= md('**`Element`**') %></td>
</tr>
<tr>
  <td><%= md('`sage_alert_actions`') %></td>
  <td><%= md('This area holds additional action links for the component. This should be used only if more than a primary and secondary button is needed. See properties `primary_action` and `secondary_action`.') %></td>
  <td colspan="2"><%= md('`link_to`(s)') %></td>
</tr>
<tr>
  <td colspan="4">
    <strong>Events</strong>
  </td>
</tr>
<tr>
  <td colspan="4">
    <em>Global/window events</em>
  </td>
</tr>
<tr>
  <td><%= md('`sage.alert.dismiss`') %></td>
  <td colspan="3"><%= md("Fires when an alert's dismiss button is clicked.") %></td>
</tr>
