
<%= sage_component SageButtonGroup, { gap: :md } do %>
  <%= sage_component SageButton, {
    style: "primary",
    icon: { name: "launch", style: "right" },
    value: "Default",
    attributes: {
      "data-js-modaltrigger": "cool-modal",
    }
  } %>
<% end %>

<% content_for :sage_docs_modals do %>
  <%= sage_component SageCreationWizard, { show_close: true } do %>
    <% content_for :sage_creation_wizard_body do %>
      <p>scroll me</p>
      <p>scroll me</p>
      <p>scroll me</p>
      <p>scroll me</p>
      <p>scroll me</p>
      <p>scroll me</p>
      <p>scroll me</p>
      <p>scroll me</p>
      <p>scroll me</p>
      <p>scroll me</p>
      <p>scroll me</p>
      <p>scroll me</p>
      <p>scroll me</p>
      <p>scroll me</p>
      <p>scroll me</p>
      <p>scroll me</p>
      <p>scroll me</p>
      <p>scroll me</p>
      <p>scroll me</p>
      <p>scroll me</p>
      <p>scroll me</p>
      <p>scroll me</p>
      <p>scroll me</p>
      <p>scroll me</p>
      <p>scroll me</p>
      <p>scroll me</p>
      <p>scroll me</p>
      <p>scroll me</p>
      <p>scroll me</p>
      <p>scroll me</p>
      <p>scroll me</p>
      <p>scroll me</p>
      <p>scroll me</p>
      <p>scroll me</p>
      <p>scroll me</p>
      <p>scroll me</p>
      <p>scroll me</p>
      <p>scroll me</p>
      <p>scroll me</p>
      <p>scroll me</p>
      <p>scroll me</p>
    <% end %>

    <% content_for :sage_creation_wizard_body_actions do %>
    <%= sage_component SageButton, {
      style: "secondary",
      value: "Go back",
      raised: false,
      attributes: {
        href: "#"
      },
    } %>
    <%= sage_component SageButton, {
      style: "primary",
      value: "Save and continue",
      attributes: {
        href: "#"
      },
    } %>
    <% end %>

    <% content_for :sage_creation_wizard_feature do %>
      <p>number 2</p>
    <% end %>
  <% end %>
<% end %>

