<tr>
  <td><%= md('`active`') %></td>
  <td><%= md('Enabling this property will return the JS early to not initialize any handlers.') %></td>
  <td><%= md('Boolean') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`header_image`') %></td>
  <td><%= md('When present, sets the image in the header of the component') %></td>
  <td><%= md('Hash') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`id`') %></td>
  <td><%= md('Unique identifier for component. Should match the `data-js-modaltrigger` property on the corresponding button') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil') %></td>
</tr>
<tr>
  <td><%= md('`indicator`') %></td>
  <td><%= md('These values will set the page indicator for the component.') %></td>
  <td>
    <%= md('```
indicator: {
  current_item: String,
  label: Boolean,
  num_items: Integer
}
```')
    %>
  </td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`show_close`') %></td>
  <td><%= md('If true, displays an icon to close the modal onclick.') %></td>
  <td><%= md('Boolean') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`title`') %></td>
  <td><%= md('Sets the title for the component') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td colspan="2"><%= md('**Sections**') %></td>
  <td colspan="2"><%= md('**`Element`**') %></td>
</tr>
<tr>
  <td><%= md('`sage_creation_wizard_body`') %></td>
  <td><%= md('This area holds the component\'s form.') %></td>
  <td colspan="2"><%= md('`SageComponent`s') %></td>
</tr>
<tr>
  <td><%= md('`sage_creation_wizard_body_actions`') %></td>
  <td><%= md('This area holds the form\s action buttons.') %></td>
  <td colspan="2"><%= md('`SageButton`(s)') %></td>
</tr>
<tr>
  <td><%= md('`sage_creation_wizard_header`') %></td>
  <td><%= md('This area holds the header content for the component.') %></td>
  <td colspan="2"><%= md('`SageButton`(s)') %></td>
</tr>
<tr>
  <td><%= md('`sage_creation_wizard_header_indicator`') %></td>
  <td><%= md('This area holds the progress indicator for the component') %></td>
  <td colspan="2"><%= md('`<p>`') %></td>
</tr>
<tr>
  <td><%= md('`sage_creation_wizard_feature`') %></td>
  <td><%= md('This area holds the live preview content for the component') %></td>
  <td colspan="2"><%= md('`image_tag()`') %></td>
</tr>
