<div class="sage-tabs-container">
  <%= sage_component SageTabs, {
    id: "example-tabs1",
    items: [
      {
        target: "feature-1",
        text: "KP Onboarding",
      },
      {
        target: "feature-2",
        text: "KP Settings",
      },
      {
        target: "feature-3",
        text: "Payouts: Empty State",
      },
      {
        target: "feature-4",
        text: "Payouts: Index",
      },
      {
        active: true,
        target: "feature-5",
        text: "Payouts: Payout Details",
      },
    ]
  } %>
  <%= sage_component SageTabsPane, { id: "feature-1" } do %>
    <%= render "mocks/kp_onboarding_payouts/onboarding/index" %>
  <% end %>
  <%= sage_component SageTabsPane, { id: "feature-2" } do %>
    <%= render "mocks/kp_onboarding_payouts/settings/index" %>
  <% end %>
  <%= sage_component SageTabsPane, { id: "feature-3" } do %>
    <%= render "mocks/kp_onboarding_payouts/payouts/empty_state" %>
  <% end %>
  <%= sage_component SageTabsPane, { id: "feature-4" } do %>
    <%= render "mocks/kp_onboarding_payouts/payouts/index" %>
  <% end %>
  <%= sage_component SageTabsPane, { id: "feature-5" } do %>
    <%= render "mocks/kp_onboarding_payouts/payouts/details" %>
  <% end %>
</div>
