<div class="sage-tabs-container">
  <%= sage_component SageTabs, {
    id: "example-tabs1",
    items: [
      {
        text: "Payouts: Empty State",
        target: "feature-1",
        active: true
      },
      {
        text: "Sidebar module",
        target: "feature-2",
      },
    ]
  } %>
  <%= sage_component SageTabsPane, { id: "feature-1" } do %>
    <%= render "mocks/kp_onboarding_payouts/payouts/empty_state" %>
  <% end %>
  <%= sage_component SageTabsPane, { id: "feature-2" } do %>
    <%= render "mocks/get_started/sidebar_module" %>
  <% end %>
</div>

