<tr>
  <td><%= md('`alt_text`') %></td>
  <td><%= md('Sets the `alt` text for the components\'s image.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`description`') %></td>
  <td><%= md('Sets the description text for the component.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`image`') %></td>
  <td><%= md('Sets the `src` for the component\'s image.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`links`') %></td>
  <td><%= md('An array of optional links.') %></td>
  <td>
    <%= md('```
Array<{
  icon: String,
  location: String,
  target: String,
  text: String
}>
    ') %>
  </td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`title`') %></td>
  <td><%= md('Sets the sets the title text for the component.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`title_tag`') %></td>
  <td><%= md('Sets the heading tag (`h1` - `h6`) for the component\'s title tag.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>



