<button class="sage-btn sage-btn--secondary" data-js-tooltip="<%= text %>" data-js-tooltip-position="<%= position %>" <% if theme != "" %>data-js-tooltip-theme="<%= theme %>"<% end %><% if size != ""%> data-js-tooltip-size="<%= size %>"<% end %>><%= position.capitalize %></button>
