<h3 class="t-sage-heading-6">Dark Tooltips</h3>
<%= sage_component SagePanelBlock, {} do %>
  <%= render "examples/elements/tooltip/markup",
  position: "top",
  text: "Nascetur ridiculus mus",
  theme: "",
  size: ""
  %>
  <%= render "examples/elements/tooltip/markup",
  position: "bottom",
  text: "80%",
  theme: "",
  size: "small"
  %>
  <%= render "examples/elements/tooltip/markup",
  position: "left",
  text: "Cursus Aenean",
  theme: "",
  size: ""
  %>
  <%= render "examples/elements/tooltip/markup",
  position: "right",
  text: "Bibendum Condimentum",
  theme: "",
  size: ""
  %>
<% end %>

<h3 class="t-sage-heading-6">Light Tooltips</h3>
<%= sage_component SagePanelBlock, {} do %>
  <%= render "examples/elements/tooltip/markup",
  position: "top",
  text: "Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.",
  theme: "light",
  size: "large"
  %>
  <%= render "examples/elements/tooltip/markup",
  position: "bottom",
  text: "Magnis dis parturient montes",
  theme: "light",
  size: ""
  %>
  <%= render "examples/elements/tooltip/markup",
  position: "left",
  text: "$12.99",
  theme: "light",
  size: "small"
  %>
  <%= render "examples/elements/tooltip/markup",
  position: "right",
  text: "Sociis natoque et",
  theme: "light",
  size: ""
  %>
<% end %>
