<h5>Dark Tooltips</h5>
<%= render "examples/elements/tooltip/markup",
position: "top",
text: "Nascetur ridiculus mus",
theme: "",
size: ""
%>
<%= render "examples/elements/tooltip/markup",
position: "bottom",
text: "80%",
theme: "",
size: "small"
%>
<%= render "examples/elements/tooltip/markup",
position: "left",
text: "Cursus Aenean",
theme: "",
size: ""
%>
<%= render "examples/elements/tooltip/markup",
position: "right",
text: "Bibendum Condimentum",
theme: "",
size: ""
%>

<h5>Light Tooltips</h5>
<%= render "examples/elements/tooltip/markup",
position: "top",
text: "Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.",
theme: "light",
size: "large"
%>
<%= render "examples/elements/tooltip/markup",
position: "bottom",
text: "Magnis dis parturient montes",
theme: "light",
size: ""
%>
<%= render "examples/elements/tooltip/markup",
position: "left",
text: "$12.99",
theme: "light",
size: "small"
%>
<%= render "examples/elements/tooltip/markup",
position: "right",
text: "Sociis natoque et",
theme: "light",
size: ""
%>
