<tr>
  <td><%= md("`position`") %></td>
  <td><%= md("Set this property to position the tooltip.") %></td>
  <td><%= md("String: [\"top\", \"right\", \"bottom\", \"left\"]") %></td>
  <td><%= md("null") %></td>
</tr>
<tr>
  <td><%= md("`size`") %></td>
  <td><%= md("Set this property to assign tooltip size. Choose between small (decreased horizontal padding) and <code>large</code> (increased maximum width). When empty, defaults to a maximum width of 200px.") %></td>
  <td><%= md("String: [\"small\", \"large\"]") %></td>
  <td><%= md("null") %></td>
</tr>
<tr>
  <td><%= md("`text`") %></td>
  <td><%= md("Text that will be displayed within the tooltip.") %></td>
  <td><%= md("String") %></td>
  <td><%= md("null") %></td>
</tr>
<tr>
  <td><%= md("`theme`") %></td>
  <td><%= md("Sets a light theme on tooltip. If empty, defaults to \"dark\".") %></td>
  <td><%= md("String: [\"dark\", \"light\"]") %></td>
  <td><%= md("null") %></td>
</tr>
