<!-- Docs Only Label -->
<%= sage_component SageCardBlock, {} do %><%= sage_component SageLabel, {color: "draft",value: "Standard link"} %><% end %>
<!-- Docs Only Label End -->

<%= sage_component SagePanelStack, {} do %>
  <%= sage_component SageLink, {
    url: "#",
    label: "Standard link",
    external: false,
    launch: false,
    help_link: false,
    show_label: true
  } %>
  <%= sage_component SageLink, {
    url: "#",
    label: "Internal link with launch",
    external: false,
    launch: true,
    help_link: false,
    show_label: true
  } %>
  <%= sage_component SageLink, {
    url: "#",
    label: "Internal link with tooltip",
    external: false,
    help_link: false,
    show_label: true,
    attributes: {
      "data-js-tooltip": "Tooltip",
      "data-js-tooltip-position": "right",
    },
  } %>
<% end %>

<!-- Docs Only Label -->
<%= sage_component SageCardBlock, {} do %><%= sage_component SageLabel, {color: "draft",value: "External links"} %><% end %>
<!-- Docs Only Label End -->

<%= sage_component SagePanelStack, {} do %>
  <%= sage_component SageLink, {
    url: "https://example.com",
    label: "External link",
    external: true,
    launch: true,
    help_link: false,
    show_label: true
  } %>
  <%= sage_component SageLink, {
    url: "https://example.com",
    label: "External link (launch icon cancelled)",
    external: true,
    launch: false,
    help_link: false,
    show_label: true
  } %>
  <%= sage_component SageLink, {
    url: "https://example.com",
    label: "External link w/ tooltip",
    external: true,
    launch: false,
    help_link: false,
    show_label: true,
    attributes: {
      "data-js-tooltip": "Tooltip",
      "data-js-tooltip-position": "top"
    },
  } %>
<% end %>

<!-- Docs Only Label -->
<%= sage_component SageCardBlock, {} do %><%= sage_component SageLabel, {color: "draft",value: "Help/Info links"} %><% end %>
<!-- Docs Only Label End -->

<%= sage_component SagePanelStack, {} do %>
  <%= sage_component SageLink, {
    url: "#",
    label: "Get help",
    external: false,
    launch: false,
    help_link: true,
    show_label: true
  } %>
  <%= sage_component SageLink, {
    url: "#",
    label: "Get help (hidden)",
    external: false,
    launch: false,
    help_link: true,
    show_label: false
  } %>
  <%= sage_component SageLink, {
    url: "#",
    label: "Help link w/ tooltip",
    external: false,
    launch: false,
    help_link: true,
    show_label: true,
    attributes: {
      "data-js-tooltip": "Tooltip",
      "data-js-tooltip-position": "bottom"
    },
  } %>
<% end %>

<!-- Docs Only Label -->
<%= sage_component SageCardBlock, {} do %><%= sage_component SageLabel, {color: "draft",value: "Subtext links"} %><% end %>
<!-- Docs Only Label End -->

<a href="//example.com" class="sage-link--subtext">Link for placement in subtext</a>
