<%= sage_layout SageFrame, {
  background: SageTokens::COLOR_PALETTE[:GREY_200],
  direction: "horizontal",
  border_radius: "md",
  align: "start-spread",
} do %>
  <%= sage_layout SageFrame, {
    gap: "none",
    padding: "sm",
    width: "flex",
  } do %>
    <h4 class="<%= "#{SageClassnames::TYPE::HEADING_6}" %>">
      Need help?
    </h4>
    <p class="<%= "#{SageClassnames::TYPE::BODY_XSMALL}" %>">
      Find your account and routing numbers at the bottom of your personal checks.
    </p>
  <% end %>
  <%= sage_layout SageFrame, { gap: "none", width: "340px" } do %>
    <%= image_tag "mocks/check_details.svg" %>
  <% end %>
<% end %>
