<tr>
  <td><%= md('`image`') %></td>
  <td><%= md('Allows for configuration of an image.') %>
  </td>
  <td>
  <%= md('```
image: {
  alt: String (optional),
  src: String,
}
    ') %>
  </td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`url`') %></td>
  <td><%= md('Sets the destination `url` for the link.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`size`') %></td>
  <td><%= md('
    A size setting to customize the height of the logo. Width will scale auto with the height.
  ') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>