<tr>
  <td><%= md("`active`") %></td>
  <td><%= md("Manually set an item to be styled as the selected item.") %></td>
  <td><%= md("Boolean") %></td>
  <td><%= md("false") %></td>
</tr>
<tr>
  <td><%= md("`icon`") %></td>
  <td><%= md("Allows for configurations for an and its placement to be provided.") %></td>
  <td><%= md("String") %></td>
  <td><%= md("null") %></td>
</tr>
<tr>
  <td><%= md("`items`") %></td>
  <td><%= md("Provides a list of sub-items (nested list) to dispaly with this root NavLink.") %></td>
  <td><%= md("`Array` of items with the same structure as `NavLinks`") %></td>
  <td><%= md("`nil`") %></td>
</tr>
<tr>
  <td><%= md("`link`") %></td>
  <td><%= md("This sets the `href` for the link.") %></td>
  <td><%= md("String") %></td>
  <td><%= md("null") %></td>
</tr>
<tr>
  <td><%= md('`method`') %></td>
  <td><%= md('Allows for configuration for custom link methods') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`no_active`') %></td>
  <td><%= md('When enabled, this will remove the active link styles for the current page\'s link.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`text`') %></td>
  <td><%= md('The text for the link.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`type`') %></td>
  <td><%= md('Setting the link to `sub` creates a submenu link.') %></td>
  <td><%= md('String: [ `sub` ]') %></td>
  <td><%= md('`nil`') %></td>
</tr>
