<tr>
  <td><%= md("`high_value_text`") %></td>
  <td><%= md("Sets the high value of the meter, indicating that a satisfactory value has been reached.") %></td>
  <td><%= md("String") %></td>
  <td><%= md("null") %></td>
</tr>
<tr>
  <td><%= md("`id`") %></td>
  <td><%= md("Unique identifier for this input field. Should match the `for` property on the corresponding label.") %></td>
  <td><%= md("String") %></td>
  <td><%= md("null") %></td>
</tr>
<tr>
  <td><%= md("`label`") %></td>
  <td><%= md("Sets the label text for the component.") %></td>
  <td><%= md("String") %></td>
  <td><%= md("null") %></td>
</tr>
<tr>
  <td><%= md("`low_value_text`") %></td>
  <td><%= md("Sets the low value of the meter indicating that an unsatisfactory has been reached.") %></td>
  <td><%= md("String") %></td>
  <td><%= md("null") %></td>
</tr>
<tr>
  <td><%= md("`max_value`") %></td>
  <td><%= md("Assigns a maximum value to the meter. Required for updated styles to function.") %></td>
  <td><%= md("Integer") %></td>
  <td><%= md("null") %></td>
</tr>
<tr>
  <td><%= md("`max_value_text`") %></td>
  <td><%= md("This property sets text for the maximum meter value.") %></td>
  <td><%= md("String") %></td>
  <td><%= md("null") %></td>
</tr>
<tr>
  <td><%= md("`med_value_text`") %></td>
  <td><%= md("Sets the medium value of the meter indicating that a medium satisfactory has been reached.") %></td>
  <td><%= md("String") %></td>
  <td><%= md("null") %></td>
</tr>
<tr>
  <td><%= md("`optimum_value`") %></td>
  <td><%= md("Sets the optimal value of the meter, indicating that a satisfactory value has been reached.") %></td>
  <td><%= md("Integer") %></td>
  <td><%= md("null") %></td>
</tr>
<tr>
  <td><%= md("`value`") %></td>
  <td><%= md("The current meter value.") %></td>
  <td><%= md("Integer") %></td>
  <td><%= md("null") %></td>
</tr>



