<div class="sage-checkbox<%= has_error ? " sage-checkbox--error" : "" %>">
  <input id="<%= id %>" type="checkbox" class="sage-checkbox__input"<%= checked ? " checked" : "" %><%= disabled ? " disabled" : "" %>>
  <label for="<%= id %>" class="sage-checkbox__label"><%= label_text %></label>
</div>