<% is_progressbar = defined?(is_progressbar) && is_progressbar %>
<nav
  aria-label="Breadcrumbs"
  class="sage-breadcrumbs<%= " sage-breadcrumbs--progressbar" if is_progressbar %><%= " #{klass}" if defined?(klass) %>"
>
  <% if items.length() > 1 %>
    <ul class="sage-breadcrumbs__list">
      <% items.each_with_index do |item, i| %>
        <li class="sage-breadcrumbs__item">
          <a
            href="<%= item[:url] %>"
            class="
              sage-breadcrumbs__link
              <%= " sage-breadcrumbs__link--current" if defined?(item[:is_current]) && item[:is_current] || !is_progressbar && i == (items.length() - 1) %>
            "
          >
            <% if i == 0 && defined?(has_back_icon) && has_back_icon %>
              <i class="sage-breadcrumbs__icon sage-icon-arrow-left" aria-hidden="true"></i>
            <% end %>
            <%= item[:text] %>
          </a>
        </li>
      <% end %>
    </ul>
  <% else %>
  <p class="sage-breadcrumbs__item">
    <a href="<%= items[0][:url] %>" class="sage-breadcrumbs__link" aria-current="page">
      <% if defined?(has_back_icon) && has_back_icon %>
        <i class="sage-breadcrumbs__icon sage-icon-arrow-left" aria-hidden="true"></i>
      <% end %>
      <%= items[0][:text] %>
    </a>  
  </p>
  <% end %>
</nav>
