<tr>
  <td><%= md("`selection_subtext`") %></td>
  <td><%= md("Small text to provide additional information") %></td>
  <td><%= md("String") %></td>
  <td><%= md("`nil`") %></td>
</tr>
<tr>
  <td><%= md("`selection_label`") %></td>
  <td><%= md("Text for upload button") %></td>
  <td><%= md("String") %></td>
  <td><%= md("`nil`") %></td>
</tr>
<tr>
  <td><%= md("`file_selected`") %></td>
  <td><%= md("Adjusts UI to selected state when file is selected") %></td>
  <td><%= md("Boolean") %></td>
  <td><%= md("`nil`") %></td>
</tr>
<tr>
  <td><%= md("`has_error`") %></td>
  <td><%= md("Adjusts UI to error state") %></td>
  <td><%= md("Boolean") %></td>
  <td><%= md("`nil`") %></td>
</tr>
<tr>
  <td><%= md("`accepted_files`") %></td>
  <td><%= md("Array containing file information") %></td>
  <td><%= md('```
Array<{
  name: String,
  size: String,
}>
') %></td>
  <td><%= md("`nil`") %></td>
</tr>
<tr>
  <td><%= md("`errors`") %></td>
  <td><%= md("Array containing error messages") %></td>
  <td><%= md('```
Array<{
  text: String,
}>
') %></td>
  <td><%= md("`nil`") %></td>
</tr>
