<tr>
  <td><%= md('`caption`') %></td>
  <td><%= md('Caption to display below the value') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`centered`') %></td>
  <td><%= md('Whether or not to center the summary within the current space (assumes this is within a `sage-chart-container`).') %></td>
  <td><%= md('Boolean') %></td>
  <td><%= md('`true`') %></td>
</tr>
<tr>
  <td><%= md('`chart_type`') %></td>
  <td><%= md('Customizations for a given chart type') %></td>
  <td><%= md('`"donut"`') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`label`') %></td>
  <td><%= md('Label to display above the value') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`value`') %></td>
  <td><%= md('Core value to display in the middle') %></td>
  <td><%= md('String') %></td>
  <td><%= md('Required') %></td>
</tr>
