<%
long_description = "Description with longer text to cause wrapping and make the top alignment appear more necessary."
%>
<h3 class="t-sage-heading-6">Single Line with Active State (radio type)</h3>

<%= sage_component SageChoice, {
    target: "example",
    text: "Option 1",
    type: "radio",
    active: true,
} %>

<h3 class="t-sage-heading-6">With Radio</h3>
<%= sage_component SageChoice, {
    target: "example",
    text: "Option 1a",
    type: "radio",
    active: false,
    radio_configs: {
      id: 'cr-1a',
      name: 'cr-1',
      value: 'option-a',
    }
  }
%>

<h3 class="t-sage-heading-6">Multi-Line  (radio type)</h3>
<%= sage_component SageChoice, {
    target: "example",
    text: "Option 1",
    subtext: "Description of Option 1",
    type: "radio",
  }
%>

<h3 class="t-sage-heading-6">Arrow Variation</h3>
<%= sage_component SageChoice, {
    attributes: {
      href: "//example.com"
    },
    text: "Option 1",
    type: "arrow",
  }
%>

<h3 class="t-sage-heading-6">Icon Variation</h3>
<p>Select any icon to appear to the left of the text.</p>
<%= sage_component SageChoice, {
    target: "example",
    text: "Option 1",
    type: "icon",
    icon: "video-on",
    subtext: "Description of Option 1",
  }
%>

<h3 class="t-sage-heading-6">Graphic Variation (with link text)</h3>
<p>Provide a graphic to the left of the text.</p>
<%= sage_component SageChoice, {
    target: "example",
    text: "Calendly",
    type: "graphic",
    graphic: image_tag("card-placeholder-sm.png", alt: ""),
    link_text: "Sign in",
    attributes: {
      href: "http://example.com",
    },
  }
%>

<h3 class="t-sage-heading-6">Rich text/Customized</h3>
<p>Choice cards can also be opened up for custom content to be composed within.</p>
<style>
.custom-choice {
  max-width: 352px;
}
.custom-choice__content {
  text-align: center;
  justify-items: center;
}
</style>
<%= sage_component SageChoice, {
  attributes: {
    href: "http://example.com",
  },
  css_classes: "custom-choice",
  custom_content_class: "custom-choice__content",
  target: "example",
} do %>
  <%= sage_component SageAvatar, { initials: 'PS' } %>
  <%= sage_component SageCardBlock, {} do %>
    <h4>Custom heading</h4>
    <p>Custom content here...</p>
  <% end %>
<% end %>


<h3 class="t-sage-heading-6">Icon alignment</h3>
<p>While by default all icon types will align in the center of the choice card, they can be adjusted to align at the "start" or top of the card.</p>
<%= sage_component SageChoice, {
    target: "example",
    text: "Option 1",
    subtext: long_description,
    type: "radio",
    vertical_align_icon: "start",
  }
%>
<%= sage_component SageChoice, {
    target: "example",
    text: "Option 1",
    subtext: long_description,
    type: "icon",
    icon: "video-on",
    vertical_align_icon: "start",
  }
%>
