<tr>
  <td><%= md('`clear_bottom_padding`') %></td>
  <td><%= md('Erases padding on bottom of the Panel for tighter alignment of child items.') %></td>
  <td><%= md('Boolean') %></td>
  <td><%= md('`false`') %></td>
</tr>
<tr>
  <td><%= md('`clear_top_padding`') %></td>
  <td><%= md('Erases padding on top of the Panel for tighter alignment of child items.') %></td>
  <td><%= md('Boolean') %></td>
  <td><%= md('`false`') %></code></td>
</tr>
<tr>
  <td colspan="4"><%= md('**Panel List**') %></td>
</tr>
<tr>
  <td><%= md('`block_spacing`') %></td>
  <td><%= md('Adjusts the default spacing settings on top and bottom of items inside the list.') %></td>
  <td><%= md('Optionally: `md`') %></td>
  <td><%= md('`--`') %></td>
</tr>
