<tr>
  <td><%= md('`current_item`') %></td>
  <td><%= md('The item that is "selected" in the indicator list.') %></td>
  <td><%= md('Integer') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`label`') %></td>
  <td><%= md('The label to prepend in front of the number for the indicator in visually-hidden text.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`num_items`') %></td>
  <td><%= md('The total number of items to display.') %></td>
  <td><%= md('Integer') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`preposition`') %></td>
  <td><%= md('The preposition is between the two page numbers. This allows for words other than "of".') %></td>
  <td><%= md('String') %></td>
  <td><%= md('of') %></td>
</tr>
<tr>
  <td><%= md('`show_text`') %></td>
  <td><%= md('When enabled, this replaces the indicator dots with text to represent the current page.') %></td>
  <td><%= md('Boolean') %></td>
  <td><%= md('`nil`') %></td>
</tr>
