<tr>
  <td><%= md('`adjacent_type`') %></td>
  <td><%= md('Improves alignment for icons that are placed beside type such as in `SagePanelRow` or with flexbox.') %></td>
  <td><%= md("`#{SageTokens::RESPONSIVE_TYPE_SPECS.inspect()}`") %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`background_height`') %></td>
  <td><%= md('Allows a custom height for the icon background. **Note: if no height is set, height will be equal to width. Additionally, height and width for circular icons will be equal.**') %></td>
  <td><%= md("`String`") %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`background_width`') %></td>
  <td><%= md('Allows a custom width for the icon background. **Note: if no width is set, width will be equal to height. Additionally, height and width for circular icons will be equal.**') %></td>
  <td><%= md("`String`") %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`card_color`') %></td>
  <td><%= md('Rather than just changing the icon color with the `color` property, this option adds a padded background behind the icon in one of the brand status color options.') %></td>
  <td><%= md("`#{SageTokens::STATUSES.inspect()}`") %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`circular`') %></td>
  <td><%= md('Optionally, when an icon has a background color, present the shape inside a circle (as opposed to default square with rounded corners.') %></td>
  <td><%= md('`Boolean`') %></td>
  <td><%= md('`false`') %></td>
</tr>
<tr>
  <td><%= md('`color`') %></td>
  <td><%= md('Which color to use to render the icon. See Sage Colors under "Foundations."') %></td>
  <td><%= md('Color slider values such as "primary", "prmary-100".') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`card_css_classes`') %></td>
  <td><%= md('Set additional css classes on the outermost card container') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`icon`') %><%= sage_component SageBadge, { color: "published", value: "required" } %></td>
  <td><%= md('
    Which icon to display. See Icons under "Foundations."
    Note: `null` is also available to place an empty space icon
  ') %></td>
  <td><%= md('`String` for desired icon.') %></td>
  <td><%= md('--') %></td>
</tr>
<tr>
  <td><%= md('`label`') %></td>
  <td><%= md('An optional accessible label to use for the icon. Otherwise, `aria-hidden` is turned on.') %></td>
  <td><%= md('`String`') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`size`') %></td>
  <td><%= md('Adjusts the size of the icon.') %></td>
  <td><%= md("`#{SageTokens::ICON_SIZES.inspect()}`") %></td>
  <td><%= md('`nil` (Default is "md" size)') %></td>
</tr>
