<span class="sage-label sage-label--<%= color %><%= " sage-label--#{type}" if defined?(type) %><%= " sage-label--icon-left-#{icon_left}" if defined?(icon_left) %><%= " sage-label--icon-right-#{icon_right}" if defined?(icon_right) %>">
  <%= color.capitalize %>
</span>
