<% 
configs = [
  {
    color: "draft",
    icon: "draft",
  },
  {
    color: "published",
    icon: "check",
  },
  {
    color: "info",
    icon: "draft",
  },
  {
    color: "warning",
    icon: "warning",
  },
  {
    color: "danger",
    icon: "danger",
  },
  {
    color: "locked",
    icon: "lock",
  }
]
%>

<h3 class="t-sage-heading-6">Default</h3>
<%= sage_component SagePanelBlock, {} do %>
  <% configs.each do | config | %>
    <%= sage_component SageLabel, {
      color: config[:color],
      value: %(
        #{config[:color].capitalize}
      )
    } %>
  <% end %>
<% end %>

<h3 class="t-sage-heading-6">Subtle</h3>
<%= sage_component SagePanelBlock, {} do %>
  <% configs.each do | config | %>
    <%= sage_component SageLabel, {
      color: config[:color],
      style: "subtle",
      value: config[:color].capitalize
    } %>
  <% end %>
<% end %>

<h3 class="t-sage-heading-6">Bold</h3>
<%= sage_component SagePanelBlock, {} do %>
  <% configs.each do | config | %>
    <%= sage_component SageLabel, {
      color: config[:color],
      style: "bold",
      value: config[:color].capitalize
    } %>
  <% end %>
<% end %>

<h3 class="t-sage-heading-6">With Icons</h3>
<%= sage_component SagePanelBlock, {} do %>
  <%= sage_component SageLabel, { 
    color: "draft",
    value: "Add",
    icon: "add-small"
  } %>
  <%= sage_component SageLabel, {
    color: "draft",
    value: "Tag",
    icon: "tag"
  } %>
<% end %>

<h3 class="t-sage-heading-6">Tags</h3>
<%= sage_component SagePanelBlock, {} do %>
  <% configs.each do | config | %>
    <%= sage_component SageLabel, {
      color: config[:color],
      value: config[:color].capitalize,
      icon: config[:icon],
      is_interactive: true,
      is_tag: true
    } %>
  <% end %>
<% end %>


<h3 class="t-sage-heading-6">Status</h3>

<%= sage_component SagePanelBlock, {} do %>
  <% configs.each do | config | %>
    <%= sage_component SageLabel, {
      color: config[:color],
      value: config[:color].capitalize,
      icon: config[:icon],
      is_status: true,
      is_interactive: true
    } %>
      
  <% end %>
<% end %>
