<%
colors = [
  "draft",
  "info",
  "success",
  "warning",
  "danger"
]
%>

<h3 class="t-sage-heading-6">Default</h3>
<%= sage_component SagePanelBlock, {} do %>
  <% colors.each do | color | %>
    <%= sage_component SageLabel, {
      color: color,
      value: %(
        #{color.capitalize}
        <button class="sage-btn sage-btn--subtle sage-btn--secondary sage-btn--icon-only-remove"></button>
      )
    } %>
  <% end %>
<% end %>

<h3 class="t-sage-heading-6">Subtle</h3>
<%= sage_component SagePanelBlock, {} do %>
  <% colors.each do | color | %>
    <%= sage_component SageLabel, {
      color: color,
      style: "subtle",
      value: color.capitalize
    } %>
  <% end %>
<% end %>

<h3 class="t-sage-heading-6">Bold</h3>
<%= sage_component SagePanelBlock, {} do %>
  <% colors.each do | color | %>
    <%= sage_component SageLabel, {
      color: color,
      style: "bold",
      value: color.capitalize
    } %>
  <% end %>
<% end %>

<h3 class="t-sage-heading-6">With Icons</h3>
<%= sage_component SagePanelBlock, {} do %>
  <%= sage_component SageLabel, {
    color: "draft",
    value: "Add",
    icon: { style: "left", name: "add-small" }
  } %>
  <%= sage_component SageLabel, {
    color: "draft",
    value: "Tag",
    icon: { style: "right", name: "tag" }
  } %>
<% end %>

<h3 class="t-sage-heading-6">Interactive</h3>
<%= sage_component SagePanelBlock, {} do %>
  <% colors.each do | color | %>
    <%= sage_component SageLabel, {
      color: color,
      interactive: true,
      value: color.capitalize,
      icon: { style: "right", name: "caret-down" }
    } %>
  <% end %>
<% end %>
