<tr>
  <td><%= md("`helper_id`") %></td>
  <td><%= md("") %></td>
  <td><%= md("String") %></td>
  <td><%= md("null") %></td>
</tr>
<tr>
  <td><%= md("`helper_target`") %></td>
  <td><%= md("") %></td>
  <td><%= md("String") %></td>
  <td><%= md("null") %></td>
</tr>
<tr>
  <td><%= md("`description`") %></td>
  <td><%= md("Sets the description for the component.") %></td>
  <td><%= md("String") %></td>
  <td><%= md("null") %></td>
</tr>
<tr>
  <td><%= md("`hints`") %></td>
  <td><%= md("An array of hint items") %></td>
  <td><%= md("Hash Array") %></td>
  <td><%= md("null") %></td>
</tr>
