<tr>
  <td><%= md('`helper_id`') %></td>
  <td><%= md('Unique identifier for this component.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`helper_target`') %></td>
  <td><%= md('Sets the value of `[data-js-modaltrigger]`') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`description`') %></td>
  <td><%= md('Sets the description for the component.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`hints`') %></td>
  <td><%= md('An array of hint items.') %></td>
  <td>
    <%= md('```
      Array<{
        id: String,
        text: String,
        type_detect: String,
        type_detect_min: String
      }>
    ') %>
  </td>
  <td><%= md('`nil`') %></td>
</tr>
