<tr>
  <td><%= md('`clear_bottom_padding`') %></td>
  <td><%= md('Erases padding on bottom of the Panel for tighter alignment of child items.') %></td>
  <td><%= md('Boolean') %></td>
  <td><%= md('`false`') %></td>
</tr>
<tr>
  <td><%= md('`clear_top_padding`') %></td>
  <td><%= md('Erases padding on top of the Panel for tighter alignment of child items.') %></td>
  <td><%= md('Boolean') %></td>
  <td><%= md('`false`') %></code></td>
</tr>
<tr>
  <td colspan="4">
    <strong>Panel Header</strong>
  </td>
</tr>
<tr>
  <td><%= md('`title`') %></td>
  <td><%= md('Sets the title for the Panel.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('') %></td>
</tr>
<tr>
  <td><%= md('`title_tag`') %></td>
  <td><%= md('Optional. Sets a title tag for the title. Default is `h2`.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('') %></td>
</tr>
<tr>
  <td><%= md('`subtext`') %></td>
  <td><%= md('Optional. Sets a subtext following the title.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('') %></td>
</tr>
<tr>
  <td colspan="4">
    <strong>Panel List</strong>
  </td>
</tr>
<tr>
  <td><%= md('`block_spacing`') %></td>
  <td><%= md('Adjusts the default spacing settings on top and bottom of items inside the list.') %></td>
  <td><%= md('Optionally: `md`') %></td>
  <td><%= md('`--`') %></td>
</tr>
<tr>
  <td colspan="4">
    <strong>Panel ListItem</strong>
  </td>
</tr>
<tr>
  <td><%= md('`grid_template`') %></td>
  <td><%= md('Sets the grid template to be used in the row of the component. See the [Grid Templates](../patterns/grid_templates) to decide which pattern.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`gap`') %></td>
  <td><%= md('Adjusts the size of the gap between items in a list item.') %></td>
  <td><%= md('Optionally: [`:xs` | `:sm` | `:md` | `:lg`]') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td colspan="4">
    <strong>Panel Row</strong>
  </td>
</tr>
<tr>
  <td><%= md('`grid_template`') %></td>
  <td><%= md('Sets the grid template to be used in the row of the component. See the [Grid Templates](../patterns/grid_templates) to decide which pattern.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`gap`') %></td>
  <td><%= md('Adjusts the size of the gap between items in a panel row.') %></td>
  <td><%= md('Optionally: [`:xs` | `:sm` | `:md` | `:lg`]') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td colspan="4">
    <strong>Panel Stack</strong>
  </td>
</tr>
<tr>
  <td><%= md('`spacing`') %></td>
  <td><%= md('Creates unique spacing using the `sage-spacing(card)` size.') %></td>
  <td><%= md('Optionally: `form`') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td colspan="4">
    <strong>Panel Footer</strong>
  </td>
</tr>
<tr>
  <td><%= md('`align_spread`') %></td>
  <td><%= md('Aligns the footer content to the right of the footer. Typically this is used with buttons.') %></td>
  <td><%= md('Boolean') %></td>
  <td><%= md('`nil`') %></td>
</tr>
