<tr>
  <td><%= md('`image`') %></td>
  <td><%= md('Sets the image for the component.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`title`') %></td>
  <td><%= md('Sets the title for the component.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`link`') %></td>
  <td><%= md('Sets the `href` and `value` properties for the link.') %></td>
  <td><%= md('```
  {
    href: String,
    value: String
  }
  ```') %></td>
  <td><%= md('`nil`') %></td>
</tr>
