<tr>
  <td><%= md('`color`') %></td>
  <td><%= md('The color set to use for the foreground and background colors of the card.') %></td>
  <td><%= md('`"draft"`, `"info"`, `"success"`, `"warning"`, and `"danger"`') %></td>
  <td><%= md('`"draft"`') %></td>
</tr>
<tr>
  <td><%= md('`icon`') %></td>
  <td><%= md('The Sage icon to show inside the card.') %></td>
  <td><%= md('`String`') %></td>
  <td>See Sage Icons</td>
</tr>
<tr>
  <td><%= md('`size`') %></td>
  <td><%= md('The size desired for the icon.') %></td>
  <td><%= md('`"xs"`, `"sm"`, `"md"`, `"lg"`, `"xl"`, `"2xl"`, `"2xl"`, ``"3xl"`, `"3xl"`, `"4xl"`') %></td>
  <td><%= md('`"3xl"`') %></td>
</tr>
