<tr>
  <td><%= md('`color`') %></td>
  <td><%= md('
    The color set to use for the foreground and background colors of the card.
    Options include `draft`, `info`, `success`, `warning`, and `danger`.
  ') %></td>
  <td>String</td>
  <td><%= md('`draft`') %></td>
</tr>
<tr>
  <td><%= md('`style`') %></td>
  <td><%= md('
    The style used to render color combinations.
    Default is a soft background with bolder foreground.
    Other options include `subtle` (softer background and text), and `bold` (bright background with white foreground).
  ') %></td>
  <td>String</td>
  <td><%= md('`null`') %></td>
</tr>
<tr>
  <td><%= md('`size`') %></td>
  <td><%= md('
    The style used to render color combinations.
    Default is a soft background with bolder foreground.
    Other options include `subtle` (softer background and text), and `bold` (bright background with white foreground).
  ') %></td>
  <td>String</td>
  <td><%= md('`3xl`') %></td>
</tr>
<tr>
  <td><%= md('`Icon`') %></td>
  <td><%= md('
    The Sage icon to show inside the card.
  ') %></td>
  <td>String</td>
  <td><%= md('`null`') %></td>
</tr>
