<h3 class="t-sage-heading-6">Standard link</h3>
<%= sage_component SagePanelStack, { css_classes: "sage-type" } do %>
  <%= sage_component SageLink, {
    url: "#",
    label: "Standard link",
    external: false,
    launch: false,
    help_link: false,
    show_label: true
  } %>
  <%= sage_component SageLink, {
    url: "#",
    label: "Internal link with launch",
    external: false,
    launch: true,
    help_link: false,
    show_label: true
  } %>
  <%= sage_component SageLink, {
    url: "#",
    label: "Internal link with tooltip",
    external: false,
    help_link: false,
    show_label: true,
    attributes: {
      "data-js-tooltip": "Tooltip",
      "data-js-tooltip-position": "right",
    },
  } %>
  <%= sage_component SageLink, {
    url: "#",
    external: false,
    help_link: false,
    show_label: true,
  } do %>
    <%= tag.span "Internal link with #{tag.strong "custom content"}".html_safe, class: "custom-content" %>
  <% end %>
<% end %>

<h3 class="t-sage-heading-6">External links</h3>
<%= sage_component SagePanelStack, { css_classes: "sage-type" } do %>
  <%= sage_component SageLink, {
    url: "https://example.com",
    label: "External link",
    external: false,
    launch: true,
    help_link: false,
    show_label: true
  } %>
  <%= sage_component SageLink, {
    url: "https://example.com",
    label: "External link (launch icon cancelled)",
    external: true,
    launch: false,
    help_link: false,
    show_label: true
  } %>
  <%= sage_component SageLink, {
    url: "https://example.com",
    label: "External link w/ tooltip",
    external: true,
    launch: false,
    help_link: false,
    show_label: true,
    attributes: {
      "data-js-tooltip": "Tooltip",
      "data-js-tooltip-position": "top"
    },
  } %>
<% end %>

<h3 class="t-sage-heading-6">Help/Info links</h3>
<%= sage_component SagePanelStack, { css_classes: "sage-type" } do %>
  <%= sage_component SageLink, {
    url: "#",
    label: "Get help",
    external: false,
    launch: false,
    help_link: true,
    show_label: true
  } %>
  <%= sage_component SageLink, {
    url: "#",
    label: "Get help (hidden)",
    external: false,
    launch: false,
    help_link: true,
    show_label: false
  } %>
  <%= sage_component SageLink, {
    url: "#",
    label: "Help link w/ tooltip",
    external: false,
    launch: false,
    help_link: true,
    show_label: true,
    attributes: {
      "data-js-tooltip": "Tooltip",
      "data-js-tooltip-position": "bottom"
    },
  } %>
<% end %>

<h3 class="t-sage-heading-6">Subtext links</h3>
<%= sage_component SageLink, {
  css_classes: "sage-link--subtext",
  label: "Link for placement in subtext",
  truncate: true,
  url: "//example.com"
} %>
