<%
demo_configs_links = [
  {
    heading: "Primary",
    label: "Primary",
    style: "primary",
  },{
    heading: "Secondary",
    label: "Secondary",
    style: "secondary",
  },
  {
    heading: "Neutral",
    label: "Neutral",
    style: "neutral",
  },
  {
    heading: "Danger",
    label: "Danger",
    style: "danger",
  }
]
%>

<h3 class="t-sage-heading-6">Default links</h3>
<%= sage_component SagePanelStack, {} do %>
  <% demo_configs_links.each do | config | %>
    <%= sage_component SageLink, {
      url: "#",
      label: config[:heading],
      external: false,
      launch: false,
      help_link: false,
      show_label: true,
      style: config[:style],
    } %>
  <% end %>
<% end %>
<h3 class="t-sage-heading-6">Plain links</h3>
<%= sage_component SagePanelStack, {} do %>
  <%= sage_component SageLink, {
    url: "#",
    label: "Plain",
    external: false,
    launch: false,
    help_link: false,
    remove_underline: true,
    show_label: true,
    style: "secondary"
  } %>
  <%= sage_component SageLink, {
    url: "#",
    label: "Link with icon on right",
    icon: { name: "star", style: "left" },
    external: false,
    launch: false,
    help_link: false,
    show_label: true
  } %>
  <%= sage_component SageLink, {
    url: "#",
    label: "Link with icon on right",
    icon: { name: "star", style: "right" },
    external: false,
    launch: false,
    help_link: false,
    show_label: true
  } %>
  <%= sage_component SageLink, {
    url: "#",
    label: "Internal link with tooltip",
    external: false,
    help_link: false,
    show_label: true,
    html_attributes: {
      "data-js-tooltip": "Tooltip",
      "data-js-tooltip-position": "right",
    },
  } %>
  <%= sage_component SageLink, {
    url: "https://example.com",
    label: "External link",
    external: true,
    launch: true,
    help_link: false,
    show_label: true
  } %>
  <%= sage_component SageLink, {
    url: "#",
    external: false,
    help_link: false,
    show_label: true,
  } do %>
    <%= tag.span "Internal link with #{tag.strong "custom content"}".html_safe, class: "custom-content" %>
  <% end %>
<% end %>
