<h3 class="t-sage-heading-6">Standard link</h3>
<%= sage_component SagePanelStack, { css_classes: "sage-type" } do %>
  <%= sage_component SageLink, {
    url: "#",
    label: "Standard link",
    external: false,
    launch: false,
    help_link: false,
    show_label: true
  } %>
  <%= sage_component SageLink, {
    url: "#",
    label: "Internal link with launch",
    external: false,
    launch: true,
    help_link: false,
    show_label: true
  } %>
  <%= sage_component SageLink, {
    url: "#",
    label: "Internal link with tooltip",
    external: false,
    help_link: false,
    show_label: true,
    attributes: {
      "data-js-tooltip": "Tooltip",
      "data-js-tooltip-position": "right",
    },
  } %>
<% end %>

<h3 class="t-sage-heading-6">External links</h3>
<%= sage_component SagePanelStack, { css_classes: "sage-type" } do %>
  <%= sage_component SageLink, {
    url: "https://example.com",
    label: "External link",
    external: true,
    launch: true,
    help_link: false,
    show_label: true
  } %>
  <%= sage_component SageLink, {
    url: "https://example.com",
    label: "External link (launch icon cancelled)",
    external: true,
    launch: false,
    help_link: false,
    show_label: true
  } %>
  <%= sage_component SageLink, {
    url: "https://example.com",
    label: "External link w/ tooltip",
    external: true,
    launch: false,
    help_link: false,
    show_label: true,
    attributes: {
      "data-js-tooltip": "Tooltip",
      "data-js-tooltip-position": "top"
    },
  } %>
<% end %>

<h3 class="t-sage-heading-6">Help/Info links</h3>
<%= sage_component SagePanelStack, { css_classes: "sage-type" } do %>
  <%= sage_component SageLink, {
    url: "#",
    label: "Get help",
    external: false,
    launch: false,
    help_link: true,
    show_label: true
  } %>
  <%= sage_component SageLink, {
    url: "#",
    label: "Get help (hidden)",
    external: false,
    launch: false,
    help_link: true,
    show_label: false
  } %>
  <%= sage_component SageLink, {
    url: "#",
    label: "Help link w/ tooltip",
    external: false,
    launch: false,
    help_link: true,
    show_label: true,
    attributes: {
      "data-js-tooltip": "Tooltip",
      "data-js-tooltip-position": "bottom"
    },
  } %>
<% end %>

<h3 class="t-sage-heading-6">Subtext links</h3>

<a href="//example.com" class="sage-link sage-link--subtext">
  <span class="t-sage--truncate">Link for placement in subtext</span>
</a>
