<% info_content = sage_components.select { |component| component[:title] == @title }[0] %>
<% props_content = render partial: "examples/components/#{@title}/props" %>
<% do_content = render partial: "examples/components/#{@title}/rules_do" %>
<% dont_content = render partial: "examples/components/#{@title}/rules_dont" %>

<%= render "examples/shared/heading",
  info_content: info_content %>

<%= render "examples/shared/quick_links",
  props_content: props_content,
  do_content: do_content,
  dont_content: dont_content %>

<%
  tabs = []

  tabs << {
    text: "Preview",
    target: "preview",
    active: true
  }
  tabs << {
    text: "Code",
    target: "code"
  }
  tabs << {
    text: "Properties",
    target: "props"
  }
  tabs << {
    text: "Best Practices",
    target: "rules"
  }

  if info_content[:figma_embed].present?
    tabs << {
      text: "#{image_tag("logo-figma.svg", style: "margin-right: 4px", height: "18px")} Figma Designs",
      target: "figma_embed"
    }
  end
%>
<div class="sage-panel-set">
  <div class="sage-tabs-container">
    <%= sage_component SagePanelRow, { grid_template: "te" } do %>
      <%= sage_component SageTabs, {
        id: "code-example-tabs",
        items: tabs
      } %>
      <%= sage_component SageButton, {
        value: "#{image_tag("logo-react.svg", height: "20px")} React Component",
        attributes: {
          href: storybook_url(info_content[:react_component_slug]),
          target: "_blank",
          rel: "noopener noreferrer",
          title: "Open Storybook React components site"
        },
        subtle: true,
        style: "secondary",
      } if defined?(info_content[:react_component_slug]) and info_content[:react_component_slug] %>
    <% end %>

    <%= sage_component SageTabsPane, { id: "preview" } do %>
      <%= render "examples/shared/preview",
        type: "component",
        title: @title
      %>
    <% end %>

    <%= sage_component SageTabsPane, { id: "code" } do %>
      <%= render "examples/shared/code",
        type: "component",
        title: @title %>
    <% end %>

    <%= sage_component SageTabsPane, { id: "props" } do %>
      <%= render "examples/shared/props",
        props_content: props_content,
        title: @title %>
    <% end %>

    <%= sage_component SageTabsPane, { id: "rules" } do %>
      <%= render "examples/shared/rules",
        do_content: do_content,
        dont_content: dont_content,
        title: @title %>
    <% end %>

    <%= sage_component SageTabsPane, { id: "figma_embed" } do %>
      <%= render "examples/shared/figma_embed",
        type: "component",
        title: @title,
        figma_embed: info_content[:figma_embed]
      %>
    <% end %>
  </div>
</div>
