<tr>
  <td><%= md('`title`') %></td>
  <td><%= md('The "title" or term for the element.') %></td>
  <td><%= md('`String`') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`data`') %></td>
  <td><%= md('The "data" or description for the element.') %></td>
  <td><%= md('`String`') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`link`') %></td>
  <td><%= md('URL for a link to be wrapped around the `data` value.') %></td>
  <td><%= md('`String`') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`id`') %></td>
  <td><%= md('A unique `id` attribute to be applied to the root `dl` element for this description or description set.') %></td>
  <td><%= md('`String`') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`items`') %></td>
  <td><%= md('
    An array of items to create a set of `title`: `description` pairs.
    If this is provided, standalone `title` and `data` properties are ignored in favor of rendering this set of items.
  ') %></td>
  <td><%= md('```
Array<{
  data: String,
  title: String,
  link: String
}>
```
(see corresponding properties above)') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`inline_spread`') %></td>
  <td><%= md('If `true` the title/data pairs will render in line with each other and spread apart, with the `title` left-aligned and the `data` right-aligned.') %></td>
  <td><%= md('`Boolean`') %></td>
  <td><%= md('`false`') %></td>
</tr>
<tr>
  <td><%= md('`allcaps_titles`') %></td>
  <td><%= md('If `false` the titles will render in the casing provided rather than being forced to all caps (default).') %></td>
  <td><%= md('`Boolean`') %></td>
  <td><%= md('`true`') %></td>
</tr>
