<tr>
  <td><%= md('`checked`') %></td>
  <td><%= md('Set the switch state to `checked`.') %></td>
  <td><%= md('Boolean') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`disabled`') %></td>
  <td><%= md('Set the switch as `disabled`, fully preventing all user interaction. Disabling the control in this way will also prevent its `value` from being included in form data.') %></td>
  <td><%= md('Boolean') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`has_border`') %></td>
  <td><%= md('Applies a styled border to the parent container.') %></td>
  <td><%= md('Boolean') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`has_error`') %></td>
  <td><%= md('Displays error styles on the component.') %></td>
  <td><%= md('Boolean') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`hide_text`') %></td>
  <td><%= md('Visually hide the text, remaining accessible for assistive technologies.') %></td>
  <td><%= md('Boolean') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`id`') %></td>
  <td><%= md('Sets the component `id`.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`in_list`') %></td>
  <td><%= md('Render the container tag as a list-item (`li`) when the switch is used in a list.') %></td>
  <td><%= md('Boolean') %></td>
  <td><%= md('`false`') %></td>
</tr>
<tr>
  <td><%= md('`label_text`') %></td>
  <td><%= md('Sets the label text for the component.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`message`') %></td>
  <td><%= md('Sets the message text for the component.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`name`') %></td>
  <td><%= md('Sets the "label" attribute for the component. Useful for grouping form elements.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`required`') %></td>
  <td><%= md('Applies basic HTML form validation on this field, requiring user interaction.') %></td>
  <td><%= md('Boolean') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`standalone`') %></td>
  <td><%= md('When set, this component is expected to be used in isolation.') %></td>
  <td><%= md('Boolean') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`toggle_position`') %></td>
  <td><%= md('Sets the position of the toggle.') %></td>
  <td><%= md('`"right"`') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`type`') %></td>
  <td><%= md('Sets the "type" attribute of the component.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`value`') %></td>
  <td><%= md('Assigns a string to submit in forms. **If not assigned, this will default to the `id`**. Take note that <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/checkbox#value" target="_blank" rel="nofollow">"unchecked" values will *not* be submitted in forms</a>.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
