<!DOCTYPE html>
<html>
  <head>
    <%= render "app_head_content" %>
  </head>
  <%= sage_component(SageBody, { css_classes: "sage-docs" }) do %>
    <% unless Rails.env.development? %>
      <%= render "application/gtm_tracking_body" %>
    <% end %>
    <%= render "application/content_skip_link",
      link_id: "main-content"
    -%>
    <%= sage_component(SageHeader, {}) do %>
      <%= render "application/assistant" %>
    <% end %>
    <%= sage_component(SageStage, {}) do %>
      <%= render "application/sidebar" %>
      <%= sage_component(SageContent, { html_attributes: { id: "main-content" } }) do %>
        <%= sage_component(SageContainer, { size: "full" }) do %>
          <div class="docs-panel">
            <div class="sage-row">
              <div class="sage-col--lg-10 docs-heading">
                <%= yield :heading %>
              </div>
            </div>
            <hr>
            <%= yield %>
          </div>
          <%= render "application/footer" %>
        <% end %>
      <% end %>
      <%= sage_component(SageOverlay, {}) %>
      <% if content_for? :sage_docs_modals %>
        <div id="sage-docs-modals">
          <%= content_for :sage_docs_modals %>
        </div>
      <% end %>
    <% end %>
    <%= render "scripts", prettify_code: true %>
  <% end %>
</html>
