<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render "application/meta" %>
    <%= render "application/styles" %>
  </head>
  <body class="sage-page sage-docs sage-page--breakout">
    <%= render "application/content_skip_link",
      link_id: "main-content"
    -%>
    <header class="sage-header">
      <%= render "application/assistant" %>
    </header>
    <div class="sage-stage">
      <main class="sage-content" id="main-content">
        <%= sage_component SageContainer, { size: "full", css_classes: "sage-type" } do %>
          <%= yield :heading %>
          <hr/>
          <%= yield %>
        <% end %>
      </main>
    </div>
    <div class="sage-overlay" aria-hidden="true"></div>
    <%= render "scripts" %>
  </body>
</html>
