<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render "application/meta" %>
    <%= render "application/styles" %>
    <% unless Rails.env.development? %>
      <%= render "application/ga_tracking" %>
    <% end %>
  </head>
  <body class="sage-docs docs-home">
    <%= render "application/content_skip_link",
      link_id: "main-content"
    -%>
    <%= yield %>
    <%= render "application/footer", footerContainer: true %>
    <%= render "scripts" %>
  </body>
</html>
