<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render "application/meta" %>
    <%= render "application/styles" %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@master/devicon.min.css">
  </head>
  <body class="sage-docs docs-home">
    <%= render "application/content_skip_link",
      link_id: "main-content"
    -%>
    <%= yield %>
    <%= render "application/footer", footer_container: true %>
    <%= render "scripts" %>
  </body>
</html>
