<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render "application/meta" %>
    <%= render "application/styles" %>
  </head>
  <body class="sage-docs docs-home">
    <%= render "application/content_skip_link",
      link_id: "main-content"
    -%>
    <%= yield %>
    <%= render "application/footer", footerContainer: true %>
    <%= render "scripts" %>
  </body>
</html>
