<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render "app_head_content" %>
  </head>
  <body class="sage-docs docs-home">
    <% unless Rails.env.development? %>
      <%= render "application/gtm_tracking_body" %>
    <% end %>
    <%= render "application/content_skip_link",
      link_id: "main-content"
    -%>
    <%= yield %>
    <%= render "pages/support_modal" %>
    <%= render "application/footer", footerContainer: true %>
    <%= sage_component(SageOverlay, {}) %>
    <% if content_for? :sage_docs_modals %>
      <div id="sage-docs-modals">
        <%= content_for :sage_docs_modals %>
      </div>
    <% end %>
    <%= render "scripts" %>
  </body>
</html>
