<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render "application/meta" %>
    <%= render "application/styles" %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@master/devicon.min.css">
  </head>
  <%= sage_component(SageBody, { css_classes: "sage-docs" }) do %>
    <%= render "application/content_skip_link", link_id: "main-content" -%>
    <%= sage_component(SageHeader, {}) do %>
      <%= render "application/assistant" %>
    <% end %>
    <%= sage_component(SageStage, {}) do %>
      <%= sage_component(SageContent, { html_attributes: { id: "main-content" } }) do %>
        <%= sage_component(SageContainer, { size: "full" }) do %>
          <div class="docs-heading">
            <%= yield :heading %>
          </div>
          <hr>
          <%= yield %>
          <%= render "application/footer" %>
        <% end %>
      <% end %>
      <%= sage_component(SageOverlay, {}) %>
    <% end %>
    <%= render "application/scripts" %>
  <% end %>
</html>
