<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render "application/meta" %>
    <%= render "application/styles" %>
  </head>
  <%= sage_component(SageBody, { css_classes: "sage-docs" }) do %>
    <%= render "application/content_skip_link",
      link_id: "main-content"
    -%>
    <%= sage_component(SageStage, {}) do %>
      <%= sage_component(SageHeader, {}) do %>
        <%= render "application/assistant" %>
      <% end %>
      <%= sage_component(SageContent, { html_attributes: { id: "main-content" } }) do %>
        <%= sage_component(SageContainer, { size: "full" }) do %>
          <div class="sage-row">
            <div class="sage-col--lg-12 docs-heading">
              <%= yield :heading %>
            </div>
          </div>
        <% end %>
        <hr>
        <%= yield %>
      <% end %>
      <%= sage_component(SageOverlay, {}) %>
    <% end %>
    <%= render "scripts" %>
  <% end %>
</html>
