<h4>Single Property</h4>
<%= sage_component SageProperty, { icon: "calendar-date", value: "Created on April 20th, 2020" } %>

<h4>Property group</h4>
<%= sage_component SagePropertyGroup, {} do %>
  <%= sage_component SageProperty, { icon: "calendar-date", value: "April 20th, 2020" } %>
  <%= sage_component SageProperty, { icon: "users", value: "14 Users" } %>
  <%= sage_component SageProperty, { icon: "clock", value: "1 hr" } %>
<% end %>
