<tr>
  <td><%= md('align') %></td>
  <td><%= md('Pagination uses a `--align-` modifier to align the children of the component. Can only be seen when `hide_counter: true`') %></td>
  <td><%= md('"center"') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('current') %></td>
  <td><%= md('Pagination uses a `--current` modifier to visually indicate which page is currently being viewed.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('disabled') %></td>
  <td><%= md('Pagination uses a `--disabled` modifier to disable a link to prevent navigation. For example, when a user has reached the last page, the Next link should be disabled since there are no other pages/results to navigate to.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('gap') %></td>
  <td><%= md('When there are many pages, a `--gap` modifier along with an ellipsis (&hellip;) can be used to truncate the pagination list items. Should be used in conjunction with `sage-pagination__page`') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`hide_counter`') %></td>
  <td><%= md('When set to `true`, the record count will not be displayed.') %></td>
  <td><%= md('Boolean') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`hide_pages`') %></td>
  <td><%= md('When set to `true`, links to individual pages will not be rendered, leaving only the "Back" and "Next links visible.') %></td>
  <td><%= md('Boolean') %></td>
  <td><%= md('`false`') %></td>
</tr>
<tr>
  <td><%= md('`items`') %></td>
  <td><%= md('Maps records to create page link items') %></td>
  <td><%= md('Object') %></td>
  <td><%= md('`false`') %></td>
</tr>
<tr>
  <td><%= md('`page_count_prefix`') %></td>
  <td><%= md('Allows string to be added before the page count text.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`page_count_suffix`') %></td>
  <td><%= md('Allows string to be added after the page count text.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`window`') %></td>
  <td><%= md('Sets the number of items on either side of the `...` item. (Note: the left side will be `window` + 1). Has no affect when `hide_pages` is set to true.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
