<tr>
  <td><%= md('`external`') %></td>
  <td><%= md('When set to `true`, `target="_blank"` will be added to the link.') %></td>
  <td><%= md('Boolean') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`help_link`') %></td>
  <td><%= md('When set to `true`, the `help` icon will accompany the link text.') %></td>
  <td><%= md('Booean') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`label`') %></td>
  <td><%= md('Sets the text for the link. Overrides any content passed in.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`launch`') %></td>
  <td><%= md('When set to `true`, the `launch` icon will accompany the link text.') %></td>
  <td><%= md('Boolean') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`show_label`') %></td>
  <td><%= md('When set to `true`, the link text is visible; otherwise it exists in the DOM but is visually hidden.') %></td>
  <td><%= md('Boolean') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`url`') %></td>
  <td><%= md('Sets the destination `url` for the link.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
