<tr>
  <td><%= md('`active`') %></td>
  <td><%= md('This class enables the banner, and through the associated script adjusts the page body to compensate.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`banner_context`') %></td>
  <td><%= md('Modifier that updated styling of the component') %></td>
  <td><%= md('`"ladera-top"`, `"sage-demo"`') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`dismissable`') %></td>
  <td><%= md('Adds close icon and functionality to allow alert to be closed') %></td>
  <td><%= md('Boolean') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`icon`') %></td>
  <td><%= md('Icon to be displayed.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('See Sage Icons.') %></td>
</tr>
<tr>
  <td><%= md('`id`') %></td>
  <td><%= md('Unique identifier for this component.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`link`') %></td>
  <td><%= md('Creates a link within the component.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`text`') %></td>
  <td><%= md('Sets the text to be displayed.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`type`') %></td>
  <td><%= md('Modifier that sets the color scheme for the component.') %></td>
  <td><%= md('`"default"`, `"secondary"`, `"warning"`, `"danger"`') %></td>
  <td><%= md('`default`') %></td>
</tr>
