<tr>
  <td><%= md('`options`') %></td>
  <td><%= md('Pass options that map to options available via Tiny Slider.') %></td>
  <td><%= md('`Hash`') %></td>
  <td><%= md('`null`') %></td>
</tr>
<tr>
  <td><%= md('`options.container`') %></td>
  <td><%= md('**Do not pass this option**. The carousel container is set manually.') %></td>
  <td><%= md('`String`') %></td>
  <td><%= md('`null`') %></td>
</tr>
<tr>
  <td><%= md('`options.controls`') %></td>
  <td><%= md('**Do not pass this option**. The arrows use custom styling and layout.') %></td>
  <td><%= md('`Boolean`') %></td>
  <td><%= md('`null`') %></td>
</tr>
<tr>
  <td><%= md('`options.nav`') %></td>
  <td><%= md('**Do not pass this option**. The dots use custom styling and layout.') %></td>
  <td><%= md('`Boolean`') %></td>
  <td><%= md('`null`') %></td>
</tr>
<tr>
  <td><%= md('`options.loop`') %></td>
  <td><%= md('When the option `loop` is set to true, the dots will not be created.') %></td>
  <td><%= md('`Boolean`') %></td>
  <td><%= md('`true`') %></td>
</tr>
<tr>
  <td colspan="2"><%= md('**Sections**') %></td>
  <td colspan="2"><%= md('**`Element`**') %></td>
</tr>
<tr>
  <td><%= md('`sage_carousel_items`') %></td>
  <td><%= md('Allows for arbitrary content that converts to carousel slides. For best results, use same-level, same-type elements or components.') %></td>
  <td colspan="2"><%= md('Arbitrary') %></td>
</tr>
