<tr>
  <td><%= md('`options`') %></td>
  <td><%= md('Pass options that map to [options available via Tiny Slider](http://ganlanyuan.github.io/tiny-slider/#options).') %></td>
  <td><%= md('`Hash`') %></td>
  <td><%= md('`null`') %></td>
</tr>
<tr>
  <td><%= md('`options.container`') %></td>
  <td><%= md('This option is automatically set by the component.') %></td>
  <td><%= md('`String`') %></td>
  <td><%= md('`null`') %></td>
</tr>
<tr>
  <td><%= md('`options.controls`') %></td>
  <td><%= md('This option is automatically set by the component. The arrows use custom styling and layout.') %></td>
  <td><%= md('`Boolean`') %></td>
  <td><%= md('`null`') %></td>
</tr>
<tr>
  <td><%= md('`options.loop`') %></td>
  <td><%= md('When the option `loop` is set to true, the dots will not be created.') %></td>
  <td><%= md('`Boolean`') %></td>
  <td><%= md('`true`') %></td>
</tr>
<tr>
  <td><%= md('`options.nav`') %></td>
  <td><%= md('This option is automatically set by the component. The dots use custom styling and layout.') %></td>
  <td><%= md('`Boolean`') %></td>
  <td><%= md('`null`') %></td>
</tr>
<tr>
  <td colspan="2"><%= md('**Sections**') %></td>
  <td colspan="2"><%= md('**`Element`**') %></td>
</tr>
<tr>
  <td><%= md('`sage_carousel_items`') %></td>
  <td><%= md('Carousel items can contain any component from Sage. `sage_carousel_items` will convert those components into slides. For best results, use same-level, same-type elements or components.') %></td>
  <td colspan="2"><%= md('Arbitrary') %></td>
</tr>
