<tr>
  <td><%= md('`color`') %></td>
  <td><%= md('Which color to use to render the icon. See Sage Colors under "Design."') %></td>
  <td><%= md('Color slider values such as "primary", "prmary-100".') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`icon`') %></td>
  <td><%= md('Which icon to display. See Sage Icons under "Design."') %></td>
  <td><%= md('`String` for desired icon.') %></td>
  <td><%= md('--') %></td>
</tr>
<tr>
  <td><%= md('`label`') %></td>
  <td><%= md('An optional accessible label to use for the icon. Otherwise, `aria-hidden` is turned on.') %></td>
  <td><%= md('`String`') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`size`') %></td>
  <td><%= md('Adjusts the size of the icon.') %></td>
  <td><%= md("`#{SageTokens::ICON_SIZES.inspect()}`") %>
  </td>
  <td><%= md('`nil` (Default is "md" size)') %></td>
</tr>
