<tr>
  <td><%= md('`icon`') %><%= sage_component SageBadge, { color: "published", value: "required" } %></td>
  <td><%= md('The icon to be display.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('See Icons.') %></td>
</tr>
<tr>
  <td><%= md('`value`') %><%= sage_component SageBadge, { color: "published", value: "required" } %></td>
  <td><%= md('The hidden text value of the component.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
