<%
configs = [
  {
    color: "draft",
    icon: "draft",
  },
  {
    color: "published",
    icon: "check",
  },
  {
    color: "info",
    icon: "draft",
  },
  {
    color: "warning",
    icon: "warning",
  },
  {
    color: "danger",
    icon: "danger",
  },
  {
    color: "locked",
    icon: "lock",
  }
]
%>
<%= sage_component SagePanelBlock, {} do %>
  <h3 class="t-sage-heading-6">Simple Badge</h3>
  <%= sage_component SageLabelGroup, {} do %>
    <% configs.each do | config | %>
      <%= sage_component SageBadge, {
        color: config[:color],
        value: config[:color].capitalize,
        icon: config[:icon],
      }%>
    <% end %>
  <% end %>
<% end %>

<%= sage_component SagePanelBlock, {} do %>
  <h3 class="t-sage-heading-6">Badge with Dot Indicator</h3>
  <%= sage_component SageLabelGroup, {} do %>
    <% configs.each do | config | %>
      <%= sage_component SageBadge, {
        color: config[:color],
        value: config[:color].capitalize,
        icon: config[:icon],
      } do %>
        <% content_for :sage_badge_dot do %>
          <%= sage_component SageDot, { color: "primary" } %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<%= sage_component SagePanelBlock, {} do %>
  <h3 class="t-sage-heading-6">Interactive Badge</h3>
  <%= sage_component SageLabelGroup, {} do %>
    <% configs.each do | config | %>
      <%= sage_component SageBadge, {
        color: config[:color],
        value: config[:color].capitalize,
        icon: config[:icon],
        interactive_type: :dropdown
      } do %>
        <% content_for :sage_badge_dot do %>
          <%= sage_component SageDot, { color: "primary" } %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
