<tr>
  <td><%= md('`tag`') %></td>
  <td><%= md('Sets the wrapping HTML element for the content.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`text`') %></td>
  <td><%= md('Sets the copy content.') %></td>
  <td>
      <%= md('```
Hash<{
  content: String,
}>
') %>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`type_spec`') %></td>
  <td><%= md('Optional. Sets the type spec for the tag.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`color`') %></td>
  <td><%= md('Optional. Sets the color of the text.') %></td>
  <td><%= md('') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`alignment`') %></td>
  <td><%= md('Optional. Sets the alignment of the text.') %></td>
  <td><%= md('"start" | "end" | "center" | "justify"') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`weight`') %></td>
  <td><%= md('Optional. Sets a `font-weight` for the content. Options are `med` for medium (500); `semi` for semibold (600); `bold` for bold (700)') %></td>
  <td><%= md('"med" | "semi" | "bold"') %></td>
  <td><%= md('`nil`') %></td>
</tr>
