<tr>
  <td><%= md('`tag`') %></td>
  <td><%= md('Sets the wrapping HTML element for the content.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`<p>`') %></td>
</tr>
<tr>
  <td><%= md('`content`') %></td>
  <td><%= md('Sets the copy content. Can either be an array of strings or a single string.') %></td>
  <td>
      <%= md('```
Hash<{
  content: String,
}>
') %>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`type_spec`') %></td>
  <td><%= md("Optional. Sets the type spec for the tag. See the <a href=\"#{pages_foundation_path(:typography)}\">Typography</a> page for a list of valid type specs. Do not use the type spec property for headings unless semantics differ from design.") %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`color`') %></td>
  <td><%= md('Optional. Takes Sage color values with an optional number value suffix.') %></td>
  <td><%= md('Color values such as "PRIMARY" or "PRIMARY_500".') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`alignment`') %></td>
  <td><%= md('Optional. Sets the alignment of the text.') %></td>
  <td><%= md('"start" | "end" | "center" | "justify"') %></td>
  <td><%= md('`nil`') %></td>
</tr>
