<h2 class="t-sage-heading-6">Default</h2>
<%= sage_component SageProgressBar, {
  percent: 70,
  label: "Cloning product",
} %>

<h2 class="t-sage-heading-6">Default with Percentage</h2>
<%= sage_component SageProgressBar, {
  display_percent: true,
  percent: 70,
  label: "Cloning product"
} %>

<h2 class="t-sage-heading-6">Progress with Disabled Tooltip</h2>
<%= sage_component SageProgressBar, {
  color: SageTokens::COLOR_PALETTE[:ORANGE_300],
  disable_tooltip: true,
  percent: 17,
  label: "Cloning product"
} %>

<h2 class="t-sage-heading-6">Tooltip Position - Bottom</h2>
<%= sage_component SageProgressBar, {
  color: SageTokens::COLOR_PALETTE[:YELLOW_300],
  percent: 32,
  label: "Cloning product",
  tooltip_position: "bottom",
} %>

<h2 class="t-sage-heading-6">Custom color</h2>
<%= sage_component SageProgressBar, {
  background_color: SageTokens::COLOR_PALETTE[:PRIMARY_100],
  color: "#4edbe6",
  percent: 86,
  label: "Reached limit"
} %>
