<tr>
  <td><%= md('`percent`') %></td>
  <td><%= md('Sets `value`, `aria-valuenow` and inline `width` style of progress bar.') %></td>
  <td><%= md('Integer') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`label`') %></td>
  <td><%= md('Sets `aria-valuetext` and content text for `<progress>` element.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
