
<!-- Info -->
<%= sage_component SageAlert, {
  color: "info",
  title: "Our privacy policy has changed",
  desc: "Make sure you know how these changes affect you.",
  icon_name: "sage-icon-info-circle",
} do %>
  <% content_for :sage_alert_actions do %>
    <%= link_to "Action Link", "#" %>
    <%= link_to "Action Link", "#" %>
  <% end %>
<% end %>

<!-- Success -->
<%= sage_component SageAlert, {
  color: "success",
  title: "Account settings updated",
  desc: "Make sure you know how these changes affect you.",
  icon_name: "sage-icon-check-circle",
  dismissable: true
} do %>
  <% content_for :sage_alert_actions do %>
    <%= link_to "Action Link", "#" %>
    <%= link_to "Action Link", "#" %>
  <% end %>
<% end %>

<!-- Warning -->
<%= sage_component SageAlert, {
  color: "warning",
  title: "Exceeded product amount limit",
  desc: "Make sure you know how these changes affect you.",
  icon_name: "sage-icon-warning",
} do %>
  <% content_for :sage_alert_actions do %>
    <%= link_to "Action Link", "#" %>
    <%= link_to "Action Link", "#" %>
  <% end %>
<% end %>

<!-- Danger -->
<%= sage_component SageAlert, {
  color: "danger",
  title: "App outage tonight at 12am",
  desc: "Make sure you know how these changes affect you.",
  icon_name: "sage-icon-warning",
  dismissable: true
} do %>
  <% content_for :sage_alert_actions do %>
    <%= link_to "Action Link", "#" %>
    <%= link_to "Action Link", "#" %>
  <% end %>
<% end %>


<h3 class="t-sage-heading-6">Raised Variant</h3>

<!-- Info -->
<%= sage_component SageAlert, {
  color: "info",
  title: "Our privacy policy has changed",
  desc: "Make sure you know how these changes affect you.",
  icon_name: "sage-icon-info-circle",
  raised: true
} do %>
  <% content_for :sage_alert_actions do %>
    <%= link_to "Action Link", "#" %>
    <%= link_to "Action Link", "#" %>
  <% end %>
<% end %>

<!-- Success -->
<%= sage_component SageAlert, {
  color: "success",
  title: "Account settings updated",
  desc: "Make sure you know how these changes affect you.",
  icon_name: "sage-icon-check-circle",
  dismissable: true,
  raised: true
} do %>
  <% content_for :sage_alert_actions do %>
    <%= link_to "Action Link", "#" %>
    <%= link_to "Action Link", "#" %>
  <% end %>
<% end %>

<!-- Warning -->
<%= sage_component SageAlert, {
  color: "warning",
  title: "Exceeded product amount limit",
  desc: "Make sure you know how these changes affect you.",
  icon_name: "sage-icon-warning",
  raised: true
} do %>
  <% content_for :sage_alert_actions do %>
    <%= link_to "Action Link", "#" %>
    <%= link_to "Action Link", "#" %>
  <% end %>
<% end %>

<!-- Danger -->
<%= sage_component SageAlert, {
  color: "danger",
  title: "App outage tonight at 12am",
  desc: "Make sure you know how these changes affect you.",
  icon_name: "sage-icon-warning",
  dismissable: true,
  raised: true
} do %>
  <% content_for :sage_alert_actions do %>
    <%= link_to "Action Link", "#" %>
    <%= link_to "Action Link", "#" %>
  <% end %>
<% end %>
