<tr>
  <td><%= md('`color`') %></td>
  <td><%= md('Applies color to alert. Options include `info`, `success`, `warning`, `danger` ') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`title`') %></td>
  <td><%= md('Title text to be displayed.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`desc`') %></td>
  <td><%= md('Description text to be displayed.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`icon_name`') %></td>
  <td><%= md('Icon to be displayed in alert.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('See Sage Icons.') %></td>
</tr>
<tr>
  <td><%= md('`raised`') %></td>
  <td><%= md('Sets styling to the raised variant which includes a subtle shadow.') %></td>
  <td><%= md('Boolean') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`dismissable`') %></td>
  <td><%= md('Adds close icon and functionality to allow alert to be closed') %></td>
  <td><%= md('Boolean') %></td>
  <td><%= md('`nil`') %></td>
</tr>
