<%= sage_component SagePanelHeader, {} do %>
  <h2 id="<%= title %>-example-code">SageRails Code</h2>
<% end %>
<div class="example__code">
  <button class="example__expand-btn" aria-expanded="false" aria-controls="example-rails-code-<%= title %>">Expand this code snippet</button>
  <div id="example-rails-code-<%= title %>" class="sage-code-snippet" tabindex="-1">
    <pre class="prettyprint"><code><%= File.read(File.join(Rails.root, "app/views/examples/", type.pluralize, title, "_preview.html.erb")) %></code></pre>
  </div>
</div>

<%= sage_component SagePanelHeader, {} do %>
  <h2>HTML Code</h2>
<% end %>
<div class="example__code">
  <button class="example__expand-btn" aria-expanded="false" aria-controls="example-html-code-<%= title %>">Expand this code snippet</button>
  <div id="example-html-code-<%= title %>" class="sage-code-snippet" tabindex="-1">
    <pre class="prettyprint"><code><%= CGI.unescapeHTML(CGI.escapeHTML(render("examples/#{type.pluralize}/#{title}/preview"))) %></code></pre>
  </div>
</div>
