<% if description.present? %>
  <%= md(description, use_sage_type: true) %>
<% end %>
<% if partial.present? %>
  <%= render "examples/#{folder_root}/examples/#{partial}" %>
  <%= sage_component SageCard, { spacer: { bottom: :md } } do %>
    <div id="example-rails-code-<%= partial %>" class="sage-code-snippet" tabindex="-1">
      <pre class="prettyprint"><code><%= File.read(File.join(Rails.root, "app/views/examples/#{folder_root}/examples/_#{partial}.html.erb")) %></code></pre>
    </div>
  <% end %>
<% end %>
