<%
columns = [
  { customizable: false, name: "Member email" },
  { customizable: true, active: true, name: "Amount" },
  { customizable: true, active: true, name: "Next payment" },
  { customizable: true, active: true, name: "Status" },
  { customizable: true, active: true, name: "Offer title" },
  { customizable: true, active: true, name: "Start date" },
  { customizable: true, active: false, name: "Name" },
  { customizable: true, active: false, name: "Billing / type" },
  { customizable: true, active: false, name: "Net value" },
  { customizable: true, active: false, name: "Ends on" },
]
%>

<%= sage_component SageButton, {
  attributes: {
    "data-js-modaltrigger": "customize-settings-modal",
  },
  icon: { name: "launch", style: "right" },
  style: "primary",
  value: "Customize table",
} %>

<%= sage_component SageModal, { id: "customize-settings-modal" } do %>
  <%= sage_component SageModalContent, {
    title: "Table properties",
  } do %>
    <% content_for :sage_header_aside do %>
      <%= sage_component SageButton, {
        attributes: { "data-js-modal": true },
        icon: { name: "remove", style: "only" },
        style: "secondary",
        subtle: true,
        value: "Close Modal",
      } %>
    <% end %>

    <%= sage_component SageCardBlock, { spacer: { bottom: :md } } do %>
      Add, remove or reorder columns to customize your table properties.
    <% end %>

    <%= sage_component SagePanelList, {} do %>
      <%= sage_component SageSortable, { resource_name: "column" } do %>
        <% columns.each_with_index do |column, index| %>
          <%= sage_component SageSortableItemCustom, { grid_template: "te" } do %>
            <span class="<%= "#{SageClassnames::TYPE::BODY_MED} #{SageClassnames::TYPE_COLORS::CHARCOAL_400}" %>"><%= column[:name] %></span>
            <% if column[:customizable] %>
              <%= sage_component SageSwitch, {
                hide_text: true,
                id: index.to_s,
                label_text: column[:name],
                name: index.to_s,
                type: "checkbox",
              } %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <% content_for :sage_footer do %>
      <% content_for :sage_footer_aside do %>
        <%= sage_component SageButton, {
          attributes: { "data-js-modal": true },
          style: "primary",
          subtle: true,
          value: "Reset to default",
        } %>
      <% end %>
      <%= sage_component SageButton, {
        style: "primary",
        value: "Apply",
      } %>
    <% end %>
  <% end %>
<% end %>
