<%
demo_configs = [
  {
    heading: "Primary (regular and disabled)",
    label: "Primary",
    style: "primary",
  },
  {
    heading: "Secondary (regular and disabled)",
    label: "Secondary",
    style: "secondary",
  },
  {
    heading: "Tertiary (regular and disabled)",
    label: "Tertiary",
    style: "tertiary",
  },
  {
    heading: "Danger (regular and disabled)",
    label: "Danger",
    style: "danger",
  }
]
%>
<% demo_configs.each do | config | %>
  <%= sage_component SageCardBlock, {} do %>
    <%= sage_component SageLabel, {
      color: "draft",
      value: config[:heading],
    } %>
  <% end %>

  <% [false, true].each do | disabled | %>
    <%= sage_component SageButtonGroup, { gap: :sm, spacer: { bottom: :sm }} do %>
      <!-- Primary button -->
      <%= sage_component SageButton, {
        value: "Button",
        style: config[:style],
        disabled: disabled
      } %>

      <!-- Primary submit button -->
      <%= sage_component SageButton, {
        value: "Submit",
        style: config[:style],
        disabled: disabled,
        attributes: {
          type: "submit"
        }
      } %>

      <!-- Primary button (link) -->
      <%= sage_component SageButton, {
        value: "Link",
        style: config[:style],
        attributes: {
          href: "#element-button"
        },
        disabled: disabled
      } %>

      <!-- Primary button (icon-left) -->
      <%= sage_component SageButton, {
        value: "Left icon",
        style: config[:style],
        icon: {
          style: "left",
          name: "menu"
        },
        disabled: disabled
      } %>

      <!-- Primary button (icon-right) -->
      <%= sage_component SageButton, {
        value: "Right icon",
        style: config[:style],
        icon: {
          style: "right",
          name: "menu"
        },
        disabled: disabled
      } %>

      <!-- Primary button (icon-only) -->
      <%= sage_component SageButton, {
        value: "Icon only",
        style: config[:style],
        icon: {
          style: "only",
          name: "menu"
        },
        disabled: disabled
      } %>

      <!-- Primary button (custom content) -->
      <%= sage_component SageButton, {
        style: config[:style],
        disabled: disabled,
        custom_content_class: 'demo-custom-class',
      } do %>
        <strong>Custom</strong> <em>content</em>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<% demo_configs.each do | config | %>
  <%= sage_component SageCardBlock, {} do %>
    <%= sage_component SageLabel, {
      color: "draft",
      value: "Subtle #{config[:heading]}",
    } %>
  <% end %>

  <% [false, true].each do | size | %>
    <%= sage_component SageButtonGroup, { gap: :sm, spacer: { bottom: :sm }} do %>
      <!-- Primary button -->
      <%= sage_component SageButton, {
        value: "Button",
        style: config[:style],
        subtle: true,
        small: size
      } %>

      <!-- Primary button (link) -->
      <%= sage_component SageButton, {
        value: "Link",
        style: config[:style],
        attributes: {
          href: "#element-button"
        },
        subtle: true,
        small: size
      } %>

      <!-- Primary button (icon-left) -->
      <%= sage_component SageButton, {
        value: "Left icon",
        style: config[:style],
        icon: {
          style: "left",
          name: "gear"
        },
        subtle: true,
        small: size
      } %>

      <!-- Primary button (icon-right) -->
      <%= sage_component SageButton, {
        value: "Right icon",
        style: config[:style],
        icon: {
          style: "right",
          name: "gear"
        },
        subtle: true,
        small: size
      } %>

      <!-- Primary button (icon-only) -->
      <%= sage_component SageButton, {
        value: "Icon only",
        style: config[:style],
        icon: {
          style: "only",
          name: "gear"
        },
        subtle: true,
        small: size
      } %>

      <!-- Primary button (custom content) -->
      <%= sage_component SageButton, {
        style: config[:style],
        subtle: true,
        small: size
      } do %>
        <strong>Custom</strong> <em>content</em>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<%= sage_component SageCardBlock, {} do %>
  <%= sage_component SageLabel, {
    color: "draft",
    value: "Button group: Align End",
  } %>
<% end %>
<%= sage_component SageButtonGroup, { gap: :md, align: "end" } do %>
  <%= sage_component SageButton, {
    value: "Cancel",
    style: "secondary",
  } %>
  <%= sage_component SageButton, {
    value: "Save",
    style: "primary",
  } %>
<% end %>

<%= sage_component SageCardBlock, {} do %>
  <%= sage_component SageLabel, {
    color: "draft",
    value: "Button group: Align Space-Between",
  } %>
<% end %>
<%= sage_component SageButtonGroup, { gap: :md, align: "space-between" } do %>
  <%= sage_component SageButton, {
    value: "Cancel",
    style: "secondary",
  } %>
  <%= sage_component SageButton, {
    value: "Save",
    style: "primary",
  } %>
<% end %>

<%= sage_component SageCardBlock, {} do %>
  <%= sage_component SageLabel, {
    color: "draft",
    value: "Button group: Align End with top border",
  } %>
<% end %>
<%= sage_component SageButtonGroup, { gap: :md, align: "end", borderTop: true } do %>
  <%= sage_component SageButton, {
    value: "Cancel",
    style: "secondary",
  } %>
  <%= sage_component SageButton, {
    value: "Save",
    style: "primary",
  } %>
<% end %>

<%= sage_component SageCardBlock, {} do %>
  <%= sage_component SageLabel, {
    color: "draft",
    value: "Button group: Allow wrap",
  } %>
<% end %>
<%= md("
  When enabled, button groups are no longer restricted to a single row, allowing contents to wrap to multiple lines. **Note: all button groups regardless of this attribute will wrap at breakpoints below `sm-min` to prevent horizontal scrolling on small screen devices.**
  Click the button below to toggle button group wrapping throughout the page, and resize your browser to view the resulting change.
", use_sage_type: true) %>
<div>
  <%= sage_component SageButton, {
    value: "Toggle button group wrap",
    style: "primary",
    icon: {
      style: "right",
      name: "menu-bordered"
    },
    attributes: {
      id: "button-group-wrap-example"
    }
  } %>
</div>

<%= sage_component SageCardBlock, {} do %>
  <%= sage_component SageLabel, {
    color: "draft",
    value: "Loading State",
  } %>
<% end %>
<%= md("
  Displays a loading indicator in the button, such as when a button is used to submit a form. Including the `spinner_on_submit` property will activate the loading state, and place the corresponding text as the `aria-label`.
", use_sage_type: true) %>
<div>
  <%= sage_component SageButton, {
    value: "Click me",
    spinner_on_submit: "my aria label",
    attributes: {
      href: "#",
      rel: "noopener noreferrer",
      title: "Open Sassdocs site"
    },
    style: "primary",
  } %>
</div>

<%= sage_component SageCardBlock, {} do %>
  <%= sage_component SageLabel, {
    color: "draft",
    value: "Shadow Treatment",
  } %>
<% end %>
<%= md("
  The primary, secondary, and danger buttons all have a small shadow treatment by default. In addition, these buttons allow for a `no_shadow` treatment. Enable the `no_shadow` treatment by adding the attribute: `no_shadow: true`.
", use_sage_type: true) %>
<%= sage_component SageButtonGroup, { gap: :md, spacer: { bottom: :md } } do %>
  <%= sage_component SageButton, {
    value: "Raised (default)",
    style: "primary",
  } %>
  <%= sage_component SageButton, {
    value: "No shadow",
    style: "primary",
    no_shadow: true,
  } %>
<% end %>
<%= sage_component SageButtonGroup, { gap: :md, spacer: { bottom: :md } } do %>
  <%= sage_component SageButton, {
    value: "No shadow (default)",
    style: "secondary",
  } %>
  <%= sage_component SageButton, {
    value: "Raised",
    style: "secondary",
    raised: true,
  } %>
<% end %>
<%= sage_component SageButtonGroup, { gap: :md, spacer: { bottom: :md } } do %>
  <%= sage_component SageButton, {
    value: "No shadow (default)",
    style: "tertiary",
  } %>
  <%= sage_component SageButton, {
    value: "Raised",
    style: "tertiary",
    raised: true,
  } %>
<% end %>
<%= sage_component SageButtonGroup, { gap: :md } do %>
  <%= sage_component SageButton, {
    value: "No shadow (default)",
    style: "danger",
  } %>
  <%= sage_component SageButton, {
    value: "Raised",
    style: "danger",
    raised: true,
  } %>
<% end %>

