<div class="
  sage-label-group
  <%= "sage-label-group--align-#{component.align}" if component.align.present? %>
  <%= "sage-grid-gap-#{component.gap}" if component.gap.present? %>
  <%= "sage-label-group--has-line-clamping" if component.line_clamp.present? %>
  <%= component.generated_css_classes %>
  "
  <%= "data-js-sage-label-group-line-clamp=#{component.line_clamp.to_s}" if component.line_clamp %>
  <%= component.generated_html_attributes.html_safe %>
>
  <%= component.content %>

  <div class="sage-label-group__overflow-action">
    <%= content_for :sage_label_group_overflow_action if content_for? :sage_label_group_overflow_action %>
  </div>
</div>
