<%
content = component.label ? "#{component.label}: " : ""
content << "#{component.percent}% progress"
color = component.color || SageTokens::COLOR_PALETTE[:SAGE_300]
%>

<div
  class="sage-progress-bar <%= component.generated_css_classes %>"
  data-js-tooltip="<%= content %>"
  style="<%= "--sage-progress-bar-background-color: #{component.background_color}" if component.background_color %>"
  <%= component.generated_html_attributes.html_safe %>
>
  <progress
    class="sage-progress-bar__element"
    aria-valuemax="100"
    max="100"
    aria-valuemin="0"
    value="<%= component.percent %>"
    aria-valuenow="<%= component.percent %>"
    aria-valuetext="<%= content %>"
  >
    <%= content %>
  </progress>
  <div class="sage-progress-bar__value" style="--progress-bar-value-color: <%= color %>; width: <%= component.percent %>%;"></div>
</div>
