<tr>
  <td><%= md('`aria_label`') %></td>
  <td><%= md('Sets the `aria-label` for the nav component.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md("`items`") %></td>
  <td><%= md("Provides a list of items to automate displaying inside this `Nav`.") %></td>
  <td><%= md("`Array` of items with the same structure as `NavLinks`") %></td>
  <td><%= md("`nil`") %></td>
</tr>
