<tr>
  <td><%= md('`content`') %></td>
  <td><%= md('Sets the text to be displayed.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`icon`') %></td>
  <td><%= md('Icon to be displayed before the text content.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('See Icons.') %></td>
</tr>
