<tr>
  <td><%= md('`href`') %></td>
  <td><%= md('Applies link to the `title`') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`image`') %></td>
  <td><%= md('Image for the catalog item') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`title`') %></td>
  <td><%= md('Title text of the catalog item') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`icon`') %></td>
  <td><%= md('Icon for the catalog item') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
