<tr>
  <td><%= md('`align_items_center`') %></td>
  <td><%= md('Whether or not to center the content in each tab.') %></td>
  <td><%= md('Boolean') %></td>
  <td><%= md('`false`') %></td>
</tr>
<tr>
  <td><%= md('`id`') %></td>
  <td><%= md('Unique identifier for this tab set.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`items`') %></td>
  <td><%= md('A set of items that render as tabs.
    Values for each item must conform to the properties available
    for either Tab or Choice components,
    depending on the `style` setting used here.') %></td>
  <td>
<%= md('```
Array<{
  active: Boolean,
  align_center: Boolean,
  attributes: Hash,
  data: Hash,
  disabled: Boolean,
  graphic: String,
  icon: String,
  link_text: String,
  subtext: String,
  target: String,
  text: String,
  type: "arrow", "graphic", "icon", "radio"
}>
') %>
  </td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`navigational`') %></td>
  <td><%= md('Whether or not the tab set acts functionally as a navigation set for pages such as in a progressbar fashion.') %></td>
  <td><%= md('Boolean') %></td>
  <td><%= md('`false`') %></td>
</tr>
<tr>
  <td><%= md('`progressbar`') %></td>
  <td><%= md('Whether or not to display tabs in a Progress bar layoutu with carets separating each.') %></td>
  <td><%= md('Boolean') %></td>
  <td><%= md('`false`') %></td>
</tr>
<tr>
  <td><%= md('`stacked`') %></td>
  <td><%= md('Whether or not the tab set should be laid out in a stack versus inline (default) fashion.') %></td>
  <td><%= md('Boolean') %></td>
  <td><%= md('`false`') %></td>
</tr>
<tr>
  <td><%= md('`style`') %></td>
  <td><%= md('What kind of tab style to use. A simple style is default, but the `choice` setting enables a more complex Choice style (See Tab versus Choice components)') %></td>
  <td><%= md('`nil` or `choice`') %></td>
  <td><%= md('`nil`') %></td>
</tr>
