
<%= content_for :heading do %>
  <%= sage_component SageBreadcrumbs, { items: [{
    text: "Back",
    url: pages_mocks_path(),
  }]} %>
  <h1><%= mock[:name] %></h1>
  <div class="docs-heading__meta">
    <div class="docs-heading__meta-primary">
      <% mock_status = mock_status_configs(mock) %>
      <%= sage_component SageLabel, {
        value: mock_status[:value],
        color: mock_status[:color],
        html_attributes: {
          "data-js-tooltip": "Development status",
        },
      } %>
      <%= sage_component SageProperty, {
        icon: "users-alt",
        value: "#{mock[:team]}",
        html_attributes: {
          "data-js-tooltip": "Who this is for",
        },
      } %>
      <%= sage_component SageDropdown, { items: mock_code_items(mock) } do %>
        <%= sage_component SageButton, {
          icon: { name: "code", style: "left" },
          subtle: true,
          style: "secondary",
          value: "Code",
          html_attributes: {
            "data-js-tooltip": "View source code",
          },
        } %>
      <% end %>
    </div>

    <div class="docs-heading__meta-secondary">
      <%= sage_component SageButton, {
        attributes: {
          href: mock_milestone_url(mock),
          target: "_blank",
          rel: "noreferrer noopener",
        },
        disabled: mock[:milestone_id] == nil ? true : false,
        icon: { name: "arrow-right", style: "right" },
        style: "secondary",
        subtle: true,
        value: "Development milestone",
      } %>
    </div>
  </div>
<% end %>
