<h3 class="t-sage-heading-6">Single/independent card</h3>
<%= sage_component SageExpandableCard, {
  body: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.",
  header: "Header Content 1",
} %>

<h3 class="t-sage-heading-6">Single/independent card with header aside and footer</h3>
<%= sage_component SageExpandableCard, {
  body: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.",
  footer: "Footer - lorem ipsum",
  header: "Header Content 1",
  header_aside: "This is the header aside area"
} %>

<h3 class="t-sage-heading-6">Expandable Card Group</h3>
<div class="sage-expandable-card-group" data-js-accordion="group-toggle-solo">
  <%= sage_component SageExpandableCard, {
    body: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.",
    header: "Tab 1",
  } %>
  <%= sage_component SageExpandableCard, {
    body: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.",
    header: "Tab 2",
  } %>
  <%= sage_component SageExpandableCard, {
    body: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.",
    header: "Tab 3",
  } %>
</div>
