<tr>
  <td><%= md("`body`") %></td>
  <td><%= md("Sets the body text for the component.") %></td>
  <td><%= md("String") %></td>
  <td><%= md("null") %></td>
</tr>
<tr>
  <td><%= md("`footer`") %></td>
  <td><%= md("Sets the footer text for the component.") %></td>
  <td><%= md("String") %></td>
  <td><%= md("null") %></td>
</tr>
<tr>
  <td><%= md("`header`") %></td>
  <td><%= md("Sets the title for the component.") %></td>
  <td><%= md("String") %></td>
  <td><%= md("null") %></td>
</tr>
<tr>
  <td><%= md("`header_aside`") %></td>
  <td><%= md("Sets the content for the `header_aside` reserved area") %></td>
  <td><%= md("String") %></td>
  <td><%= md("null") %></td>
</tr>
<tr>
  <td><%= md("`header_tag`") %></td>
  <td><%= md("Sets the heading tag (`h1` - `h6`) for the component's title tag") %></td>
  <td><%= md("String") %></td>
  <td><%= md("null") %></td>
</tr>
