<tr>
  <td><%= md('`trigger_label`') %></td>
  <td><%= md('Sets the text for the trigger button.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`body_bordered`') %></td>
  <td><%= md('Adds border and background to body.') %></td>
  <td><%= md('Boolean') %></td>
  <td><%= md('`nil`') %></td>
</tr>
