<h3>With Icon</h3>
<%= sage_component SageEmptyState, {
  icon: "trash",
  title: "Title for state",
  text: "Text to appear below. Lorem ipsum dolor sit amet consectituor."
} do %>
  <p>Other stuff such as buttons...</p>
<% end %>

<h3>With Icon and Compact</h3>
<%= sage_component SageEmptyState, {
  icon: "bold",
  title: "Title for state, compact variety",
  text: "Text to appear below. Lorem ipsum dolor sit amet consectituor.",
  compact: true,
} do %>
  <p>Other stuff such as buttons...</p>
<% end %>

<h3>With Graphic</h3>
<%= sage_component SageEmptyState, {
  graphic: image_tag("card-placeholder-sm.png", alt: ""),
  title: "Title for state, with graphic instead of icon",
  text: "Text to appear below. Lorem ipsum dolor sit amet consectituor.",
} do %>
  <p>Other stuff such as buttons...</p>
<% end %>

<h3>Page Scope and Graphic</h3>
<%= sage_component SageEmptyState, {
  title: "Create your first Email Campaign",
  graphic: image_tag("null-view-graphic.png", alt: ""),
  scope: "page",
} do %>
  <% content_for :sage_empty_state_text do %>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Elit arcu volutpat cursus ultricies ac, ultricies.
      Platea sed nibh molestie ut.
    </p>
  <% end %>
  <% content_for :sage_empty_state_actions do %>
    <%= sage_component SageButtonGroup, {} do %>
      <%= sage_component SageButton, {
        attributes: { href: "#" },
        raised: true,
        style: "primary",
        value: "Create Email Campaings",
      } %>
      <%= sage_component SageButton, {
        attributes: { href: "#" },
        raised: true,
        style: "secondary",
        value: "Learn More",
      } %>
    <% end %>
  <% end %>
<% end %>
