<tr>
  <td><%= md('`center_vertical`') %></td>
  <td><%= md('If true, the empty state will be adjust to be visually centered inside the entire page context.') %></td>
  <td><%= md('Boolean') %></td>
  <td><%= md('`false`') %></td>
</tr>
<tr>
  <td><%= md('`icon`') %></td>
  <td><%= md('Adds an icon above the content.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil | Icon name from Sage icons`') %></td>
</tr>
<tr>
  <td><%= md('`gradient`') %></td>
  <td><%= md('Sets two colors for the icon gradient. If no color is set, it will default to Mercury 20 and Mercury 30.') %></td>
  <td><%= md('```
  {
    bottomColor: String,
    topColor: String
  }
  ```') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`graphic`') %></td>
  <td><%= md('Adds a graphic above the content.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`scope`') %></td>
  <td><%= md('The layout of the component adjusts depending on this context setting:

- `nil` (default) sets up a "feature"-level layout for use on whole page empty states and is intended to fill the stage.
- `"compact"` similar to the default above, this compacts the spacing a little more for smaller contexts.
') %></td>
  <td><%= md('`nil` | `"compact"`') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`text`') %></td>
  <td><%= md('Text for empty state.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`title`') %></td>
  <td><%= md('Title for empty state.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`title_tag`') %></td>
  <td><%= md('Sets which HTML heading tag to use on the title.') %></td>
  <td><%= md('One of `h1` through `h6`') %></td>
  <td><%= md('`h2`') %></td>
</tr>
<tr>
  <td colspan="4"><strong>Content Slots</strong></td>
</tr>
<tr>
  <td><%= md('`:sage_empty_state_actions`') %></td>
  <td><%= md('
    Slot into which buttons or other actions can be placed.
  ') %></td>
  <td></td>
  <td></td>
</tr>
<tr>
  <td><%= md('`:sage_empty_state_text`') %></td>
  <td><%= md('
    Slot into which text can be placed.
  ') %></td>
  <td></td>
  <td></td>
</tr>
<tr>
  <td><%= md('`:sage_empty_state_video`') %></td>
  <td><%= md('
    Slot into which video cards or other media can be placed.
  ') %></td>
  <td></td>
  <td></td>
</tr>

