<% permalink = "object-#{title}" %>

<%= sage_component SagePanelHeader, {} do %>
  <h2 id="<%= permalink %>">
    <%= link_to title.titleize, pages_object_path(title), class: "example__link" %>
  </h2>
  <%= sage_component SageButtonGroup, { gap: :md } do %>
    <%= sage_component SageButton, {
      value: "View Details",
      style: "secondary",
      subtle: true,
      icon: { name: "preview-on", style: "only" },
      attributes: {
        "data-js-tooltip": "Inspect element details",
        href: pages_object_path(title),
      }
    } %>
    <%= sage_component SageButton, {
      value: "Opens #{title.titleize} in a new window",
      style: "secondary",
      subtle: true,
      icon: { name: "launch", style: "only" },
      attributes: {
        "data-js-tooltip": "Open breakout page",
        href: pages_breakout_path(type: :object, title: title),
        target: "_blank",
      }
    } %>
  <% end %>
<% end %>

<%= sage_component SageCard, {} do %>
  <%= render "examples/objects/#{title}/preview" %>
<% end %>

