<tr>
  <td><%= md('`component_attributes`') %></td>
  <td><%= md('Sets additional html attributes to the components inner element and not the outermost container.') %></td>
  <td><%= md('Hash') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`content`') %></td>
  <td><%= md('The internal content of the component') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`css_classes`') %></td>
  <td><%= md('Set additional css classes on the outermost compnent container') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`html_attributes`') %></td>
  <td><%= md('Sets html attributes to the outermost component container') %></td>
  <td><%= md('Hash') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`spacer`') %></td>
  <td><%= md('Adds margin spacing to the component') %></td>
  <td><%= md('SageSchemas::SPACER') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`test_id`') %></td>
  <td><%= md('Creates a `data-kjb-element` attribute based on the "id" supplied') %></td>
  <td><%= md('string') %></td>
  <td><%= md('`nil`') %></td>
</tr>
