<tr>
  <td><%= md('`color`') %></td>
  <td><%= md('Sets color of divider.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`Grey-300`') %></td>
</tr>

<tr>
  <td><%= md('`vertical`') %></td>
  <td><%= md('Changes layout of divider to vertical.') %></td>
  <td><%= md('Boolean') %></td>
  <td><%= md('`nil`') %></td>
</tr>

<tr>
  <td><%= md('`offset`') %></td>
  <td><%= md('Adds offset margin/padding to expand the width (horizontal) or the height (vertical) of divider. See [Spacing](../helpers/spacing) for token values.') %></td>
  <td><%= md("`#{SageTokens::SPACER_SIZES.inspect()}`") %></td>
  <td><%= md('`nil`') %></td>
</tr>
