<%= sage_component SageCardBlock, {} do %>
  <%= sage_component SageHero, {
    alt_text: "Well done alt text",
    cta_attributes: {
      "data-js-modaltrigger": "cool-modal",
      href: "#",
    },
    description: "Get early access to new unreleased features and work along side our team by beta testing features before they go live.",
    image: asset_pack_path("media/images/docs/card/card-placeholder-sm.png"), 
    title: "Be the first to try what Kajabi is building 1",
  } %>
<% end %>

<h2 class="t-sage-heading-6">Sage Hero with dismiss button</h3>
<%= sage_component SageCardBlock, {} do %>
  <%= sage_component SageHero, {
    cta_attributes: {
      "data-js-modaltrigger": "cool-modal",
      href: "#",
    },
    description: "Get early access to new unreleased features and work along side our team by beta testing features before they go live.",
    image: asset_pack_path("media/images/docs/card/card-placeholder-sm.png"), 
    title: "Be the first to try what Kajabi is building 2",
    title_tag: "h3",
    button: sage_component(SageButton, {
      subtle: true,
      style: "secondary",
      value: "Dismiss",
      icon: {
        name: "remove",
        style: "left"
      },
      attributes: {
        "data-js-hero--dismiss": ""
      }
    })
  } %>
  <%= render "examples/objects/modal/markup" %>
<% end %>
