<tr>
  <td><%= md('`attributes`') %></td>
  <td><%= md('For setting additional attributes not defined above. Accepts a Ruby hash of valid key-value properties, such as data-attributes') %></td>
  <td><%= md('Hash') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`background_color`') %></td>
  <td><%= md('The color set to use for the background color of the card.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`color`') %></td>
  <td><%= md('The color set to use for the foreground and background colors of the card.') %></td>
  <td><%= md('`"draft"`, `"info"`, `"success"`, `"warning"`, and `"danger"`') %></td>
  <td><%= md('`"draft"`') %></td>
</tr>
<tr>
  <td><%= md('`foreground_color`') %></td>
  <td><%= md('The color set to use for the foreground color of the card.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`icon`') %><%= sage_component SageBadge, { color: "published", value: "required" } %></td>
  <td><%= md('The Sage icon to show inside the card.') %></td>
  <td><%= md('`String`') %></td>
  <td><%= md('See Icons.') %></td>
</tr>
<tr>
  <td><%= md('`label`') %></td>
  <td><%= md('Sets the label text for the component.') %></td>
  <td><%= md('`String`') %></td>
  <td><%= md('nil') %></td>
</tr>
<tr>
  <td><%= md('`round`') %></td>
  <td><%= md('When enabled, this gives the component a 50% `border-radius`.') %></td>
  <td><%= md('Boolean') %></td>
  <td><%= md('`false`') %></td>
</tr>
<tr>
  <td><%= md('`size`') %></td>
  <td><%= md('The size desired for the icon.') %></td>
  <td><%= md('`"xs"`, `"sm"`, `"md"`, `"lg"`, `"xl"`, `"2xl"`, `"2xl"`, ``"3xl"`, `"3xl"`, `"4xl"`') %></td>
  <td><%= md('`"3xl"`') %></td>
</tr>
