<tr>
  <td><%= md('`icon`') %></td>
  <td><%= md('The icon to show in the property.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('See Icons.') %></td>
</tr>
<tr>
  <td><%= md('`value`') %></td>
  <td><%= md('Text to show in the property.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
