<tr>
  <td>ID</td>
  <td>Unique identifier for this input field. Should match the "for" property on the corresponding label</td>
  <td>String</td>
  <td>null</td>
</tr>
<tr>
  <td>Placeholder</td>
  <td>Inserts content to be displayed inside a default (empty) field</td>
  <td>String</td>
  <td>null</td>
</tr>
<tr>
  <td>Required</td>
  <td>Adding this attribute allows basic HTML form validation on this field</td>
  <td>String</td>
  <td>null</td>
</tr>
<tr>
  <td>Inputmode</td>
  <td>Hints at the type of data to be entered. Primarily intended for mobile devices, this can influence the <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/inputmode" rel="nofollow">type of control displayed</a>, for example a numeric input keypad instead of a standard text keyboard.</td>
  <td>String</td>
  <td>null</td>
</tr>

<tr>
  <td><%= md("`disabled`") %></td>
  <td><%= md("Sets the `src` attribute for the component.") %></td>
  <td><%= md("String") %></td>
  <td><%= md("null") %></td>
</tr>
<tr>
  <td><%= md("`has_error`") %></td>
  <td><%= md("Sets the `src` attribute for the component.") %></td>
  <td><%= md("String") %></td>
  <td><%= md("null") %></td>
</tr>
<tr>
  <td><%= md("`has_placeholder`") %></td>
  <td><%= md("Sets the `src` attribute for the component.") %></td>
  <td><%= md("String") %></td>
  <td><%= md("null") %></td>
</tr>
<tr>
  <td><%= md("`id`") %></td>
  <td><%= md("Unique identifier for this input field. Should match the `for` property on the corresponding label.") %></td>
  <td><%= md("String") %></td>
  <td><%= md("null") %></td>
</tr>
<tr>
  <td><%= md("`input_mode`") %></td>
  <td><%= md("Hints at the type of data to be entered. Primarily intended for mobile devices, this can influence the <a href=\"https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/inputmode\" rel=\"nofollow\"> type of control displayed</a>, for example a numeric input keypad instead of a standard text keyboard.") %></td>
  <td><%= md("String") %></td>
  <td><%= md("null") %></td>
</tr>
<tr>
  <td><%= md("`input_type`") %></td>
  <td><%= md("Sets the `src` attribute for the component.") %></td>
  <td><%= md("String") %></td>
  <td><%= md("null") %></td>
</tr>
<tr>
  <td><%= md("`label_text`") %></td>
  <td><%= md("Sets the message text for the component.") %></td>
  <td><%= md("String") %></td>
  <td><%= md("null") %></td>
</tr>
<tr>
  <td><%= md("`max`") %></td>
  <td><%= md("Sets the message text for the component.") %></td>
  <td><%= md("String") %></td>
  <td><%= md("null") %></td>
</tr>
<tr>
  <td><%= md("`maxlength`") %></td>
  <td><%= md("Sets the message text for the component.") %></td>
  <td><%= md("String") %></td>
  <td><%= md("null") %></td>
</tr>
<tr>
  <td><%= md("`message_text`") %></td>
  <td><%= md("Sets the `src` attribute for the component.") %></td>
  <td><%= md("String") %></td>
  <td><%= md("null") %></td>
</tr>
<tr>
  <td><%= md("`minlength`") %></td>
  <td><%= md("Sets the message text for the component.") %></td>
  <td><%= md("String") %></td>
  <td><%= md("null") %></td>
</tr>
<tr>
  <td><%= md("`pattern`") %></td>
  <td><%= md("Sets the message text for the component.") %></td>
  <td><%= md("String") %></td>
  <td><%= md("null") %></td>
</tr>
<tr>
  <td><%= md("`placeholder`") %></td>
  <td><%= md("Inserts content to be displayed inside a default (empty) field.") %></td>
  <td><%= md("String") %></td>
  <td><%= md("null") %></td>
</tr>
<tr>
  <td><%= md("`prefix`") %></td>
  <td><%= md("Sets the message text for the component.") %></td>
  <td><%= md("String") %></td>
  <td><%= md("null") %></td>
</tr>
<tr>
  <td><%= md("`required`") %></td>
  <td><%= md("Adding this attribute allows basic HTML form validation on this field.") %></td>
  <td><%= md("String") %></td>
  <td><%= md("null") %></td>
</tr>
<tr>
  <td><%= md("`suffix`") %></td>
  <td><%= md("Sets the message text for the component.") %></td>
  <td><%= md("String") %></td>
  <td><%= md("null") %></td>
</tr>
<tr>
  <td><%= md("`value`") %></td>
  <td><%= md("Sets the message text for the component.") %></td>
  <td><%= md("String") %></td>
  <td><%= md("null") %></td>
</tr>

