
<tr>
  <td><%= md("`body`") %></td>
  <td><%= md("Sets the body copy for the component.") %></td>
  <td><%= md("String") %></td>
  <td><%= md("null") %></td>
</tr>
<tr>
  <td><%= md("`color`") %></td>
  <td><%= md("This component uses the `--color` modifier to change the default
    color set to the provided color.") %></td>
  <td><%= md("String: [\"danger\", \"muted\"]") %></td>
  <td><%= md("null") %></td>
</tr>
<tr>
  <td><%= md("`header_aside`") %></td>
  <td><%= md("Sets the message text for the component.") %></td>
  <td><%= md("String") %></td>
  <td><%= md("null") %></td>
</tr>
<tr>
  <td><%= md("`title`") %></td>
  <td><%= md("Sets the title for the component.") %></td>
  <td><%= md("String") %></td>
  <td><%= md("null") %></td>
</tr>
<tr>
  <td><%= md("`title_tag`") %></td>
  <td><%= md("Sets the heading tag (`h1` - `h6`) for the component's title tag") %></td>
  <td><%= md("String") %></td>
  <td><%= md("null") %></td>
</tr>
