<% content_for :sage_docs_modals do %>
  <%= sage_component SageDrawer, {
      id: "support-request",
      show_close: true,
      size: "30vw",
      expanded_size: "100vw",
      disable_background_dismiss: false,
    } do %>
    <% content_for :sage_drawer_header do %>
      <h1>Help & Feedback</h1>
    <% end %>

    <%= render "component_search", search_btn_style: "primary" %>

    <%= sage_component SagePanel, {} do %>
      <%= sage_component SagePanelHeader, {
        title: "How can we help?",
        title_tag: "h2"
      } %>
      <%= sage_component SagePanelBlock, { type_block: true } do %>
        <p>Questions? Head to our <a href="https://slack.com/app_redirect?channel=C01A424HY8Y" target="_blank">#sage-support Slack Channel</a> and join the conversation.</p>
      <% end %>
    <% end %>
    <%= sage_component SagePanel, {} do %>
      <%= sage_component SagePanelHeader, {
        title: "Share your feedback",
        title_tag: "h2",
      } %>
      <%= sage_component SagePanelBlock, { type_block: true } do %>
        <p>Spot a bug or have a suggestion? We care about improving your experience! <a href="https://forms.gle/Y4TGCimUGectGFHq9?utm_source=feedback_form&utm_medium=rails_docs" target="_blank">Let us know how we can improve</a>.</p>
      <% end %>
    <% end %>
  <% end %>
<% end %>
