<%= content_for :heading do %>
<%= md(%(
# Alignment
<p class="docs-heading__lead">Alignment utilities will assist with general alignment.</p>
)) %>
<% end %>

<%= md("
## Left alignment
Most elements in the Sage Design System are left aligned by default. But when needed `.t-sage--align-left` left aligns text.", use_sage_type: true) %>
<%= sage_component SagePanel, {} do %>
  <%= sage_component SagePanelStack, {} do %>
    <%= sage_component SageCard, {} do %>
      <%= sage_component SageCardRow, { grid_template: "et" } do %>
        <i class="sage-icon-video-on"></i>
        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
      <% end %>
    <% end %>
    <%= sage_component SageCard, {} do %>
      <%= sage_component SageCardRow, { grid_template: "et" } do %>
        <i class="sage-icon-video-on"></i>
        <span class="t-sage--align-left">Morbi rhoncus mauris ut turpis gravida bibendum.</span>
      <% end %>
    <% end %>
  <% end %>
<% end %>
<hr />
<%= md("
## Center alignment
`.t-sage--align-center` is used to center-align text.", use_sage_type: true) %>
<%= sage_component SageTabs, {
    id: "example-tabs-rich",
    css_classes: "u-rich-choice-card",
    items: [
      {
        target: "item1",
        custom_content_class: "t-sage--align-center",
        content: %(
          #{sage_component(SageAvatar, { initials: 'PS' })}
          #{sage_component(SageCardBlock, { css_classes: "t-sage--align-center", content: %(
            <h4>User A</h4>
            <p>Custom content here...</p>
          ).html_safe})}
          <i class="sage-icon-check-circle-lg t-sage--color-primary u-rich-choice-card__option-checkmark" aria-label="Selected"></i>
          <input type="hidden" id="item1" name="item1" value="User A" />
        ).html_safe,
      },
      {
        target: "item2",
        custom_content_class: "t-sage--align-center",
        content: %(
          #{sage_component(SageAvatar, { initials: 'JW' })}
          #{sage_component(SageCardBlock, { css_classes: "t-sage--align-center", content: %(
            <h4>User B</h4>
            <p>Custom content here...</p>
          ).html_safe})}
          <i class="sage-icon-check-circle-lg t-sage--color-primary u-rich-choice-card__option-checkmark" aria-label="Selected"></i>
          <input type="hidden" id="item2" name="item2" value="User B" />
        ).html_safe,
      },
    ],
    style: "choice",
  }
%>
<hr />
<%= md("
## Right alignment
`.t-sage--align-right` is used to right-align text.", use_sage_type: true) %>

<%= sage_component SagePanel, {} do %>
  <%= sage_component SagePanelStack, {} do %>
    <%= sage_component SageCard, {} do %>
      <%= sage_component SageCardRow, { grid_template: "et" } do %>
        <i class="sage-icon-video-on"></i>
        <span class="t-sage--align-right">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
      <% end %>
    <% end %>
    <%= sage_component SageCard, {} do %>
      <%= sage_component SageCardRow, { grid_template: "et" } do %>
        <i class="sage-icon-video-on"></i>
        <span class="t-sage--align-right">Morbi rhoncus mauris ut turpis gravida bibendum.</span>
      <% end %>
    <% end %>
  <% end %>
<% end %>
