<%= content_for :heading do %>
<%= md(%(
# Colors

Colors should be used sparingly within our products to help keep our users stay focused. Color should be applied to emphasize important information, call attention to actions, and increase scannability. Color should not be used in Kajabi to arbitrarily add personality.
)) %>
<% end %>

<div id="base">
<%= md("
## Base

General background and text colors.
", use_sage_type: true) %>
  <%= render "color_values_base", color: "white"%>
  <%= render "color_values_base", color: "black"%>
</div>

<div id="neutrals">
<%= md("
## Neutral palette

Text and border colors, drop-shadows, and other interface components.
", use_sage_type: true) %>
  <%= render "color_values_neutral", color: "grey"%>
  <%= render "color_values_neutral", color: "charcoal"%>
</div>

<div id="primary">
<%= md("
## Primary palette

Kajabi blue is the primary color used to signify that an element is clickable or has a selected state.
", use_sage_type: true) %>
  <%= render "color_values", color: "primary"%>
</div>

<div id="success">
<%= md("
## Success palette

To communicate success and positive states.
", use_sage_type: true) %>
  <%= render "color_values", color: "sage"%>
</div>

<div id="warning">
<%= md("
## Warning palette

To communication something that requires attention or action.
", use_sage_type: true) %>
  <%= render "color_values", color: "yellow"%>
</div>

<div id="danger">
<%= md("
## Danger palette

Reserved for times when something important is missing or for irreversible or destructive actions.
", use_sage_type: true) %>
  <%= render "color_values", color: "red"%>
</div>

<div id="support">
<%= md("
## Supporting palette

Used only when no other color option is available.
", use_sage_type: true) %>
  <%= render "color_values", color: "purple"%>
  <%= render "color_values", color: "orange"%>
</div>
