<%= content_for :heading do %>
<%= md(%(
# Colors

<p class="docs-heading__lead">Our color palette is built with a minimal approach to reduce decision fatigue and save time making design decisions.</p>

All of our colors and text color combinations meet AA requirements
with a 4.5:1 passing grade at the bare minimum.
)) %>
<% end %>
<%= content_for :quick_links do %>
  <div class="quick-links">
    <h2 class="quick-links__title">Contents</h2>
    <ul class="quick-links__body">
      <li class="quick-links__item">
        <a href="#primary" class="quick-links__link">Primary</a>
      </li>
      <li class="quick-links__item">
        <a href="#neutrals" class="quick-links__link">Neutrals</a>
      </li>
      <li class="quick-links__item">
        <a href="#supporting" class="quick-links__link">Supporting</a>
      </li>
    </ul>
  </div>
<% end %>
<%= md("
## How we use color

You will notice **pure black is not used at all as a text color**.
Instead, we rely on 400 for our darkest text color value.
Our default text color is `sage-color(charcoal, 400)`.
To achieve more depth use 300 to 400 shades
for text on top of lighter background colors using 100 to 200 for their fill.
You can also use 100 to 200 as the text color
on darker backgrounds using from 300 to 400 for their fill.
Pure white is used as a text color when the lightest shade (100)
of a color will not pass color contrast tests.
At the moment, this only occurs on the 300 shades of purple, primary, and red.
", use_sage_type: true) %>
<hr>
<div class="" id="primary">
<%= md("
## Primary
These are the splashes of color that appear the most in Kajabi’s UI,
and are the ones that determine the overall \"look\" of the app.
Use these for things like primary actions, links, navigation items, icons, accent borders,
or text we want to emphasize.
", use_sage_type: true) %>
<%= render "color_values", color: "primary"%>
</div>

<div class="" id="neutrals">
<%= md("
## Neutrals
These are the colors we will use the most and will make up the majority of Kajabi’s UI.
Use them for most of our text, backgrounds, and borders,
as well as for things like alternative buttons and links.
", use_sage_type: true) %>
<%= sage_component SageGridRow, {} do %> 
  <%= sage_component SageGridCol, { breakpoint: "md", size: "6" } do %> 
    <h3>Grey</h3>
    <%= render "color_values", color: "grey"%>
  <% end %>
  <%= sage_component SageGridCol, { breakpoint: "md", size: "6" } do %> 
    <h3>Charcoal</h3>
    <%= render "color_values", color: "charcoal"%>
  <% end %>
<% end %>
</div>
<div class="" id="supporting">
<%= md("
## Supporting
These colors should be used fairly conservatively throughout Kajabi’s UI
to avoid overpowering our primary colors.
We’ll use them when we need an element to stand out.
", use_sage_type: true) %>
<%= sage_component SageGridRow, {} do %> 
  <%= sage_component SageGridCol, { breakpoint: "md", size: "6" } do %> 
    <h3>Purple</h3>
    <%= render "color_values", color: "purple" %>
    <h3>Yellow</h3>
    <%= render "color_values", color: "yellow"%>
    <h3>Red</h3>
    <%= render "color_values", color: "red"%>
  <% end %>
  <%= sage_component SageGridCol, { breakpoint: "md", size: "6" } do %> 
  <h3>Sage</h3>
  <%= render "color_values", color: "sage"%>
  <h3>Orange</h3>
  <%= render "color_values", color: "orange"%>
  <h3>White</h3>
  <%= md("All values passed for white will return the same value.", use_sage_type: true) %>
  <div class="colors">
    <div class="colors__block color-white-300">sage-color(white)</div>
  </div>
  <h3>Black</h3>
  <%= md("All values passed for black will return the same value.", use_sage_type: true) %>
  <div class="colors">
    <div class="colors__block color-black-300">sage-color(black)</div>
  </div>
  <% end %>
<% end %>
</div>
