<%= content_for :heading do %>
<%= md(%(
# Containers
<p class="docs-heading__lead">
  Containers provide a restricted width box any sort of content can be placed within.
</p>
)) %>
<% end %>

<%= sage_table_for SageTokens::CONTAINER_SPECS, striped: true, responsive: true do |t| %>
  <% t.column :container, label: "Container" do |c| %>
    <%= c[:name] %>
    <code><%= c[:alias] %></code>
  <% end %>

  <% t.column :max_size, label: "Maximum size" do |c| %>
    <%= c[:max_size] %>
  <% end %>

  <% t.column :usage, label: "Usage" do |c| %>
    <%= c[:usage] %>
  <% end %>
<% end %>

<p>See <a href="<%= pages_component_path(:container) %>">Container Component</a> for component code usage.</p>

