<%= content_for :heading do %>
<%= md(%(
# Design Principles
<p class="docs-heading__lead">These principles reflect our design philosophy and inspire our team to shape an experience that enables Knowledge Commerce businesses of any scale to achieve their goals without the frustrations of technology getting in the way.</p>
)) %>
<% end %>
  <div class="docs-feature">
    <%= md(%(
## Thoughtful

First and foremost Kajabi’s success hinges on the success of the people who use our product. We are continually speaking to and advocating for our customers so we can craft solutions for the right problems at the right time. Solutions to these customer problems start by understanding the job to be done, not the UI.

- Our customers are always super excited to talk to us and we can use those interviews to empathize with their perspective and understand their problems.
- Use discovery and research to make data-informed decisions, don’t assume.
- Always be looking for ways to ensure the use of predictable patterns across the admin experience.
- Designers should be bold in how we address customer problems and think critically about the way things have been solved historically.
), use_sage_type: true) %>
  </div>
  <hr>
  <div class="docs-feature">
    <%= md(%(
## Approachable

Our diverse group of customers and their unique individual desired outcomes are the inspiration for the design decisions we make. It’s our goal to meet them wherever they are in their journey.

- Design beyond a specific **#kajabihero** tier and consider how a flow, feature, or task can support businesses of all sizes.
- Design responsive experiences that work on all screen sizes.
- Strive to meet accessibility standards to be inclusive for all potential site owners with a range of abilities.
- Use plain language or simplified steps to break down complex ideas into easily understood terms and actions.
- Do not compensate for complexity by writing a novel above an action a customer must take.
- Provide customers with well-designed starting points and best practices they can then customize to make their own.
), use_sage_type: true) %>
  </div>
  <hr>
  <div class="docs-feature">
  <%= md(%(
## Empowering

No matter what level of expertise a customer enters Kajabi, the admin should help them feel empowered to achieve their goals. We look for ways we can design experiences that accomplish meaningful goals faster and with less work.

- Use your learnings from the discovery process to craft solutions that draw attention to the most important actions a customer needs to perform.
- Provide access to related content, assets, and information that can help them integrate their business.
- Highlight workflows that could be automated.
- Reduce redundant actions when possible.
- Keep customers in the context of the current workflow they are on.

), use_sage_type: true) %>
  </div>
  <hr>
  <div class="docs-feature">
    <%= md(%(
## Trustworthy

>We want to continue to deliver on our promise of Kajabi’s ease of use and remedy to technical headaches. Our goal is for the app to feel like it just works, and when there is an issue, it’s clearly communicated.

- Make it clear when changes have occurred that must be saved.
- Always use a confirmation modal to approve destructive actions.
- If a certain feature is currently unavailable to a user, show it as disabled. In the case of requiring certain admin validations, pop a modal when the disabled action is clicked.
- Use consistently placed iconography to give helpful tooltips, descriptions, and links to resources to learn more about how to best use a particular feature.
- Use short but descriptive text to explain complexities, tips to avoid errors, and form validation errors.
- Use a toast notification to show changes have been saved.
- Use page banners for announcements, warnings, or errors that apply to the overarching admin experience.
- Use panel alerts for info, warnings, or errors that apply to the overall use of a feature.
- Use card alerts for info, warnings, or errors that apply to a specific panel or section within a panel.

), use_sage_type: true) %>
  </div>
