<%= content_for :heading do %>
  <h1>Elements</h1>
  <p>Elements are the basic building blocks of matter. Applied to web interfaces, atoms are our HTML tags, such as a form label, an input or a button.</p>
<% end %>
<%= content_for :quick_links do %>
  <div class="quick-links">
    <h2 class="quick-links__title">Contents</h2>
    <ul class="quick-links__body">
      <% sorted_sage_elements.each do |element| %>
        <li class="quick-links__item">
          <a href="#element-<%= element[:title] %>" class="quick-links__link"><%= element[:title].titleize %></a>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="sage-panel-set">
  <% sorted_sage_elements.each do |element| %>
    <%= render "examples/elements/element_preview", title: element[:title], description: element[:description] %>
  <% end %>
</div>
