<%= render "application/home_header" %>
<main id="main-content">
  <%= render "application/home_hero" %>
  <%= render "application/home_sections" %>
  <%= render "application/home_developer" %>
  <%= render "application/home_code" %>
</main>