<%= content_for :heading do %>
<%= md(%(
# Welcome to Sage
<p class="docs-heading__lead">
Our design system gives us the ability to deliver the best experiences to all our Kajabi entrepreneurs.
</p>

Our system is our single source of truth, providing everything you need
to build great products for our customers.
It is the culmination of designers and developers working together
to give teams the ability to ship high-quality products faster.
)) %>
<% end %>
<div class="sage-row docs-section">
  <div class="sage-col-7 sage-type">
    <h2>Developer Guides</h2>
    <p>Getting started with Sage is meant to be easy and approachable. Check out these practical developer guides to understand how to get up and running with the Sage Design System quickly.</p>
    <div class="sage-row">
      <div class="sage-col-6 sage-type">
        <p><a href="https://github.com/Kajabi/sage/wiki/Setup">Getting up and running</a></p>
        <p><a href="https://github.com/Kajabi/sage/wiki/Working-with-our-codebase">Our Git workflow</a></p>
      </div>
      <div class="sage-col-6 sage-type">
        <p><a href="https://github.com/Kajabi/sage#local-development-kajabi-products">Working with Sage locally</a></p>
        <p><a href="https://github.com/Kajabi/sage/wiki/Setup">Cutting a new version</a></p>
      </div>
    </div>
  </div>
  <div class="sage-col-5">
    <%= image_pack_tag("docs/dev.jpg", style: "display:block;max-width:500px;margin:0 auto;width:100%;height:auto", size: "1000x1036") %>
  </div>
</div>
<hr>
<div class="sage-row">
  <div class="sage-col-3 docs-feature">
    <i class="sage-icon-flag-2xl" aria-hidden="true"></i>
    <h3 class="t-sage-heading-4">Foundations</h3>
    <p>Learn the core principles that guide our Experience team at every step.</p>
    <%= link_to "Read the foundations", pages_foundation_path(:ux_values) %>
  </div>
  <div class="sage-col-3 docs-feature">
    <i class="sage-icon-align-left-2xl" aria-hidden="true"></i>
    <h3 class="t-sage-heading-4">Content</h3>
    <p>Learn how we use our language to complement all the design choices we make.</p>
    <%= link_to "Read content guidelines", pages_content_path(:voice_tone) %>
  </div>
  <div class="sage-col-3 docs-feature">
    <i class="sage-icon-customize-2xl" aria-hidden="true"></i>
    <h3 class="t-sage-heading-4">Design</h3>
    <p>Learn the core design choices we make to lay the foundation of the system.</p>
    <%= link_to "Read design guidelines", pages_design_path(:token) %>
  </div>
  <div class="sage-col-3 docs-feature">
    <i class="sage-icon-list-details-2xl" aria-hidden="true"></i>
    <h3 class="t-sage-heading-4">Components</h3>
    <p>Learn the ins and outs of our component library and how to properly use them.</p>
    <%= link_to "Browse components", pages_getting_started_path %>
  </div>
</div>
