<div class="docs-hero" style="background-image: url(<%= image_url "hero.jpg" %>);">
  <%= sage_component SageContainer, { size: "md" } do %>
    <header class="sage-header">
      <%= render "application/nav" %>
    </header>
    <%= sage_component SageGridRow, {} do %> 
      <%= sage_component SageGridCol, { breakpoint: "md", size: "4" } do %> 
        <%= image_tag "sage_icon.png", style: "max-width:70px;height:auto", loading: "lazy" %>
        <%= md("
# Building with Sage
Our system is our source of truth, providing everything you need to build the best experiences for all Kajabi entrepreneurs.
", use_sage_type: true) %>
        <%= sage_component SageButtonGroup, { gap: :sm, spacer: { top: :lg } } do %>
          <%= sage_component SageButton, {
            value: "Get Started",
            attributes: {
              href: pages_element_path(sorted_sage_elements.first[:title]),
              title: "Get Started"
            },
            style: "primary",
          } %>
          <%= sage_component SageButton, {
            value: "View Github Repo",
            attributes: {
              href: "https://github.com/Kajabi/sage-lib",
              title: "View Github Repo",
              target: "_blank"
            },
            subtle: true,
            icon: {
              style: "right",
              name: "launch"
            },
            style: "secondary",
          } %>
        <% end %>
      <% end %>
      <%= sage_component SageGridCol, { breakpoint: "md", size: "1" } do %><% end %>
      <%= sage_component SageGridCol, { breakpoint: "md", size: "7" } do %> 
        <%= image_tag "sage_ui.png", style: "max-width:100%;height:auto", loading: "lazy" %>
      <% end %>
    <% end %>
  <% end %>
</div>
<div class="docs-section">
  <%= sage_component SageContainer, { size: "md" } do %>
    <h2 class="docs-section__title t-sage-heading-2">Our Design System</h2>
    <%= sage_component SageGridRow, { spacer: { bottom: :lg },} do %> 
      <%= sage_component SageGridCol, { breakpoint: "md", size: "4" } do %> 
        <%= sage_component SagePanel, {} do %>
          <%= sage_component SagePanelStack, {} do %>
            <i class="sage-icon-form-3xl t-sage--color-sage"></i>
            <h3 class="t-sage-heading-3">Foundations</h3>
            <p class="t-sage-body">Lorem ipsum dolor sit amet, non at set consectetur adipiscing elit. </p>
            <%= sage_component SageButton, {
              value: "Explore Foundations",
              attributes: {
                href: pages_foundation_path(:design_principles),
                title: "Explore Foundations "
              },
              subtle: true,
              icon: {
                style: "right",
                name: "arrow-right"
              },
              style: "primary",
            } %>
          <% end %>
        <% end %>
      <% end %>
      <%= sage_component SageGridCol, { breakpoint: "md", size: "4" } do %> 
        <%= sage_component SagePanel, {} do %>
          <%= sage_component SagePanelStack, {} do %>
            <i class="sage-icon-pen-3xl t-sage--color-sage"></i>
            <h3 class="t-sage-heading-3">Content</h3>
            <p class="t-sage-body">Lorem ipsum dolor sit amet, non at set consectetur adipiscing elit. </p>
            <%= sage_component SageButton, {
              value: "Content Guides",
              attributes: {
                href: pages_content_path(:voice_tone),
                title: "Content Guides"
              },
              subtle: true,
              icon: {
                style: "right",
                name: "arrow-right"
              },
              style: "primary",
            } %>
          <% end %>
        <% end %>
      <% end %>
      <%= sage_component SageGridCol, { breakpoint: "md", size: "4" } do %> 
        <%= sage_component SagePanel, {} do %>
          <%= sage_component SagePanelStack, {} do %>
            <i class="sage-icon-customize-3xl t-sage--color-sage"></i>
            <h3 class="t-sage-heading-3">Design</h3>
            <p class="t-sage-body">Lorem ipsum dolor sit amet, non at set consectetur adipiscing elit. </p>
            <%= sage_component SageButton, {
              value: "Style Tokens",
              attributes: {
                href: pages_design_path(:token),
                title: "Browse Style Tokens"
              },
              subtle: true,
              icon: {
                style: "right",
                name: "arrow-right"
              },
              style: "primary",
            } %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
    <%= sage_component SageGridRow, {} do %> 
      <%= sage_component SageGridCol, { breakpoint: "md", size: "4" } do %> 
        <%= sage_component SagePanel, {} do %>
          <%= sage_component SagePanelStack, {} do %>
            <i class="sage-icon-stack-3xl t-sage--color-sage"></i>
            <h3 class="t-sage-heading-3">Layout</h3>
            <p class="t-sage-body">Lorem ipsum dolor sit amet, non at set consectetur adipiscing elit. </p>
            <%= sage_component SageButton, {
              value: "Layout Patterns",
              attributes: {
                href: pages_layout_path(:container),
                title: "Layout Patterns"
              },
              subtle: true,
              icon: {
                style: "right",
                name: "arrow-right"
              },
              style: "primary",
            } %>
          <% end %>
        <% end %>
      <% end %>
      <%= sage_component SageGridCol, { breakpoint: "md", size: "4" } do %> 
        <%= sage_component SagePanel, {} do %>
          <%= sage_component SagePanelStack, {} do %>
            <i class="sage-icon-folder-3xl t-sage--color-sage"></i>
            <h3 class="t-sage-heading-3">Elements</h3>
            <p class="t-sage-body">Lorem ipsum dolor sit amet, non at set consectetur adipiscing elit. </p>
            <%= sage_component SageButton, {
              value: "Browse Elements",
              attributes: {
                href: pages_element_path(sorted_sage_elements.first[:title]),
                title: "Browse Elements"
              },
              subtle: true,
              icon: {
                style: "right",
                name: "arrow-right"
              },
              style: "primary",
            } %>
          <% end %>
        <% end %>
      <% end %>
      <%= sage_component SageGridCol, { breakpoint: "md", size: "4" } do %> 
        <%= sage_component SagePanel, {} do %>
          <%= sage_component SagePanelStack, {} do %>
            <i class="sage-icon-folder-group-3xl t-sage--color-sage"></i>
            <h3 class="t-sage-heading-3">Objects</h3>
            <p class="t-sage-body">Lorem ipsum dolor sit amet, non at set consectetur adipiscing elit. </p>
            <%= sage_component SageButton, {
              value: "Browse Objects",
              attributes: {
                href: pages_object_path(sorted_sage_objects.first[:title]),
                title: "Browse Objects"
              },
              subtle: true,
              icon: {
                style: "right",
                name: "arrow-right"
              },
              style: "primary",
            } %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
<div class="docs-section">
  <%= sage_component SageContainer, { size: "md" } do %>
    <h2 class="docs-section__title t-sage-heading-2">Developer Guides</h2>
    <%= sage_component SageGridRow, {} do %> 
      <%= sage_component SageGridCol, { breakpoint: "md", size: "6" } do %> 
        <%= sage_component SagePanel, {} do %>
          <%= sage_component SagePanelStack, {} do %>
            <i class="sage-icon-check-circle-3xl t-sage--color-purple"></i>
            <h3 class="t-sage-heading-3">Get up and running</h3>
            <p class="t-sage-body">Getting started with Sage is meant to be easy and approachable. Check out these practical developer guides to understand how to get up and running with the Sage Design System quickly.</p>
            <%= sage_component SageButton, {
              value: "Readme",
              attributes: {
                href: "https://github.com/Kajabi/sage-lib",
                title: "Readme"
              },
              subtle: true,
              icon: {
                style: "right",
                name: "arrow-right"
              },
              style: "primary",
            } %>
          <% end %>
        <% end %>
      <% end %>
      <%= sage_component SageGridCol, { breakpoint: "md", size: "6" } do %> 
        <%= sage_component SagePanel, {} do %>
          <%= sage_component SagePanelStack, {} do %>
            <i class="sage-icon-automations-3xl t-sage--color-purple"></i>
            <h3 class="t-sage-heading-3">Contributing</h3>
            <p class="t-sage-body">we encourage any member of the Kajabi team to feel empowered to participate. Understanding and contributing to the system are the keys to the system's longevity.</p>
            <%= sage_component SageButton, {
              value: "Guidelines",
              attributes: {
                href: "https://github.com/Kajabi/sage-lib/wiki",
                title: "Readme"
              },
              subtle: true,
              icon: {
                style: "right",
                name: "arrow-right"
              },
              style: "primary",
            } %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
<div class="docs-section">
  <%= sage_component SageContainer, { size: "md" } do %>
    <h2 class="docs-section__title t-sage-heading-2">How It Works</h2>
    <%= sage_component SageGridRow, {} do %> 
      <%= sage_component SageGridCol, { breakpoint: "md", size: "3" } do %> 
        <%= sage_component SagePanel, {} do %>
          <%= sage_component SagePanelStack, {} do %>
            <i class="devicon devicon-sass-original colored"></i>
            <h3 class="t-sage-heading-3">SCSS System</h3>
            <p class="t-sage-body">The language-agnostic style system that allows us to service any app code choice.</p>
            <%= sage_component SageButton, {
              value: "View Sassdocs site",
              attributes: {
                href: Rails.application.config.sassdocs_root_url,
                title: "View Sassdocs site"
              },
              subtle: true,
              icon: {
                style: "right",
                name: "arrow-right"
              },
              style: "primary",
            } %>
          <% end %>
        <% end %>
      <% end %>
      <%= sage_component SageGridCol, { breakpoint: "md", size: "3" } do %> 
        <%= sage_component SagePanel, {} do %>
          <%= sage_component SagePanelStack, {} do %>
            <i class="devicon devicon-rails-plain-wordmark colored"></i>
            <h3 class="t-sage-heading-3">Rails Components</h3>
            <p class="t-sage-body">Our default approach, custom Rails View Components to serve our system to the app.</p>
          <% end %>
        <% end %>
      <% end %>
      <%= sage_component SageGridCol, { breakpoint: "md", size: "3" } do %> 
        <%= sage_component SagePanel, {} do %>
          <%= sage_component SagePanelStack, {} do %>
            <i class="devicon devicon-javascript-plain colored"></i>
            <h3 class="t-sage-heading-3">Vanilla Javascript</h3>
            <p class="t-sage-body">Clean, minimal JavaScript to ensure the necessary interactions and accessibility features.</p>
          <% end %>
        <% end %>
      <% end %>
      <%= sage_component SageGridCol, { breakpoint: "md", size: "3" } do %> 
        <%= sage_component SagePanel, {} do %>
          <%= sage_component SagePanelStack, {} do %>
            <i class="devicon devicon-react-original colored"></i>
            <h3 class="t-sage-heading-3">React Components</h3>
            <p class="t-sage-body">Versions of our components for when heavy state and interaction management is needed.</p>
            <%= sage_component SageButton, {
              value: "Storybook",
              attributes: {
                href: Rails.application.config.storybook_root_url,
                title: "Storybook"
              },
              subtle: true,
              icon: {
                style: "right",
                name: "arrow-right"
              },
              style: "primary",
            } %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>