<%= content_for :heading do %>
  <h1>Objects</h1>
  <p>Objects are groups of atoms bonded together and are the smallest fundamental units of a compound. These Objects take on their own properties and serve as the backbone of our design systems.</p>
<% end %>
<%= content_for :quick_links do %>
  <div class="quick-links">
    <h2 class="quick-links__title">Contents</h2>
    <ul class="quick-links__body">
      <% sorted_sage_objects.each do |object| %>
        <li class="quick-links__item"><a href="#object-<%= object[:title] %>" class="quick-links__link"><%= object[:title].titleize %></a>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="sage-panel-set">
  <% sorted_sage_objects.each do |object| %>
    <%= render "examples/objects/object_preview", title: object[:title], description: object[:description] %>
  <% end %>
</div>
