<%= content_for :heading do %>
<%= md("
# Sandbox

Use this scratchpad to test out elements and components in context. Just be sure not to commit your changes. â¤ï¸
") %>
<% end %>

<section class="sides">
  <div class="left-side">
    <h3 class="title <%= "#{SageClassnames::TYPE::HEADING_5}" %>">Customize your course</h3>
    <p class="<%= "#{SageClassnames::TYPE::BODY_SMALL}" %>">The primary branding for your course displayed at checkout and throughout the member experience.</p>
    <form class="left-side__form">
      <%= sage_component SageFormInput, {
        id: "form__fname1",
        input_type: "text",
        label_text: "First name",
        placeholder: "First name",
        required: true,
        disabled: false,
        has_error: false,
        name: "custom_input_name",
        has_placeholder: false
      } %>
      <%= sage_component SageButtonGroup, { gap: :md } do %>
        <%= sage_component SageButton, {
          style: "secondary",
          value: "Go back",
          raised: false,
          attributes: {
            href: "#"
          },
        } %>
        <%= sage_component SageButton, {
          style: "primary",
          value: "Save and continue",
          attributes: {
            href: "#"
          },
        } %>
      <% end %>
    </form>
  </div>
  <div class="right-side">
    <div class="right-side__container">
      <div class="right-side__top-bar">
        <span class="right-side__top-bar-dot"></span>
        <span class="right-side__top-bar-dot"></span>
        <span class="right-side__top-bar-dot"></span>
      </div>
      <div class="right-side__nav-bar">
        <span class="right-side__thick-line"></span>
        <div class="right-side__thin-line-wrapper">
          <span class="right-side__thin-line"></span>
          <span class="right-side__thin-line"></span>
          <span class="right-side__thin-line"></span>
          <span class="right-side__thin-line"></span>
          <span class="right-side__thin-line"></span>
        </div>
      </div>
      <div class="right-side__bottom">
        <div class="sub-left-side">
          <div class="right-side__category-row">
            <span class="right-side__category-row__img right-side__filler"></span>
            <span class="right-side__category-row__filler-1 right-side__thick-line"></span>
            <span class="right-side__category-row__filler-2 right-side__thin-line"></span>
            <span class="right-side__category-row__filler-3 right-side__thin-line"></span>
          </div>
          <div class="right-side__category-row">
            <span class="right-side__category-row__img right-side__filler"></span>
            <span class="right-side__category-row__filler-1 right-side__thick-line"></span>
            <span class="right-side__category-row__filler-2 right-side__thin-line"></span>
            <span class="right-side__category-row__filler-3 right-side__thin-line"></span>
          </div>
          <div class="right-side__category-row">
            <span class="right-side__category-row__img right-side__filler"></span>
            <span class="right-side__category-row__filler-1 right-side__thick-line"></span>
            <span class="right-side__category-row__filler-2 right-side__thin-line"></span>
            <span class="right-side__category-row__filler-3 right-side__thin-line"></span>
          </div>
        </div>
        <div class="sub-right-side">
          <span class="right-side__filler right-side__filler-sub-right-side-1"></span>
          <span class="right-side__filler right-side__filler-sub-right-side-2"></span>
        </div>
      </div>
    </div>
  </div>
</section>

<%= sage_component SageButton, {
      style: "primary",
      icon: { name: "launch", style: "right" },
      value: "Modal",
      attributes: {
        "data-js-modaltrigger": "cool-modal",
      }
    } %>

<%= sage_component SageModal, {
  id: "cool-modal",
  fullscreen: true,
  css_classes: "sage-creation-wizard"
} do %>
  <%= sage_component SageModalContent, {
    title: "Example Modal",
    css_classes: "sage-creation-wizard__modal-content"
  } do %>
    <% content_for :sage_header_aside do %>
      <%= sage_component SageButton, {
        style: "secondary",
        subtle: true,
        value: "Close Modal",
        icon: { name: "remove", style: "only" },
        attributes: { "data-js-modal": true }
      } %>
    <% end %>

    <% content_for :sage_header_indicator do %>
      <%# sage_component SageIndicator, {
        current_item: 2,
        label: "Page",
        num_items: 5,
        show_text: true
      } %>
    <% end %>

    <%= sage_component SagePanelRow, { grid_template: "m", vertical_align: "start" } do %>
      <div class="sage-creation-wizard__form">
        <div class="sage-creation-wizard__form-content">
          <p>number 1</p>
          <p>number 1</p>
          <p>number 1</p>
          <p>number 1</p>
          <p>number 1</p>
          <p>number 1</p>
          <p>number 1</p>
          <p>number 1</p>
          <p>number 1</p>
          <p>number 1</p>
          <p>number 1</p>
          <p>number 1</p>
          <p>number 1</p>
          <p>number 1</p>
          <p>number 1</p>
          <p>number 1</p>
          <p>number 1</p>
          <p>number 1</p>
          <p>number 1</p>
          <p>number 1</p>
          value<p>number 1</p>
          <p>number 1</p>
          v
          <%= sage_component SageButtonGroup, {
            gap: :md,
            css_classes: "sage-creation-wizard__form-actions"
            } do %>
            <%= sage_component SageButton, {
              style: "secondary",
              value: "Go back",
              raised: false,
              attributes: {
                href: "#"
              },
            } %>
            <%= sage_component SageButton, {
              style: "primary",
              value: "Save and continue",
              attributes: {
                href: "#"
              },
            } %>
          <% end %>
        </div>
      </div>
      <div class="sage-creation-wizard__live-preview">
        number 2
      </div>
    <% end %>
  <% end %>
<% end %>
