<%= content_for :heading do %>
<%= md("
# Sandbox

Use this scratchpad to test out elements and components in context. Just be sure not to commit your changes. ❤️
") %>
<% end %>

<h2>A custom colored block</h2>
<%= sage_component SageFrame, { preset: "row", spacer: { bottom: "xl" } } do %>
  <%= sage_component SageFrame, { width: "flex" } do %>
    <%= sage_component SageFrame, {
      preset: "card-lg",
      background: "#fae2d4",
      border: "none",
    } do %>
      <%= sage_component SageFrame, { preset: "stack" } do %>
        <h3>Learn more about products</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Etiam faucibus massa vel sem ullamcorper tincidunt.
          Vestibulum pulvinar placerat elit, et rutrum ipsum elementum ac.
        </p>
      <% end %>
      <%= sage_component SageFrame, { preset: "row-spread" } do %>
        <%= sage_component SageButton, {
          value: "Do it!",
          style: "primary",
        } %>
        <%= sage_component SageFrame, { preset: "row-hug" } do %>
          <%= sage_component SageButton, {
            value: "Cancel",
            style: "secondary",
            subtle: true,
          } %>
          <%= sage_component SageButton, {
            value: "Options",
            style: "secondary",
            raised: false,
          } %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <%= sage_component SageFrame, { width: "flex" } do %>
    <div
      data-sage-frame="card-lg"
      data-sage-frame-border="none"
      data-sage-background="custom"
      style="--sage-frame-background: #fae2d4"
    >
      <div data-sage-frame="stack">
        <h3>Learn more about products</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Etiam faucibus massa vel sem ullamcorper tincidunt.
          Vestibulum pulvinar placerat elit, et rutrum ipsum elementum ac.
        </p>
      </div>
      <div data-sage-frame="row-spread">
        <%= sage_component SageButton, {
          value: "Do it!",
          style: "primary",
        } %>
        <div data-sage-frame="row-hug">
          <%= sage_component SageButton, {
            value: "Cancel",
            style: "secondary",
            subtle: true,
          } %>
          <%= sage_component SageButton, {
            value: "Options",
            style: "secondary",
            raised: false,
          } %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>


<h2>A stat box</h2>
<%= sage_component SageFrame, { preset: "row" } do %>
  <%= sage_component SageFrame, {} do %>
    <%= sage_component SageFrame, { preset: "card", width: "357px" } do %>
      <%= sage_component SageFrame, { preset: "row", align: "top-spread" } do %>
        <%= sage_component SageFrame, { preset: "stack", width: "flex" } do %>
          <%= sage_component SageFrame, { preset: "block" } do %>
            <h3 class="<%= "#{SageClassnames::TYPE::BODY_SMALL} #{SageClassnames::TYPE_COLORS::CHARCOAL_200}" %>">
              All payments
            </h3>
            <%= sage_component SageFrame, {
              direction: "horizontal",
              align: "baseline-left",
              gap: "xs",
              tag: "p"
            } do %>
              <b class="<%= "#{SageClassnames::TYPE::HEADING_5}" %>">
                40
              </b>
              <span class="<%= "#{SageClassnames::TYPE::BODY_XSMALL} #{SageClassnames::TYPE_COLORS::CHARCOAL_100}" %>">
                successfull paymemtns
              </span>
            <% end %>
          <% end %>
          <%= sage_component SageButton, {
            value: "View all",
            icon: { style: "right", name: "arrow-right" },
            style: "primary",
            subtle: true,
          } %>
        <% end %>
        <%= sage_component SageFrame, {
          gap: "xs",
          direction: "vertical",
          align: "top-right",
          width: "120px"
        } do %>
          <%= sage_component SageLabel, {
            color: "published",
            value: "33%",
            icon: "up-small",
          } %>
          <div>
            [chart]
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <%= sage_component SageFrame, {} do %>
    <div
      data-sage-frame="card"
      data-sage-frame-width="custom"
      style="--sage-frame-width: 357px"
    >
      <div
        data-sage-frame="row"
        data-sage-frame-align="top-spread"
      >
        <div
          data-sage-frame="stack"
          data-sage-frame-width="flex"
        >
          <div data-sage-frame="block">
            <h3 class="<%= "#{SageClassnames::TYPE::BODY_SMALL} #{SageClassnames::TYPE_COLORS::CHARCOAL_200}" %>">
              All payments
            </h3>
            <p
              data-sage-frame
              data-sage-frame-align="baseline-left"
              data-sage-frame-direction="horizontal"
              data-sage-frame-gap="xs"
            >
              <b class="<%= "#{SageClassnames::TYPE::HEADING_5}" %>">
                40
              </b>
              <span class="<%= "#{SageClassnames::TYPE::BODY_XSMALL} #{SageClassnames::TYPE_COLORS::CHARCOAL_100}" %>">
                successfull paymemtns
              </span>
            </p>
          </div>
          <%= sage_component SageButton, {
            value: "View all",
            icon: { style: "right", name: "arrow-right" },
            style: "primary",
            subtle: true,
          } %>
        </div>
        <div
          data-sage-frame
          data-sage-frame-align="top-right"
          data-sage-frame-direction="vertical"
          data-sage-frame-gap="xs"
          data-sage-frame-width="custom"
          style="--sage-frame-width: 120px"
        >
          <%= sage_component SageLabel, {
            color: "published",
            value: "33%",
            icon: "up-small",
          } %>
          <div>
            [chart]
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
