<%= content_for :heading do %>
<%= md("
# Sandbox

Use this scratchpad to test out elements and objects in context. Just be sure not to commit your changes. ❤️
") %>
<% end %>
<%= sage_component SagePanel, {} do %>
  <%= sage_component SagePanelHeader, { title: 'Panel Lists' } %>

  <%= sage_component SagePanelSubheader, { title: 'Standard spacing' } %>
  <%= sage_component SagePanelList, {} do %>
    <%= sage_component SagePanelListItem, { grid_template: "et" } do %>
      <i class="sage-icon-video-on"></i>
      <span class="t-sage-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
    <% end %>
    <%= sage_component SagePanelListItem, { grid_template: "et" } do %>
      <i class="sage-icon-video-on"></i>
      <span class="t-sage-body">Morbi rhoncus mauris ut turpis gravida bibendum.</span>
    <% end %>
    <%= sage_component SagePanelListItem, { grid_template: "et" } do %>
      <i class="sage-icon-video-on"></i>
      <span class="t-sage-body">Donec feugiat accumsan velit et semper.</span>
    <% end %>
    <%= sage_component SagePanelListItem, { grid_template: "et" } do %>
      <i class="sage-icon-video-on"></i>
      <span class="t-sage-body">Ut elementum id leo ac fringilla.</span>
    <% end %>
  <% end %>

  <%= sage_component SagePanelSubheader, { title: 'Expanded spacing' } %>
  <%= sage_component SagePanelList, { block_spacing: "md" } do %>
    <%= sage_component SagePanelListItem, { grid_template: "et" } do %>
      <i class="sage-icon-video-on"></i>
      <span class="t-sage-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
    <% end %>
    <%= sage_component SagePanelListItem, { grid_template: "et" } do %>
      <i class="sage-icon-video-on"></i>
      <span class="t-sage-body">Morbi rhoncus mauris ut turpis gravida bibendum.</span>
    <% end %>
    <%= sage_component SagePanelListItem, { grid_template: "et" } do %>
      <i class="sage-icon-video-on"></i>
      <span class="t-sage-body">Donec feugiat accumsan velit et semper.</span>
    <% end %>
    <%= sage_component SagePanelListItem, { grid_template: "et" } do %>
      <i class="sage-icon-video-on"></i>
      <span class="t-sage-body">Ut elementum id leo ac fringilla.</span>
    <% end %>
  <% end %>

  <%= sage_component SagePanelHeader, { title: 'Card Lists' } %>
  <%= sage_component SageCard, {} do %>
    <%= sage_component SageCardHeader, { title: 'Standard spacing' } %>
    <%= sage_component SageCardList, {} do %>
      <%= sage_component SageCardListItem, { grid_template: "et" } do %>
        <i class="sage-icon-check t-sage--color-sage"></i>
        <span class="t-sage-body-small">Stack items here.</span>
      <% end %>
      <%= sage_component SageCardListItem, { grid_template: "et" } do %>
        <i class="sage-icon-check t-sage--color-sage"></i>
        <span class="t-sage-body-small">Another stack item here.</span>
      <% end %>
    <% end %>

    <%= sage_component SageCardHeader, { title: 'Expanded spacing' } %>
    <%= sage_component SageCardList, { block_spacing: 'sm' } do %>
      <%= sage_component SageCardListItem, { grid_template: "et" } do %>
        <i class="sage-icon-check t-sage--color-sage"></i>
        <span class="t-sage-body-small">Stack items here.</span>
      <% end %>
      <%= sage_component SageCardListItem, { grid_template: "et" } do %>
        <i class="sage-icon-check t-sage--color-sage"></i>
        <span class="t-sage-body-small">Another stack item here.</span>
      <% end %>
    <% end %>
  <% end %>
<% end %>
