<%= content_for :heading do %>
<%= md("
# Sandbox

Use this scratchpad to test out elements and components in context. Just be sure not to commit your changes. ❤️
") %>
<% end %>

<%= sage_component SageContainer, {} do %>
  <%= sage_component SagePanelRow, { grid_template: "et" } do %>
    <%= sage_component SageContainer, { size: "xs" } do %>
      <%= sage_component SagePanel, {} do %>
        <p>Sidebar</p>
      <% end %>
    <% end %>
    <%= sage_component SageContainer, {} do %>
      

      <%= sage_component SageEmptyState, {
        title: "Create your first Email Campaign",
        graphic: image_tag("null-view-graphic.png", alt: ""), #%(<img src="//source.unsplash.com/random/530x500" alt="" />).html_safe,
        scope: "page",
      } do %>
        <% content_for :sage_empty_state_text do %>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Elit arcu volutpat cursus ultricies ac, ultricies.
            Platea sed nibh molestie ut.
          </p>
        <% end %>
        <% content_for :sage_empty_state_actions do %>
          <%= sage_component SageButtonGroup, {} do %>
            <%= sage_component SageButton, {
              attributes: { href: "#" },
              raised: true,
              style: "primary",
              value: "Create Email Campaings",
            } %>
            <%= sage_component SageButton, {
              attributes: { href: "#" },
              raised: true,
              style: "secondary",
              value: "Learn More",
            } %>
          <% end %>
        <% end %>
      <% end %>

      <%= sage_component SageEmptyState, {
        title: "Create your first Email Campaign",
        text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elit arcu volutpat cursus ultricies ac, ultricies. Platea sed nibh molestie ut.",
        graphic: %(<img src="//source.unsplash.com/random/530x500" alt="" />).html_safe
      } do %>
        <%= sage_component SageButtonGroup, {} do %>
          <%= sage_component SageButton, {
            attributes: { href: "#" },
            raised: true,
            style: "primary",
            value: "Create Email Campaings",
          } %>
          <%= sage_component SageButton, {
            attributes: { href: "#" },
            raised: true,
            style: "secondary",
            value: "Learn More",
          } %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

