<%= content_for :heading do %>
<%= md("
# Sandbox

Use this scratchpad to test out elements and components in context. Just be sure not to commit your changes. ❤️
") %>
<% end %>

<div style="width: 100%">
  <%= sage_component SageLabelGroup, {
    line_clamp: "2",
  } do %>
    <% [
      "eat",
      "green eggs",
      "and ham",
      "lorem ipsum",
      "dolor sit amet",
      "consectitor",
      "eat",
      "green eggs",
      "and ham",
      "lorem ipsum",
      "dolor sit amet",
      "consectitor",
    ].each do | label | %>
      <%= sage_component SageLabel, { color: "draft", value: label } %>
    <% end %>

    <% content_for :sage_label_group_overflow_action do %>
      <%= sage_component SageButton, { value: "View all", style: "primary", subtle: true, } %>
    <% end %>
  <% end %>
</div>
