<%# Used for page <title> %>
<% @title = "Component Search" %>

<%= content_for :heading do %>
  <h1>Component Search</h1>
<% end %>
<%= render "component_search", search_btn_style: "primary", search_form_spacing: "xl" %>
<% if @search.present? %>
  <%= sage_component SageCard, { spacer: { top: :xl }} do %>
    <% sorted_sage_components.each do |component| %>
      <% if component[:title].include? @search or component[:description].include? @search %>
        <%= sage_component SageChoice, {
          attributes: {
            href: pages_component_path(component[:title])
          },
          subtext: component[:description],
          text: component[:title].titleize,
          type: "arrow",
        } %>
      <% end %>
    <% end %>
  <% end %>
<% else %>
  <%= sage_component SageEmptyState, {
    icon: "search",
    title: "Search for available components",
    text: "Components that contain any part of your search term will return results.",
  } %>
<% end %>
