<%# Used for page <title> %>
<% @title = "Component Search" %>

<%= content_for :heading do %>
  <h1>Component Search</h1>
<% end %>
<%= form_tag(pages_search_path, method: :get) do %>
    <%= sage_component SageInputGroup, {
      group_id: "site_search",
      has_button: true,
      group_buttons: [{
        icon: "sage-btn--icon-left-search",
        text: "Search",
        text_hidden: true,
        tooltip: false,
      }],
      input_type: "search",
    } do %>
      <%= sage_component SageFormInput, {
        id: "search",
        input_type: "search",
        label_text: "Search Sage",
        placeholder: "Search components",
        value: params[:search] || "",
      } %>
    <% end %>
<% end %>
<% if @search.present? %>
  <%= sage_component SageCard, { spacer: { top: :xl }} do %>
    <% sorted_sage_components.each do |component| %>
      <% if component[:title].include? @search %>
        <%= sage_component SageChoice, {
            attributes: {
              href: pages_component_path(component[:title])
            },
            subtext: component[:description],
            text: component[:title].titleize,
            type: "arrow",
          }
        %>
      <% end %>
    <% end %>
  <% end %>
<% else %>
  <%= sage_component SageEmptyState, {
    icon: "search",
    title: "Search for available components",
    text: "Components that contain any part of your search term will return results.",
  } %>
<% end %>
