<%= content_for :heading do %>
<%= md("
# Code Status

Our Elements and Objects and the platforms they're available in.
") %>
  <%= render "status_key" %>
<% end %>
<%= content_for :quick_links do %>
  <div class="quick-links">
    <h2 class="quick-links__title t-sage-heading-5">Contents</h2>
    <h3 class="quick-links__subhead">Elements</h3>
    <ul class="quick-links__body">
      <% sorted_sage_all_elements.each do |element| %>
        <li class="quick-links__item">
          <a href="#<%= element[:title] %>" class="quick-links__link"><%= element[:title].titleize %></a>
        </li>
      <% end %>
    </ul>
    <h3 class="quick-links__subhead">Objects</h3>
    <ul class="quick-links__body">
      <% sorted_sage_all_objects.each do |object| %>
        <li class="quick-links__item">
          <a href="#<%= object[:title] %>" class="quick-links__link"><%= object[:title].titleize %></a>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="docs-container">
  <h2 class="t-sage-heading-2">Elements</h2>
  <div class="sage-table-wrapper">
    <div class="sage-table-wrapper__overflow">
      <table class="sage-table sage-table--status">
        <thead>
          <tr>
            <th>Element</th>
            <th>HTML/CSS</th>
            <th>A11y</th>
            <th>Documentation</th>
            <th>Rails</th>
            <th>React</th>
          </tr>
        </thead>
        <% sorted_sage_all_elements.each do |element| %>
          <%= render "status_item", item: element %>
        <% end %>
      </table>
    </div>
  </div>
</div>
<div class="docs-container">
  <h2 class="t-sage-heading-2">Objects</h2>
  <div class="sage-table-wrapper">
    <div class="sage-table-wrapper__overflow">
      <table class="sage-table sage-table--status">
        <thead>
          <tr>
            <th>Object</th>
            <th>HTML/CSS</th>
            <th>A11y</th>
            <th>Documentation</th>
            <th>Rails</th>
            <th>React</th>
          </tr>
        </thead>
        <% sorted_sage_all_objects.each do |object| %>
          <%= render "status_item", item: object %>
        <% end %>
      </table>
    </div>
  </div>
</div>
