<%# Used for page <title> %>
<% @title = "Support" %>

<%= content_for :heading do %>
<%= md(%(
# Support
<p class="docs-heading__lead">Our mission is to empower any team to utilize our design system tools and services.</p>
)) %>
<% end %>

<div class="sage-row">
  <div class="sage-col--lg-6">
  <%= md(%(
## We â¤ï¸ Slack
<p>We believe in being highly collaborative. Head to our <a href="https://slack.com/app_redirect?channel=C01A424HY8Y" target="_blank">#sage-support Slack Channel</a> and join the conversation.</p>
)) %>

<%= sage_component SageButton, {
  style: "primary",
  icon: { name: "help-filled", style: "left" },
  value: "How can we help?",
  attributes: {
    "data-js-modaltrigger": "support-request",
    "data-js-event": "Open support modal"
  }
} %>
  </div>
  <div class="sage-col--lg-6">
  <%= md(%(
## Share your feedback ðŸ“
<p>We care about continuously improving. Please share your feedback with us on our <a href="https://sage.kajabi.com/" target="_blank">Sage Design System</a> or create an issue on our <a href="https://github.com/Kajabi/sage-lib/issues/new/choose" target="_blank">GitHub repository</a>.</p>
)) %>
  </div>
</div>
