<%= content_for :heading do %>
<%= md(%(
# Tokens
<p class="docs-heading__lead">Design tokens are the visual design atoms of the design system—specifically, they are named entities that store visual design attributes.</p>

We use them in place of hard-coded values (such as hex values for color or pixel values for spacing) in order to maintain a scalable and consistent visual system for UI development.

)) %>
<% end %>
<%= content_for :quick_links do %>
  <div class="quick-links">
    <h2 class="quick-links__title">Contents</h2>
    <ul class="quick-links__body">
      <% sage_tokens.each do |token| %>
        <li class="quick-links__item">
          <a href="#<%= token[:category] %>" class="quick-links__link"><%= token[:category].titleize %></a>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="sage-panel-set">
  <% sage_tokens.each do |token| %>
    <h2 class="sage-panel__title" id="<%= token[:category] %>"><%= token[:category].titleize %></h2>
    <%= sage_component SagePanelStack, {} do %>
      <h3 class="sage-panel__subtitle">Default</h3>
      <div class="tokens">
        <div class="token token-<%= token[:category] %>"><strong>sage-<%= token[:category] %>( )</strong></div>
      </div>
    <% end %>

    <%= sage_component SagePanelStack, {} do %>
      <h3 class="sage-panel__subtitle">Options</h3>
      <div class="tokens">
        <% token[:tokens] .each do |test| %>
          <div class="token token-<%= token[:category] %>-<%= test[:name] %>"><strong>sage-<%= token[:category] %>(<%= test[:name] %>)</strong></div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
