<%
type_specs = [
  {
    style: md(%(
      <span class="t-sage-heading-1">Heading 1</span>
    )),
    spec: "HEADING_1",
    button: %(#{
      sage_component SageButton, {
        value: "Copy HEADING_1 SageType code",
        style: "secondary",
        attributes: {
          "data-js-copy-button": "<&#37;= sage_component SageType, { tag: &quot;h1&quot;, content: &quot;Heading 1&quot; } &#37;>",
        }
      }
    }).html_safe
  },
  {
    style: md(%(
      <span class="t-sage-heading-2">Heading 2</span>
    )),
    spec: "HEADING_2",
    button: %(#{
      sage_component SageButton, {
        value: "Copy HEADING_2 SageType code",
        style: "secondary",
        attributes: {
          "data-js-copy-button": "<&#37;= sage_component SageType, { tag: &quot;h2&quot;, content: &quot;Heading 2&quot; } &#37;>",
        }
      }
    }).html_safe
  },
  {
    style: md(%(
      <span class="t-sage-heading-3">Heading 3</span>
    )),
    spec: "HEADING_3",
    button: %(#{
      sage_component SageButton, {
        value: "Copy HEADING_3 SageType code",
        style: "secondary",
        attributes: {
          "data-js-copy-button": "<&#37;= sage_component SageType, { tag: &quot;h3&quot;, content: &quot;Heading 3&quot; } &#37;>",
        }
      }
    }).html_safe
  },
  {
    style: md(%(
      <span class="t-sage-heading-4">Heading 4</span>
    )),
    spec: "HEADING_4",
    button: %(#{
      sage_component SageButton, {
        value: "Copy HEADING_4 SageType code",
        style: "secondary",
        attributes: {
          "data-js-copy-button": "<&#37;= sage_component SageType, { tag: &quot;h4&quot;, content: &quot;Heading 4&quot; } &#37;>",
        }
      }
    }).html_safe
  },
  {
    style: md(%(
      <span class="t-sage-heading-5">Heading 5</span>
    )),
    spec: "HEADING_5",
    button: %(#{
      sage_component SageButton, {
        value: "Copy HEADING_5 SageType code",
        style: "secondary",
        attributes: {
          "data-js-copy-button": "<&#37;= sage_component SageType, { tag: &quot;h5&quot;, content: &quot;Heading 5&quot; } &#37;>",
        }
      }
    }).html_safe
  },
  {
    style: md(%(
      <span class="t-sage-heading-6">Heading 6</span>
    )),
    spec: "HEADING_6",
    button: %(#{
      sage_component SageButton, {
        value: "Copy HEADING_6 SageType code",
        style: "secondary",
        attributes: {
          "data-js-copy-button": "<&#37;= sage_component SageType, { tag: &quot;h6&quot;, content: &quot;Heading 6&quot; } &#37;>",
        }
      }
    }).html_safe
  },
  {
    style: md(%(
      <span class="t-sage-body">Body</span>
    )),
    spec: "BODY",
    button: %(#{
      sage_component SageButton, {
        value: "Copy BODY SageType code",
        style: "secondary",
        attributes: {
          "data-js-copy-button": "<&#37;= sage_component SageType, { content: &quot;Body&quot; } &#37;>",
        }
      }
    }).html_safe
  },
  {
    style: md(%(
      <span class="t-sage-body-med">Body - Medium weight</span>
    )),
    spec: "BODY_MED",
    button: %(#{
      sage_component SageButton, {
        value: "Copy BODY_MED SageType code",
        style: "secondary",
        attributes: {
          "data-js-copy-button": "<&#37;= sage_component SageType, { type_spec: &quot;BODY_MED&quot;, content: &quot;Body - Medium Weight&quot; } &#37;>",
        }
      }
    }).html_safe
  },
  {
    style: md(%(
      <span class="t-sage-body-semi">Body - Semibold weight</span>
    )),
    spec: "BODY_SEMI",
    button: %(#{
      sage_component SageButton, {
        value: "Copy BODY_SEMI SageType code",
        style: "secondary",
        attributes: {
          "data-js-copy-button": "<&#37;= sage_component SageType, { type_spec: &quot;BODY_SEMI&quot;, content: &quot;Body - Semibold Weight&quot; } &#37;>",
        }
      }
    }).html_safe
  },
  {
    style: md(%(
      <span class="t-sage-body-bold">Body - Bold weight</span>
    )),
    spec: "BODY_BOLD",
    button: %(#{
      sage_component SageButton, {
        value: "Copy BODY_BOLD SageType code",
        style: "secondary",
        attributes: {
          "data-js-copy-button": "<&#37;= sage_component SageType, { type_spec: &quot;BODY_BOLD&quot;, content: &quot;Body - Bold Weight&quot; } &#37;>",
        }
      }
    }).html_safe
  },
  {
    style: md(%(
      <span class="t-sage-body-small">Small Body</span>
    )),
    spec: "BODY_SMALL",
    button: %(#{
      sage_component SageButton, {
        value: "Copy BODY_SMALL SageType code",
        style: "secondary",
        attributes: {
          "data-js-copy-button": "<&#37;= sage_component SageType, { type_spec: &quot;BODY_SMALL&quot;, content: &quot;Body - Small&quot; } &#37;>",
        }
      }
    }).html_safe
  },
  {
    style: md(%(
      <span class="t-sage-body-small-med">Small Body - Medium weight</span>
    )),
    spec: "BODY_SMALL_MED",
    button: %(#{
      sage_component SageButton, {
        value: "Copy BODY_SMALL_MED SageType code",
        style: "secondary",
        attributes: {
          "data-js-copy-button": "<&#37;= sage_component SageType, { type_spec: &quot;BODY_SMALL_MED&quot;, content: &quot;Body - Small - Medium Weight&quot; } &#37;>",
        }
      }
    }).html_safe
  },
  {
    style: md(%(
      <span class="t-sage-body-small-semi">Small Body - Semibold weight</span>
    )),
    spec: "BODY_SMALL_SEMI",
    button: %(#{
      sage_component SageButton, {
        value: "Copy BODY_SMALL_SEMI SageType code",
        style: "secondary",
        attributes: {
          "data-js-copy-button": "<&#37;= sage_component SageType, { type_spec: &quot;BODY_SMALL_SEMI&quot;, content: &quot;Body - Small - Semibold Weight&quot; } &#37;>",
        }
      }
    }).html_safe
  },
  {
    style: md(%(
      <span class="t-sage-body-small-bold">Small Body - Bold weight</span>
    )),
    spec: "BODY_SMALL_BOLD",
    button: %(#{
      sage_component SageButton, {
        value: "Copy BODY_SMALL_BOLD SageType code",
        style: "secondary",
        attributes: {
          "data-js-copy-button": "<&#37;= sage_component SageType, { type_spec: &quot;BODY_SMALL_BOLD&quot;, content: &quot;Body - Small - Bold Weight&quot; } &#37;>",
        }
      }
    }).html_safe
  },
  {
    style: md(%(
      <span class="t-sage-body-xsmall">Extra Small Body</span>
    )),
    spec: "BODY_XSMALL",
    button: %(#{
      sage_component SageButton, {
        value: "Copy BODY_XSMALL SageType code",
        style: "secondary",
        attributes: {
          "data-js-copy-button": "<&#37;= sage_component SageType, { type_spec: &quot;BODY_XSMALL&quot;,content: &quot;Body - XSmall&quot; } &#37;>",
        }
      }
    }).html_safe
  },
  {
    style: md(%(
      <span class="t-sage-body-xsmall-med">Extra Small Body - Medium weight</span>
    )),
    spec: "BODY_XSMALL_MED",
    button: %(#{
      sage_component SageButton, {
        value: "Copy BODY_XSMALL_MED SageType code",
        style: "secondary",
        attributes: {
          "data-js-copy-button": "<&#37;= sage_component SageType, { type_spec: &quot;BODY_XSMALL_MED&quot;, content: &quot;Body - XSmall - Medium Weight&quot; } &#37;>",
        }
      }
    }).html_safe
  },
  {
    style: md(%(
      <span class="t-sage-body-xsmall-semi">Extra Small Body - Semibold weight</span>
    )),
    spec: "BODY_XSMALL_SEMI",
    button: %(#{
      sage_component SageButton, {
        value: "Copy BODY_XSMALL_SEMI SageType code",
        style: "secondary",
        attributes: {
          "data-js-copy-button": "<&#37;= sage_component SageType, { type_spec: &quot;BODY_XSMALL_SEMI&quot;, content: &quot;Body - XSmall - Semibold Weight&quot; } &#37;>",
        }
      }
    }).html_safe
  },
  {
    style: md(%(
      <span class="t-sage-body-xsmall-bold">Extra Small Body - Bold weight</span>
    )),
    spec: "BODY_XSMALL_BOLD",
    button: %(#{
      sage_component SageButton, {
        value: "Copy BODY_XSMALL_BOLD SageType code",
        style: "secondary",
        attributes: {
          "data-js-copy-button": "<&#37;= sage_component SageType, { type_spec: &quot;BODY_XSMALL_BOLD&quot;, content: &quot;Body - XSmall - Bold Weight&quot; } &#37;>",
        }
      }
    }).html_safe
  },
]

type_color_classes = [
  {
    color: %(<span class="t-sage-body-semi t-sage--color-primary">Primary</span>),
    type_color: md("PRIMARY"),
  },
  {
    color: %(<span class="t-sage-body-semi t-sage--color-charcoal">Charcoal</span>),
    type_color: md("CHARCOAL"),
  },
  {
    color: %(<span class="t-sage-body-semi t-sage--color-grey">Grey</span>),
    type_color: md("GREY"),
  },
  {
    color: %(<span class="t-sage-body-semi t-sage--color-red">Red</span>),
    type_color: md("RED"),
  },
  {
    color: %(<span class="t-sage-body-semi t-sage--color-orange">Orange</span>),
    type_color: md("ORANGE"),
  },
  {
    color: %(<span class="t-sage-body-semi t-sage--color-yellow">Yellow</span>),
    type_color: md("YELLOW"),
  },
  {
    color: %(<span class="t-sage-body-semi t-sage--color-sage">Sage</span>),
    type_color: md("SAGE"),
  },
  {
    color: %(<span class="t-sage-body-semi t-sage--color-purple">Purple</span>),
    type_color: md("PURPLE"),
  }
]

type_other_options = [
  {
    description: md("Truncate text with an ellipsis when available space runs out"),
    type_option: md("TRUNCATE_TEXT")
  },
  {
    description: md("Adjust alignment of type to right"),
    type_option: md("TYPE_ALIGN_RIGHT")
  },
  {
    description: md("Adjust alignment of type to hang center"),
    type_option: md("TYPE_ALIGN_CENTER")
  },
  {
    description: md("Apply a strikethrough to text"),
    type_option: md("TYPE_STRIKETHROUGH")
  }
]
%>

<%= content_for :heading do %>
  <%= sage_component SageType, {
    tag: "h1",
    content: "Typography",
    html_attributes: {
      id: "typography"
    }
  } %>

  <%= sage_component SageType, {
    type_spec: "HEADING_4",
    content: "Sage provides a constrained, purposeful set of typographic styles. These styles map as much as possible to functional roles so you know when to use each style.",
  } %>

  <ul>
    <%= sage_component SageType, {
      tag: "li",
    } do %>
      <%= sage_component SageLink, {
        url: "#type-specs",
        label: "Type Specs",
        external: false,
        launch: false,
        help_link: false,
        show_label: true
      } %>
    <% end %>
    <%= sage_component SageType, {
      tag: "li",
    } do %>
      <%= sage_component SageLink, {
        url: "#colors",
        label: "Colors",
        external: false,
        launch: false,
        help_link: false,
        show_label: true
      } %>
    <% end %>
    <%= sage_component SageType, {
      tag: "li",
    } do %>
      <%= sage_component SageLink, {
        url: "#type-options",
        label: "Type Options",
        external: false,
        launch: false,
        help_link: false,
        show_label: true,
        spacer: { bottom: :lg }
      } %>
    <% end %>
  </ul>

  <%= sage_component SageType, {
    tag: "h2",
    content: "Type Specs",
    html_attributes: {
      id: "type-specs"
    }
  } %>
<% end %>

<div class="sage-type">
  <%= sage_component SageTable, {
    headers: [
      "Output",
      "Type token",
      "Copy component code"
    ],
    rows: type_specs,
    striped: true,
    spacer: { bottom: :lg }
  } %>

  <%= sage_component SageType, {
    tag: "h2",
    content: "Colors",
    html_attributes: {
      id: "colors"
    }
  } %>

  <%= sage_component SageTable, {
    headers: [
      {
        value: "Color",
      },
      "Color token",
    ],
    rows: type_color_classes,
    striped: true,
    spacer: { bottom: :lg }
  } %>


  <%= sage_component SageType, {
    tag: "h2",
    content: "Type Options",
    html_attributes: {
      id: "type-options"
    }
  } %>

  <%= sage_component SageTable, {
    headers: [
      {
        value: "Description",
      },
      "Option token",
    ],
    rows: type_other_options
  } %>
<div>
