<%= content_for :heading do %>
  <h1>Utilities</h1>
  <p>Utilities should be used to accomplish specific styling needs, and should be used sparingly, especially when modifying the default styling of a Style Guide Guide component.</p>
<% end %>
<%= content_for :quick_links do %>
  <div class="quick-links">
    <h2 class="quick-links__title">Contents</h2>
    <ul class="quick-links__body">
      <% sorted_sage_utilities.each do |utility| %>
        <li class="quick-links__item">
          <a href="#<%= utility[:title] %>" class="quick-links__link"><%= utility[:title].titleize %></a>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="sage-panel-set">
  <% sorted_sage_utilities.each do |utility| %>
    <%= render "examples/utilities/utility", title: utility[:title] %>
  <% end %>
</div>
