<%
has_add = defined?(has_add) && has_add == true
has_search = defined?(has_search) && has_search == true
customized = defined?(customized) && customized == true
disabled = defined?(disabled) && disabled == true
%>
<div class="sage-dropdown<%= " sage-dropdown--customized" if customized %><%= " sage-dropdown--disabled" if disabled %>" data-js-dropdown>
  <div class="sage-dropdown__trigger<%= " sage-dropdown__trigger--#{trigger_modifier}" if defined?(trigger_modifier) %>">
    <%= trigger.html_safe %>
  </div>
  <nav class="sage-dropdown__panel">
    <ul class="sage-dropdown__menu" role="menu" id="participant_options_menu"  aria-label="Participant options">
      <% if has_search %>
        <li class="sage-dropdown__item sage-dropdown__item--search sage-search" role="none">
          <input class="sage-search__input" type="text" placeholder="Search..." />
        </li>
      <% end %>
      <% options.each do |option| %>
        <li class="
            sage-dropdown__item
            <% if option[:item_modifiers] %>
              <% option[:item_modifiers].each do |m| %>
                <%= "sage-dropdown__item--#{m}" %>
              <% end %>
            <% end %>
          "
          role="none"
        >
          <a role="menuitem" tabindex="0" class="
            sage-dropdown__item-control
            <% option[:modifiers].each do |m| %>
              <%= "sage-dropdown__item-control--#{m}" %>
            <% end %>
          ">
            <%= option[:label] %>
          </a>
        </li>
      <% end %>
    </ul>
  </nav>
</div>
