<%= sage_layout SageFrame, {
  padding: "lg",
  direction: "horizontal",
  width: "80vw",
  align: "top-center",
} do %>
  <%= sage_layout SageFrame, { width: "flex", gap: "lg" } do %>
    <%= sage_layout SageFrame, { gap: "xs" } do %>
      <h1 class="<%= "#{SageClassnames::TYPE::HEADING_3}" %>">
        <%= title %>
      </h1>

      <p class="<%= "#{SageClassnames::TYPE::BODY_SMALL} #{SageClassnames::TYPE_COLORS::CHARCOAL_200}" %>">
        Step <%= step %> of 3
      </p>
    <% end %>

    <%= sage_layout SageFrame, { css_classes: "sage-type", gap: "xs" } do %>
      <%= copy.html_safe %>
    <% end if defined? copy %>

    <%= sage_layout SageFrame, {
      align: "stretch-spread",
      gap: "sm",
      width: "fill"
    } do %>
      <%= form.html_safe %>
    <% end if defined? form %>    

    <%= sage_layout SageFrame, {
      direction: "horizontal",
      align: "center-right",
      width: "fill",
    } do %>
      <%= actions.html_safe %>
    <% end if defined?(actions) %>
  <% end %>
  <%= sage_layout SageFrame, { width: "33%" } do %>
    <%= render "mocks/kp_onboarding_payouts/shared/#{graphic}" %>
  <% end %>
<% end %>
