<tr>
  <td><%= md("`content`") %></td>
  <td><%= md("Sets the content of the textarea.") %></td>
  <td><%= md("String") %></td>
  <td><%= md("null") %></td>
</tr>
<tr>
  <td><%= md("`disabled`") %></td>
  <td><%= md("Enabling this property adds the `disabled` attribute to the component.") %></td>
  <td><%= md("Boolean") %></td>
  <td><%= md("null") %></td>
</tr>
<tr>
  <td><%= md("`has_error`") %></td>
  <td><%= md("Enabling this property adds the `.sage-textarea--error` class to the component.") %></td>
  <td><%= md("Boolean") %></td>
  <td><%= md("null") %></td>
</tr>
<tr>
  <td><%= md("`id`") %></td>
  <td><%= md("Unique identifier for this input field. Should match the `for` property on the corresponding label.") %></td>
  <td><%= md("String") %></td>
  <td><%= md("null") %></td>
</tr>
<tr>
  <td><%= md("`label_text`") %></td>
  <td><%= md("Sets the label text for the component.") %></td>
  <td><%= md("String") %></td>
  <td><%= md("null") %></td>
</tr>
<tr>
  <td><%= md("`message_text`") %></td>
  <td><%= md("Sets the message text for the component.") %></td>
  <td><%= md("String") %></td>
  <td><%= md("null") %></td>
</tr>
<tr>
  <td><%= md("`placeholder`") %></td>
  <td><%= md("Inserts content to be displayed inside a default (empty) textarea.") %></td>
  <td><%= md("String") %></td>
  <td><%= md("null") %></td>
</tr>
