<%# 

Assets for this file can be found here:
https://www.figma.com/file/WFBaFNTdHUwlTwHEfe1jtR/Frame-Documentation?node-id=0%3A1

%>
<h3>Figma Auto-layout</h3>
<%= md("
The SageFrame component is set up to mirror configurations found in the auto layout feature of Figma,
which is commonly used to create compound layouts.

When you select a group, component, or artboard layer in Figma, look in the sidebar on the right side
of the interface under the Design tab for this panel (You will need Edit access to a Figma file in order to access the Design tab to see this panel):

#{image_tag("figma-auto-layout-labeled.png")}

These four sections correspond to properties with the same name on the SageFrame component (see the Properties tab for more details).
You can therefore easily match a layout from a Figma design by using a SageFrame with the same settings.
") %>

<h3>Example Uses</h3>
<%= md("
The true power of SageFrame comes with using it in combination to create compound layouts.
Designed to mimic what developers find in Figma with Auto layout is employed,
a wide range of patterns can be created.
Here are a few samples of what is possible.
") %>

<h4>A custom block</h4>
<%= sage_component SageFrame, {
  background: "#fae2d4",
  border_radius: "lg",
  padding: "md",
} do %>
  <%= sage_component SageFrame, { gap: "sm" } do %>
    <h3>Learn more about products</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Etiam faucibus massa vel sem ullamcorper tincidunt.
      Vestibulum pulvinar placerat elit, et rutrum ipsum elementum ac.
    </p>
  <% end %>
  <%= sage_component SageFrame, { 
    direction: "horizontal",
    align: "center-spread",
    width: "fill",
  } do %>
    <%= sage_component SageButton, {
      value: "Do it!",
      style: "primary",
    } %>
    <%= sage_component SageFrame, {
      direction: "horizontal",
      align: "center-right",
      gap: "sm",
    } do %>
      <%= sage_component SageButton, {
        value: "Cancel",
        style: "secondary",
        subtle: true,
      } %>
      <%= sage_component SageButton, {
        value: "Options",
        style: "secondary",
        raised: false,
      } %>
    <% end %>
  <% end %>
<% end %>

<h4>A "stat box"</h3>
<%= sage_component SageFrame, {
  align: "start-spread",
  border: "regular",
  border_radius: "lg",
  direction: "horizontal",
  padding: "sm",
  width: "360px",
} do %>
  <%= sage_component SageFrame, { gap: "xs" } do %>
    <%= sage_component SageFrame, { gap: "none" } do %>
      <h3 class="<%= "#{SageClassnames::TYPE::BODY_SMALL} #{SageClassnames::TYPE_COLORS::CHARCOAL_200}" %>">
        All payments
      </h3>
      <%= sage_component SageFrame, {
        align: "baseline-left",
        direction: "horizontal",
        gap: "xs",
        tag: "p"
      } do %>
        <b class="<%= "#{SageClassnames::TYPE::HEADING_5}" %>">
          40
        </b>
        <span class="<%= "#{SageClassnames::TYPE::BODY_XSMALL} #{SageClassnames::TYPE_COLORS::CHARCOAL_100}" %>">
          successful payments
        </span>
      <% end %>
    <% end %>
    <%= sage_component SageButton, {
      value: "View all",
      icon: { style: "right", name: "arrow-right" },
      style: "primary",
      subtle: true,
    } %>
  <% end %>
  <%= sage_component SageFrame, {
    align: "top-right",
    gap: "xs",
    width: "120px"
  } do %>
    <%= sage_component SageLabel, {
      color: "published",
      value: "33%",
      icon: "up-small",
    } %>
    <div>
      [chart]
    </div>
  <% end %>
<% end %>
