<%# 

Assets for this file can be found here:
https://www.figma.com/file/WFBaFNTdHUwlTwHEfe1jtR/Frame-Documentation?node-id=0%3A1

%>
<tr>
  <td><%= md("`align`") %></td>
  <td><%= md("
Configures how the items within the Frame align based on the direction of flow.

Corresponds to Figma auto layout setting:

#{image_tag("figma-auto-layout-alignment.png")}
  ", use_sage_type: true) %></td>
  <td><%= md("
| Setting | Value |
|---|---|
| #{image_tag("figma-auto-layout-align-top-left.png")} or #{image_tag("figma-auto-layout-align-top-left-vertical.png")} | `top-left` |
| #{image_tag("figma-auto-layout-align-top-center.png")} or #{image_tag("figma-auto-layout-align-top-center-vertical.png")} | `top-center` |
| #{image_tag("figma-auto-layout-align-top-right.png")} or #{image_tag("figma-auto-layout-align-top-right-vertical.png")} | `top-right` |
| #{image_tag("figma-auto-layout-align-center-left.png")} or #{image_tag("figma-auto-layout-align-center-left-vertical.png")} | `center-left` |
| #{image_tag("figma-auto-layout-align-center.png")} or #{image_tag("figma-auto-layout-align-center-vertical.png")} | `center` |
| #{image_tag("figma-auto-layout-align-center-right.png")} or #{image_tag("figma-auto-layout-align-center-right-vertical.png")} | `center-right` |
| #{image_tag("figma-auto-layout-align-bottom-left.png")} or #{image_tag("figma-auto-layout-align-bottom-left-vertical.png")} | `bottom-left` or `baseline-left`* |
| #{image_tag("figma-auto-layout-align-bottom-center.png")} or #{image_tag("figma-auto-layout-align-bottom-center-vertical.png")} | `bottom-center` or `baseline-center`* |
| #{image_tag("figma-auto-layout-align-bottom-right.png")} or #{image_tag("figma-auto-layout-align-bottom-right-vertical.png")} | `bottom-right` or `baseline-right`*  |
| #{image_tag("figma-auto-layout-align-start-spread.png")} or #{image_tag("figma-auto-layout-align-start-spread-vertical.png")} | `start-spread` |
| #{image_tag("figma-auto-layout-align-center-spread.png")} or #{image_tag("figma-auto-layout-align-center-spread-vertical.png")} | `center-spread` |
| #{image_tag("figma-auto-layout-align-end-spread.png")} or #{image_tag("figma-auto-layout-align-end-spread-vertical.png")} | `end-spread` or `baseline-spread`*  |

\* Sometimes when setting two type elements with `bottom` or `end` alignment, they still appear not aligned.
In such cases you can try `baseline` and often achieve a better result.
  ") %></td>
  <td><%= md('`top-left`') %></td>
</tr>
<tr>
  <td><%= md("`background`") %></td>
  <td><%= md('Provide a background color for the Frame if desired.') %></td>
  <td><%= md('String, (valid CSS background setting such as a hex value)') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md("`border`") %></td>
  <td><%= md('Provide a border setting from one of the available border types.') %></td>
  <td><%= md("`#{SageTokens::FRAME_BORDERS.inspect()}`") %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md("`border_radius`") %></td>
  <td><%= md("Provide a border radius from one of the available border radius types.

Corresponds to Figma setting:

#{image_tag("figma-border-radius.png")}
  ", use_sage_type: true) %></td>
  <td><%= md("
| Setting | Value |
|---|---|
| `0px` | `none` |
| `4px` | `sm` |
| `6px` | `md` |
| `8px` | `lg` |
  ") %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md("`direction`") %></td>
  <td><%= md("Set which direction the Frame contents should flow.

Corresponds to Figma auto layout setting:

#{image_tag("figma-auto-layout-direction.png")}
  ", use_sage_type: true) %></td>
  <td><%= md("
| Setting | Value |
|---|---|
| #{image_tag("figma-auto-layout-direction-vertical.png")} | `vertical` |
| #{image_tag("figma-auto-layout-direction-horizontal.png")} | `horizontal` |
  ") %></td>
  <td><%= md('') %></td>
</tr>
<tr>
  <td><%= md("`gap`") %></td>
  <td><%= md("Set up an even gap between all items in the Frame.

Corresponds to Figma auto layout setting:

#{image_tag("figma-auto-layout-gap.png")}
  ", use_sage_type: true) %></td>
  <td><%= md("
| Setting | Value |
|---|---|
| `0px` | `none` |
| `4px` | `2xs` |
| `8px` | `xs` |
| `16px` | `sm` |
| `24px` | `md` |
| `32px` | `lg` |
| `48px` | `xl` |
| `64px` | `2xl` |
  ") %></td>
  <td><%= md('`sm`') %></td>
</tr>
<tr>
  <td><%= md("`padding`") %></td>
  <td><%= md("Add spacing between the Frame edge and its contents.

Corresponds to Figma auto layout setting:

#{image_tag("figma-auto-layout-padding.png")} 
  ", use_sage_type: true) %></td>
 <td><%= md("
| Setting | Value |
|---|---|
| `0px` | `none` |
| `4px` | `2xs` |
| `8px` | `xs` |
| `16px` | `sm` |
| `24px` | `md` |
| `32px` | `lg` |
| `48px` | `xl` |
| `64px` | `2xl` |
  ") %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md("`tag`") %></td>
  <td><%= md('Provide the HTML tag you want the Frame to output.') %></td>
  <td><%= md('String (HTML tags)') %></td>
  <td><%= md('`div`') %></td>
</tr>
<tr>
  <td><%= md("`width`") %></td>
  <td><%= md('Provide a width setting either from a preset or as a CSS length value.') %></td>
  <td><%= md("
| Value | Description |
|---|---|
| `<string>` | Provide a custom width setting. |
| `hug` | Frame hugs its contents and adjusts to their widths. |
| `flex` | Frame flexes in available space. |
| `fill` | Fills 100% of the space available. |
  ") %></td>
  <td><%= md('`nil`') %></td>
</tr>
