<tr>
  <td><%= md('`help_html`') %></td>
  <td><%= md('HTML that is passed to help link popover') %></td>
  <td><%= md('Hash') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`help_link`') %></td>
  <td><%= md('Array containing help link `name` and `href`') %></td>
  <td><%= md('Hash') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`help_title`') %></td>
  <td><%= md('Text for help link.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`secondary_text`') %></td>
  <td><%= md('Secondary text for page heading.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`title`') %></td>
  <td><%= md('Title text for page heading.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td colspan="2"><%= md('**Sections**') %></td>
  <td colspan="2"><%= md('**`Element`**') %></td>
</tr>
<tr>
  <td><%= md('`sage_breadcrumbs`') %></td>
  <td><%= md('This area holds the breadcrumbs at the top of the component.') %></td>
  <td colspan="2"><%= md('`SageBreadcrumbs`') %></td>
</tr>
<tr>
  <td><%= md('`sage_page_heading_toolbar`') %></td>
  <td><%= md('This area holds the buttons that will navigate to subpages.') %></td>
  <td colspan="2"><%= md('`SageButton`(s)') %></td>
</tr>
<tr>
  <td><%= md('`sage_page_heading_actions`') %></td>
  <td><%= md('This area holds the cta buttons for the component.') %></td>
  <td colspan="2"><%= md('`SageButton`(s)') %></td>
</tr>
<tr>
  <td><%= md('`sage_page_heading_intro`') %></td>
  <td><%= md('This area holds the page intro text') %></td>
  <td colspan="2"><%= md('`<p>`') %></td>
</tr>
<tr>
  <td><%= md('`sage_page_heading_image`') %></td>
  <td><%= md('This area holds the page heading image') %></td>
  <td colspan="2"><%= md('`image_tag()`') %></td>
</tr>
