<tr>
  <td><%= md('`help_html`') %></td>
  <td><%= md('HTML that is passed to help link popover') %></td>
  <td><%= md('Hash') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`help_link`') %></td>
  <td><%= md('Array containing help link `name` and `href`') %></td>
  <td><%= md('Hash') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`help_title`') %></td>
  <td><%= md('Text for help link.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`secondary_text`') %></td>
  <td><%= md('Secondary text for page heading.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
<tr>
  <td><%= md('`title`') %></td>
  <td><%= md('Title text for page heading.') %></td>
  <td><%= md('String') %></td>
  <td><%= md('`nil`') %></td>
</tr>
